.app_theme1{
	--app_theme_main_color1:var(--app_light);
	--app_theme_main_color2:var(--app_white);
	--app_theme_main_color3:var(--app_black);
	--app_theme_shadow_color1:var(--app_shadow1);
	--app_theme_shadow_color1:var(--app_shadow2);
	--app_theme_shadow_color1:var(--app_shadow3);
	--app_theme_qr_code_background:var(--app_white);
	--app_theme_slider_shadow:var(--app_shadow1);
	--app_theme_paper_preview_background_color:var(--app_white);
	--app_theme_paper_preview_background_color:var(--app_white);
	--app_theme_paper_preview_title_background_color:var(--app_white);
	--app_theme_paper_preview_title_border_color:var(--app_gold);
	--app_theme_links:var(--app_gold);
	--app_theme_hover:var(--app_green);
	--app_theme_dialogue_background_color:var(--app_shadow3);
	--app_theme_dialogue_shadow_color1:var(--app_shadow1);
	--app_theme_dialogue_shadow_color2:var(--app_shadow2);
	--app_theme_button_active_color:var(--app_gold);
	--app_theme_button_active_background_color:var(--app_white);
	--app_theme_user_menu_hover_color:var(--app_green);
	--app_theme_user_menu_hover_background_color:var(--app_lightgrey);
	--app_theme_setting_button_color:var(--app_white);
	--app_theme_setting_button_background_color:var(--app_gold);
	--app_theme_input_error_border_color:var(--app_red);
	--app_theme_input_border_color:var(--app_lightgrey);
	--app_theme_input_background_color:var(--app_white);
	--app_theme_button_color:var(--app_gold);
	--app_theme_login_button_color:var(--app_white);
	--app_theme_login_button_background_color:var(--app_gold);
	--app_theme_switch_before_background_color:var(--app_lightgrey2);
	--app_theme_switch_after_background_color:var(--app_white);
	--app_theme_switch_after_shadow_color:var(--app_shadow3);
	--app_theme_switch_checked_before_background_color:var(--app_green2);
	--app_theme_spinner_background_color:var(--app_black);
	--app_theme_selected_background_color:var(--app_lightgrey);
	--app_theme_scrollbar_color1:var(--app_gold);
	--app_theme_scrollbar_color2:var(--app_lightgrey);
	--app_theme_online_status_online_color:var(--app_green);
	--app_theme_online_status_offline_color:var(--app_red);
	--app_theme_paper_shadow_color1:var(--app_shadow1);
	--app_theme_paper_shadow_color2:var(--app_shadow2);
}
.app_theme2{
	--app_theme_main_color1:var(--app_dark3);
	--app_theme_main_color2:var(--app_dark4);
	--app_theme_main_color3:var(--app_gold);
	--app_theme_shadow_color1:var(--app_shadow1);
	--app_theme_shadow_color1:var(--app_shadow2);
	--app_theme_shadow_color1:var(--app_shadow3);
	--app_theme_qr_code_background:var(--app_white);

	--app_theme_slider_shadow:var(--app_shadow1);
	--app_theme_paper_preview_background_color:var(--app_white);
	--app_theme_paper_preview_background_color:var(--app_white);
	--app_theme_paper_preview_title_background_color:var(--app_white);
	--app_theme_paper_preview_title_border_color:var(--app_gold);
	--app_theme_links:var(--app_gold);
	--app_theme_hover:var(--app_green);
	--app_theme_dialogue_background_color:var(--app_shadow3);
	--app_theme_dialogue_shadow_color1:var(--app_shadow1);
	--app_theme_dialogue_shadow_color2:var(--app_shadow2);
	--app_theme_button_active_color:var(--app_gold);
	--app_theme_button_active_background_color:var(--app_white);
	--app_theme_user_menu_hover_color:var(--app_green);
	--app_theme_user_menu_hover_background_color:var(--app_lightgrey);
	--app_theme_setting_button_color:var(--app_white);
	--app_theme_setting_button_background_color:var(--app_gold);
	--app_theme_input_error_border_color:var(--app_red);
	--app_theme_input_border_color:var(--app_lightgrey);
	--app_theme_input_background_color:var(--app_white);
	--app_theme_button_color:var(--app_gold);
	--app_theme_login_button_color:var(--app_white);
	--app_theme_login_button_background_color:var(--app_gold);
	--app_theme_switch_before_background_color:var(--app_lightgrey2);
	--app_theme_switch_after_background_color:var(--app_gold);
	--app_theme_switch_after_shadow_color:var(--app_shadow3);
	--app_theme_switch_checked_before_background_color:var(--app_dark4);
	--app_theme_spinner_background_color:var(--app_gold);
	--app_theme_selected_background_color:var(--app_lightgrey);
	--app_theme_scrollbar_color1:var(--app_gold);
	--app_theme_scrollbar_color2:var(--app_lightgrey);
	--app_theme_online_status_online_color:var(--app_green);
	--app_theme_online_status_offline_color:var(--app_red);
	--app_theme_paper_shadow_color1:var(--app_shadow1);
	--app_theme_paper_shadow_color2:var(--app_shadow2);
}
.app_theme3{
	--app_theme_main_color1:var(--app_cafe_latte);
	--app_theme_main_color2:var(--app_cafe_latte2);
	--app_theme_main_color3:var(--app_cafe_latte3);
	--app_theme_shadow_color1:var(--app_shadow1);
	--app_theme_shadow_color1:var(--app_shadow2);
	--app_theme_shadow_color1:var(--app_shadow3);
	--app_theme_qr_code_background:var(--app_white);

	--app_theme_slider_shadow:var(--app_shadow1);
	--app_theme_paper_preview_background_color:var(--app_white);
	--app_theme_paper_preview_background_color:var(--app_white);
	--app_theme_paper_preview_title_background_color:var(--app_white);
	--app_theme_paper_preview_title_border_color:var(--app_gold);
	--app_theme_links:var(--app_gold);
	--app_theme_hover:var(--app_green);
	--app_theme_dialogue_background_color:var(--app_shadow3);
	--app_theme_dialogue_shadow_color1:var(--app_shadow1);
	--app_theme_dialogue_shadow_color2:var(--app_shadow2);
	--app_theme_button_active_color:var(--app_gold);
	--app_theme_button_active_background_color:var(--app_white);
	--app_theme_user_menu_hover_color:var(--app_cafe_latte2);
	--app_theme_user_menu_hover_background_color:var(--app_cafe_latte3);
	--app_theme_setting_button_color:var(--app_white);
	--app_theme_setting_button_background_color:var(--app_gold);
	--app_theme_input_error_border_color:var(--app_red);
	--app_theme_input_border_color:var(--app_lightgrey);
	--app_theme_input_background_color:var(--app_white);
	--app_theme_button_color:var(--app_gold);
	--app_theme_login_button_color:var(--app_white);
	--app_theme_login_button_background_color:var(--app_gold);
	--app_theme_switch_before_background_color:var(--app_lightgrey2);
	--app_theme_switch_after_background_color:var(--app_white);
	--app_theme_switch_after_shadow_color:var(--app_shadow3);
	--app_theme_switch_checked_before_background_color:var(--app_cafe_latte2);
	--app_theme_spinner_background_color:var(--app_cafe_latte3);
	--app_theme_selected_background_color:var(--app_lightgrey);
	--app_theme_scrollbar_color1:var(--app_gold);
	--app_theme_scrollbar_color2:var(--app_lightgrey);
	--app_theme_online_status_online_color:var(--app_green);
	--app_theme_online_status_offline_color:var(--app_red);
	--app_theme_paper_shadow_color1:var(--app_shadow1);
	--app_theme_paper_shadow_color2:var(--app_shadow2);
}

#paper #app_spinner{
	margin-top: 50%;
    transform: scale(1);
}
/* TOOLBAR TOP*/
#toolbar_top {
	top: 0;
	text-align: center;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr repeat(5, auto) 1fr;
	grid-column-gap: 5px;
	z-index: 2;
}
#toolbar_btn_zoomin,#toolbar_btn_zoomout,#toolbar_btn_left, #toolbar_btn_right, #toolbar_btn_search {
	font-size: 48px;
}
/* TOOLBAR BOTTOM*/
#toolbar_bottom {
	width: 100%;
	text-align: center;
	bottom: 0;
	display:grid;
	position:fixed;
	grid-template-columns: 0.9fr repeat(5, auto) 1fr;
	grid-column-gap: 5px;
	z-index: 2;
}
#toolbar_bottom .toolbar_button{
	font-size: 48px !important;
}


/*profile user setting*/

#profile_user_settings_row{
	width:100%;
	display: inline-block;	
}
#profile_select_user_settings{
	width:100%;
	margin-bottom:20px;
}
#profile_user_settings_detail{
	width: 100% !important;

}
#profile_user_settings_row i{
	width: 26px;
	height: 26px;
}
#profile_user_settings_row
{
	text-align: start;
}
#profile_user_settings_row div{
	display:inline-block;
	width:40px;
}
#profile_user_settings_row div:nth-child(5),
#profile_user_settings_row div:nth-child(6){
	display:inline-block;
	width:78px;
	text-align: end;
}

#profile_user_settings_info_like_count,
#profile_user_settings_info_view_count{
	display:inline !important;
}
/*Profile top*/
#profile_top_row2{
	text-align: center;
	width:100%;
}

#profile_top_row2 a{
	margin-right:10px;
}

/*DIALOUGE SETTINGS*/	
.dialogue{
	visibility:hidden;
	position: fixed;
	z-index: 10;
	padding-top: 10px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.dialogue_content{
	text-align:center;
	top: 50%;
    left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
	padding: 10px;
	width: 300px;
	height: 540px;
	border-radius: 4px;
	animation-name: common_animatetop;
	animation-duration: 0.4s;
}

/*Dialogue loading */
#dialogue_loading{
	text-align:center;
}

/*Dialogue Info */
#dialogue_info_content{
	height:auto;
}
#about_logo {
	background-image: url('/app2/images/logo.png');
	background-size: contain;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
#app_select_theme{
	margin: 20px;
}

/* Dialogue scan_open_mobile*/
#dialogue_scan_open_mobile{
	z-index: 11; /*place above default dialogue z-index=10*/
}

#dialogue_scan_open_mobile_content{
	height:340px;
}
#scan_open_mobile_qrcode{
	margin-top: 42px;
}
#scan_open_mobile_qrcode svg{
	padding: 3px;
}
#scan_open_mobile_title1{
	margin-top:10px;
	margin-bottom:20px;
	font-size: 48px;
}

#dialogue_loading #app_spinner{
	top: 50%;
	transform: scale(1);
}

/* SETTINGS*/
#settings {
	visibility: hidden;
	width: 100%;
	height: 100%;
	border-width: 1px;
	border-style: outset;
	border-collapse: collapse;
	margin: 0;
	z-index: 2;
	bottom: 0px;
	right: 0px;
	position: fixed;
	text-align: center;
}

/*SETTINGS TAB NAVIGATION */
#tab_navigation{
	height:50px;
	margin: 0px;
    padding: 0px;
	text-align: center;
}
#tab_navigation .tab_nav{
	display:inline-block;
}
#tab_navigation button {
	font-size: 30px;
	padding:3px;
	border:0px;
	width:50px;
}
#tab_navigation button:hover,
#tab_navigation button:active{
	cursor: pointer;
}
#tab_navigation ul{
	display: block;
}
#tab_navigation li{
	display: inline-block;
	list-style: none;
}
#user_setting_avatar_img{
	border-radius: 50px;
    height: 30px;
	width: 30px;
    margin-bottom: -4px;
}

/*Show tab1 at startup*/
#tab_navigation #tab1 {
	display: block;
}
.tab_content {
	display:inline-block;
}
/*SETTINGS, common*/
/*checkbox use switch ui*/

/*other common settings*/
#settings input[type=checkbox]{
width: 25px;
height: 25px;
}
#settings label {
	margin: 0 0 3px 0;
	padding: 0px;
	display: block;
	font-weight: bold;
}
#settings #setting_current_date_time_display,
#settings #setting_report_date_time_display{
	font-size: 0.7em;
	margin-inline-start: 5px;
}

#settings select {
	box-sizing: border-box;
	border: 0px;
	padding: 0px;
	margin: 1px;
	max-width: 52%;
	min-width: 52%;
	outline: none;
}
#settings input {
	box-sizing: border-box;
	border: 0px;
	padding: 3px;
	margin: 1px;
	width: 360px;
	max-width:52%;
}
#settings .setting_horizontal_row{
	width:100%;
	max-height: 30px;
	display: inline-table;
}
#settings .setting_horizontal_col{
	display: inline-block;
}
#settings .setting_horizontal_col:nth-child(1){
	width:5%;
}
#settings .setting_horizontal_col:nth-child(2){
	width:25%;
	text-align: start;
}
#settings .setting_horizontal_col:nth-child(3){
	width:65%;
	text-align:start;
}
#settings .setting_horizontal_col:nth-child(4){
	width:5%;
}
#settings .setting_horizontal_col:nth-child(3) select,
#settings .setting_horizontal_col:nth-child(3) input{
	min-width: 100%;
}
/* SETTINGS GPS*/
#mapid {
	height: 350px;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10px;
}
/* SETTINGS DESIGN*/
#settings #tab3 .setting_horizontal_row:nth-child(1){
	direction:ltr;
}
#settings #tab3 .setting_horizontal_row:first-child .setting_horizontal_col:nth-child(1),
#settings #tab3 .setting_horizontal_row:first-child .setting_horizontal_col:nth-child(2),
#settings #tab3 .setting_horizontal_row:first-child .setting_horizontal_col:nth-child(3){
	width: 130px;
}
#settings #tab3 .setting_horizontal_row:first-child .setting_horizontal_col:nth-child(4){
	width:0%;
}
#settings #tab3 .setting_horizontal_row:first-child .setting_horizontal_col{
	text-align: center !important;
}

/* THEME SLIDER*/
.slider {
	display: inline-block;
  	overflow: hidden;
  	position: relative;
	margin-bottom: 10px;
}
.slider_wrapper {
  	width: 96px;
}
.slider .slides {
  	display: flex;
  	position: relative;
  	top: 0;
  	left: -96px;
}
.slider .slide {
  	/*width: 96px;*/
  	height: 136px;
  	cursor: pointer;
}
.slide div:first-child{
	display: none;
}
.slider_active_day, 
.slider_active_month,
.slider_active_year{
	display: block !important;
}


.slider_prev{
	text-align: start;
}
.slider_next{
	text-align: end;
}
.slider_prev,
.slider_next {
  	cursor: pointer;
	display: inline-block;
	font-size:30px;
	width: 40px !important;
    height: 40px !important;
	margin-top: -15px;
}
#setting_themes_day_slider #timetable_day {
	zoom: 0.13;
}
#setting_themes_month_slider #timetable_month {
	zoom: 0.13;
}
#setting_themes_year_slider #timetable_year {
	zoom: 0.13;
}
/*SETTINGS IMAGE*/
#settings #tab4 .setting_horizontal_row .setting_horizontal_col:nth-child(1),
#settings #tab4 .setting_horizontal_row .setting_horizontal_col:nth-child(3){
	width:5%;
}
#settings #tab4 .setting_horizontal_row .setting_horizontal_col:nth-child(2){
	width:90%;
}
.setting_paper_preview{
	width: 84mm;
    height: 114mm;
	margin: 0 auto;
	display:flex;
    flex-direction:column;
    justify-content:space-between;
	border: 1px solid;
}
#setting_paper_preview_header_image div,
#setting_paper_preview_footer_image div{
	min-height: 69px;
}
#setting_paper_preview_footer_image{
	margin-bottom: -7px;
}
.setting_paper_preview_header,
.setting_paper_preview_footer{
	text-align: center;
}
#setting_btn_reportheader_img,
#setting_btn_reportfooter_img{
	width: 100px !important;
}
#setting_reportfooter_img{
	margin-top: 4px;
}
#setting_input_reportheader_img,
#setting_input_reportfooter_img{
	display:none;
}
#setting_reportheader_img, #setting_reportfooter_img{
	width: 100%;
	min-width: 100%;
}
/*SETTINGS Text*/
#settings #tab5 .setting_horizontal_row .setting_horizontal_col:nth-child(1),
#settings #tab5 .setting_horizontal_row .setting_horizontal_col:nth-child(3){
	width:5%;
}
#settings #tab5 .setting_horizontal_row .setting_horizontal_col:nth-child(2){
	width:90%;
}
#settings #tab5 .setting_report_title{
	min-width: 99%;
	margin: -2px;
	text-align: center;
	font-size: 0.7em;
}
#settings #tab5 #setting_paper_preview_header_text{
	padding-top:3px;
}
#settings #tab5 #setting_input_reportheader3{
	margin-bottom: 4px;
}
#settings #tab5 #setting_paper_preview_footer_text{
	padding-bottom:3px;
}
#settings #tab5 #setting_input_reportfooter1{
	margin-top: 4px;
}
/* Settings for alignment buttons*/
#settings .setting_button {
	border: none;
	width: 26px;
}
/*SETTINGS PRAYER*/
#setting_method_params div{
	display:inline-block;
}
/* SETTINGS USER SETTINGS*/
#settings #tab7 .setting_horizontal_row:nth-child(5) .setting_horizontal_col:nth-child(1),
#settings #tab7 .setting_horizontal_row:nth-child(5) .setting_horizontal_col:nth-child(4){
	width: 10%;
}
#settings #tab7 .setting_horizontal_row:nth-child(5) .setting_horizontal_col:nth-child(2){
	width: 0%;
}
#settings #tab7 .setting_horizontal_row:nth-child(5) .setting_horizontal_col:nth-child(3){
	width: 80%;
	text-align: center;
}
#user_settings{
	display:none;
}
#user_settings .setting_horizontal_col{
	padding-top:0px !important;
}
#setting_btn_user_save, 
#setting_btn_user_add,
#setting_btn_user_delete{
	font-size:30px;
}
#setting_btn_label_user_save, 
#setting_btn_label_user_add,
#setting_btn_label_user_delete{
	text-transform: uppercase;
}
#setting_btn_user_delete_account, #setting_btn_label_user_delete_account{
	display: none !important;
}
#setting_btn_label_user_save,
#setting_btn_label_user_add,
#setting_btn_label_user_delete{
	display: inline-block;
	width: 60px;
	text-align: center;
	vertical-align: top;
}

#settings #setting_data_user_url_day,
#settings #setting_data_user_url_month,
#settings #setting_data_user_url_year{
	display:flex;
}
/*COMMON*/
#profile_btn_top{
	margin-inline-start:inherit !important;
}
#profile_input_row{
	visibility:hidden;
}
#profile_search_input{
	width:285px !important;
}
#profile_search_list_wrap{
	max-height: calc(100% - 250px) !important;
	top: 112px;
}
#profile_search_icon{
	display: none !important;
}
#profile_search_list{
	margin-right: 10px !important;
}
#profile_main_stat_row2{
	text-align: center;
}
#profile_main_stat_row2 div{
	display:inline-block;
	margin-inline-end: 0.3em;
}
#profile_main_btn_user_settings,
#profile_main_btn_user_setting_likes,
#profile_main_btn_user_setting_liked{
	height:20px;
	text-align:start;
}
#profile_main_btn_user_setting_likes,
#profile_main_btn_user_setting_liked{
	width:100px;
}
#profile_user_settings_day:hover,
#profile_user_settings_day:active,
#profile_user_settings_month:hover,
#profile_user_settings_month:active,
#profile_user_settings_year:hover,
#profile_user_settings_year:active,
#profile_user_settings_like:hover,
#profile_user_settings_like:active{
	cursor: pointer;
	transform: scale(1.3);
	transition: transform 0.5s ease, background 0.5s ease, box-shadow 0.5s ease;
}
#common_window_info #about_table{
	display:table;
	padding:0px;
}
#common_window_info .about_row{
	display:table-row;
}
#common_window_info .about_row div{
	display:table-cell;
	padding: 5px;
}
#common_window_info_content{
	display:block;
	margin: 0 auto;
}

/*RESPONSIVE SETTINGS*/
/*CSS for minimum 768px*/
@media only screen and (min-width: 768px) {
	body {
		margin: 10;
		text-align: center;
		width: auto;
	}
	#settings {
		margin: 0 auto;
	}
	#tab_navigation button {
		border:0px;
		width:75px;
	}
	#toolbar_btn_left {
		margin-left: 0;
	}
	#toolbar_bottom {
		margin: 0 auto;
		width: 100%;
	}
	#settings select {
		max-width: 60%;
		min-width: 60%;
	}
	#settings input {
		max-width:90%;
		width:inherit;
	}
	#settings ul {
		padding-left: 0px;
	}
	#mapid {
		height: 225px;
	}	
	/* common */
	#profile_user_settings_title_row div:nth-child(1),
	.profile_user_settings_row div:nth-child(1){
		width:200px;
	}
}
/*theme app colors*/
body,
.dialogue_content,
#settings select,
#tab_navigation .tab_nav_selected button
{
	background-color:var(--app_theme_main_color1) !important;
}
#settings input,
#dialogues input{
	color: var(--app_theme_main_color3) !important;
	background-color: var(--app_theme_input_background_color);
	border: 1px solid var(--app_theme_input_border_color);
}
#toolbar_top,
#settings,
#tab_navigation,
#tab_navigation li button,
.tab_navigation_content,
#toolbar_bottom
{
	background: var(--app_theme_main_color2);
	color: var(--app_theme_main_color3);
}
#settings,
#settings select,
#tab_navigation button,
.dialogue_button,
.toolbar_button,
.dialogue_content
{
	color: var(--app_theme_main_color3) !important;
}
.slider {
  	box-shadow: 3px 3px 10px var(--app_theme_slider_shadow);
}
#scan_open_mobile_qrcode svg{
    background-color: var(--app_theme_qr_code_background);
}
.setting_paper_preview{
	background-color: var(--app_theme_paper_preview_background_color);
}
#settings #tab5 .setting_report_title{
    background-color: var(--app_theme_paper_preview_title_background_color) !important;
	color: var(--app_theme_paper_preview_title_border_color);
    border: 0.5px solid var(--app_gold);
}
a{
	color:var(--app_gold);
}
a:hover,
a:active,
.dialogue_button:hover,
.dialogue_button:active,
.toolbar_button:hover,
.toolbar_button:active,
#tab_navigation button:hover,
#tab_navigation button:active {
	color:var(--app_theme_hover) !important;
}
.dialogue{
	background-color: var(--app_theme_dialogue_background_color);
}
.dialogue_content{
	box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_shadow_color1),0 6px 20px 0 var(--app_theme_dialogue_shadow_color2);
}
/*only shadow style on paper, style inside paper is in report*/
#paper {
	box-shadow: 0 4px 8px 0 var(--app_theme_paper_shadow_color1), 0 6px 20px 0 var(--app_theme_paper_shadow_color2);
}
#settings .setting_button {
	color: var(--app_theme_setting_button_color);
	background-color: var(--app_gold);
}
#settings .setting_button_active {
	color: var(--app_theme_button_active_color) !important;
	background-color: var(--app_theme_button_active_background_color) !important;
}
.input_error{
	border:1px solid var(--app_theme_input_error_border_color) !important;
}

/* theme common colors*/
#profile_btn_top{
	background: var(--app_theme_main_color2);
	box-shadow: 0px -3px 3px var(--app_theme_dialogue_shadow_color1);
}
#common_dialogues input,
.common_dialogue_content,
#common_window_info,
#common_window_info_content,
#common_window_info_toolbar,
#user_menu,
#user_menu_dropdown
{
	background-color:var(--app_theme_main_color1) !important;
}
#common_dialogues input,
#common_window_info,
#common_window_info_toolbar,
#user_menu_dropdown,
.common_dialogue_content,
#profile_search_icon
{
	color: var(--app_theme_main_color3) !important;
}
#user_menu_username:hover,
#user_menu_username:active,
#profile_btn_top:hover,
#profile_btn_top:active,
#user_menu_dropdown_logged_in div:hover,
#user_menu_dropdown_logged_in div:active,
#user_menu_dropdown_logged_out div:hover,
#user_menu_dropdown_logged_out div:active{
	color: var(--app_theme_user_menu_hover_color) !important;
	background-color:var(--app_theme_user_menu_hover_background_color);	
}
#profile_search_input,
.login_input, 
.signup_input, 
.forgot_input, 
.new_password_input,
#profile_search_list_wrap{
	border: 1px solid var(--app_theme_input_border_color);
	background-color: var(--app_theme_input_background_color);
}
#profile_qr {
	background-color:var(--app_theme_qr_code_background);
}
#profile_follow:hover,
#profile_follow:active,
#profile_like:hover,
#profile_like:active,
#profile_user_settings_day:hover,
#profile_user_settings_day:active,
#profile_user_settings_month:hover,
#profile_user_settings_month:active,
#profile_user_settings_year:hover,
#profile_user_settings_year:active,
#profile_user_settings_like:hover,
#profile_user_settings_like:active,
.profile_user_settings_row #profile_user_settings_like:hover,
.profile_user_settings_row #profile_user_settings_like:active{
	color:var(--app_theme_hover);
}
.common_dialogue{
	background-color: var(--app_theme_dialogue_background_color);
}
.common_dialogue_content{
	box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_shadow_color1),0 6px 20px 0 var(--app_theme_dialogue_shadow_color2);
}
.login_tab_button, 
.signup_tab_button,
.forgot_tab_button{
	color: var(--app_theme_button_color);
}
.login_tab_button:hover,
.login_tab_button:active,
.signup_tab_button:hover,
.signup_tab_button:active,
.forgot_tab_button:hover,
.forgot_tab_button:active{
	color:var(--app_theme_hover);
}
#login_button, 
#signup_button,
#forgot_button{
	background-color: var(--app_theme_login_button_background_color);
	color: var(--app_theme_login_button_color);
}
.login_button:hover,
.login_button:active,
.signup_button:hover,
.signup_button:active,
.forgot_button:hover,
.forgot_button:active{
	background-color:var(--app_theme_hover) !important;
}
.switch-label::before {
	background-color: var(--app_theme_switch_before_background_color);
}
.switch-label::after {
	background-color: var(--app_theme_switch_after_background_color);
	box-shadow: 0 0 2px var(--app_theme_switch_after_shadow_color);
}  
.switch-input:checked + .switch-label::before {
	background-color: var(--app_theme_switch_checked_before_background_color);
}
.load-spinner div:after {
	background-color: var(--app_theme_spinner_background_color);
}
.profile_search_list_selected{
	background-color: var(--app_theme_selected_background_color);
}
.list_scrollbar{
	scrollbar-color: var(--app_theme_scrollbar_color1) var(--app_theme_scrollbar_color2);
}
.common_dialogue_content a:hover, 
.common_dialogue_content a:active {
	color:var(--app_theme_hover);
}
#profile_avatar_online_status.online{
	color:var(--app_theme_online_status_online_color);
}
#profile_avatar_online_status.offline{
	color:var(--app_theme_online_status_offline_color);
}
#user_menu_dropdown{
	box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_shadow_color1), 0 6px 20px 0 var(--app_theme_dialogue_shadow_color2);
}
.common_like_unlike{
	color: var(--app_red) !important;
}