/*Fonts*/
/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*Roboto Condensed*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
/*Press Start 2P*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*Exo*/
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');
/*Lato*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/*Source Sans Pro*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
/*Merriweather*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
/*Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/*Cinzel Decorative*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');

/*Variables*/
:root{
	--font_1: 'Noto Sans';
	--font_2: 'Roboto';
	--font_3: 'Exo';
	--font_4: 'Roboto Condensed';
	--font_5: 'Press Start 2P';
	--font_6: 'Cinzel Decorative';
	--font_7: 'Merriweather';
	--font_8: 'Source Sans Pro';
	--font_9: 'Montserrat';
	--font_10: 'Lato';

	--report_theme_text_color: var(--report_black);
	--report_theme_notes_background_color:inherit !important;
	--report_qr_code_shadow_color1:var(--report_shadow1);
	--report_qr_code_shadow_color2:var(--report_shadow2);
}
/*Print preview styles*/
#printbody {
	margin: 0px;
}
#printbody .timetable_month_class #timetable_month_data .timetable_month_data_today_row {
    animation: unset;
    animation-iteration-count: unset;
    opacity: inherit;
    font-weight: inherit;
}
#printbody #settings{
	visibility: hidden;
}
/* PAPER*/
#paper {
	background-color:var(--report_white);
	z-index: 0;
	transform: scale(0.5);
	transform-origin: 0 11%;
}
#paper.A4{
	width : 210mm;
	height : 297mm;
}
#paper.Letter{
	width : 8.5in;
	height : 11in;
}
/* Letter fixes*/
#paper.Letter #timetable_month #timetable_month_data {
	height:650px;
}
#paper.Letter #timetable_year #timetable_year_timetables.two_columntitles{
	margin-top:-40px !important;
	transform:scale(0.88) !important;
}
#paper.Letter #timetable_year #timetable_year_timetables_footer.two_columntitles{
	margin-top:-40px !important;
}
/* Three columntitles fixes*/
#paper.Letter #timetable_year #timetable_year_timetables.three_columntitles{
	margin-top:-55px;
	transform:scale(0.85);
}
#paper.Letter #timetable_year #timetable_year_timetables_footer.three_columntitles{
	margin-top:-55px;
}
/*CSS for minimum 768px*/
@media only screen and (min-width: 768px) {
	#paper {
		margin: 0 auto;
		transform: scale(0.7);
		transform-origin:inherit;
		position: inherit;
	}
	/*iphone fix*/
	#timetable_month {
		padding-top:inherit;
	}
}

#printbody #paper {
	box-shadow: none;
	transform:scale(1) !important;
	margin: 0 auto;
	margin-top: 0px;
}
#printbody #timetable_day_time{
	visibility: hidden;
}

#paper #copyright{
 	font-family:"Noto Sans";
	 text-align: center;	
}	
/*Common styles for all timetables*/
/*QR code*/
#printbody #timetable_qr_code{
    transform: scale(0.64);
	margin-inline-end: -11px;
}
#timetable_qr_code{
    transform: scale(0.8);
	opacity: 0.8;
    align-self: end;
	position: fixed;
}
#timetable_qr_code svg{
	border: 4px solid var(--report_white);
	box-shadow: 0 4px 8px 0 var(--report_qr_code_shadow_color1), 0 6px 20px 0 var(----report_qr_code_shadow_color2);
}
/*Fasting columns*/
.timetable_class .timetable_data_fast_start,
.timetable_class .timetable_data_fast_end {
	font-weight: bold;
}
/*uppercase all timetable data header*/
#timetable_day .timetable_day_timetable_header_row div,
#timetable_month .timetable_month_data_header_col {
	text-transform: uppercase;
}

/*DAY*/
#timetable_day {
	width: 100%;
	height:100%;
	position: absolute;
	display: block;
	text-align: center;
}
/*font sizes*/
#timetable_day #timetable_day_timetable_header{
	font-size: 26pt;
	font-weight: bold;
}
/*fix too big height of nastaliq font in timetable header*/
#timetable_day.font_arabic_nastaliq .display_font{
	line-height: initial;
}
#timetable_day.font_arabic_nastaliq #timetable_day_timetable_header{
	font-size: 0.71em !important;
}
#timetable_day.font_arabic_nastaliq #timetable_day_timetable .timetable_day_timetable_header_row{
	font-size:0.71em !important;
	line-height: initial;
}

#timetable_day .timetable_day_timetable_header_row{
	font-size: 8pt;
}
#timetable_day .timetable_day_timetable_row_data{
	font-size: 12pt;
}	
#timetable_day .timetable_day_timetable_footer{
	font-size: 10pt;
}
#timetable_day #timetable_day_time{
	font-size: 8pt;
}
/*Header timetable info*/
#timetable_day #timetable_day_timetable_header {
	text-align: center;
	display: inline-block;
	position:relative;
	margin-top:20px;
	margin-bottom:20px;
}

#timetable_day_timetable {
	display: block;
	margin: 0 auto;
}
#timetable_day .timetable_day_timetable_header_row{
	display: block;
}
#timetable_day .timetable_day_timetable_header_row div {
	display: inline-block;
	width: 110px;
}

#timetable_day .timetable_day_timetable_row_data{
	margin-top:10px;
	display: inline-block;
}
#timetable_day .timetable_day_timetable_row_data.timetable_day_today_row{
	animation: pulsate 2s ease-out;
	animation-iteration-count: infinite; 
    opacity: 0.5;
	font-weight: bold;
}

#timetable_day .timetable_day_timetable_row_data div {
	display: inline-block;
	width: 111px;
	height: 25px;
	margin: 1px;
	vertical-align: middle;
}
#timetable_day .timetable_data_fast_start,
#timetable_day .timetable_data_fast_end {
	font-size: 1.2em !important;
}
/*Footer timetable info*/
#timetable_day .timetable_day_timetable_footer {
	vertical-align: middle;
	text-align: center;
	margin-bottom:10px;
	width: 100%;
	display: table;
}
#timetable_day .timetable_day_timetable_footer_row:nth-child(odd) div {
	display: inline-block;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
#timetable_day .timetable_day_timetable_footer_row:nth-child(even) div {
	display: block;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

#timetable_day #timetable_day_time{
	text-align: center;
	z-index:-1;
}

/*MONTH*/
#timetable_month {
	width: 100%;
	text-align: center;
	display: block;
}
/*Arabic Nastaliq fixes too big height*/
.timetable_month_class.font_arabic_nastaliq .display_font{
	line-height: initial;
}
.timetable_month_class.font_arabic_nastaliq #timetable_month_data_header{
	font-size:0.71em !important;
	line-height: initial;
}
.timetable_month_class.font_arabic_nastaliq #timetable_month_data .timetable_month_data_header_row{
	font-size:0.61em !important;
	line-height: initial;
}
.timetable_month_class.font_arabic_nastaliq #timetable_month_data .timetable_month_data_date{
	font-size:0.71em !important;
	line-height: initial;
}
#timetable_header{
	display: flex;
	width: 100%;
	height: 160px;
	justify-content: center;
	flex-direction: column;
	background-size: 100% 160px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0px;
	text-align: center;
	font-size:16pt;
	font-weight: bold;	
}

.timetable_month_class #timetable_month_data_header{
	font-size:11pt;
	font-weight: bold;
}
.timetable_month_class #timetable_month_data{
	font-size:8pt;
	line-height:1;
}
.timetable_month_class #timetable_month_data_footer{
	font-size:8pt;
	font-weight: bold;
}
#timetable_footer{
	font-size:16pt;
	font-weight: bold;
}

/*r2l and unicode fix when mixing arabic with non arabic text*/
#timetable_header,
.timetable_month_class #timetable_month_data_header,
.timetable_month_class #timetable_month_data .timetable_month_data_header_col,
.timetable_month_class #timetable_month_data .timetable_month_data_col,
.timetable_month_class #timetable_month_data_footer,
#timetable_footer {
	unicode-bidi: plaintext;
}
/*Timetable header*/
.timetable_month_class #timetable_month_data_header {
	text-align: center;
	padding-bottom:5px;
}
.timetable_month_class #timetable_month_data {
	display: table;
	table-layout: fixed;
	width: 100%;
	height:700px;
}
.timetable_month_class #timetable_month_data .timetable_month_data_row {
	display: table-row;
}
.timetable_month_class #timetable_month_data .timetable_month_data_header_col {
	display: table-cell;
	text-align: center;
	padding: 1px;
	overflow-x: hidden;
	font-size: 0.7em !important;
	vertical-align: middle;
}
.timetable_month_class #timetable_month_data .timetable_month_data_col {
	display: table-cell;
	text-align: center;
	padding: 1px;
	vertical-align: middle;
}
.timetable_month_data_calendartype{
	font-size:0.9em;
}
.timetable_month_class #timetable_month_data .timetable_month_data_today_row{
	animation: pulsate 2s ease-out;
	animation-iteration-count: infinite;
    opacity: 0.5;
	font-weight:bold;
}
@keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}
.timetable_month_class #timetable_month_data .timetable_month_data_notes {
	margin: 0px;
	padding: 0px;
}
.timetable_month_class #timetable_month_data .timetable_month_data_notes input {
	width: 85%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
/*Timetable footer*/
.timetable_month_class #timetable_month_data_footer {
	width: 100%;
	display: table;
	text-align: center;
}
.timetable_month_class #timetable_month_data_footer_row {
	display: table-row;
}
.timetable_month_class #timetable_footer_col {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.timetable_month_class #timetable_footer_col div{
	display: inline-block;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
}
/*Footer*/
#timetable_footer {
	display: flex;
	width: 100%;
	height: 160px;
	justify-content: center;
	flex-direction: column;
	background-size: 100% 160px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0px;
	text-align: center;
	bottom:0px;
	position:fixed;
}

/*YEAR*/
#timetable_year {
	width: 100%;
	height:100%;
	position: absolute;
	display: block;
	flex-direction: column;
	text-align: center;
	left:0px;
	top:0px;
}
/*Arabic Nastaliq fixes*/
#timetable_year.font_arabic_nastaliq .display_font{
	line-height: initial;
}
#timetable_year.font_arabic_nastaliq #timetable_year_timetables_header{
	font-size: 0.51em !important;
}
#timetable_year.font_arabic_nastaliq .timetable_year_month #timetable_month_data_header #timetable_month_data_header_title1{
	font-size: 0.71em !important;
}
/*Header timetable info*/
#timetable_year #timetable_year_timetables_header {
	text-align: center;
	font-size: 9pt;
	display: inline-block;
	position:relative;
}
#timetable_year #timetable_year_timetables {
	position:relative;
	margin:0px;
}
/* Two columntitles fixes*/
#timetable_year #timetable_year_timetables.two_columntitles{
	margin-top:-10px;
	transform:scale(0.98);
}
#timetable_year #timetable_year_timetables_footer.two_columntitles{
	margin-top:-10px;
}
/* Three columntitles fixes*/
#timetable_year #timetable_year_timetables.three_columntitles{
	margin-top:-40px;
	transform:scale(0.9);
}
#timetable_year #timetable_year_timetables_footer.three_columntitles{
	margin-top:-40px;
}
/*Footer timetable info*/
#timetable_year #timetable_year_timetables_footer {
	width: 100%;
	display: table;
}
#timetable_year #timetable_year_timetables_footer_row {
	display: table-row;
	font-size: 7pt;
}
#timetable_year #timetable_year_timetables_footer_col {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#timetable_year #timetable_year_timetables_footer_col div {
	display: inline-block;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
#timetable_year #timetable_year_timetables_footer_col div.hidden {
	display: none;
}
/* YEAR month fixes*/
#timetable_year .timetable_year_month {
	display: inline-block;
	width:calc(25% - 5px) !important;
}
#timetable_year .timetable_year_month #timetable_month_data_header {
	height: 5px;
}
#timetable_year .timetable_year_month #timetable_month_data_header #timetable_month_data_header_title1 {
	font-size: 6pt;
	line-height:1;
}
#timetable_year .timetable_year_month #timetable_month_data_header #timetable_month_data_header_title2 {
	display: none;
}
#timetable_year .timetable_year_month #timetable_month_data {
	font-size: 5pt !important;
	height: inherit;
}
#timetable_year .timetable_year_month #timetable_month_data .timetable_month_data_header_row .timetable_month_data_header_col {
	font-size: 4pt;
}
#timetable_year .timetable_year_month #timetable_month_data .timetable_month_data_col.timetable_data_fast_start {
	width: inherit;
}
#timetable_year .timetable_year_month #timetable_month_data .timetable_month_data_col.timetable_data_fast_end {
	width: inherit;
}

#timetable_year #timetable_month_data{
	line-height: 3.75pt;
}
/*YEAR theme specific month fontsize and lineheight fixes*/
#timetable_year .theme_month_20001 #timetable_month_data {
	line-height: 3pt !important;
}
#timetable_year .theme_month_20002 #timetable_month_data {
	line-height: 3pt !important;
}
#timetable_year .theme_month_20004 #timetable_month_data {
	font-size: 3pt !important;
}
#timetable_year .theme_month_20004 .timetable_month_data_header_col {
	font-size: 2pt !important;
}
#timetable_year .theme_month_20005 #timetable_month_data {
	line-height: 3pt !important;
}
#timetable_year .theme_month_20007 #timetable_month_data {
	line-height: 3pt !important;
}
#timetable_year .theme_month_20015 #timetable_month_data {
	line-height: 3pt !important;
}

.theme_day_10001{
	--report_theme_display_font_family:var(--font_2);
	--report_theme_default_font_family:var(--font_2);
	--report_theme_header_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--report_lightblue);
	--report_theme_timetable_data_header_background_color:var(--report_lightblue);
	--report_theme_timetable_data_header_color:var(--report_white);
	--report_theme_timetable_data_background_color:var(--report_lightblue);
	--report_theme_timetable_data_color:var(--report_white);
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:var(--report_lightblue);
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;
	--report_theme_fast_start_end_color:var(--report_white);
	--report_theme_fast_start_end_background_color:var(--report_lightblue);
}
.theme_day_10002{
	--report_theme_display_font_family:var(--font_3);
	--report_theme_default_font_family:var(--font_3);
	--report_theme_header_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--report_lightgreen);
	--report_theme_timetable_data_header_background_color:var(--report_lightgreen);
	--report_theme_timetable_data_header_color:var(--report_white);
	--report_theme_timetable_data_background_color:var(--report_lightgreen);
	--report_theme_timetable_data_color:var(--report_white);
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:var(--report_lightgreen);
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;
	--report_theme_fast_start_end_color:var(--report_white);
	--report_theme_fast_start_end_background_color:var(--report_lightgreen);
}
.theme_day_10003{
	--report_theme_display_font_family:var(--font_2);
	--report_theme_default_font_family:var(--font_2);
	--report_theme_header_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--report_lightyellow);
	--report_theme_timetable_data_header_background_color:var(--report_lightgreen);
	--report_theme_timetable_data_header_color:var(--report_white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--report_darkgrey);
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:var(--report_lightgreen);
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;
	--report_theme_fast_start_end_color:var(--report_white);
	--report_theme_fast_start_end_background_color:var(--report_lightyellow);
}
.theme_month_20001{
	--report_theme_display_font_family:var(--font_4);
	--report_theme_default_font_family:var(--font_4);
	--report_theme_header_color:inherit;
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--report_lightblue2);
	--report_theme_timetable_data_header_background_color:var(--report_lightblue2);
	--report_theme_timetable_data_header_color:var(--report_white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--report_darkgrey);
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:var(--report_lightblue2);
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;
	--report_theme_fast_start_end_color:var(--report_white);
	--report_theme_fast_start_end_background_color:var(--report_lightblue2);
	--report_theme_fast_start_end_border_color:inherit;

	--report_theme_timetable_data_border_color:var(--report_lightblue2);
	--report_theme_timetable_data_highlight_row_color:inherit;
	--report_theme_timetable_data_highlight_row_background_color:var(--report_lightblue4);
	--report_theme_timetable_data_highlight_1_10_background_color:var(--report_lightblue5);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--report_white);
	--report_theme_timetable_data_highlight_21_30_background_color:var(--report_lightblue4);
	--report_theme_timetable_data_row_odd_color:inherit;
	--report_theme_timetable_data_row_odd_background_color:inherit;
	--report_theme_timetable_data_row_even_color:inherit;
	--report_theme_timetable_data_row_even_background_color:inherit;
	--report_theme_timetable_data_column_odd_color:var(--report_black);
	--report_theme_timetable_data_column_odd_background_color:var(--report_lightblue5);
	--report_theme_timetable_data_column_even_color:inherit;
	--report_theme_timetable_data_column_even_background_color:var(--report_white);
}
.theme_month_20002{
	--report_theme_display_font_family:var(--font_1);
	--report_theme_default_font_family:var(--font_1);
	--report_theme_header_color:inherit;
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:inherit;
	--report_theme_timetable_data_header_background_color:inherit;
	--report_theme_timetable_data_header_color:inherit;
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:inherit;
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:var(--report_lightgrey);
	--report_theme_fast_start_end_border_color:var(--report_black);

	--report_theme_timetable_data_border_color:inherit;
	--report_theme_timetable_data_highlight_row_color:inherit;
	--report_theme_timetable_data_highlight_row_background_color:var(--report_lightgrey);
	--report_theme_timetable_data_highlight_1_10_background_color:var(--report_lightgrey);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--report_white);
	--report_theme_timetable_data_highlight_21_30_background_color:var(--report_lightgrey);
	--report_theme_timetable_data_row_odd_color:inherit;
	--report_theme_timetable_data_row_odd_background_color:inherit;
	--report_theme_timetable_data_row_even_color:inherit;
	--report_theme_timetable_data_row_even_background_color:inherit;
	--report_theme_timetable_data_column_odd_color:inherit;
	--report_theme_timetable_data_column_odd_background_color:inherit;
	--report_theme_timetable_data_column_even_color:inherit;
	--report_theme_timetable_data_column_even_background_color:inherit;
}
.theme_month_20003{
	--report_theme_display_font_family:var(--font_2);
	--report_theme_default_font_family:var(--font_2);
	--report_theme_header_color:var(--report_darkgrey);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--report_lightyellow);
	--report_theme_timetable_data_header_background_color:var(--report_green);
	--report_theme_timetable_data_header_color:var(--report_white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--report_darkgrey);
	--report_theme_timetable_footer_background_color:var(--report_grey);
	--report_theme_timetable_footer_color:var(--report_lightgrey);
	--report_theme_footer_color:var(--report_darkgrey);
	--report_theme_footer_background_color:inherit;
	--report_theme_fast_start_end_color:var(--report_white);
	--report_theme_fast_start_end_background_color:var(--report_lightyellow);
	--report_theme_fast_start_end_border_color:var(--report_lightyellow);

	--report_theme_timetable_data_border_color:inherit;
	--report_theme_timetable_data_highlight_row_color:inherit;
	--report_theme_timetable_data_highlight_row_background_color:var(--report_lightyellow3);
	--report_theme_timetable_data_highlight_1_10_background_color:var(--report_lightyellow3);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--report_white);
	--report_theme_timetable_data_highlight_21_30_background_color:var(--report_lightyellow3);
	--report_theme_timetable_data_row_odd_color:inherit;
	--report_theme_timetable_data_row_odd_background_color:inherit;
	--report_theme_timetable_data_row_even_color:inherit;
	--report_theme_timetable_data_row_even_background_color:inherit;
	--report_theme_timetable_data_column_odd_color:inherit;
	--report_theme_timetable_data_column_odd_background_color:inherit;
	--report_theme_timetable_data_column_even_color:inherit;
	--report_theme_timetable_data_column_even_background_color:inherit;
}
.theme_month_20004{
	--report_theme_display_font_family:var(--font_5);
	--report_theme_default_font_family:var(--font_5);
	--report_theme_header_color:var(--report_white);
	--report_theme_header_background_color:var(--report_lightgreen2);
	--report_theme_timetable_header_background_color:var(--report_lightgreen2);
	--report_theme_timetable_header_color:inherit;
	--report_theme_timetable_data_header_background_color:var(--report_black);
	--report_theme_timetable_data_header_color:var(--report_white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:var(--report_black);
	--report_theme_timetable_footer_color:var(--report_white);
	--report_theme_footer_color:var(--report_white);
	--report_theme_footer_background_color:var(--report_lightgreen2);
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:var(--report_lightyellow2);
	--report_theme_fast_start_end_border_color:var(--report_lightgold);

	--report_theme_timetable_data_border_color:inherit;
	--report_theme_timetable_data_highlight_row_color:inherit;
	--report_theme_timetable_data_highlight_row_background_color:var(--report_gold3);
	--report_theme_timetable_data_highlight_1_10_background_color:var(--report_gold3);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--report_white);
	--report_theme_timetable_data_highlight_21_30_background_color:var(--report_gold2);
	--report_theme_timetable_data_row_odd_color:inherit;
	--report_theme_timetable_data_row_odd_background_color:var(--report_lightgrey8);
	--report_theme_timetable_data_row_even_color:inherit;
	--report_theme_timetable_data_row_even_background_color:var(--report_white);
	--report_theme_timetable_data_column_odd_color:inherit;
	--report_theme_timetable_data_column_odd_background_color:inherit;
	--report_theme_timetable_data_column_even_color:inherit;
	--report_theme_timetable_data_column_even_background_color:inherit;
}
/*shrink font size compared to parent div for this font on this theme*/
.theme_month_20004 .timetable_month_data_row, 
.theme_month_20004 #timetable_month_data_footer_row, 
.theme_month_20004 #timetable_footer{
	font-size:0.75em;
}
.theme_month_20004 #timetable_footer div {
	padding: 5px;
}
.theme_month_20005{
	--report_theme_display_font_family:var(--font_4);
	--report_theme_default_font_family:var(--font_4);
	--report_theme_header_color:inherit;
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:inherit;
	--report_theme_timetable_data_header_background_color:var(--report_green2);
	--report_theme_timetable_data_header_color:var(--report_white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:inherit;
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:var(--report_green3);
	--report_theme_fast_start_end_border_color:var(--report_green2);

	--report_theme_timetable_data_border_color:var(--report_green2);
	--report_theme_timetable_data_highlight_row_color:inherit;
	--report_theme_timetable_data_highlight_row_background_color:var(--report_lightgreen3);
	--report_theme_timetable_data_highlight_1_10_background_color:var(--report_lightgreen4);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--report_white);
	--report_theme_timetable_data_highlight_21_30_background_color:var(--report_lightgreen3);
	--report_theme_timetable_data_row_odd_color:inherit;
	--report_theme_timetable_data_row_odd_background_color:inherit;
	--report_theme_timetable_data_row_even_color:inherit;
	--report_theme_timetable_data_row_even_background_color:inherit;
	--report_theme_timetable_data_column_odd_color:inherit;
	--report_theme_timetable_data_column_odd_background_color:var(--report_lightgreen4);
	--report_theme_timetable_data_column_even_color:inherit;
	--report_theme_timetable_data_column_even_background_color:var(--report_white);
}
.theme_month_20006{
	--report_theme_display_font_family:var(--font_1);
	--report_theme_default_font_family:var(--font_1);
	--report_theme_header_color:inherit;
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:inherit;
	--report_theme_timetable_data_header_background_color:inherit;
	--report_theme_timetable_data_header_color:inherit;
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:inherit;
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:var(--report_lightgrey);
	--report_theme_fast_start_end_border_color:inherit;

	--report_theme_timetable_data_border_color:inherit;
	--report_theme_timetable_data_highlight_row_color:inherit;
	--report_theme_timetable_data_highlight_row_background_color:var(--report_lightgrey);
	--report_theme_timetable_data_highlight_1_10_background_color:var(--report_lightgrey);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--report_white);
	--report_theme_timetable_data_highlight_21_30_background_color:var(--report_lightgrey);
	--report_theme_timetable_data_row_odd_color:inherit;
	--report_theme_timetable_data_row_odd_background_color:inherit;
	--report_theme_timetable_data_row_even_color:inherit;
	--report_theme_timetable_data_row_even_background_color:inherit;
	--report_theme_timetable_data_column_odd_color:inherit;
	--report_theme_timetable_data_column_odd_background_color:inherit;
	--report_theme_timetable_data_column_even_color:inherit;
	--report_theme_timetable_data_column_even_background_color:inherit;
}
.theme_month_20007{
	--report_theme_display_font_family:var(--font_4);
	--report_theme_default_font_family:var(--font_4);
	--report_theme_header_color:var(--report_brown);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--report_brown);
	--report_theme_timetable_data_header_background_color:var(--report_lightgold);
	--report_theme_timetable_data_header_color:var(--report_white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:var(--report_lightgold2);
	--report_theme_timetable_footer_color:var(--report_brown);
	--report_theme_footer_color:var(--report_brown);
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:var(--report_lightyellow2);
	--report_theme_fast_start_end_border_color:var(--report_lightgold);

	--report_theme_timetable_data_border_color:var(--report_lightgold);
	--report_theme_timetable_data_highlight_row_color:inherit;
	--report_theme_timetable_data_highlight_row_background_color:var(--report_lightgold);
	--report_theme_timetable_data_highlight_1_10_background_color:var(--report_lightyellow2);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--report_white);
	--report_theme_timetable_data_highlight_21_30_background_color:var(--report_lightgold2);
	--report_theme_timetable_data_row_odd_color:inherit;
	--report_theme_timetable_data_row_odd_background_color:inherit;
	--report_theme_timetable_data_row_even_color:inherit;
	--report_theme_timetable_data_row_even_background_color:inherit;
	--report_theme_timetable_data_column_odd_color:var(--report_black);
	--report_theme_timetable_data_column_odd_background_color:var(--report_lightyellow4);
	--report_theme_timetable_data_column_even_color:var(--report_black);
	--report_theme_timetable_data_column_even_background_color:var(--report_white);
}
.theme_month_20007.timetable_month_class #timetable_month_data .timetable_month_data_row .timetable_month_data_col:first-child {
	background-color: var(--report_lightgold2);
	color: inherit;
}
.theme_month_20008{
	--report_theme_display_font_family:var(--font_6);
	--report_theme_default_font_family:var(--font_1);
	--report_theme_header_color:var(--report_pink);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:var(--report_pink);
	--report_theme_timetable_header_color:inherit;
	--report_theme_timetable_data_header_background_color:var(--report_pink);
	--report_theme_timetable_data_header_color:inherit;
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:var(--report_pink);
	--report_theme_timetable_footer_color:inherit;
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:var(--report_pink);
	--report_theme_fast_start_end_border_color:var(--report_black);

	--report_theme_timetable_data_border_color:inherit;
	--report_theme_timetable_data_highlight_row_color:var(--report_white);
	--report_theme_timetable_data_highlight_row_background_color:var(--report_black);
	--report_theme_timetable_data_highlight_1_10_background_color:var(--report_pink2);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--report_white);
	--report_theme_timetable_data_highlight_21_30_background_color:var(--report_pink2);
	--report_theme_timetable_data_row_odd_color:inherit;
	--report_theme_timetable_data_row_odd_background_color:inherit;
	--report_theme_timetable_data_row_even_color:inherit;
	--report_theme_timetable_data_row_even_background_color:inherit;
	--report_theme_timetable_data_column_odd_color:inherit;
	--report_theme_timetable_data_column_odd_background_color:inherit;
	--report_theme_timetable_data_column_even_color:inherit;
	--report_theme_timetable_data_column_even_background_color:inherit;
}
.theme_month_20009{
	--report_theme_display_font_family:var(--font_1);
	--report_theme_default_font_family:var(--font_1);
	--report_theme_header_color:inherit;
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:inherit;
	--report_theme_timetable_data_header_background_color:var(--report_blue);
	--report_theme_timetable_data_header_color:var(--report_white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:var(--report_blue);
	--report_theme_timetable_footer_color:var(--report_white);
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:var(--report_white);
	--report_theme_fast_start_end_background_color:var(--report_blue2);
	--report_theme_fast_start_end_border_color:var(--report_white);

	--report_theme_timetable_data_border_color:inherit;
	--report_theme_timetable_data_highlight_row_color:inherit;
	--report_theme_timetable_data_highlight_row_background_color:var(--report_lightgrey9);
	--report_theme_timetable_data_highlight_1_10_background_color:var(--report_lightgrey9);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--report_white);
	--report_theme_timetable_data_highlight_21_30_background_color:var(--report_lightgrey9);
	--report_theme_timetable_data_row_odd_color:inherit;
	--report_theme_timetable_data_row_odd_background_color:inherit;
	--report_theme_timetable_data_row_even_color:inherit;
	--report_theme_timetable_data_row_even_background_color:inherit;
	--report_theme_timetable_data_column_odd_color:inherit;
	--report_theme_timetable_data_column_odd_background_color:inherit;
	--report_theme_timetable_data_column_even_color:inherit;
	--report_theme_timetable_data_column_even_background_color:inherit;
}
.theme_month_20010{
	--report_theme_display_font_family:var(--font_3);
	--report_theme_default_font_family:var(--font_3);
	--report_theme_header_color:var(--report_darkblue);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--report_darkblue);
	--report_theme_timetable_data_header_background_color:var(--report_darkblue2);
	--report_theme_timetable_data_header_color:var(--report_white);
	--report_theme_timetable_data_background_color:var(--report_lightgrey3);
	--report_theme_timetable_data_color:var(--report_grey2);
	--report_theme_timetable_footer_background_color:var(--report_grey2);
	--report_theme_timetable_footer_color:var(--report_white);
	--report_theme_footer_color:var(--report_darkblue);
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:var(--report_white);
	--report_theme_fast_start_end_background_color:var(--report_orange);
	--report_theme_fast_start_end_border_color:inherit;

	--report_theme_timetable_data_border_color:inherit;
	--report_theme_timetable_data_highlight_row_color:var(--report_white);
	--report_theme_timetable_data_highlight_row_background_color:var(--report_lightblue3);
	--report_theme_timetable_data_highlight_1_10_background_color:var(--report_lightgrey3);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--report_white);
	--report_theme_timetable_data_highlight_21_30_background_color:var(--report_lightgrey3);
	--report_theme_timetable_data_row_odd_color:var(--report_grey2);
	--report_theme_timetable_data_row_odd_background_color:var(--report_lightgrey3);
	--report_theme_timetable_data_row_even_color:var(--report_grey2);
	--report_theme_timetable_data_row_even_background_color:var(--report_lightgrey3);
	--report_theme_timetable_data_column_odd_color:inherit;
	--report_theme_timetable_data_column_odd_background_color:inherit;
	--report_theme_timetable_data_column_even_color:inherit;
	--report_theme_timetable_data_column_even_background_color:inherit;
}
.theme_month_20011{
	--report_theme_display_font_family:var(--font_7);
	--report_theme_default_font_family:var(--font_7);
	--report_theme_header_color:var(--report_grey3);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:var(--report_lightgrey4);
	--report_theme_timetable_header_color:var(--report_grey3);
	--report_theme_timetable_data_header_background_color:var(--report_orange2);
	--report_theme_timetable_data_header_color:var(--report_white);
	--report_theme_timetable_data_background_color:var(--report_lightgrey4);
	--report_theme_timetable_data_color:var(--report_darkbrown);
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:var(--report_darkbrown);
	--report_theme_footer_color:var(--report_grey3);
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:var(--report_lightgrey6);
	--report_theme_fast_start_end_border_color:inherit;

	--report_theme_timetable_data_border_color:inherit;
	--report_theme_timetable_data_highlight_row_color:inherit;
	--report_theme_timetable_data_highlight_row_background_color:var(--report_lightgrey);
	--report_theme_timetable_data_highlight_1_10_background_color:var(--report_lightgrey);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--report_lightgrey10);
	--report_theme_timetable_data_highlight_21_30_background_color:var(--report_lightgrey);
	--report_theme_timetable_data_row_odd_color:var(--report_darkbrown);
	--report_theme_timetable_data_row_odd_background_color:var(--report_lightgrey4);
	--report_theme_timetable_data_row_even_color:var(--report_darkbrown);
	--report_theme_timetable_data_row_even_background_color:var(--report_lightgrey4);
	--report_theme_timetable_data_column_odd_color:inherit;
	--report_theme_timetable_data_column_odd_background_color:inherit;
	--report_theme_timetable_data_column_even_color:inherit;
	--report_theme_timetable_data_column_even_background_color:inherit;
}
.theme_month_20012{
	--report_theme_display_font_family:var(--font_10);
	--report_theme_default_font_family:var(--font_10);
	--report_theme_header_color:var(--report_blue4);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--report_blue4);
	--report_theme_timetable_data_header_background_color:inherit;
	--report_theme_timetable_data_header_color:var(--report_blue4);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--report_grey4);
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:var(--report_blue4);
	--report_theme_footer_color:var(--report_blue4);
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:var(--report_white);
	--report_theme_fast_start_end_background_color:var(--report_blue4);
	--report_theme_fast_start_end_border_color:inherit;

	--report_theme_timetable_data_border_color:inherit;
	--report_theme_timetable_data_highlight_row_color:var(--report_white);
	--report_theme_timetable_data_highlight_row_background_color:var(--report_orange3);
	--report_theme_timetable_data_highlight_1_10_background_color:var(--report_lightgrey3);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--report_white);
	--report_theme_timetable_data_highlight_21_30_background_color:var(--report_lightgrey3);
	--report_theme_timetable_data_row_odd_color:inherit;
	--report_theme_timetable_data_row_odd_background_color:inherit;
	--report_theme_timetable_data_row_even_color:inherit;
	--report_theme_timetable_data_row_even_background_color:inherit;
	--report_theme_timetable_data_column_odd_color:inherit;
	--report_theme_timetable_data_column_odd_background_color:inherit;
	--report_theme_timetable_data_column_even_color:inherit;
	--report_theme_timetable_data_column_even_background_color:inherit;
}
.theme_month_20013{
	--report_theme_display_font_family:var(--font_7);
	--report_theme_default_font_family:var(--font_8);
	--report_theme_header_color:var(--report_darkblue3);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--report_darkblue3);
	--report_theme_timetable_data_header_background_color:inherit;
	--report_theme_timetable_data_header_color:var(--report_darkblue3);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--report_darkblue3);
	--report_theme_timetable_footer_background_color:var(--report_darkblue3);
	--report_theme_timetable_footer_color:var(--report_white);
	--report_theme_footer_color:var(--report_darkblue3);
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:var(--report_white);
	--report_theme_fast_start_end_background_color:var(--report_gold);
	--report_theme_fast_start_end_border_color:var(--report_darkblue5);

	--report_theme_timetable_data_border_color:inherit;
	--report_theme_timetable_data_highlight_row_color:var(--report_white);
	--report_theme_timetable_data_highlight_row_background_color:var(--report_darkblue4);
	--report_theme_timetable_data_highlight_1_10_background_color:inherit;
	--report_theme_timetable_data_highlight_11_20_background_color:var(--report_white);
	--report_theme_timetable_data_highlight_21_30_background_color:inherit;
	--report_theme_timetable_data_row_odd_color:inherit;
	--report_theme_timetable_data_row_odd_background_color:inherit;
	--report_theme_timetable_data_row_even_color:inherit;
	--report_theme_timetable_data_row_even_background_color:inherit;
	--report_theme_timetable_data_column_odd_color:inherit;
	--report_theme_timetable_data_column_odd_background_color:inherit;
	--report_theme_timetable_data_column_even_color:inherit;
	--report_theme_timetable_data_column_even_background_color:inherit;

	background-image: linear-gradient(to bottom,var(--report_lightgrey12) 0%,var(--report_white) 100%);
}
.theme_month_20014{
	--report_theme_display_font_family:var(--font_9);
	--report_theme_default_font_family:var(--font_7);
	--report_theme_header_color:var(--report_grey5);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--report_grey5);
	--report_theme_timetable_data_header_background_color:var(--report_red);
	--report_theme_timetable_data_header_color:var(--report_white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--report_grey5);
	--report_theme_timetable_footer_background_color:var(--report_lightgrey7);
	--report_theme_timetable_footer_color:var(--report_grey6);
	--report_theme_footer_color:var(--report_grey5);
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:var(--report_grey5);
	--report_theme_fast_start_end_background_color:var(--report_lightgrey7);
	--report_theme_fast_start_end_border_color:var(--report_grey5);

	--report_theme_timetable_data_border_color:inherit;
	--report_theme_timetable_data_highlight_row_color:var(--report_white);
	--report_theme_timetable_data_highlight_row_background_color:var(--report_grey5);
	--report_theme_timetable_data_highlight_1_10_background_color:var(--report_lightgrey11);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--report_white);
	--report_theme_timetable_data_highlight_21_30_background_color:var(--report_lightgrey11);
	--report_theme_timetable_data_row_odd_color:inherit;
	--report_theme_timetable_data_row_odd_background_color:inherit;
	--report_theme_timetable_data_row_even_color:inherit;
	--report_theme_timetable_data_row_even_background_color:inherit;
	--report_theme_timetable_data_column_odd_color:inherit;
	--report_theme_timetable_data_column_odd_background_color:inherit;
	--report_theme_timetable_data_column_even_color:inherit;
	--report_theme_timetable_data_column_even_background_color:inherit;
}
.theme_month_20015{
	--report_theme_display_font_family:var(--font_1);
	--report_theme_default_font_family:var(--font_1);
	--report_theme_header_color:inherit;
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:inherit;
	--report_theme_timetable_data_header_background_color:var(--report_lightgold3);
	--report_theme_timetable_data_header_color:inherit;
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:var(--report_lightgold3);
	--report_theme_timetable_footer_color:inherit;
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:var(--report_lightyellow2);
	--report_theme_fast_start_end_border_color:inherit;

	--report_theme_timetable_data_border_color:var(--report_lightgold3);
	--report_theme_timetable_data_highlight_row_color:inherit;
	--report_theme_timetable_data_highlight_row_background_color:var(--report_lightgold2);
	--report_theme_timetable_data_highlight_1_10_background_color:var(--report_lightgold2);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--report_white);
	--report_theme_timetable_data_highlight_21_30_background_color:var(--report_lightgold2);
	--report_theme_timetable_data_row_odd_color:inherit;
	--report_theme_timetable_data_row_odd_background_color:inherit;
	--report_theme_timetable_data_row_even_color:inherit;
	--report_theme_timetable_data_row_even_background_color:inherit;
	--report_theme_timetable_data_column_odd_color:inherit;
	--report_theme_timetable_data_column_odd_background_color:var(--report_lightyellow5);
	--report_theme_timetable_data_column_even_color:inherit;
	--report_theme_timetable_data_column_even_background_color:var(--report_white);
}
.theme_year_30001{
	--report_theme_display_font_family:var(--font_1);
	--report_theme_default_font_family:var(--font_1);
}

/*Themes*/
/*DISPLAY FONT*/
.timetable_class.font_arabic_sans .display_font{
	font-family: var(--report_theme_display_font_family), var(--global_font_arabic_sans);
}
.timetable_class.font_arabic_kufi .display_font{
	font-family: var(--report_theme_display_font_family), var(--global_font_arabic_kufi);
}
.timetable_class.font_arabic_nashk .display_font{
	font-family: var(--report_theme_display_font_family), var(--global_font_arabic_nashk);
}
.timetable_class.font_arabic_nastaliq .display_font{
	font-family: var(--report_theme_display_font_family), var(--global_font_arabic_nastaliq);
}
/*DEFAULT FONT*/
.timetable_class.font_arabic_sans .default_font{
	font-family: var(--report_theme_default_font_family), var(--global_font_arabic_sans);
}
.timetable_class.font_arabic_kufi .default_font{
	font-family: var(--report_theme_default_font_family), var(--global_font_arabic_kufi);
}
.timetable_class.font_arabic_nashk .default_font{
	font-family: var(--report_theme_default_font_family), var(--global_font_arabic_nashk);
}
.timetable_class.font_arabic_nastaliq .default_font{
	font-family: var(--report_theme_default_font_family), var(--global_font_arabic_nastaliq);
}
/*set default text color for all timetables*/
.timetable_class{
	color: var(--report_theme_text_color);
}
.timetable_class .timetable_month_data_col.timetable_data_fast_start, 
.timetable_class .timetable_month_data_col.timetable_data_fast_end{
	color: var(--report_theme_fast_start_end_color) !important;
	background-color: var(--report_theme_fast_start_end_background_color) !important;
	border-left: 1px solid var(--report_theme_fast_start_end_border_color);
	border-right: 1px solid var(--report_theme_fast_start_end_border_color);
}
#timetable_header {
	color: var(--report_theme_header_color);
	background-color:var(--report_theme_header_background_color);
}
/*DAY*/
#timetable_day #timetable_day_timetable_header {
	background-color: var(--report_theme_timetable_header_background_color);
	color: var(--report_theme_timetable_header_color);
}
#timetable_day .timetable_day_timetable_header_row{
	color: var(--report_theme_timetable_data_header_color);
}
#timetable_day .timetable_day_timetable_header_row div{
	background-color: var(--report_theme_timetable_data_header_background_color);
	text-transform: uppercase;
} 
#timetable_day .timetable_day_timetable_row_data div {
	background-color: var(--report_theme_timetable_data_background_color);
	color: var(--report_theme_timetable_data_color);
}

/*MONTH*/

#timetable_month .timetable_month_data_notes {
	background-color: var(--report_theme_notes_background_color) !important;
}
.timetable_month_class #timetable_month_data_header {
	color: var(--report_theme_timetable_header_color);
	background-color: var(--report_theme_timetable_header_background_color);
}
.timetable_month_class #timetable_month_data .timetable_month_data_header_row .timetable_month_data_header_col {
	color: var(--report_theme_timetable_data_header_color) !important;
	background-color: var(--report_theme_timetable_data_header_background_color) !important;
}
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_highlight_row .timetable_month_data_col {
	color: var(--report_theme_timetable_data_highlight_row_color) !important;
	background-color: var(--report_theme_timetable_data_highlight_row_background_color) !important;
}
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_day_01-10_row .timetable_month_data_col {
	background-color: var(--report_theme_timetable_data_highlight_1_10_background_color) !important;
}
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_day_11-20_row .timetable_month_data_col {
	background-color: var(--report_theme_timetable_data_highlight_11_20_background_color) !important;
}
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_day_21-30_row .timetable_month_data_col {
	background-color: var(--report_theme_timetable_data_highlight_21_30_background_color) !important;
}
/*when both hightlight and fasting info at the same time then choose fasting colors*/
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_highlight_row .timetable_month_data_col.timetable_data_fast_start,
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_highlight_row .timetable_month_data_col.timetable_data_fast_end,
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_day_01-10_row .timetable_month_data_col.timetable_data_fast_start, 
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_day_01-10_row .timetable_month_data_col.timetable_data_fast_end,
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_day_11-20_row .timetable_month_data_col.timetable_data_fast_start, 
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_day_11-20_row .timetable_month_data_col.timetable_data_fast_end,
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_day_21-30_row .timetable_month_data_col.timetable_data_fast_start, 
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_day_21-30_row .timetable_month_data_col.timetable_data_fast_end{
	color: var(--report_theme_fast_start_end_color) !important;
	background-color: var(--report_theme_fast_start_end_background_color) !important;
}
/* odd and even row colors*/
/* if not using this but using background colors or color then set the same for even and odd rows colors in theme*/
.timetable_month_class #timetable_month_data .timetable_month_data_row:nth-child(odd) {
	color: var(--report_theme_timetable_data_row_odd_color);
	background-color: var(--report_theme_timetable_data_row_odd_background_color);
}
.timetable_month_class #timetable_month_data .timetable_month_data_row:nth-child(even) {
	color: var(--report_theme_timetable_data_row_even_color);
	background-color: var(--report_theme_timetable_data_row_even_background_color);
}
.timetable_month_class #timetable_month_data .timetable_month_data_row{
	color: var(--report_theme_timetable_data_color);
	background-color: var(--report_theme_timetable_data_background_color);	
}
.timetable_month_class #timetable_month_data .timetable_month_data_row .timetable_month_data_col {
	border-bottom: 0.5px solid var(--report_theme_timetable_data_border_color);
}
.timetable_month_class #timetable_month_data .timetable_month_data_row .timetable_month_data_col:nth-child(odd) {
	color: var(--report_theme_timetable_data_column_odd_color);
	background-color: var(--report_theme_timetable_data_column_odd_background_color);
}
.timetable_month_class #timetable_month_data .timetable_month_data_row .timetable_month_data_col:nth-child(even) {
	color: var(--report_theme_timetable_data_column_even_color);
	background-color: var(--report_theme_timetable_data_column_even_background_color);
}
.timetable_month_class #timetable_month_data_footer {
	color: var(--report_theme_timetable_footer_color);
	background-color: var(--report_theme_timetable_footer_background_color);
}
#timetable_footer {
	color : var(--report_theme_footer_color);
	background-color:var(--report_theme_footer_background_color);
}