/*Fonts*/
/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
/*Roboto Condensed*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
/*Press Start 2P*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*Exo*/
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap');
/*Lato*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/*Source Sans Pro*/
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
/*Merriweather*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
/*Montserrat*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
/*Cinzel Decorative*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');

#printbody {
	margin: 0px;
}

#printbody .prayertable_month #timetable .prayertable_month_today-row {
    animation: unset;
    animation-iteration-count: unset;
    opacity: inherit;
    font-weight: inherit;
}
#printbody #settings{
	visibility: hidden;
}
/* PAPER*/
#paper {
	background-color:white;
	z-index: 0;
	transform: scale(0.5);
	transform-origin: 0 11%;
}
#paper.A4{
	width : 210mm;
	height : 297mm;
}
#paper.Letter{
	width : 8.5in;
	height : 11in;
}
/* Letter fixes*/
#paper.Letter #prayertable_month #timetable {
	height:650px;
}
#paper.Letter #prayertable_year #prayertable_year_timetables.two_columntitles{
	margin-top:-40px !important;
	transform:scale(0.88) !important;
}
#paper.Letter #prayertable_year #prayertable_year_timetable_footer.two_columntitles{
	margin-top:-40px !important;
}
/* Three columntitles fixes*/
#paper.Letter #prayertable_year #prayertable_year_timetables.three_columntitles{
	margin-top:-55px;
	transform:scale(0.85);
}
#paper.Letter #prayertable_year #prayertable_year_timetable_footer.three_columntitles{
	margin-top:-55px;
}
/*CSS for minimum 768px*/
@media only screen and (min-width: 768px) {
	#paper {
		margin: 0 auto;
		transform: scale(0.7);
		transform-origin:inherit;
		position: inherit;
	}
	/*iphone fix*/
	#prayertable_month {
		padding-top:inherit;
	}
}
/*Report Common*/
#printbody #paper {
	box-shadow: none;
	transform:scale(1) !important;
	margin: 0 auto;
	margin-top: 0px;
}
#printbody #prayertable_day_time{
	visibility: hidden;
}

#paper #copyright{
 	font-family:"Noto Sans";
	 text-align: center;	
}	

#printbody .prayertable_qr_code{
    transform: scale(0.64);
	margin-inline-end: -11px;
}
.prayertable_qr_code{
    transform: scale(0.8);
	opacity: 0.8;
    align-self: end;
	position: fixed;
}
.prayertable_qr_code svg{
	border: 4px solid white;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
/*DAY*/
/*common settings*/
#prayertable_day {
	width: 100%;
	height:100%;
	position: absolute;
	display: block;
	text-align: center;
}
/*font sizes*/
#prayertable_day #prayertable_day_header_row{
	font-size: 14pt;
}
#prayertable_day #prayertable_day_timetable_header{
	font-size: 26pt;
	font-weight: bold;
}
/*fix too big height of nastaliq font in timetable header*/
#prayertable_day.font_arabic_nastaliq .display_font{
	line-height: initial;
}
#prayertable_day.font_arabic_nastaliq #prayertable_day_timetable_header{
	font-size: 0.71em !important;
}
#prayertable_day.font_arabic_nastaliq #prayertable_day_timetable .prayertable_day_timetable_header-row{
	font-size:0.71em !important;
	line-height: initial;
}

#prayertable_day .prayertable_day_timetable_header-row{
	font-size: 8pt;
}
#prayertable_day .prayertable_day_timetable_row_data{
	font-size: 12pt;
}	
#prayertable_day .prayertable_day_timetable_footer{
	font-size: 10pt;
}
#prayertable_day #prayertable_day_time{
	font-size: 8pt;
}
#prayertable_day #prayertable_day_footer_row{
	font-size: 14pt;
}
#prayertable_day #prayertable_day_header_row {
	height: 160px;
	display: flex;
	text-align:center;
	justify-content: center;
	flex-direction: column;
	background-position: center;
	background-size: 100% 160px;
	background-repeat: no-repeat;
	position:relative;
}
/*Header timetable info*/
#prayertable_day #prayertable_day_timetable_header {
	text-align: center;
	display: inline-block;
	position:relative;
	margin-top:20px;
	margin-bottom:20px;
}

#prayertable_day_timetable {
	display: block;
	margin: 0 auto;
}
#prayertable_day .prayertable_day_timetable_header-row{
	display: block;
}
#prayertable_day .prayertable_day_timetable_header-row div {
	display: inline-block;
	width: 110px;
}
#prayertable_day #prayertable_day_timetable_settings{
	margin-top: 10px;
}

#prayertable_day .prayertable_day_timetable_row_data{
	margin-top:10px;
	display: inline-block;
}
#prayertable_day .prayertable_day_timetable_row_data.prayertable_day_today-row{
	animation: pulsate 2s ease-out;
	animation-iteration-count: infinite; 
    opacity: 0.5;
	font-weight: bold;
}

#prayertable_day .prayertable_day_timetable_row_data div {
	display: inline-block;
	width: 111px;
	height: 25px;
	margin: 1px;
	vertical-align: middle;
}
/*Fasting columns*/
#prayertable_day .prayertable_fast_start,
#prayertable_month .prayertable_fast_start,
#prayertable_year .prayertable_fast_start,
#prayertable_day .prayertable_fast_end,
#prayertable_month .prayertable_fast_end,
#prayertable_year .prayertable_fast_end {
	font-weight: bold;
}
#prayertable_day .prayertable_fast_start,
#prayertable_day .prayertable_fast_end {
	font-size: 1.2em !important;
}
/*uppdercase all timetable data header*/
#prayertable_day .prayertable_day_timetable_header-row div,
#prayertable_month .timetable_col_header {
	text-transform: uppercase;
}


/*Footer timetable info*/
#prayertable_day .prayertable_day_timetable_footer {
	vertical-align: middle;
	text-align: center;
	margin-bottom:10px;
	width: 100%;
	display: table;
}
#prayertable_day .prayertable_day_timetable_footer_row:nth-child(odd) div {
	display: inline-block;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
#prayertable_day .prayertable_day_timetable_footer_row:nth-child(even) div {
	display: block;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

/*Footer*/
#prayertable_day #prayertable_day_footer_row {
	width:100%;
	height: 160px;
	display: flex;
	text-align:center;
	justify-content: center;
	flex-direction: column;
	background-position: center;
	background-size: 100% 160px;
	background-repeat: no-repeat;
	bottom:0px;
	position:fixed;
}

#prayertable_day #prayertable_day_time{
	text-align: center;
	z-index:-1;
}

/*MONTH common*/
#prayertable_month {
	width: 100%;
	text-align: center;
	display: block;
}
/*font sizes*/
.prayertable_month #prayertable_month_header{
	font-size:16pt;
	font-weight: bold;	
}
.prayertable_month #timetable_header{
	font-size:11pt;
	font-weight: bold;
}
/*Arabic Nastaliq fixes too big height*/
.prayertable_month.font_arabic_nastaliq .display_font{
	line-height: initial;
}
.prayertable_month.font_arabic_nastaliq #timetable_header{
	font-size:0.71em !important;
	line-height: initial;
}
.prayertable_month.font_arabic_nastaliq #timetable .prayertable_month_header-row{
	font-size:0.61em !important;
	line-height: initial;
}
.prayertable_month.font_arabic_nastaliq #timetable .prayertable_month_date{
	font-size:0.71em !important;
	line-height: initial;
}
.prayertable_month #timetable{
	font-size:8pt;
	line-height:1;
}
.prayertable_month #timetable_footer{
	font-size:8pt;
	font-weight: bold;
}
.prayertable_month #prayertable_month_footer{
	font-size:16pt;
	font-weight: bold;
}

/*r2l and unicode fix*/
.prayertable_month #prayertable_month_header #prayertable_month_header_title1, 
.prayertable_month #prayertable_month_header #prayertable_month_header_title2,
.prayertable_month #prayertable_month_header #prayertable_month_header_title3,
.prayertable_month #timetable_header #prayertable_month_header_title4,
.prayertable_month #timetable_header #prayertable_month_header_title5,
.prayertable_month #timetable .timetable_col_header,
.prayertable_month #timetable .timetable_col,
.prayertable_month #timetable_footer #prayertable_month_footer_r1c1,
.prayertable_month #timetable_footer #prayertable_month_footer_r1c2,
.prayertable_month #timetable_footer #prayertable_month_footer_r1c3,
.prayertable_month #timetable_footer #prayertable_month_footer_r1c4,
.prayertable_month #timetable_footer #prayertable_month_footer_r1c5,
.prayertable_month #timetable_footer #prayertable_month_footer_r1c6,
.prayertable_month #timetable_footer #prayertable_month_footer_r1c7,
.prayertable_month #prayertable_month_footer #prayertable_month_footer_title1,
.prayertable_month #prayertable_month_footer #prayertable_month_footer_title2,
.prayertable_month #prayertable_month_footer #prayertable_month_footer_title3 {
	unicode-bidi: plaintext;
}
/*Header*/
.prayertable_month #prayertable_month_header {
	display: flex;
	width: 100%;
	height: 160px;
	justify-content: center;
	flex-direction: column;
	background-size: 100% 160px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0px;
	text-align: center;
}
.prayertable_month #prayertable_month_header #prayertable_month_header_title1 {
	padding-left: 10px;
	padding-right: 10px;
}
.prayertable_month #prayertable_month_header #prayertable_month_header_title2 {
	padding-left: 10px;
	padding-right: 10px;
}
.prayertable_month #prayertable_month_header #prayertable_month_header_title3 {
	padding-left: 10px;
	padding-right: 10px;
}
/*Timetable header*/
.prayertable_month #timetable_header {
	text-align: center;
	padding-bottom:5px;
}
/*Timetable*/
.prayertable_month #timetable {
	display: table;
	table-layout: fixed;
	width: 100%;
	height:700px;
}
.prayertable_month #timetable #timetable_headers{
	display:table-header-group
}
.prayertable_month #timetable .timetable_row {
	display: table-row;
}
.prayertable_month #timetable .timetable_col_header {
	display: table-cell;
	text-align: center;
	padding: 1px;
	overflow-x: hidden;
	font-size: 0.7em !important;
	vertical-align: middle;
}
.prayertable_month #timetable .timetable_col {
	display: table-cell;
	text-align: center;
	padding: 1px;
	vertical-align: middle;
}

.prayertable_month_calendartype{
	font-size:0.9em;
}
.prayertable_month #timetable .prayertable_month_today-row{
	animation: pulsate 2s ease-out;
	animation-iteration-count: infinite;
    opacity: 0.5;
	font-weight:bold;
}
@keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}

/*notes*/
.prayertable_month #timetable .prayertable_month_notes {
	margin: 0px;
	padding: 0px;
}
.prayertable_month #timetable .prayertable_month_notes input {
	width: 85%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
/*Timetable footer*/
.prayertable_month #timetable_footer {
	width: 100%;
	display: table;
	text-align: center;
}
.prayertable_month #timetable_footer_row {
	display: table-row;
}
.prayertable_month #timetable_footer_col {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.prayertable_month #timetable_footer_col div{
	display: inline-block;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
}
/*Footer*/
.prayertable_month #prayertable_month_footer {
	display: flex;
	width: 100%;
	height: 160px;
	justify-content: center;
	flex-direction: column;
	background-size: 100% 160px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0px;
	text-align: center;
	bottom:0px;
	position:fixed;
}

/*YEAR common*/
#prayertable_year {
	width: 100%;
	height:100%;
	position: absolute;
	display: block;
	flex-direction: column;
	text-align: center;
	left:0px;
	top:0px;
}
/*Arabic Nastaliq fixes*/
#prayertable_year.font_arabic_nastaliq .display_font{
	line-height: initial;
}
#prayertable_year.font_arabic_nastaliq #prayertable_year_timetable_header{
	font-size: 0.51em !important;
}
#prayertable_year.font_arabic_nastaliq .prayertable_year_month #timetable_header #prayertable_month_header_title4{
	font-size: 0.71em !important;
}
#prayertable_year .prayertable_year_row {
	display: flex;
	justify-content: space-around;
	width:100%;
}
#prayertable_year #prayertable_year_header_row {
	height: 160px;
	display: flex;
	font-size: 14pt;
	text-align:center;
	justify-content: center;
	flex-direction: column;
	background-position: center;
	background-size: 100% 160px;
	background-repeat: no-repeat;
	position:relative;
}
/*Header timetable info*/
#prayertable_year #prayertable_year_timetable_header {
	text-align: center;
	font-size: 9pt;
	display: inline-block;
	position:relative;
}
#prayertable_year #prayertable_year_timetables {
	position:relative;
	margin:0px;
}
/* Two columntitles fixes*/
#prayertable_year #prayertable_year_timetables.two_columntitles{
	margin-top:-10px;
	transform:scale(0.98);
}
#prayertable_year #prayertable_year_timetable_footer.two_columntitles{
	margin-top:-10px;
}
/* Three columntitles fixes*/
#prayertable_year #prayertable_year_timetables.three_columntitles{
	margin-top:-40px;
	transform:scale(0.9);
}
#prayertable_year #prayertable_year_timetable_footer.three_columntitles{
	margin-top:-40px;
}

/*Footer timetable info*/
#prayertable_year #prayertable_year_timetable_footer {
	width: 100%;
	display: table;
}
#prayertable_year #prayertable_year_timetable_footer_row {
	display: table-row;
	font-size: 7pt;
}
#prayertable_year #prayertable_year_timetable_footer_col {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#prayertable_year #prayertable_year_timetable_footer_col div {
	display: inline-block;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
#prayertable_year #prayertable_year_timetable_footer_col #prayertable_year_timetable_footer_r1c2.hidden,
#prayertable_year #prayertable_year_timetable_footer_col #prayertable_year_timetable_footer_r1c3.hidden,
#prayertable_year #prayertable_year_timetable_footer_col #prayertable_year_timetable_footer_r1c4.hidden,
#prayertable_year #prayertable_year_timetable_footer_col #prayertable_year_timetable_footer_r1c5.hidden,
#prayertable_year #prayertable_year_timetable_footer_col #prayertable_year_timetable_footer_r1c6.hidden,
#prayertable_year #prayertable_year_timetable_footer_col #prayertable_year_timetable_footer_r1c7.hidden {
	display: none;
}
/*Footer*/
#prayertable_year #prayertable_year_footer_row {
	width:100%;
	height: 160px;
	display: flex;
	font-size: 14pt;
	text-align:center;
	justify-content: center;
	flex-direction: column;
	background-position: center;
	background-size: 100% 160px;
	background-repeat: no-repeat;
	bottom:0px;
	position:fixed;
}
/* month fixes*/
#prayertable_year .prayertable_year_month {
	display: inline-block;
	width:25% !important;
}
#prayertable_year .prayertable_year_month #timetable_header {
	height: 5px;
}
#prayertable_year .prayertable_year_month #timetable_header #prayertable_month_header_title4 {
	font-size: 6pt;
	line-height:1;
}
#prayertable_year .prayertable_year_month #timetable_header #prayertable_month_header_title5 {
	display: none;
}
#prayertable_year .prayertable_year_month #timetable {
	font-size: 5pt !important;
	height: inherit;
}
#prayertable_year .prayertable_year_month #timetable .prayertable_month_header-row .timetable_col_header {
	font-size: 4pt;
}
#prayertable_year .prayertable_year_month #timetable .timetable_col.prayertable_fast_start {
	width: inherit;
}
#prayertable_year .prayertable_year_month #timetable .timetable_col.prayertable_fast_end {
	width: inherit;
}

#prayertable_year #timetable{
	line-height: 3.75pt;
}
/*theme specific month fontsize and lineheight fixes*/
#prayertable_year .theme_month_20001 #timetable {
	line-height: 3pt !important;
}
#prayertable_year .theme_month_20002 #timetable {
	line-height: 3pt !important;
}
#prayertable_year .theme_month_20004 #timetable {
	font-size: 3pt !important;
}
#prayertable_year .theme_month_20004 .timetable_col_header {
	font-size: 2pt !important;
}
#prayertable_year .theme_month_20005 #timetable {
	line-height: 3pt !important;
}
#prayertable_year .theme_month_20007 #timetable {
	line-height: 3pt !important;
}
#prayertable_year .theme_month_20015 #timetable {
	line-height: 3pt !important;
}
:root{
	/*colors*/
	--white: white;
	--lightgreen:#0d8149;
	--lightgreen2: #77c356;
	--green: #00ab67;
	--green2: #009900;
	--green3: #57e944;
	--lightyellow: #c3ba47;
	--lightyellow2: #f4e7b8;
	--lightgold: #c9b47e;
	--lightgold2: #d2b88f;
	--lightgold3: #d2c196;
	--gold: #cea87a;
	--gold2: #a49775;
	--lightgrey: #e6e6e6;
	--lightgrey2: #ebedee;
	--lightgrey3: #ededed;
	--lightgrey4: #f0f0f0;
	--lightgrey6: #d5d5d5;
	--lightgrey7: #CFCFCF;
	--red: #bf0909;
	--brown: #704c21;
	--pink: #ffd2e3;
	--orange: #ff7800;
	--orange2: #f77c10;
	--orange3: #f37c2f;
	--lightblue: #28708c;
	--lightblue2: #2a5d99;
	--lightblue3: #7194bd;
	--blue: #1da1f2;
	--blue2: #006dbf;
	--blue4: #09589b;
	--darkblue: #012d74;
	--darkblue2:#10498F;
	--darkblue3: #293340;
	--darkblue4: #27313f;
	--darkblue5: #344051;
	--darkbrown: #323232;
	--black: #404040;
	--darkgrey: #333;
	--grey: #5c686c;
	--grey2: #484848;
	--grey3: #6b6b6b;
	--grey4: #666666;
	--grey5: #363635;
	--grey6: #444;
	


	--font_1: 'Noto Sans';
	--font_2: 'Roboto';
	--font_3: 'Exo';
	--font_4: 'Roboto Condensed';
	--font_5: 'Press Start 2P';
	--font_6: 'Cinzel Decorative';
	--font_7: 'Merriweather';
	--font_8: 'Source Sans Pro';
	--font_9: 'Montserrat';
	--font_10: 'Lato';

	--report_theme_text_color: var(--black);
	--report_theme_notes_background_color:inherit !important;
}
.theme_day_10001{
	--report_theme_display_font_family:var(--font_2);
	--report_theme_default_font_family:var(--font_2);
	--report_theme_header_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--lightblue);
	--report_theme_timetable_data_header_background_color:var(--lightblue);
	--report_theme_timetable_data_header_color:var(--white);
	--report_theme_timetable_data_background_color:var(--lightblue);
	--report_theme_timetable_data_color:var(--white);
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:var(--lightblue);
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:inherit;
}
.theme_day_10002{
	--report_theme_display_font_family:var(--font_3);
	--report_theme_default_font_family:var(--font_3);
	--report_theme_header_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--lightgreen);
	--report_theme_timetable_data_header_background_color:var(--lightgreen);
	--report_theme_timetable_data_header_color:var(--white);
	--report_theme_timetable_data_background_color:var(--lightgreen);
	--report_theme_timetable_data_color:var(--white);
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:var(--lightgreen);
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:inherit;
}
.theme_day_10003{
	--report_theme_display_font_family:var(--font_2);
	--report_theme_default_font_family:var(--font_2);
	--report_theme_header_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--lightyellow);
	--report_theme_timetable_data_header_background_color:var(--lightgreen);
	--report_theme_timetable_data_header_color:var(--white);
	--report_theme_timetable_data_background_color:var(--lightgreen);
	--report_theme_timetable_data_color:var(--darkgrey);
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:var(--lightgreen);
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;
	--report_theme_fast_start_end_color:var(--white);
	--report_theme_fast_start_end_background_color:var(--lightyellow);
}
.theme_month_20001{
	--report_theme_display_font_family:var(--font_4);
	--report_theme_default_font_family:var(--font_4);
	--report_theme_header_color:inherit;
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--lightblue2);
	--report_theme_timetable_data_header_background_color:var(--lightblue2);
	--report_theme_timetable_data_header_color:var(--white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--darkgrey);
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:var(--lightblue2);
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;
	--report_theme_fast_start_end_color:var(--white);
	--report_theme_fast_start_end_background_color:var(--lightblue2);
	--report_theme_fast_start_end_border_color:inherit;
}
.theme_month_20002{
	--report_theme_display_font_family:var(--font_1);
	--report_theme_default_font_family:var(--font_1);
	--report_theme_header_color:inherit;
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:inherit;
	--report_theme_timetable_data_header_background_color:inherit;
	--report_theme_timetable_data_header_color:inherit;
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:inherit;
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:var(--lightgrey);
	--report_theme_fast_start_end_border_color:var(--black);
}
.theme_month_20003{
	--report_theme_display_font_family:var(--font_2);
	--report_theme_default_font_family:var(--font_2);
	--report_theme_header_color:var(--darkgrey);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--lightyellow);
	--report_theme_timetable_data_header_background_color:var(--green);
	--report_theme_timetable_data_header_color:var(--white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--darkgrey);
	--report_theme_timetable_footer_background_color:var(--grey);
	--report_theme_timetable_footer_color:var(--lightgrey);
	--report_theme_footer_color:var(--darkgrey);
	--report_theme_footer_background_color:inherit;
	--report_theme_fast_start_end_color:var(--white);
	--report_theme_fast_start_end_background_color:var(--lightyellow);
	--report_theme_fast_start_end_border_color:var(--lightyellow);
}
.theme_month_20004{
	--report_theme_display_font_family:var(--font_5);
	--report_theme_default_font_family:var(--font_5);
	--report_theme_header_color:var(--white);
	--report_theme_header_background_color:var(--lightgreen2);
	--report_theme_timetable_header_background_color:var(--lightgreen2);
	--report_theme_timetable_header_color:inherit;
	--report_theme_timetable_data_header_background_color:var(--black);
	--report_theme_timetable_data_header_color:var(--white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:var(--black);
	--report_theme_timetable_footer_color:var(--white);
	--report_theme_footer_color:var(--white);
	--report_theme_footer_background_color:var(--lightgreen2);
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:var(--lightyellow2);
	--report_theme_fast_start_end_border_color:var(--lightgold);
}
.theme_month_20005{
	--report_theme_display_font_family:var(--font_4);
	--report_theme_default_font_family:var(--font_4);
	--report_theme_header_color:inherit;
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:inherit;
	--report_theme_timetable_data_header_background_color:var(--green2);
	--report_theme_timetable_data_header_color:var(--white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:inherit;
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:var(--green3);
	--report_theme_fast_start_end_border_color:var(--green2);
}
.theme_month_20006{
	--report_theme_display_font_family:var(--font_1);
	--report_theme_default_font_family:var(--font_1);
	--report_theme_header_color:inherit;
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:inherit;
	--report_theme_timetable_data_header_background_color:inherit;
	--report_theme_timetable_data_header_color:inherit;
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:inherit;
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:var(--lightgrey);
	--report_theme_fast_start_end_border_color:inherit;
}
.theme_month_20007{
	--report_theme_display_font_family:var(--font_4);
	--report_theme_default_font_family:var(--font_4);
	--report_theme_header_color:var(--brown);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--brown);
	--report_theme_timetable_data_header_background_color:var(--lightgold);
	--report_theme_timetable_data_header_color:var(--white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:var(--lightgold2);
	--report_theme_timetable_footer_color:var(--brown);
	--report_theme_footer_color:var(--brown);
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:var(--lightyellow2);
	--report_theme_fast_start_end_border_color:var(--lightgold);
}
.theme_month_20008{
	--report_theme_display_font_family:var(--font_6);
	--report_theme_default_font_family:var(--font_1);
	--report_theme_header_color:var(--pink);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:var(--pink);
	--report_theme_timetable_header_color:inherit;
	--report_theme_timetable_data_header_background_color:var(--pink);
	--report_theme_timetable_data_header_color:inherit;
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:var(--pink);
	--report_theme_timetable_footer_color:inherit;
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:var(--pink);
	--report_theme_fast_start_end_border_color:var(--black);
}
.theme_month_20009{
	--report_theme_display_font_family:var(--font_1);
	--report_theme_default_font_family:var(--font_1);
	--report_theme_header_color:inherit;
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:inherit;
	--report_theme_timetable_data_header_background_color:var(--blue);
	--report_theme_timetable_data_header_color:var(--white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:var(--blue);
	--report_theme_timetable_footer_color:var(--white);
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:var(--white);
	--report_theme_fast_start_end_background_color:var(--blue2);
	--report_theme_fast_start_end_border_color:var(--white);
}
.theme_month_20010{
	--report_theme_display_font_family:var(--font_3);
	--report_theme_default_font_family:var(--font_3);
	--report_theme_header_color:var(--darkblue);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--darkblue);
	--report_theme_timetable_data_header_background_color:var(--darkblue2);
	--report_theme_timetable_data_header_color:var(--white);
	--report_theme_timetable_data_background_color:var(--lightgrey3);
	--report_theme_timetable_data_color:var(--grey2);
	--report_theme_timetable_footer_background_color:var(--grey2);
	--report_theme_timetable_footer_color:var(--white);
	--report_theme_footer_color:var(--darkblue);
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:var(--white);
	--report_theme_fast_start_end_background_color:var(--orange);
	--report_theme_fast_start_end_border_color:inherit;
}
.theme_month_20011{
	--report_theme_display_font_family:var(--font_7);
	--report_theme_default_font_family:var(--font_7);
	--report_theme_header_color:var(--grey3);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:var(--lightgrey4);
	--report_theme_timetable_header_color:var(--grey3);
	--report_theme_timetable_data_header_background_color:var(--orange2);
	--report_theme_timetable_data_header_color:var(--white);
	--report_theme_timetable_data_background_color:var(--lightgrey4);
	--report_theme_timetable_data_color:var(--darkbrown);
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:var(--darkbrown);
	--report_theme_footer_color:var(--grey3);
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:var(--lightgrey6);
	--report_theme_fast_start_end_border_color:inherit;
}
.theme_month_20012{
	--report_theme_display_font_family:var(--font_10);
	--report_theme_default_font_family:var(--font_10);
	--report_theme_header_color:var(--blue4);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--blue4);
	--report_theme_timetable_data_header_background_color:inherit;
	--report_theme_timetable_data_header_color:var(--blue4);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--grey4);
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:var(--blue4);
	--report_theme_footer_color:var(--blue4);
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:var(--white);
	--report_theme_fast_start_end_background_color:var(--blue4);
	--report_theme_fast_start_end_border_color:inherit;
}
.theme_month_20013{
	--report_theme_display_font_family:var(--font_7);
	--report_theme_default_font_family:var(--font_8);
	--report_theme_header_color:var(--darkblue3);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--darkblue3);
	--report_theme_timetable_data_header_background_color:inherit;
	--report_theme_timetable_data_header_color:var(--darkblue3);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--darkblue3);
	--report_theme_timetable_footer_background_color:var(--darkblue3);
	--report_theme_timetable_footer_color:var(--white);
	--report_theme_footer_color:var(--darkblue3);
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:var(--white);
	--report_theme_fast_start_end_background_color:var(--gold);
	--report_theme_fast_start_end_border_color:var(--darkblue5);
}
.theme_month_20014{
	--report_theme_display_font_family:var(--font_9);
	--report_theme_default_font_family:var(--font_7);
	--report_theme_header_color:var(--grey5);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--grey5);
	--report_theme_timetable_data_header_background_color:var(--red);
	--report_theme_timetable_data_header_color:var(--white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--grey5);
	--report_theme_timetable_footer_background_color:var(--lightgrey7);
	--report_theme_timetable_footer_color:var(--grey6);
	--report_theme_footer_color:var(--grey5);
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:var(--grey5);
	--report_theme_fast_start_end_background_color:var(--lightgrey7);
	--report_theme_fast_start_end_border_color:var(--grey5);
}
.theme_month_20015{
	--report_theme_display_font_family:var(--font_1);
	--report_theme_default_font_family:var(--font_1);
	--report_theme_header_color:inherit;
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:inherit;
	--report_theme_timetable_data_header_background_color:var(--lightgold3);
	--report_theme_timetable_data_header_color:inherit;
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:var(--lightgold3);
	--report_theme_timetable_footer_color:inherit;
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:var(--lightyellow2);
	--report_theme_fast_start_end_border_color:inherit;
	
}
.theme_year_30001{
	--report_theme_display_font_family:var(--font_1);
	--report_theme_default_font_family:var(--font_1);
}

/*Themes*/
/*DISPLAY FONT*/
#prayertable_day.font_arabic_sans .display_font,
#prayertable_month.font_arabic_sans .display_font,
#prayertable_year.font_arabic_sans .display_font{
	font-family: var(--report_theme_display_font_family), var(--global_font_arabic_sans);
}
#prayertable_day.font_arabic_kufi .display_font,
#prayertable_month.font_arabic_kufi .display_font,
#prayertable_year.font_arabic_kufi .display_font{
	font-family: var(--report_theme_display_font_family), var(--global_font_arabic_kufi);
}
#prayertable_day.font_arabic_nashk .display_font,
#prayertable_month.font_arabic_nashk .display_font,
#prayertable_year.font_arabic_nashk .display_font{
	font-family: var(--report_theme_display_font_family), var(--global_font_arabic_nashk);
}
#prayertable_day.font_arabic_nastaliq .display_font,
#prayertable_month.font_arabic_nastaliq .display_font,
#prayertable_year.font_arabic_nastaliq .display_font{
	font-family: var(--report_theme_display_font_family), var(--global_font_arabic_nastaliq);
}
/*DEFAULT FONT*/
#prayertable_day.font_arabic_sans .default_font,
#prayertable_month.font_arabic_sans .default_font,
#prayertable_year.font_arabic_sans .default_font{
	font-family: var(--report_theme_default_font_family), var(--global_font_arabic_sans);
}
#prayertable_day.font_arabic_kufi .default_font,
#prayertable_month.font_arabic_kufi .default_font,
#prayertable_year.font_arabic_kufi .default_font{
	font-family: var(--report_theme_default_font_family), var(--global_font_arabic_kufi);
}
#prayertable_day.font_arabic_nashk .default_font,
#prayertable_month.font_arabic_nashk .default_font,
#prayertable_year.font_arabic_nashk .default_font{
	font-family: var(--report_theme_default_font_family), var(--global_font_arabic_nashk);
}
#prayertable_day.font_arabic_nastaliq .default_font,
#prayertable_month.font_arabic_nastaliq .default_font,
#prayertable_year.font_arabic_nastaliq .default_font{
	font-family: var(--report_theme_default_font_family), var(--global_font_arabic_nastaliq);
}

#prayertable_day,
#prayertable_month,
#prayertable_year{
	color: var(--report_theme_text_color);
}
#prayertable_month .prayertable_month_notes {
	background-color: var(--report_theme_notes_background_color) !important;
}

/*DAY*/
#prayertable_day #prayertable_day_header_row{
	color: var(--report_theme_header_color);
}
#prayertable_day #prayertable_day_timetable_header {
	background-color: var(--report_theme_timetable_header_background_color);
	color: var(--report_theme_timetable_header_color);
}
#prayertable_day .prayertable_day_timetable_header-row{
	color: var(--report_theme_timetable_data_header_color);
}
#prayertable_day .prayertable_day_timetable_header-row div{
	background-color: var(--report_theme_timetable_data_header_background_color);
	text-transform: uppercase;
} 
#prayertable_day .prayertable_day_timetable_row_data div {
	background-color: var(--report_theme_timetable_data_background_color);
	color: var(--report_theme_timetable_data_color);
}
#prayertable_day .prayertable_fast_start, 
#prayertable_day .prayertable_fast_end,
#prayertable_month .prayertable_fast_start, 
#prayertable_month .prayertable_fast_end,
#prayertable_year .prayertable_fast_start, 
#prayertable_year .prayertable_fast_end{
	color: var(--report_theme_fast_start_end_color) !important;
	background-color: var(--report_theme_fast_start_end_background_color) !important;
	border-left: 1px solid var(--report_theme_fast_start_end_border_color);
	border-right: 1px solid var(--report_theme_fast_start_end_border_color);
}

/*MONTH*/
#prayertable_month #prayertable_month_header {
	color: var(--report_theme_header_color);
	background-color:var(--report_theme_header_background_color);
}
#prayertable_month #timetable_header {
	color: var(--report_theme_timetable_header_color);
	background-color: var(--report_theme_timetable_header_background_color);
}
#prayertable_month #timetable .prayertable_month_header-row .timetable_col_header {
	color: var(--report_theme_timetable_data_header_color) !important;
	background-color: var(--report_theme_timetable_data_header_background_color) !important;
}
#prayertable_month #timetable .timetable_col{
	color: var(--report_theme_timetable_data_color);
	background-color: var(--report_theme_timetable_data_background_color);
	
}
#prayertable_month #timetable_footer {
	color: var(--report_theme_timetable_footer_color);
	background-color: var(--report_theme_timetable_footer_background_color);
}
#prayertable_month #prayertable_month_footer {
	color : var(--report_theme_footer_color);
	background-color:var(--report_theme_footer_background_color);
}

.theme_month_20001 #timetable .timetable_col {
	border-bottom: 0.5px solid #2a5d99;
}
.theme_month_20001 .timetable_row.prayertable_month_highlight_row .timetable_col {
	background-color: #7bcae9 !important;
}
.theme_month_20001 .timetable_row.prayertable_month_day_01-10-row .timetable_col {
	background-color: #c9edf7 !important;
}
.theme_month_20001 .timetable_row.prayertable_month_day_11-20-row .timetable_col {
	background-color: #FFF !important;
}
.theme_month_20001 .timetable_row.prayertable_month_day_21-30-row .timetable_col {
	background-color: #7bcae9 !important;
}
.theme_month_20001 #timetable .timetable_col:nth-child(odd) {
	background-color: #c9edf7;
	color: #404040;
}
.theme_month_20001 #timetable .timetable_col:nth-child(even) {
	background-color: #FFF;
}


.theme_month_20002 .timetable_row.prayertable_month_highlight_row .timetable_col {
	background-color: #e6e6e6 !important;
}
.theme_month_20002 .timetable_row.prayertable_month_day_01-10-row .timetable_col {
	background-color: #e6e6e6 !important;
}
.theme_month_20002 .timetable_row.prayertable_month_day_11-20-row .timetable_col {
	background-color: #FFF !important;
}
.theme_month_20002 .timetable_row.prayertable_month_day_21-30-row .timetable_col {
	background-color: #e6e6e6 !important;
}

.theme_month_20003 .timetable_row.prayertable_month_highlight_row .timetable_col {
	background-color: #ebeae2 !important;
}
.theme_month_20003 .timetable_row.prayertable_month_day_01-10-row .timetable_col {
	background-color: #ebeae2 !important;
}
.theme_month_20003 .timetable_row.prayertable_month_day_11-20-row .timetable_col {
	background-color: #FFF !important;
}
.theme_month_20003 .timetable_row.prayertable_month_day_21-30-row .timetable_col {
	background-color: #ebeae2 !important;
}
/*THEME 4*/
/*shrink font size compared to parent div for this font on this theme*/
.theme_month_20004 .timetable_row, 
.theme_month_20004 #timetable_footer_row, 
.theme_month_20004 #prayertable_month_footer{
	font-size:0.75em;
}
.theme_month_20004 #prayertable_month_footer div {
	padding: 5px;
}

.theme_month_20004 .timetable_row.prayertable_month_highlight_row .timetable_col {
	background-color: #c5b28d !important;
}
.theme_month_20004 .timetable_row.prayertable_month_day_01-10-row .timetable_col {
	background-color: #c5b28d !important;
}
.theme_month_20004 .timetable_row.prayertable_month_day_11-20-row .timetable_col {
	background-color: #ffffff !important;
}
.theme_month_20004 .timetable_row.prayertable_month_day_21-30-row .timetable_col {
	background-color: #a49775 !important;
}
.theme_month_20004 .timetable_row:nth-child(odd) {
	background-color: #f6fbf5;
}
.theme_month_20004 .timetable_row:nth-child(even) {
	background-color: #FFF;
}


.theme_month_20005 #timetable .timetable_col {
	border-bottom: 0.5px solid #009900;
}
.theme_month_20005 .timetable_row.prayertable_month_highlight_row .timetable_col {
	background-color: #bbe3b8 !important;
}
.theme_month_20005 .timetable_row.prayertable_month_day_01-10-row .timetable_col {
	background-color: #bbf796 !important;
}
.theme_month_20005 .timetable_row.prayertable_month_day_11-20-row .timetable_col {
	background-color: #FFF !important;
}
.theme_month_20005 .timetable_row.prayertable_month_day_21-30-row .timetable_col {
	background-color: #bbe3b8 !important;
}
.theme_month_20005 #timetable .timetable_col:nth-child(odd) {
	background-color: #bbf796;
}
.theme_month_20005 #timetable .timetable_col:nth-child(even) {
	background-color: #FFF;
}

.theme_month_20006 .timetable_row.prayertable_month_highlight_row .timetable_col {
	background-color: #e6e6e6 !important;
}
.theme_month_20006 .timetable_row.prayertable_month_day_01-10-row .timetable_col {
	background-color: #e6e6e6 !important;
}
.theme_month_20006 .timetable_row.prayertable_month_day_11-20-row .timetable_col {
	background-color: #FFF !important;
}
.theme_month_20006 .timetable_row.prayertable_month_day_21-30-row .timetable_col {
	background-color: #e6e6e6 !important;
}

.theme_month_20007 #timetable .timetable_col {
	border-bottom: 0.5px solid #c9b47e;
}
.theme_month_20007 .timetable_row.prayertable_month_highlight_row .timetable_col {
	background-color: #c9b47e !important;
}
.theme_month_20007 .timetable_row.prayertable_month_day_01-10-row .timetable_col {
	background-color: #f4e7b8 !important;
}
.theme_month_20007 .timetable_row.prayertable_month_day_11-20-row .timetable_col {
	background-color: #FFF !important;
}
.theme_month_20007 .timetable_row.prayertable_month_day_21-30-row .timetable_col {
	background-color: #d2b88f !important;
}

.theme_month_20007 #timetable .timetable_row .timetable_col:nth-child(odd) {
	background-color: #fcf9de;
	color: #404040;
}
.theme_month_20007 #timetable .timetable_row .timetable_col:first-child {
	background-color: #d2b88f !important;
	color: #404040;
}
.theme_month_20007 #timetable .timetable_row .timetable_col:nth-child(even) {
	background-color: #FFF;
	color: #404040;
}

.theme_month_20008 .timetable_row.prayertable_month_highlight_row .timetable_col {
	background-color: #000000 !important;
	color: #ffffff !important;
}
.theme_month_20008 .timetable_row.prayertable_month_day_01-10-row .timetable_col {
	background-color: #f2c2d3 !important;
}
.theme_month_20008 .timetable_row.prayertable_month_day_11-20-row .timetable_col {
	background-color: #ffffff !important;
}
.theme_month_20008 .timetable_row.prayertable_month_day_21-30-row .timetable_col {
	background-color: #f2c2d3 !important;
}

.theme_month_20009 .timetable_row.prayertable_month_highlight_row .timetable_col {
	background-color: #e6ecf0 !important;
}
.theme_month_20009 .timetable_row.prayertable_month_day_01-10-row .timetable_col {
	background-color: #e6ecf0 !important;
}
.theme_month_20009 .timetable_row.prayertable_month_day_11-20-row .timetable_col {
	background-color: #FFF !important;
}
.theme_month_20009 .timetable_row.prayertable_month_day_21-30-row .timetable_col {
	background-color: #e6ecf0 !important;
}

.theme_month_20010 .timetable_row.prayertable_month_highlight_row .timetable_col {
	background-color: #7194bd !important;
	color : white;
}
.theme_month_20010 .timetable_row.prayertable_month_day_01-10-row .timetable_col {
	background-color: #ededed !important; 
}
.theme_month_20010 .timetable_row.prayertable_month_day_11-20-row .timetable_col {
	background-color: #FFF !important;
}
.theme_month_20010 .timetable_row.prayertable_month_day_21-30-row .timetable_col {
	background-color: #ededed !important;
}

.theme_month_20011 .timetable_row.prayertable_month_highlight_row .timetable_col {
	background-color:#e6e6e6 !important;
}

.theme_month_20011 .timetable_row.prayertable_month_day_01-10-row .timetable_col {
	background-color: #e6e6e6  !important;
}
.theme_month_20011 .timetable_row.prayertable_month_day_11-20-row .timetable_col {
	background-color: #FAFAFA !important;
}
.theme_month_20011 .timetable_row.prayertable_month_day_21-30-row .timetable_col {
	background-color: #e6e6e6  !important;
}

.theme_month_20012 .timetable_row.prayertable_month_highlight_row .timetable_col {
	background-color: #f37c2f !important;
	color : white !important;
}
.theme_month_20012 .timetable_row.prayertable_month_day_01-10-row .timetable_col {
	background-color: #ededed !important;
}
.theme_month_20012 .timetable_row.prayertable_month_day_11-20-row .timetable_col {
	background-color: #FFF !important;
}
.theme_month_20012 .timetable_row.prayertable_month_day_21-30-row .timetable_col {
	background-color: #ededed !important;
}

.theme_month_20013 {
	background-image: linear-gradient(to bottom,#ebebed 0%,#fff 100%);
}
.theme_month_20013 .timetable_row.prayertable_month_highlight_row .timetable_col {
	background-color: #27313f !important;
	color : white !important;
}
.theme_month_20013 .timetable_row.prayertable_month_day_01-10-row .timetable_col {
	color : #293340 !important;
}
.theme_month_20013 .timetable_row.prayertable_month_day_11-20-row .timetable_col {
	background-color: #FFF !important;
}
.theme_month_20013 .timetable_row.prayertable_month_day_21-30-row .timetable_col {
	color : #293340 !important;
}

.theme_month_20014 .timetable_row.prayertable_month_highlight_row .timetable_col {
	background-color: #363635 !important;
	color: white !important;
}
.theme_month_20014 .timetable_row.prayertable_month_day_01-10-row .timetable_col {
	background-color: #ececec !important;
}
.theme_month_20014 .timetable_row.prayertable_month_day_11-20-row .timetable_col {
	background-color: #FFF !important;
}
.theme_month_20014 .timetable_row.prayertable_month_day_21-30-row .timetable_col {
	background-color: #ececec !important;
}

.theme_month_20015 #timetable .timetable_col {
	border-bottom: 0.5px solid #d2c196;
}
.theme_month_20015 .timetable_row.prayertable_month_highlight_row .timetable_col {
	background-color: #d2b88f !important;
}
.theme_month_20015 .timetable_row.prayertable_month_day_01-10-row .timetable_col {
	background-color: #d2b88f !important;
}
.theme_month_20015 .timetable_row.prayertable_month_day_11-20-row .timetable_col {
	background-color: #FFF !important;
}
.theme_month_20015 .timetable_row.prayertable_month_day_21-30-row .timetable_col {
	background-color: #d2b88f !important;
}
.theme_month_20015 .timetable_row:nth-child(odd) {
	background-color: #fefef6;
}
.theme_month_20015 .timetable_row:nth-child(even) {
	background-color: #FFF;
}
