body {
	color: var(--app_black);
	background: var(--app_blue1);
}
#app_title{
	margin-bottom: 20px;
}

.dialogue{
	width: 100%;
	height: 100%;
	text-align: center;
	top:15%;
	position:fixed;
	animation-name: common_animatetop;
	animation-duration: 0.4s;
}
.dialogue_content{
	padding: 10px;
	display:inline-block;
	border-radius: 4px;
	box-shadow: 0 4px 8px 0 var(--app_shadow1), 0 6px 20px 0 var(--app_shadow2);
	background-color: var(--app_white1);
}

#dialogue_documents{
	visibility:hidden;
}
.dialogue_content:hover, 
.dialogue_content:active{
	box-shadow: 0 0 35px 4px var(--app_white_transparent);
}
.doc_list_item_image{
	width:128px;
	height:64px;
	cursor: pointer;
}
.dialogue_button,
.toolbar_button{
	color: var(--app_black) !important;
}
.dialogue_button:hover,
.dialogue_button:active,
.toolbar_button:hover,
.toolbar_button:active{
	color:var(--app_green) !important;
}
/*common*/
#profile_info_search{
	visibility: hidden;
}
#user_account{
	visibility: hidden;
}
#common_window_info_content{
	display: none;
}
#common_window_info{
	visibility:visible;
	z-index: 0 !important;
	display:grid;
}
#common_window_info_info{
	position:relative;
	margin:20px;
	z-index:-1;
	margin-top:-70px;
}
#common_window_info_toolbar_btn_close{
	display: none;
}
#common_window_info_toolbar_btn_fullscreen svg path{
	stroke: var(--app_black);
}
#common_window_info_toolbar_btn_fullscreen svg:hover path,
#common_window_info_toolbar_btn_fullscreen svg:active path{
	stroke:var(--app_green);
}
#common_window_info_toolbar_btn_fullscreen{
	display: inline-block !important; 
}

.common_dialogue_content:hover, 
.common_dialogue_content:active{
	box-shadow: 0 0 35px 4px var(--app_white_transparent);
}  
.common_dialogue_content{
	z-index: 12;
	background-color: var(--app_white1);
	box-shadow: 0 4px 8px 0 var(--app_shadow1),0 6px 20px 0 var(--app_shadow2);	
}
#user_menu_dropdown{
	background-color: var(--app_white);
}