/*APP*/
#button_solve::before{										content:var(--common_app_icon_misc_solve)}
#button_solve_cubestate::before{							content:'?'}
#button_solved_step::before{								content:var(--common_app_icon_misc_education)}
#button_solved_step_cubestate::before{						content:'?'}
#button_info::before{										content:'i'}
#button_scramble::before{									content:var(--common_app_icon_misc_scramble)}
#button_reset::before{										content:var(--common_app_icon_reset)}

html, body, #app {
	height:100%;
}
body {
	font-size: 18px !important;
	text-align: center;
}
#app_main{
    padding-top:50px;
	height: 100%;
  	position: absolute;
  	width: 100%;
}
#cube{
	width: 360px;
  	height: 360px;
    margin: 0 auto;
  	display: block;
  	background-color: var(--common_app_color_white);
}
#cube svg{
	width: 100%;
	height: 100%;
}
.cube_face{
	position: absolute;
}
#button_controls{
	width: 360px;
	height: 280px;
	padding-top: 10px;
    margin-top: 10px !important;
    margin: 0 auto;
}
#button_controls .buttons_row.buttons_move{
	display: grid;
	grid-template-columns: 15% 15% 15% 15% 15% 15%;
	justify-content: center;
	margin:0px;
}
#button_controls .buttons_row.buttons_move .button_move{
	align-content:center;
	width: 50px;
	height: 50px;
}
#button_controls .button_solve_speed{
	font-size: 1em !important;
}
.cube_white {
	background-color: #ffffff; 
}
.cube_blue{
	background-color: #006dbf; 
}
.cube_green{
	background-color: #009900; 
}
.cube_red{
	background-color: #cc0000; 
}
.cube_orange{
	background-color: #ff8800; 
}
.cube_yellow{
	background-color: #ffff00; 
}
.button_move{
	display:inline-block;
	width: 15%;
	border: 1px solid var(--common_app_color_black);
	font-weight: bold;
}
#button_solve_speed{
	margin-top: 1em;
}

#button_controls .buttons_row{
	width: 100%;
	display: block;
	margin-top: 0.5em;
  	margin-bottom: 1em;
}
#button_controls .buttons_row .buttons_col{
	display: inline-block;
	width:calc(15% - 4px);
	vertical-align: bottom;
}
#button_controls .buttons_row .buttons_col .common_app_dialogues_button{
	width: 100%;
	
	font-weight: bold;
}
#button_controls .buttons_row .buttons_col .common_app_dialogues_button.common_loading_spinner{
	margin-top:unset;
}
#overlay{
	display: none;
	width: 100%;
	margin-top: 20px;
	z-index: 1;
  	position: relative;
}
#button_step_info {
  	width:295px;
  	height: 100px;
	font-size: 1.5em;
	position: absolute;
	margin: 0.25em;
	padding: 1em;
	margin-top: -0.5em;
	padding-top: 1.5em;
}
#button_controls .button_move, 
#button_step_info{
	cursor:pointer;
}

/*COMMON*/
.common_select {
	min-width: 2em !important;
}
#common_app_dialogues_profile_input_row,
#common_app_profile_search_list_wrap{
	visibility: hidden;
}
#common_app_window_info_content{
	display: none;
}
#common_app_window_info{
	visibility:hidden;
}
/*APP THEME*/
body {
	--common_app_color_spinner:var(--common_app_color_black);
	--common_app_color_background_spinner:var(--common_app_color_blue1);
	color: var(--common_app_color_black);
	background: var(--common_app_color_blue1);
	caret-color: var(--common_app_color_black);
}
#cube, #button_controls {
	background-color: var(--common_app_color_white1);
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);		
}
#button_step_info {
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}
.button_move:hover,
.button_move:active{
	color:var(--common_app_color_green) !important;
}

#button_solve_speed .button_speed_selected
{
	color:var(--common_app_color_green) !important;
}
#overlay{
	background-color : rgba(0,0,0,.5);
}
/* APP THEME COMMON*/
#common_app_iam_user_menu_avatar_img, 
#common_app_iam_user_menu_default_avatar{
    background-color: var(--common_app_color_light);
    box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}
#common_loading_progressbar_wrap{
	border-color: var(--common_app_color_blue1) !important;
}
#common_loading_progressbar{
	background-color: var(--common_app_color_blue1);
}

#common_app_dialogues_lov_list[data-lov='CUSTOM'] .common_list_lov_col2{
	width:unset;
	white-space: wrap;
}
.common_loading_spinner::before {
	background-color: var(--common_app_color_white) !important;
}
.common_toolbar_selected{
	background-color: var(--common_app_color_blue1) !important;
}
#common_app_toolbar {
    color: var(--common_app_color_black);
    background-color: var(--common_app_color_white1);
    box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1), 0 6px 20px 0 var(--common_app_color_shadow2);
}
.common_app_dialogues_button,
.common_toolbar_button{
	color: var(--common_app_color_black) !important;
    fill:var(--common_app_color_black) !important;
}
.common_row_selected,
.common_list_lov_row:hover,
.common_list_lov_row:active,
.common_app_dialogues_button:hover,
.common_app_dialogues_button:active,
.common_toolbar_button:hover,
.common_toolbar_button:active{
	color:var(--common_app_color_green) !important;
    fill:var(--common_app_color_green) !important;
}
.common_app_dialogues_content:hover, 
.common_app_dialogues_content:active{
	box-shadow: 0 0 35px 4px var(--common_app_color_white_transparent);
}  
.common_app_dialogues_content{
	background-color: var(--common_app_color_white1);
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);	
}
#common_dialouge_user_menu{
	background-color: var(--common_app_color_white);
}
#common_app_window_info_toolbar{
	background: var(--common_app_color_white);
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}
#common_app_window_info{
	background: var(--common_app_color_white);
}