/*APP */

body.font_arabic_nastaliq #common_iam_avatar_default_avatar{
	top: -5px;
}
#app > .css_spinner{
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	position: absolute;
}
#app_profile_toolbar{
	text-align: center;
}
/* Background with clouds*/
#theme_background {
    bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 0;
}

/* ANIMATIONS */
@keyframes animateCloud {
    0% {
        margin-inline-start: -500px;
    }
    100% {
        margin-inline-start: 100%;
    }
}
.x1 {
	animation: animateCloud 55s linear infinite;	
	transform: scale(0.7);
}

.x2 {
	animation: animateCloud 40s linear infinite;
	transform: scale(0.6);
}

.x3 {
	animation: animateCloud 50s linear infinite;
	transform: scale(0.8);
}

.x4 {
	animation: animateCloud 38s linear infinite;
	transform: scale(0.6);
}

.x5 {
	animation: animateCloud 45s linear infinite;
	transform: scale(0.7);
	margin-top: -160px;
}

/* CLOUD */
.cloud {
	border-radius: 100px;
	height: 120px;
	position: relative;
	width: 350px;
}
.cloud:after, .cloud:before {
	content: '';
	position: absolute;
	z-indeX: -1;
}
.cloud:after {
	border-radius: 100px;
	height: 100px;
	left: 50px;
	top: -50px;
	width: 100px;
}
.cloud:before {
	border-radius: 200px;
	width: 180px;
	height: 180px;
	right: 50px;
	top: -90px;
}
/* SUN */
div.sunholder {
    display: inline-block;
	transform: translate(0px,0px);
    animation: spin 80s linear 0s infinite;
	margin:25px;
	z-index:-1;
}
div.sun {
    height: 53px;
    width: 53px;
	margin-top: -6px;
    border-radius: 50%;
	margin-left: -1px;
}
div.raybase {
    position: absolute;
    top: 19px; /*50px/2-6px*/
    left: 19px; /*(50px-12px)/2*/
}
div.ray {
    display: block;
    width: 0;
    height: 0;
	opacity:0.4;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    animation: shine 0.1s linear 0s infinite alternate;
}
div.ray1 {
    transform: translate(28px,0px); /*(50px+6px)/2*/
}
div.ray2 {
    transform: rotate(45deg) translate(28px,0px) ;
}
div.ray3 {
    transform: rotate(90deg) translate(28px,0px) ;
}
div.ray4 {
    transform: rotate(135deg) translate(28px,0px) ;
}
div.ray5 {
    transform: rotate(180deg) translate(28px,0px) ;
}
div.ray6 {
    transform: rotate(225deg) translate(28px,0px) ;
}
div.ray7 {
    transform: rotate(270deg) translate(28px,0px) ;
}
div.ray8 {
    transform: rotate(315deg) translate(28px,0px) ;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@keyframes shine {
    from { transform: translate(0px,0px) }
    to { transform: translate(5px,0px) }
}

  /*Moon*/
  .app_theme_moon .x1{
	margin-top:47px;
  }
  .moon {
	position: absolute;
	margin-left: 25px;
    margin-top: 19px;
	width: 53px;
	height: 53px;
	border-radius: 50%;
	overflow: hidden;
	transition: all 500ms ease-out;
	z-index:-1;
  }
  .moon .crater-1, .moon .crater-2, .moon .crater-3,
  .moon .crater-4, .moon .crater-5, .moon .crater-6,
  .moon .crater-7{
	transform: scale(0.61);
  }
  .moon .crater-1{
	  transform-origin: -6px 95px;
  }
  .moon .crater-2{
	transform-origin: -39px 8px;
  }
  .moon .crater-3{
    transform-origin: 10px -17px;
  }
  .moon .crater-4{
	transform-origin: -20px -18px;
  }
  .moon .crater-5{
	transform-origin: -41px -40px;
  }
  .moon .crater-6{
	transform-origin: -9px -41px;
  }
  .moon .crater-7{
	transform-origin: -25px 14px;
  }

#app_themes {
	transform: scale(0.3);
	transform-origin: 50% 10px;
	height: 60px;
	margin-top: 10px;
}
.toggle {
	position: relative;
	cursor: pointer;
	display: inline-block;
	width: 200px;
	height: 100px;
	border-radius: 50px;
	transition: 500ms;
	overflow: hidden;
}
.toggle-button {
	position: absolute;
	display: inline-block;
	top: 7px;
	left: 6px;
	width: 86px;
	height: 86px;
	border-radius: 50%;
	overflow: hidden;
	transition: all 500ms ease-out;
  }
  .crater {
	position: absolute;
	display: inline-block;
	border-radius: 50%;
	transition: 500ms;
  }
  .crater-1 {
	width: 86px;
	height: 86px;
	left: 10px;
	bottom: 10px;
  }
  .crater-2 {
	width: 20px;
	height: 20px;
	top: -7px;
	left: 44px;
  }
  .crater-3 {
	width: 16px;
	height: 16px;
	top: 20px;
	right: -4px;
  }
  .crater-4 {
	width: 10px;
	height: 10px;
	top: 24px;
	left: 30px;
  }
  .crater-5 {
	width: 15px;
	height: 15px;
	top: 40px;
	left: 48px;
  }
  .crater-6 {
	width: 10px;
	height: 10px;
	top: 48px;
	left: 20px;
  }
  .crater-7 {
	width: 12px;
	height: 12px;
	bottom: 5px;
	left: 35px;
  }
  .star {
	position: absolute;
	display: inline-block;
	border-radius: 50%;
}
  .star-1 {
	width: 6px;
	height: 6px;
	right: 90px;
	bottom: 40px;
  }
  .star-2 {
	width: 8px;
	height: 8px;
	right: 70px;
	top: 10px;
  }
  .star-3 {
	width: 5px;
	height: 5px;
	right: 60px;
	bottom: 15px;
  }
  .star-4 {
	width: 3px;
	height: 3px;
	right: 40px;
	bottom: 50px;
  }
  .star-5 {
	width: 4px;
	height: 4px;
	right: 10px;
	bottom: 35px;
  }
  .star-6, .star-7, .star-8 {
	width: 10px;
	height: 2px;
	border-radius: 2px;
	transform: rotate(-45deg);
	animation-name: travel;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
  }
  .star-6 {
	right: 30px;
	bottom: 30px;
	animation-delay: -2s;
  }
  .star-7 {
	right: 50px;
	bottom: 60px;
  }
  .star-8 {
	right: 90px;
	top: 10px;
	animation-delay: -4s;
  }
  
  #app_theme_checkbox.checked.toggle .toggle-button {
	transform: translateX(102px);
  }
  #app_theme_checkbox.checked.toggle .toggle-button .crater {
	transform: rotate(-45deg) translateX(70px);
  }
  #app_theme_checkbox.checked.toggle .star {
	animation: move 2s infinite;
	transform: none;
	box-shadow: none;
  }
  #app_theme_checkbox.checked.toggle .star-1 {
	width: 40px;
	height: 10px;
	border-radius: 10px;
	left: 20px;
	top: 25px;
	box-shadow: none;
  }
  #app_theme_checkbox.checked.toggle .star-2 {
	width: 12px;
	height: 12px;
	left: 26px;
	top: 23px;
	box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
  }
  #app_theme_checkbox.checked.toggle .star-3 {
	width: 16px;
	height: 16px;
	left: 35px;
	top: 19px;
	box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
  }
  #app_theme_checkbox.checked.toggle .star-4 {
	width: 14px;
	height: 14px;
	left: 46px;
	top: 21px;
	box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
  }
  #app_theme_checkbox.checked.toggle .star-5 {
	width: 60px;
	height: 15px;
	border-radius: 15px;
	left: 30px;
	bottom: 20px;
	box-shadow: none;
  }
  #app_theme_checkbox.checked.toggle .star-6 {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	left: 38px;
	bottom: 20px;
	box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
  }
  #app_theme_checkbox.checked.toggle .star-7 {
	width: 24px;
	height: 24px;
	border-radius: 50%;
	left: 52px;
	bottom: 20px;
	box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
  }
  #app_theme_checkbox.checked.toggle .star-8 {
	width: 21px;
	height: 21px;
	border-radius: 50%;
	left: 70px;
	top: 59px;
	box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
  }
  @keyframes move {
	0% {
	  transform: none;
	}
	25% {
	  transform: translateX(2px);
	}
	100% {
	  transform: translateX(-2px);
	}
  }
/*COMMON*/
#common_toolbar_framework{
	margin-inline-start: 0px !important;
	bottom:0px !important;
	top: unset !important;
}
#common_app_select_theme{
	display:none;
}
#common_profile_search_list_wrap{
	top:62px;
}
#common_profile_btn_top{
	bottom: 0px !important;
}
#common_user_account{
	display: flex !important;
    flex-flow: row-reverse !important;
	width: calc(100% - 10px) !important;
}
#common_window_info_info{
	position:relative;
	margin:20px;
}
#common_dialogue_info{
	visibility: hidden;
}
#common_dialogue_apps, #common_dialogue_info{
	z-index: 1;
}
/*RESPONSIVE SETTINGS*/
/*CSS for minimum 768px*/
@media only screen and (min-width: 768px) {
	@keyframes animateCloud {
		0% {
			margin-inline-start: -1000px;
		}
		100% {
			margin-inline-start: 100%;
		}
	}	
}
/*APP THEME*/
.app_theme_sun{

	/*concept*/
	--app_theme_main_branding_color1: var(--common_app_color_blue1);
	--app_theme_main_branding_color2: var(--common_app_color_blue2);
	--app_theme_main_branding_color3: var(--common_app_color_white1);
	--app_theme_main_branding_color4: var(--common_app_color_black);
	--app_theme_main_branding_color5: var(--common_app_color_white2);
	--app_theme_main_branding_color6: var(--common_app_color_gold);
	--app_theme_main_branding_color7: var(--common_app_color_yellow);
	--app_theme_main_branding_color8: var(--common_app_color_dark);
	--app_theme_main_branding_color9: var(--common_app_color_light);
	--app_theme_main_branding_color10: var(--common_app_color_white);
	--app_theme_main_branding_color11: var(--common_app_color_lightgreen);
	--app_theme_main_branding_color12: var(--common_app_color_lightyellow);
	

	--app_theme_main_shadow_color1: var(--common_app_color_black_transparent1);
	--app_theme_main_shadow_color2: var(--common_app_color_black_transparent2);
	--app_theme_main_shadow_color3: var(--common_app_color_white_transparent);
	--app_theme_main_shadow_color4: var(--common_app_color_white);
	--app_theme_main_select_color: var(--common_app_color_white2);
	--app_theme_main_select_color2: var(--common_app_color_green);
	--app_theme_main_select_color3: var(--common_app_color_blue1);
	--app_theme_main_select_color4: var(--common_app_color_black);
	--app_theme_main_border_color: var(--common_app_color_white2);
	--app_theme_main_border_color2: var(--common_app_color_blue2);
	--app_theme_main_border_color3: var(--common_app_color_white1);
	--app_theme_main_gradient_color1: var(--common_app_color_white);

	/*entities*/
	--app_theme_animation_box_shadow_color: var(--app_theme_main_shadow_color4);
	--app_theme_checked_background_color: var(--app_theme_main_branding_color1);
	--app_theme_unchecked_background_color: var(--app_theme_main_branding_color8);
	--app_theme_star_background_color:var(--app_theme_main_branding_color10);
	--app_theme_star_shadow_color:var(--app_theme_main_branding_color10);
	--app_theme_button_color: var(--app_theme_main_branding_color11);
	--app_theme_shadow_color: var(--app_theme_main_branding_color10);
	--common_app_icon_toogle_crater_background_color:var(--app_theme_main_branding_color9);
	--common_app_icon_toogle_crater1_background_color:var(--app_theme_main_branding_color12);

	--app_theme_text_color: var(--app_theme_main_branding_color4);
	--app_theme_background_color: var(--app_theme_main_branding_color1);
	--app_theme_background_color2: var(--app_theme_main_branding_color5);
	--app_theme_dialogue_background_color: var(--app_theme_main_branding_color3);
	--app_theme_dialogue_boxshadow_color1:var(--app_theme_main_shadow_color1);
	--app_theme_dialogue_boxshadow_color2:var(--app_theme_main_shadow_color2);
	--app_theme_dialogue_boxshadow_active_color:var(--app_theme_main_shadow_color3);
	--app_theme_input_border_color:var(--app_theme_main_branding_color2);
	--app_theme_hover_color: var(--app_theme_main_select_color2);

	--app_theme_a_color:var(--app_theme_main_branding_color1);

	--app_theme_list_scrollbar_color1: var(--app_theme_main_branding_color2);
    --app_theme_list_scrollbar_color2: var(--app_theme_main_branding_color5);
    --app_theme_menu_selected_hover_background_color: var(--app_theme_main_select_color);
	--app_theme_menu_selected_hover_color: var(--app_theme_main_select_color4);
	--app_theme_clouds_background_color:var(--app_theme_main_branding_color3);
	--app_theme_clouds_gradient_color1:var(--app_theme_main_gradient_color1);
	--app_theme_clouds_gradient_color2:var(--app_theme_main_gradient_color1);
	--app_theme_clouds_gradient_color3:var(--app_theme_main_branding_color3);
	--app_theme_clouds_shadow_color:var(--app_theme_main_shadow_color3);
	--app_theme_sun_color:var(--app_theme_main_branding_color7);
	--app_theme_sun_shadow_color:var(--app_theme_main_shadow_color4);
	--app_theme_moon_color:var(--app_theme_main_branding_color9);
	--app_theme_moon_shadow_color:var(--app_theme_main_shadow_color4);
	--app_theme_dialogue_button_color:var(--app_theme_main_branding_color1);
	--app_theme_toolbar_button_color:var(--app_theme_main_branding_color1);
	--app_theme_common_window_background_color: var(--app_theme_main_branding_color10);
	--app_theme_input_error_color:var(--app_theme_main_select_color3);
	--app_theme_switch_button_color:var(--app_theme_main_branding_color3);
    --app_theme_switch_checked_background_color:var(--app_theme_main_branding_color2);
    --app_theme_switch_unchecked_background_color:var(--app_theme_background_color2);
    --app_theme_switch_boxshadow_color:var(--app_theme_main_shadow_color1);
	--app_theme_online_status_online_color: var(--app_theme_main_select_color2);
    --app_theme_online_status_offline_color: var(--app_theme_main_select_color3);
	--app_theme_list_selected_background_color: var(--app_theme_main_select_color);	

	--app_theme_spinner_background_color:var(--app_theme_main_branding_color1);
}
.app_theme_moon{

	--app_theme_main_branding_color1: var(--common_app_color_dark);
	--app_theme_main_branding_color2: var(--common_app_color_blue2);
	--app_theme_main_branding_color3: var(--common_app_color_dark2);
	--app_theme_main_branding_color4: var(--common_app_color_white4);
	--app_theme_main_branding_color5: var(--common_app_color_white2);
	--app_theme_main_branding_color6: var(--common_app_color_gold);
	--app_theme_main_branding_color7: var(--common_app_color_yellow);
	--app_theme_main_branding_color8: var(--common_app_color_dark);
	--app_theme_main_branding_color9: var(--common_app_color_light);
	--app_theme_main_branding_color10: var(--common_app_color_white);
	--app_theme_main_branding_color11: var(--common_app_color_lightgreen);
	--app_theme_main_branding_color12: var(--common_app_color_lightyellow);
	

	--app_theme_main_shadow_color1: var(--common_app_color_black_transparent1);
	--app_theme_main_shadow_color2: var(--common_app_color_black_transparent2);
	--app_theme_main_shadow_color3: var(--common_app_color_white_transparent);
	--app_theme_main_shadow_color4: var(--common_app_color_white);
	--app_theme_main_select_color: var(--common_app_color_white2);
	--app_theme_main_select_color2: var(--common_app_color_green);
	--app_theme_main_select_color3: var(--common_app_color_dark);
	--app_theme_main_select_color4: var(--common_app_color_dark2);
	--app_theme_main_border_color: var(--common_app_color_white2);
	--app_theme_main_border_color2: var(--common_app_color_blue2);
	--app_theme_main_border_color3: var(--common_app_color_white1);
	--app_theme_main_gradient_color1: var(--common_app_color_white);

	/*entities*/
	--app_theme_animation_box_shadow_color: var(--app_theme_main_shadow_color4);
	--app_theme_checked_background_color: var(--app_theme_main_branding_color1);
	--app_theme_unchecked_background_color: var(--app_theme_main_branding_color8);
	--app_theme_star_background_color:var(--app_theme_main_branding_color10);
	--app_theme_star_shadow_color:var(--app_theme_main_branding_color10);
	--app_theme_button_color: var(--app_theme_main_branding_color9);
	--app_theme_shadow_color: var(--app_theme_main_branding_color10);
	--app_theme_crater_background_color:var(--app_theme_main_branding_color9);
	--app_theme_crater1_background_color:var(--app_theme_main_branding_color12);

	--app_theme_text_color: var(--app_theme_main_branding_color4);
	--app_theme_background_color: var(--app_theme_main_branding_color1);
	--app_theme_background_color2: var(--app_theme_main_branding_color5);
	--app_theme_dialogue_background_color: var(--app_theme_main_branding_color3);
	--app_theme_dialogue_boxshadow_color1:var(--app_theme_main_shadow_color1);
	--app_theme_dialogue_boxshadow_color2:var(--app_theme_main_shadow_color2);
	--app_theme_dialogue_boxshadow_active_color:var(--app_theme_main_shadow_color3);
	--app_theme_input_border_color:var(--app_theme_main_branding_color2);
	--app_theme_hover_color: var(--app_theme_main_select_color2);

	--app_theme_a_color:var(--app_theme_main_branding_color6);

	--app_theme_list_scrollbar_color1: var(--app_theme_main_branding_color2);
    --app_theme_list_scrollbar_color2: var(--app_theme_main_branding_color5);
    --app_theme_menu_selected_hover_background_color: var(--app_theme_main_select_color);
	--app_theme_menu_selected_hover_color: var(--app_theme_main_select_color4);
	--app_theme_clouds_background_color:var(--app_theme_main_gradient_color1);
	--app_theme_clouds_gradient_color1:var(--app_theme_main_gradient_color1);
	--app_theme_clouds_gradient_color2:var(--app_theme_main_gradient_color1);
	--app_theme_clouds_gradient_color3:var(--app_theme_main_branding_color3);
	--app_theme_clouds_shadow_color:var(--app_theme_main_shadow_color3);
	--app_theme_sun_color:var(--app_theme_main_branding_color7);
	--app_theme_sun_shadow_color:var(--app_theme_main_shadow_color4);
	--app_theme_moon_color:var(--app_theme_main_branding_color9);
	--app_theme_moon_shadow_color:var(--app_theme_main_shadow_color4);
	--app_theme_dialogue_button_color:var(--app_theme_main_branding_color6);
	--app_theme_toolbar_button_color:var(--app_theme_main_branding_color6);
	--app_theme_common_window_background_color: var(--app_theme_main_branding_color10);
	--app_theme_input_error_color:var(--app_theme_main_select_color3);
	--app_theme_switch_button_color:var(--app_theme_main_branding_color6);
    --app_theme_switch_checked_background_color:var(--app_theme_main_branding_color1);
    --app_theme_switch_unchecked_background_color:var(--app_theme_background_color2);
    --app_theme_switch_boxshadow_color:var(--app_theme_main_shadow_color1);
	--app_theme_online_status_online_color: var(--app_theme_main_select_color2);
	--app_theme_online_status_offline_color: var(--app_theme_main_select_color3);
	--app_theme_list_selected_background_color: var(--app_theme_main_select_color);

	--app_theme_spinner_background_color:var(--app_theme_main_branding_color1);
}
/*TOGGLE*/
@keyframes travel {
	0% {
	  transform: rotate(-45deg) translateX(70px);
	}
	50% {
	  transform: rotate(-45deg) translateX(-20px);
	  box-shadow: 5px 0px 6px 1px var(--app_theme_animation_box_shadow_color);
	}
	100% {
	  transform: rotate(-45deg) translateX(-30px);
	  width: 2px;
	  height: 2px;
	  opacity: 0;
	  box-shadow: none;
	}
}
.crater {
	background: var(--common_app_icon_toogle_crater_background_color);
}
.crater-1 {
	background: var(--common_app_icon_toogle_crater1_background_color);
}
/*theme sun toggle fixes*/
.app_theme_sun #app_theme_checkbox.toggle {
	background: var(--app_theme_checked_background_color);
  }
.app_theme_sun #app_theme_checkbox.toggle .toggle-button {
	background: var(--app_theme_button_color);
	box-shadow: 0 0 35px 5px var(--app_theme_shadow_color);
}
.app_theme_sun #app_theme_checkbox.toggle .star-1,
.app_theme_sun #app_theme_checkbox.toggle .star-5 {
	background: var(--app_theme_star_background_color);
}
.app_theme_sun #app_theme_checkbox.toggle .star-2,
.app_theme_sun #app_theme_checkbox.toggle .star-3,
.app_theme_sun #app_theme_checkbox.toggle .star-4,
.app_theme_sun #app_theme_checkbox.toggle .star-6,
.app_theme_sun #app_theme_checkbox.toggle .star-7,
.app_theme_sun #app_theme_checkbox.toggle .star-8 {
	background: var(--app_theme_star_background_color);
	box-shadow: -1px 0 2px 0 rgba(0, 0 , 0, 0.1);
}
.app_theme_sun .star-6, 
.app_theme_sun .star-7, 
.app_theme_sun .star-8 {
	box-shadow: 5px 0px 4px 1px var(--app_theme_star_shadow_color);
}
/*theme moon toggle fixes*/
.app_theme_moon .toggle {
	background: var(--app_theme_unchecked_background_color);
}
.app_theme_moon .toggle-button {
	background: var(--app_theme_button_color);  
	box-shadow: 0 0 35px 4px var(--app_theme_shadow_color);
}
.app_theme_moon .star {
	background: var(--app_theme_star_background_color);
	box-shadow: 1px 0 2px 2px var(--app_theme_shadow_color);
}
/*app colors*/
body{
	color: var(--app_theme_text_color);
	background: var(--app_theme_background_color);
	caret-color: var(--app_theme_text_color);
}
#common_dialogue_apps_list_title{
	background: var(--app_theme_background_color);
	color: var(--common_app_color_white1);
}
#common_dialogue_apps_list, #common_dialogue_info_app_menu_content_apps_list{
	scrollbar-color: var(--app_theme_list_scrollbar_color1) var(--app_theme_list_scrollbar_color2);
}
/*background*/
.cloud {
	background: var(--app_theme_clouds_background_color);
	background: linear-gradient(var(--app_theme_clouds_gradient_color1),  var(--app_theme_clouds_gradient_color2) 5%,var(--app_theme_clouds_gradient_color3) 100%);
	box-shadow: 0 3px 5px var(--app_theme_clouds_shadow_color);	
}
.cloud:after, .cloud:before {
background: var(--app_theme_clouds_background_color);
}
.cloud:hover, .cloud:active{
box-shadow: 0 0 35px 4px var(--app_theme_clouds_shadow_color);
}
.sun {
box-shadow: 0 0 35px 4px var(--app_theme_sun_shadow_color);
background-color: var(--app_theme_sun_color);
}
.moon {
background: var(--app_theme_moon_color);
box-shadow: 0 0 35px 4px var(--app_theme_moon_shadow_color);
}
.ray {
border-left: 12px solid var(--app_theme_sun_color);
}

/*app other theme css*/
.app_theme_sun .sunholder{
	display:inline-block;
}
.app_theme_sun .moon{
	display:none;
}
.app_theme_moon .sunholder{
	display:none;
}
.app_theme_moon .moon{
	display:inline-block;	
}
#app_profile_toolbar >.css_spinner::before,
#app >.css_spinner::before{
	background-color:var(--app_theme_spinner_background_color);
}
/*THEME COMMON*/
#common_profile_search >.css_spinner::before{
	background-color:var(--app_theme_spinner_background_color);
}
.common_list_row_selected{
	background-color: var(--app_theme_list_selected_background_color);
}
.common_toolbar_selected{
	background-color: var(--app_theme_list_selected_background_color) !important;
}
#common_toolbar_framework {
    color: var(--app_theme_main_branding_color1);
    background-color: var(--app_theme_main_branding_color3);
    box-shadow: 0px -3px 3px var(--app_theme_dialogue_boxshadow_color1);
}
#common_dialogue_iam_edit_btn_avatar_img{
	background-color: var(--app_theme_dialogue_background_color);
}
.common_link{
	color:var(--app_theme_a_color);
}
.common_input{
	background-color: var(--app_theme_dialogue_background_color);
}
.common_link:hover,
.common_link:active{
	color:var(--app_theme_hover_color);
}
.common_dialogue_button{
	color: var(--app_theme_dialogue_button_color) !important;
}
.common_dialogue_button:hover, .common_dialogue_button:active,
.common_toolbar_button:hover, .common_toolbar_button:active{
	color:var(--app_theme_hover_color) !important;
}
.common_toolbar_button{
	color: var(--app_theme_toolbar_button_color) !important;
}
.common_input_error{
	border: 2px solid var(--app_theme_input_error_color) !important;
}
#common_profile_btn_top{
	background-color: var(--app_theme_dialogue_background_color);
	box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_boxshadow_color1),0 6px 20px 0 var(--app_theme_dialogue_boxshadow_color2);
}

.common_switch::before {
	background-color: var(--app_theme_switch_unchecked_background_color);
}
.common_switch::after {
	background-color: var(--app_theme_switch_button_color);
	box-shadow: 0 0 2px var(--app_theme_switch_boxshadow_color);
}  
.common_switch.checked::before {
	background-color: var(--app_theme_switch_checked_background_color);
}
#common_iam_avatar:hover,
#common_iam_avatar:active{
	box-shadow: 0 0 35px 4px var(--app_theme_dialogue_boxshadow_active_color);
}  
#common_iam_avatar,
#common_dialogue_user_menu{
	background-color: var(--app_theme_dialogue_background_color);
	box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_boxshadow_color1),0 6px 20px 0 var(--app_theme_dialogue_boxshadow_color2);
}
#common_dialogue_user_menu_username:hover,
#common_dialogue_user_menu_username:active,
#common_profile_btn_top:hover,
#common_profile_btn_top:active,
#common_dialogue_user_menu_logged_in div:hover,
#common_dialogue_user_menu_logged_in div:active,
#common_dialogue_user_menu_logged_out div:hover,
#common_dialogue_user_menu_logged_out div:active{
	background-color:var(--app_theme_menu_selected_hover_background_color);
	color: var(--app_theme_menu_selected_hover_color);
}
#common_window_info{
	background-color:var(--app_theme_common_window_background_color);
}
#common_profile_search_input, 
#common_dialogue_iam_start .common_input,
.common_password_new_input{
	border: 1px solid var(--app_theme_input_border_color);
}
#common_profile_search_list_wrap{
	border: 1px solid var(--app_theme_input_border_color);
	background-color: var(--app_theme_dialogue_background_color);	
}
#common_profile_avatar_online_status.online{
	color:var(--app_theme_online_status_online_color);
}
#common_profile_avatar_online_status.offline{
	color:var(--app_theme_online_status_offline_color);
}
.common_profile_btn_selected{
	background-color: var(--app_theme_list_selected_background_color);
}
.common_dialogue_iam_start_selected {
	background-color: var(--app_theme_list_selected_background_color);	
}
#common_dialogue_iam_start #common_dialogue_iam_start_nav>div{
	color: var(--app_theme_dialogue_button_color);
}
#common_dialogue_iam_start #common_dialogue_iam_start_nav>div:hover,
#common_dialogue_iam_start #common_dialogue_iam_start_nav:active{
	color:var(--app_theme_hover_color);
}
#common_dialogue_iam_start .common_login_button{
	color: var(--app_theme_dialogue_button_color);
}
#common_dialogue_iam_start .common_login_button:hover,
#common_dialogue_iam_start .common_login_button:active{
	background-color:var(--app_theme_hover_color) !important;
}
.common_list_scrollbar{
	scrollbar-color: var(--app_theme_list_scrollbar_color1) var(--app_theme_list_scrollbar_color2);
}
.common_dialogue_content{
	background-color: var(--app_theme_dialogue_background_color);
	box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_boxshadow_color1),0 6px 20px 0 var(--app_theme_dialogue_boxshadow_color2);
}
.common_like {
    color: var(--common_app_color_blue1) !important;
}
.common_unlike{
	color: var(--common_app_color_blue1) !important;
}
#common_window_info_toolbar{
	background: var(--app_theme_dialogue_background_color);
	box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_boxshadow_color1),0 6px 20px 0 var(--app_theme_dialogue_boxshadow_color2);
}
#common_window_info{
	background: var(--app_theme_dialogue_background_color);

}
#common_window_info_btn_close .common_icon{
	background: var(--app_theme_dialogue_background_color);
}