/*APP */

body.font_arabic_nastaliq #common_app_iam_user_menu_default_avatar{
	top: -5px;
}
#app > .common_loading_spinner{
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	position: absolute;
}
#common_app_profile{
    display: block !important;
	text-align: center;
}
#apps{
    width: 350px;
    z-index: 1;
    position: absolute;
    transform: translate(-50%, -50%);
    height: calc(100% - 200px);
    inset-inline-start: 50%;
    top: 50%;
	overflow: hidden;
	padding: unset;
}
#apps_list{
	font-size: 0.7em;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    margin: 2em;
    height: calc(100% - 6em);
}
#apps_list .common_loading_spinner{
    justify-self: center;
    align-self: center;
}
#apps_list_title{
	height: 2em;
    display: grid;
    grid-template-columns: 80% 20%;
}
#apps_list .apps_app_link_row{
	width: 100%;
    display: grid;
    align-content: space-evenly;
}
.apps_app_name{
	font-weight: bold;
	cursor: default;
}
.apps_app_logo:hover, .apps_app_logo:active {
	transform: scale(1.2);
	cursor: pointer;
}
.apps_app_logo{
	margin: 0 auto;
    
}	
.apps_app_logo svg{
    height: 48px !important;
    width: 48px !important;
}
/*COMMON*/
#common_app_toolbar{
	margin-inline-start: 0px !important;
	bottom:0px !important;
	top: unset !important;
}
#common_app_select_theme{
	display:none;
}
#common_app_profile_search_input{
	visibility:visible !important;
}
#common_app_profile_search_list_wrap{
	top:62px;
}
#common_app_profile_toolbar_stat{
	bottom: 0px !important;
}
/*APP THEME*/
.common_theme1{
	/*concept*/
	--app_theme_main_branding_color1: var(--common_app_color_blue1);
	--app_theme_main_branding_color2: var(--common_app_color_blue2);
	--app_theme_main_branding_color3: var(--common_app_color_white1);
	--app_theme_main_branding_color4: var(--common_app_color_black);
	--app_theme_main_branding_color5: var(--common_app_color_white2);
	--app_theme_main_branding_color6: var(--common_app_color_gold);
	--app_theme_main_branding_color7: var(--common_app_color_yellow);
	--app_theme_main_branding_color8: var(--common_app_color_dark);
	--app_theme_main_branding_color9: var(--common_app_color_light);
	--app_theme_main_branding_color10: var(--common_app_color_white);
	--app_theme_main_branding_color11: var(--common_app_color_lightgreen);
	--app_theme_main_branding_color12: var(--common_app_color_lightyellow);
	

	--app_theme_main_shadow_color1: var(--common_app_color_shadow1);
	--app_theme_main_shadow_color2: var(--common_app_color_shadow2);
	--app_theme_main_shadow_color3: var(--common_app_color_white_transparent);
	--app_theme_main_shadow_color4: var(--common_app_color_white);
	--app_theme_main_select_color: var(--common_app_color_white2);
	--app_theme_main_select_color2: var(--common_app_color_green);
	--app_theme_main_select_color3: var(--common_app_color_blue1);
	--app_theme_main_select_color4: var(--common_app_color_black);
	--app_theme_main_border_color: var(--common_app_color_white2);
	--app_theme_main_border_color2: var(--common_app_color_blue2);
	--app_theme_main_border_color3: var(--common_app_color_white1);
	--app_theme_main_gradient_color1: var(--common_app_color_white);

	/*entities*/
	--app_theme_animation_box_shadow_color: var(--app_theme_main_shadow_color4);
	--app_theme_checked_background_color: var(--app_theme_main_branding_color1);
	--app_theme_unchecked_background_color: var(--app_theme_main_branding_color8);
	--app_theme_star_background_color:var(--app_theme_main_branding_color10);
	--app_theme_star_shadow_color:var(--app_theme_main_branding_color10);
	--app_theme_button_color: var(--app_theme_main_branding_color11);
	--app_theme_shadow_color: var(--app_theme_main_branding_color10);
	--app_theme_crater_background_color:var(--app_theme_main_branding_color9);
	--app_theme_crater1_background_color:var(--app_theme_main_branding_color12);

	--app_theme_text_color: var(--app_theme_main_branding_color4);
	--app_theme_background_color: var(--app_theme_main_branding_color1);
	--app_theme_background_color2: var(--app_theme_main_branding_color5);
	--app_theme_dialogue_background_color: var(--app_theme_main_branding_color3);
	--app_theme_dialogue_boxshadow_color1:var(--app_theme_main_shadow_color1);
	--app_theme_dialogue_boxshadow_color2:var(--app_theme_main_shadow_color2);
	--app_theme_dialogue_boxshadow_active_color:var(--app_theme_main_shadow_color3);
	--app_theme_input_border_color:var(--app_theme_main_branding_color2);
	--app_theme_hover_color: var(--app_theme_main_select_color2);

	--app_theme_a_color:var(--app_theme_main_branding_color1);

	--app_theme_list_scrollbar_color1: var(--app_theme_main_branding_color2);
    --app_theme_list_scrollbar_color2: var(--app_theme_main_branding_color5);
    --app_theme_menu_selected_hover_background_color: var(--app_theme_main_select_color);
	--app_theme_menu_selected_hover_color: var(--app_theme_main_select_color4);
	--app_theme_dark_color:var(--app_theme_main_branding_color9);
	--app_theme_dark_shadow_color:var(--app_theme_main_shadow_color4);
	--app_theme_dialogue_button_color:var(--app_theme_main_branding_color1);
	--app_theme_toolbar_button_color:var(--app_theme_main_branding_color1);
	--app_theme_common_window_background_color: var(--app_theme_main_branding_color10);
	--app_theme_input_error_color:var(--app_theme_main_select_color3);
	--app_theme_switch_button_color:var(--app_theme_main_branding_color3);
    --app_theme_switch_checked_background_color:var(--app_theme_main_branding_color2);
    --app_theme_switch_unchecked_background_color:var(--app_theme_background_color2);
    --app_theme_switch_boxshadow_color:var(--app_theme_main_shadow_color1);
	--app_theme_online_status_online_color: var(--app_theme_main_select_color2);
    --app_theme_online_status_offline_color: var(--app_theme_main_select_color3);
	--app_theme_list_selected_background_color: var(--app_theme_main_select_color);	

	--app_theme_spinner_background_color:var(--app_theme_main_branding_color1);
}
.common_theme2{
    /*concept*/
	--app_theme_main_branding_color1: var(--common_app_color_dark);
	--app_theme_main_branding_color2: var(--common_app_color_blue2);
	--app_theme_main_branding_color3: var(--common_app_color_dark2);
	--app_theme_main_branding_color4: var(--common_app_color_white4);
	--app_theme_main_branding_color5: var(--common_app_color_white2);
	--app_theme_main_branding_color6: var(--common_app_color_gold);
	--app_theme_main_branding_color7: var(--common_app_color_yellow);
	--app_theme_main_branding_color8: var(--common_app_color_dark);
	--app_theme_main_branding_color9: var(--common_app_color_light);
	--app_theme_main_branding_color10: var(--common_app_color_white);
	--app_theme_main_branding_color11: var(--common_app_color_lightgreen);
	--app_theme_main_branding_color12: var(--common_app_color_lightyellow);

	--app_theme_main_shadow_color1: var(--common_app_color_shadow1);
	--app_theme_main_shadow_color2: var(--common_app_color_shadow2);
	--app_theme_main_shadow_color3: var(--common_app_color_white_transparent);
	--app_theme_main_shadow_color4: var(--common_app_color_white);
	--app_theme_main_select_color: var(--common_app_color_white2);
	--app_theme_main_select_color2: var(--common_app_color_green);
	--app_theme_main_select_color3: var(--common_app_color_dark);
	--app_theme_main_select_color4: var(--common_app_color_dark2);
	--app_theme_main_border_color: var(--common_app_color_white2);
	--app_theme_main_border_color2: var(--common_app_color_blue2);
	--app_theme_main_border_color3: var(--common_app_color_white1);
	--app_theme_main_gradient_color1: var(--common_app_color_white);

	/*entities*/
	--app_theme_animation_box_shadow_color: var(--app_theme_main_shadow_color4);
	--app_theme_checked_background_color: var(--app_theme_main_branding_color1);
	--app_theme_unchecked_background_color: var(--app_theme_main_branding_color8);
	--app_theme_star_background_color:var(--app_theme_main_branding_color10);
	--app_theme_star_shadow_color:var(--app_theme_main_branding_color10);
	--app_theme_button_color: var(--app_theme_main_branding_color9);
	--app_theme_shadow_color: var(--app_theme_main_branding_color10);
	--app_theme_crater_background_color:var(--app_theme_main_branding_color9);
	--app_theme_crater1_background_color:var(--app_theme_main_branding_color12);

	--app_theme_text_color: var(--app_theme_main_branding_color4);
	--app_theme_background_color: var(--app_theme_main_branding_color1);
	--app_theme_background_color2: var(--app_theme_main_branding_color5);
	--app_theme_dialogue_background_color: var(--app_theme_main_branding_color3);
	--app_theme_dialogue_boxshadow_color1:var(--app_theme_main_shadow_color1);
	--app_theme_dialogue_boxshadow_color2:var(--app_theme_main_shadow_color2);
	--app_theme_dialogue_boxshadow_active_color:var(--app_theme_main_shadow_color3);
	--app_theme_input_border_color:var(--app_theme_main_branding_color2);
	--app_theme_hover_color: var(--app_theme_main_select_color2);

	--app_theme_a_color:var(--app_theme_main_branding_color6);

	--app_theme_list_scrollbar_color1: var(--app_theme_main_branding_color2);
    --app_theme_list_scrollbar_color2: var(--app_theme_main_branding_color5);
    --app_theme_menu_selected_hover_background_color: var(--app_theme_main_select_color);
	--app_theme_menu_selected_hover_color: var(--app_theme_main_select_color4);
	--app_theme_dark_color:var(--app_theme_main_branding_color9);
	--app_theme_dark_shadow_color:var(--app_theme_main_shadow_color4);
	--app_theme_dialogue_button_color:var(--app_theme_main_branding_color6);
	--app_theme_toolbar_button_color:var(--app_theme_main_branding_color6);
	--app_theme_common_window_background_color: var(--app_theme_main_branding_color10);
	--app_theme_input_error_color:var(--app_theme_main_select_color3);
	--app_theme_switch_button_color:var(--app_theme_main_branding_color6);
    --app_theme_switch_checked_background_color:var(--app_theme_main_branding_color1);
    --app_theme_switch_unchecked_background_color:var(--app_theme_background_color2);
    --app_theme_switch_boxshadow_color:var(--app_theme_main_shadow_color1);
	--app_theme_online_status_online_color: var(--app_theme_main_select_color2);
	--app_theme_online_status_offline_color: var(--app_theme_main_select_color3);
	--app_theme_list_selected_background_color: var(--app_theme_main_select_color);

	--app_theme_spinner_background_color:var(--app_theme_main_branding_color1);
}
.common_theme3{
    /*concept*/
	--app_theme_main_branding_color1: var(--common_app_color_cafe_latte);
	--app_theme_main_branding_color2: var(--common_app_color_cafe_latte2);
	--app_theme_main_branding_color3: var(--common_app_color_cafe_latte3);
	--app_theme_main_branding_color4: var(--common_app_color_white4);
	--app_theme_main_branding_color5: var(--common_app_color_white2);
	--app_theme_main_branding_color6: var(--common_app_color_gold);
	--app_theme_main_branding_color7: var(--common_app_color_yellow);
	--app_theme_main_branding_color8: var(--common_app_color_dark);
	--app_theme_main_branding_color9: var(--common_app_color_light);
	--app_theme_main_branding_color10: var(--common_app_color_white);
	--app_theme_main_branding_color11: var(--common_app_color_lightgreen);
	--app_theme_main_branding_color12: var(--common_app_color_lightyellow);
	

	--app_theme_main_shadow_color1: var(--common_app_color_shadow1);
	--app_theme_main_shadow_color2: var(--common_app_color_shadow2);
	--app_theme_main_shadow_color3: var(--common_app_color_white_transparent);
	--app_theme_main_shadow_color4: var(--common_app_color_white);
	--app_theme_main_select_color: var(--common_app_color_white2);
	--app_theme_main_select_color2: var(--common_app_color_green);
	--app_theme_main_select_color3: var(--common_app_color_dark2);
	--app_theme_main_select_color4: var(--common_app_color_dark);
	--app_theme_main_border_color: var(--common_app_color_white2);
	--app_theme_main_border_color2: var(--common_app_color_blue2);
	--app_theme_main_border_color3: var(--common_app_color_white1);
	--app_theme_main_gradient_color1: var(--common_app_color_white);

	/*entities*/
	--app_theme_animation_box_shadow_color: var(--app_theme_main_shadow_color4);
	--app_theme_checked_background_color: var(--app_theme_main_branding_color1);
	--app_theme_unchecked_background_color: var(--app_theme_main_branding_color8);
	--app_theme_star_background_color:var(--app_theme_main_branding_color10);
	--app_theme_star_shadow_color:var(--app_theme_main_branding_color10);
	--app_theme_button_color: var(--app_theme_main_branding_color9);
	--app_theme_shadow_color: var(--app_theme_main_branding_color10);
	--app_theme_crater_background_color:var(--app_theme_main_branding_color9);
	--app_theme_crater1_background_color:var(--app_theme_main_branding_color12);

	--app_theme_text_color: var(--app_theme_main_branding_color4);
	--app_theme_background_color: var(--app_theme_main_branding_color1);
	--app_theme_background_color2: var(--app_theme_main_branding_color5);
	--app_theme_dialogue_background_color: var(--app_theme_main_branding_color2);
	--app_theme_dialogue_boxshadow_color1:var(--app_theme_main_shadow_color1);
	--app_theme_dialogue_boxshadow_color2:var(--app_theme_main_shadow_color2);
	--app_theme_dialogue_boxshadow_active_color:var(--app_theme_main_shadow_color3);
	--app_theme_input_border_color:var(--app_theme_main_branding_color2);
	--app_theme_hover_color: var(--app_theme_main_select_color2);

	--app_theme_a_color:var(--app_theme_main_branding_color6);

	--app_theme_list_scrollbar_color1: var(--app_theme_main_branding_color2);
    --app_theme_list_scrollbar_color2: var(--app_theme_main_branding_color5);
    --app_theme_menu_selected_hover_background_color: var(--app_theme_main_select_color);
	--app_theme_menu_selected_hover_color: var(--app_theme_main_select_color4);
	--app_theme_dark_color:var(--app_theme_main_branding_color9);
	--app_theme_dark_shadow_color:var(--app_theme_main_shadow_color4);
	--app_theme_dialogue_button_color:var(--app_theme_main_branding_color6);
	--app_theme_toolbar_button_color:var(--app_theme_main_branding_color6);
	--app_theme_common_window_background_color: var(--app_theme_main_branding_color10);
	--app_theme_input_error_color:var(--app_theme_main_select_color3);
	--app_theme_switch_button_color:var(--app_theme_main_branding_color6);
    --app_theme_switch_checked_background_color:var(--app_theme_main_branding_color1);
    --app_theme_switch_unchecked_background_color:var(--app_theme_background_color2);
    --app_theme_switch_boxshadow_color:var(--app_theme_main_shadow_color1);
	--app_theme_online_status_online_color: var(--app_theme_main_select_color2);
	--app_theme_online_status_offline_color: var(--app_theme_main_select_color3);
	--app_theme_list_selected_background_color: var(--app_theme_main_select_color);

	--app_theme_spinner_background_color:var(--app_theme_main_branding_color1);
}
/*app colors*/
body{
	color: var(--app_theme_text_color) !important;
	background: var(--app_theme_background_color) !important;
	caret-color: var(--app_theme_text_color);
}
/*app other theme css*/
#common_app_profile_toolbar >.common_loading_spinner::before,
#app >.common_loading_spinner::before{
	background-color:var(--app_theme_spinner_background_color);
}
#apps_list_title{
	background: var(--app_theme_background_color);
	color: var(--common_app_color_white1);
}
#apps_list_title_col_info{
	background: var(--app_theme_background_color);
	color: var(--app_theme_dialogue_background_color);
}
#apps_list{
	scrollbar-color: var(--app_theme_list_scrollbar_color1) var(--app_theme_list_scrollbar_color2);
}
/*THEME COMMON*/
#common_app_dialogues_user_menu_messages{
    border: var(--app_theme_main_branding_color2) solid 0.5px;
}
#common_app_profile_search >.common_loading_spinner::before{
	background-color:var(--app_theme_spinner_background_color);
}
.common_row_selected{
	background-color: var(--app_theme_list_selected_background_color);
}
.common_toolbar_selected{
	background-color: var(--app_theme_list_selected_background_color) !important;
}
#common_app_toolbar {
    color: var(--app_theme_main_branding_color1);
    background-color: var(--app_theme_main_branding_color3);
    box-shadow: 0px -3px 3px var(--app_theme_dialogue_boxshadow_color1);
}
.common_link{
	color:var(--app_theme_a_color);
}
.common_input{
	background-color: var(--app_theme_dialogue_background_color);
}
.common_link:hover,
.common_link:active{
	color:var(--app_theme_hover_color);
}
.common_select,
.common_select_options{
    background-color: var(--app_theme_main_branding_color3);
    color: var(--app_theme_main_branding_color1);
}
.common_app_dialogues_button{
	color: var(--app_theme_dialogue_button_color) !important;
}
.common_app_dialogues_button:hover, .common_app_dialogues_button:active,
.common_toolbar_button:hover, .common_toolbar_button:active{
	color:var(--app_theme_hover_color) !important;
}
.common_toolbar_button{
    background-color: var(--app_theme_dialogue_background_color);
	color: var(--app_theme_toolbar_button_color) !important;
}
.common_input_error{
	border: 2px solid var(--app_theme_input_error_color) !important;
}
#common_app_profile_toolbar_stat{
	box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_boxshadow_color1),0 6px 20px 0 var(--app_theme_dialogue_boxshadow_color2);
}

.common_switch::before {
	background-color: var(--app_theme_switch_unchecked_background_color);
}
.common_switch::after {
	background-color: var(--app_theme_switch_button_color);
	box-shadow: 0 0 2px var(--app_theme_switch_boxshadow_color);
}  
.common_switch.checked::before {
	background-color: var(--app_theme_switch_checked_background_color);
}
#common_app_iam_user_menu:hover,
#common_app_iam_user_menu:active{
	box-shadow: 0 0 35px 4px var(--app_theme_dialogue_boxshadow_active_color);
}  
#common_app_iam_user_menu_avatar_img, 
#common_app_iam_user_menu_default_avatar,
#common_app_dialogues_user_menu{
	background-color: var(--app_theme_dialogue_background_color);
	box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_boxshadow_color1),0 6px 20px 0 var(--app_theme_dialogue_boxshadow_color2);
}
#common_app_dialogues_user_menu_username:hover,
#common_app_dialogues_user_menu_username:active,
#common_app_profile_toolbar_stat:hover,
#common_app_profile_toolbar_stat:active,
#common_app_dialogues_user_menu_logged_in div:hover,
#common_app_dialogues_user_menu_logged_in div:active,
#common_app_dialogues_user_menu_logged_out div:hover,
#common_app_dialogues_user_menu_logged_out div:active{
	background-color:var(--app_theme_menu_selected_hover_background_color);
	color: var(--app_theme_menu_selected_hover_color);
}
#common_app_window_info{
	background-color:var(--app_theme_common_window_background_color);
}
#common_app_profile_search_input, 
#common_app_dialogues_iam_start .common_input,
.common_password_new_input{
	border: 1px solid var(--app_theme_input_border_color);
}
#common_app_profile_search_list_wrap{
	border: 1px solid var(--app_theme_input_border_color);
	background-color: var(--app_theme_dialogue_background_color);	
}
#common_app_dialogues_profile_info_avatar_online_status.common_online{
	color:var(--app_theme_online_status_online_color);
}
#common_app_dialogues_profile_info_avatar_online_status.common_offline{
	color:var(--app_theme_online_status_offline_color);
}
.common_app_dialogues_profile_btn_selected{
	background-color: var(--app_theme_list_selected_background_color);
}
.common_app_dialogues_iam_start_selected {
	background-color: var(--app_theme_list_selected_background_color);	
}
#common_app_dialogues_iam_start #common_app_dialogues_iam_start_nav>div{
	color: var(--app_theme_dialogue_button_color);
}
#common_app_dialogues_user_menu_nav>div:hover,
#common_app_dialogues_user_menu_nav>div:active,
#common_app_dialogues_iam_start #common_app_dialogues_iam_start_nav>div:hover,
#common_app_dialogues_iam_start #common_app_dialogues_iam_start_nav:active{
	color:var(--app_theme_hover_color);
}
#common_app_dialogues_iam_start .common_login_button{
	color: var(--app_theme_dialogue_button_color);
}
#common_app_dialogues_iam_start .common_login_button:hover,
#common_app_dialogues_iam_start .common_login_button:active{
	background-color:var(--app_theme_hover_color) !important;
}
.common_list_scrollbar{
	scrollbar-color: var(--app_theme_list_scrollbar_color1) var(--app_theme_list_scrollbar_color2);
}
.common_app_dialogues_content{
	background-color: var(--app_theme_dialogue_background_color);
	box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_boxshadow_color1),0 6px 20px 0 var(--app_theme_dialogue_boxshadow_color2);
}
.common_like {
    color: var(--common_app_color_blue1) !important;
}
.common_unlike{
	color: var(--common_app_color_blue1) !important;
}
#common_app_window_info_toolbar{
	background: var(--app_theme_dialogue_background_color);
	box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_boxshadow_color1),0 6px 20px 0 var(--app_theme_dialogue_boxshadow_color2);
}
#common_app_window_info{
	background: var(--app_theme_dialogue_background_color);
}
#common_app_window_info_toolbar_btn_close .common_icon{
	background: var(--app_theme_dialogue_background_color);
}
#common_app_dialogues_info_contact_message_title{
    color: var(--app_theme_dialogue_button_color) !important;
}