body{
    background: inherit !important;
}
/*APP*/
#tab1::before{content:var(--common_app_icon_chart)}
#tab2::before{content:var(--common_app_icon_user)}
#tab3::before{content:var(--common_app_icon_info)}

html, body, #app {
	height:100%;
}
body {
	text-align: center;
	overflow: hidden;
}
#app_root{
	height:100%;
}
#app_top, #app_bottom{
	display: flex;
	justify-content: space-between;
	height: 60px;
	width: 100%;
}
#app_top_logo{
	background-size: contain;
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-inline-start: 5px;
}
#app_main{
	height: calc(100% - 120px);
}
#app_main_page{
	height: 100%;
}
#app_page_secure{
	height: 85%;
}
#app_page_start_divs{
	height: 90%;
	display: grid;
	justify-content: center;
	align-content: center;
}
.app_page_start_divs_row{
	width: 100%;
	display: block;
	margin:0.1em;
}
.app_page_start_bank_div{
	height: 2.5em;
	width: 10em;
	cursor:pointer;
	font-size: 0.7em;
	padding-top: 3em !important;
	margin: 0.2em;
}
.app_bank_div {
	padding: 2em;
	display:inline-block;
	border-radius: var(--common_app_css_border_radius);
	transition-duration: .3s;
    transition-property: box-shadow;
	vertical-align: middle;
}

.app_page_secure_tab{
	padding: 0.25em;
	width: 2em;
	cursor: pointer;
	border-top-left-radius:4px;
	border-top-right-radius:4px;
}
#app_page_secure_tab_content{
	
	overflow-x: auto;
	max-height: 100%;
	max-width: 80%;
	min-width: 80%;
	position: relative;
}
#app_page_secure_tab_content.common_loading_spinner{
	padding: unset !important;
	min-width: unset !important;
}
#app_page_secure_tab_content .common_app_data_display_detail_horizontal_row_title.bank_statement,
#app_page_secure_tab_content .common_app_data_display_detail_horizontal_row.bank_statement {
	grid-template-columns: 14em 5em minmax(20em, 20em) minmax(10em, 10em) minmax(10em, 10em) !important
}
.bank_statement{
	font-size: 0.7em;
}
/*RESPONSIVE SETTINGS*/
/*CSS for minimum 768px*/
@media only screen and (min-width: 768px) {
	.app_page_start_bank_div{
		font-size: 1em;
	}
}
/*COMMON*/
#common_app_iam_user_menu{
	transition-duration: .3s;
    transition-property: box-shadow;
}
.common_app_data_display_master{
	font-size:unset !important;
}
.common_app_data_display_buttons{
	position: unset !important;
}
#common_app_dialogues_profile_input_row,
#common_app_profile_search_list_wrap{
	visibility: hidden;
}
#common_app_window_info_content{
	display: none;
}
#common_app_window_info{
	z-index: 0 !important;
	display:grid;
}
#common_app_window_info_info{
	position:relative;
	margin:20px;
	margin-top:-70px;
}
#common_app_toolbar{
    bottom: 0.5em !important;
    top: unset !important;
	position: fixed !important;
}
/*APP THEME*/
body {
	--common_app_color_spinner:var(--common_app_color_gold);
	--common_app_color_background_spinner:var(--common_app_color_white);
	color: var(--common_app_color_gold) !important;
	background: var(--common_app_color_white) !important;
	caret-color: var(--common_app_color_gold) !important;
}
.app_bank_div{
	background-color: var(--common_app_color_blue3);
	box-shadow: 0 0 1px var(--common_app_color_gold);
}
.app_bank_div .common_loading_spinner{
	--common_app_color_background_spinner:var(--common_app_color_blue3);
}
.app_page_start_bank_div:hover,
.app_page_start_bank_div:active{
	box-shadow: 0 10px 10px -10px var(--common_app_color_dark);
}
.app_page_secure_tab{
	color: var(--common_app_color_gold);
	background-color: var(--common_app_color_white);
	box-shadow: 0 0 1px var(--common_app_color_light);
}
.app_page_secure_tab.active{
	color: var(--common_app_color_gold);
	background-color: var(--common_app_color_blue3);
	box-shadow: 0 0 1px var(--common_app_color_light);
}
#app_page_secure_tab_content:hover, #app_page_secure_tab_content:active {
    box-shadow: 0 10px 10px -10px var(--common_app_color_dark);
}
/* APP THEME COMMON*/
#common_app_iam_user_menu_avatar_img, 
#common_app_iam_user_menu_default_avatar{
    background-color: var(--common_app_color_light);
    box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}
.common_app_data_display_master_col1[data-key=token],
.common_app_data_display_master_col2.common_app_data_display_type_token,
.common_app_data_display_master_col1[data-key=exp],
.common_app_data_display_master_col2.common_app_data_display_type_exp,
.common_app_data_display_master_col1[data-key=iat],
.common_app_data_display_master_col2.common_app_data_display_type_iat,
.common_app_data_display_master_col1[data-key=tokentimestamp],
.common_app_data_display_master_col2.common_app_data_display_type_tokentimestamp,
.common_app_data_display_master_col1[data-key=payment_request_id],
.common_app_data_display_master_col2.common_app_data_display_type_payment_request_id,
.common_app_data_display_master_col1[data-key=currency_symbol],
.common_app_data_display_master_col2.common_app_data_display_type_currency_symbol,
.common_app_data_display_master_col1[data-key=payment_request_message],
.common_app_data_display_master_col1[data-key=countdown]{
	display:none;
}
.common_app_data_display_master_col2.common_app_data_display_type_payment_request_message,
.common_app_data_display_master_col2.common_app_data_display_type_countdown{
	width: 100% !important;
	text-align: center;
}
.common_row_selected{
	background-color: var(--common_app_color_white3);
}
.common_input{
	border: 1px solid var(--common_app_color_gold);
	background-color: var(--common_app_color_white);
}
.common_app_dialogues_iam_start_selected {
    background-color: var(--common_app_color_white3);
}
.common_link:hover,
.common_link:active{
	color:var(--common_app_color_green);
}
.common_toolbar_selected{
	background-color: var(--common_app_color_blue1) !important;
}
#common_app_toolbar {
    color: var(--common_app_color_gold);
    background-color: var(--common_app_color_white1);
    box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1), 0 6px 20px 0 var(--common_app_color_shadow2);
}
.common_app_dialogues_button,
.common_toolbar_button{
	color: var(--common_app_color_gold) !important;
}
.common_app_dialogues_button:hover,
.common_app_dialogues_button:active,
.common_toolbar_button:hover,
.common_toolbar_button:active{
	color:var(--common_app_color_green) !important;
}
.common_app_dialogues_content{
	background-color: var(--common_app_color_white1);
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);	
}
#common_dialouge_user_menu{
	background-color: var(--common_app_color_white);
}
#common_app_iam_user_menu:hover,
#common_app_iam_user_menu:active{
	box-shadow: 0 10px 10px -10px var(--common_app_color_dark);
}
#common_app_window_info_toolbar{
	background: var(--common_app_color_white);
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}
#common_app_window_info{
	background: var(--common_app_color_white);
}
.common_app_data_display_master_col2[contentEditable=true]{
	background: var(--common_app_color_white);
}