/*APP*/
html, body, #app {
	height:100%;
}
body {
	text-align: center;
}
#app_root{
    height: 100%;
}
#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#otp_key{
    width:20em;
    text-transform: uppercase;
}
#otp_row{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#totp_row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*COMMON*/
#common_app_dialogues_profile_input_row,
#common_app_profile_search_list_wrap{
	visibility: hidden;
}
#common_app_window_info{
	display: none;
}
/*APP THEME*/
body {
	--common_app_color_spinner:var(--common_app_color_black);
	color: var(--common_app_color_black);
	background: var(--common_app_color_blue1);
	caret-color: var(--common_app_color_black);
}
#totp_row{
    color: var(--common_app_color_white1);
}
/* APP THEME COMMON*/
#common_app_iam_user_menu_avatar_img, 
#common_app_iam_user_menu_default_avatar{
    background-color: var(--common_app_color_light);
    box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}
.common_input{
	background-color: var(--common_app_color_white1);
}
.common_toolbar_selected{
	background-color: var(--common_app_color_blue1) !important;
}
#common_app_toolbar {
    color: var(--common_app_color_black);
    background-color: var(--common_app_color_white1);
    box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1), 0 6px 20px 0 var(--common_app_color_shadow2);
}
.common_app_dialogues_button,
.common_toolbar_button{
	color: var(--common_app_color_black) !important;
}
.common_app_dialogues_button:hover,
.common_app_dialogues_button:active,
.common_toolbar_button:hover,
.common_toolbar_button:active{
	color:var(--common_app_color_green) !important;
}
.common_app_dialogues_content:hover, 
.common_app_dialogues_content:active{
	box-shadow: 0 0 35px 4px var(--common_app_color_white_transparent);
}  
.common_app_dialogues_content{
	background-color: var(--common_app_color_white1);
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);	
}
#common_dialouge_user_menu{
	background-color: var(--common_app_color_white);
}
#common_app_window_info_toolbar{
	background: var(--common_app_color_white);
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}
#common_app_window_info{
	background: var(--common_app_color_white);
}