/*APP*/
html, body, #app {
    width:100%;
	height:100%;
}
body {
    text-align: center;
	--common_app_color_spinner:var(--common_app_color_black);
	color: var(--common_app_color_black);
	background: var(--common_app_color_blue1);
	caret-color: var(--common_app_color_black);
}

