body{
    background: inherit !important;
}
/*APP*/
html, body, #app {
	height:100%;
}
body {
	text-align: center;
}
#app_root{
	height:100%;
}
#app_top, #app_bottom{
	display: flex;
	justify-content: space-between;
	height: 60px;
	width: 100%;
}
#app_top_logo{
	background-size: contain;
	width: 60px;
	height: 60px;
	display: inline-block;
	margin-inline-start: 5px;
}
.app_page_start_shop{
	height: 1em;
	width: 9em;
	cursor:default;
	font-size:16px;
}
.app_shop_div {
	padding: 1em;
	display:inline-block;
	border-radius: var(--common_app_css_border_radius);
	transition-duration: .3s;
    transition-property: box-shadow;
	vertical-align: middle;
}
#app_page_start_shop{
	height: 90%;
	width: 90%;
    margin: auto;
	display: block;
	align-content: center;
	max-width: 700px;
    overflow-x: auto;
}
#app_top_end{
	width: 60px;
}
#app_main{
	height: calc(100% - 120px);
}
#app_main_page{
	height: 100%;
	display: block;
	text-align: center;
	align-content: center;
}
.dialogue{
	width: 100%;
	height: 100%;
	top:15%;
	text-align: center;
	position:fixed;
}
.dialogue_content{
	padding: 3em;
	display:inline-block;
	border-radius: var(--common_app_css_border_radius);
}
/*COMMON*/
#common_app_iam_user_menu_avatar_img, 
#common_app_iam_user_menu_default_avatar{
    background-color: var(--common_app_color_light);
    box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}
#common_app_iam_user_menu,
#common_app_iam_user_menu_message_count{
    color: var(--common_app_color_gold);
}
.common_app_data_display_master_col1{
	width: 0%;;
}
.common_app_data_display_master_col2{
		width:100% !important;
		text-align: center !important;
}
.common_app_data_display_master{
	margin-bottom: unset !important;
}
.app_page_start_shop .common_app_data_display_buttons.css_spinner{
	justify-self: center;
	margin-left: unset !important;
	margin-right: unset !important;
	margin-inline-start: 50% !important;
}
.common_app_data_display_buttons{
	position: unset !important;
}
#app_page_start_shop .common_app_data_display_button_post{
    border-radius: 20%;
    height: 1em !important;
    width: 1em !important;
	rotate:45deg;
    display: inline-block;
}
@keyframes glowing {
	0% {background-position: 0 0;}
	50% {background-position: 400% 0;}
	100% {background-position: 0 0;}
}
#app_page_start_shop .common_app_data_display_button_post::before{
	margin-inline-start: -0.2em;
	margin-top: -0.2em;
	font-weight: bold;
	rotate:135deg;
	display: inline-block;
	font-size: 1.2em;
}
#common_profile_input_row,
#common_profile_search_list_wrap{
	visibility: hidden;
}
#common_window_info_content{
	display: none;
}
#common_window_info{
	z-index: 0 !important;
	display:grid;
}
#common_window_info_info{
	position:relative;
	margin:20px;
	margin-top:-70px;
}
#common_app_toolbar{
    bottom: 0.5em !important;
    top: unset !important;
	position: fixed !important;
}
.common_app_data_display_type_image{
	stroke-width: 4;
}
.common_app_data_display_type_image svg:hover,
.common_app_data_display_type_image svg:active{
	
	cursor: pointer;
}
#common_app_dialogues_app_data_display .common_app_data_display_master_row{
	margin-bottom: 1em !important;
}
.common_app_data_display_master_row{
	display: block;
  	text-align: center;
}
.common_app_data_display_master_row .common_select_options{
	margin-inline-start: 2px;
	max-width: 400px;
	z-index: 10;
	max-height: 10em;
}
.common_app_data_display_master_row_list{
	display: inline-block !important;
	text-align: center !important;
	width: 100%;
}
.common_app_data_display_type_image,
.common_select_dropdown_value.common_app_data_display_master_row_list,
.common_select_options {
	border-radius:2px;
}
.common_app_data_display_master_col_list[data-sku]{
	width: 13em;
}
.common_app_data_display_master_col_list[data-product_color]{
	width: 1em;
}
.common_app_data_display_master_col_list[data-product_size],
.common_app_data_display_master_col_list[data-price]{
	width: 2em;
	text-align: end;
	margin-inline-end: 0.2em;
}
.common_app_data_display_master_col_list[data-id]{
	display: none;
}
.common_app_data_display_master_col_list[data-location]{
	width: 10em !important;
}
.common_app_data_display_master_col_list[data-stock_text]{
	width: 4em !important;
}
.common_app_data_display_master_col_list[data-stock]{
	width: 2em !important;
}
.common_app_data_display_master_col_list[data-currency_code]{
	display: none;
}
.common_app_data_display_master_col1[data-key=payment_id],
.common_app_data_display_master_col2[data-value=payment_id]{
	display: block;
	width: 100%;
}
.common_app_data_display_master_col1[data-key=payment_method],
.common_app_data_display_master_col2[data-value=payment_method],
.common_app_data_display_master_col1[data-key=payment_id],
.common_app_data_display_master_col2[data-value=payment_id]{
	font-size: 0.8em;
}
.common_app_data_display_master_col2[data-value=payment_method]{
	width: unset !important;
}

/*APP THEME*/
body {
	color: var(--common_app_color_blue1);
	background: var(--common_app_color_white);
	caret-color: var(--common_app_color_blue1);
}
.app_page_start_shop:hover,
.app_page_start_shop:active{
	box-shadow: 0 10px 10px -10px var(--common_app_color_dark);
}
.app_shop_div{
	color: var(--common_app_color_gold);
	background-color: var(--common_app_color_blue3);
	box-shadow: 0 0 1px var(--common_app_color_light);
}
.app_shop_div .css_spinner{
	--common_app_color_background_spinner:var(--common_app_color_blue3);
}
.common_app_dialogues_content .css_spinner{
	--common_app_color_background_spinner:var(--common_app_color_white);
}
.dialogue_content{
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1), 0 6px 20px 0 var(--common_app_color_shadow2);
	background-color: var(--common_app_color_white1);
}
.dialogue_content:hover, 
.dialogue_content:active{
	box-shadow: 0 0 35px 4px var(--common_app_color_white_transparent);
}
/* APP THEME COMMON*/
.common_app_data_display_master_col1[data-key=token],
.common_app_data_display_master_col2.common_app_data_display_type_token,
.common_app_data_display_master_col1[data-key=exp],
.common_app_data_display_master_col2.common_app_data_display_type_exp,
.common_app_data_display_master_col1[data-key=iat],
.common_app_data_display_master_col2.common_app_data_display_type_iat,
.common_app_data_display_master_col1[data-key=tokentimestamp],
.common_app_data_display_master_col2.common_app_data_display_type_tokentimestamp,
.common_app_data_display_master_col1[data-key=payment_request_id],
.common_app_data_display_master_col2.common_app_data_display_type_payment_request_id,
.common_app_data_display_master_col1[data-key=currency_symbol],
.common_app_data_display_master_col2.common_app_data_display_type_currency_symbol,
.common_app_data_display_master_col1[data-key=payment_request_message],
.common_app_data_display_master_col1[data-key=countdown]{
	display:none;
}
.common_app_data_display_master_col2.common_app_data_display_type_payment_request_message,
.common_app_data_display_master_col2.common_app_data_display_type_countdown{
	width: 100% !important;
	text-align: center;
}
.common_input_error{
	border: 0.2em solid var(--common_app_color_blue3) !important;
  	background-color: var(--common_app_color_blue2);
}
.common_select_dropdown_value.common_app_data_display_master_row_list{
	background-color: var(--common_app_color_white);
}
.common_app_data_display_type_image{
	background-color: var(--common_app_color_white);
	fill:var(--common_app_color_blue3);
	stroke: var(--common_app_color_black);
}
#app_page_start_shop .common_app_data_display_button_post{
	background-color: var(--common_app_color_gold) !important;
}
#app_page_start_shop .common_app_data_display_button_post::before{
	content: var(--common_app_icon_infinite) !important;
	color: var(--common_app_color_blue3);
}
#app_page_start_shop .common_app_data_display_button_post:hover{
	background-color: var(--common_app_color_green) !important;
	background:linear-gradient(45deg, var(--common_app_color_blue3), var(--common_app_color_gold), var(--common_app_color_gold), var(--common_app_color_blue3));
	animation:glowing 2s linear infinite;
	background-size:400%;
}
.common_row_selected{
	background-color: var(--common_app_color_white3);
}
.common_toolbar_selected{
	background-color: var(--common_app_color_blue1) !important;
}
#common_app_toolbar {
    color: var(--common_app_color_black);
    background-color: var(--common_app_color_white1);
    box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1), 0 6px 20px 0 var(--common_app_color_shadow2);
}
.common_app_dialogues_button,
.common_toolbar_button{
	color: var(--common_app_color_gold) !important;
}
.common_app_dialogues_button:hover,
.common_app_dialogues_button:active,
.common_toolbar_button:hover,
.common_toolbar_button:active{
	color:var(--common_app_color_green) !important;
}
.common_app_dialogues_content{
	background-color: var(--common_app_color_white1);
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);	
}
#common_dialouge_user_menu{
	background-color: var(--common_app_color_white);
}
#common_window_info_toolbar{
	background: var(--common_app_color_white);
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}
#common_window_info{
	background: var(--common_app_color_white);
}