body{
    background: inherit !important;
}
/*APP*/
html, body, #app {
	height:100%;
}
body {
	text-align: center;
}
#app_root{
	height:100%;
}
#app_top, #app_bottom{
	display: flex;
	justify-content: space-between;
	height: 60px;
	width: 100%;
}
.app_shop_div {
	padding: 1em;
	display:inline-block;
	border-radius: var(--common_app_css_border_radius);
	transition-duration: .3s;
    transition-property: box-shadow;
	vertical-align: middle;
}
#app_page_start_shop{
	width: 90%;
    margin: auto;
	display: block;
	align-content: center;
	max-width: 700px;
    overflow-x: auto;
    min-height:95%;
}
#app_top_end{
	width: 60px;
}
#app_main{
	height: calc(100% - 120px);
}
#app_main_page{
	height: 100%;
	display: block;
	text-align: center;
	align-content: center;
}
/*COMMON*/
#common_app_iam_user_menu_avatar_img, 
#common_app_iam_user_menu_default_avatar{
    background-color: var(--common_app_color_light);
    box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}
#common_app_iam_user_menu,
#common_app_iam_user_menu_message_count{
    color: var(--common_app_color_gold);
}

.common_app_data_display_master_col2{
		width:100% !important;
		text-align: center !important;
}
.common_app_data_display_master{
	margin-bottom: unset !important;
}
.app_page_start_shop .common_app_data_display_buttons.common_loading_spinner{
	justify-self: center;
	margin-left: unset !important;
	margin-right: unset !important;
	margin-inline-start: 50% !important;
}
.common_app_data_display_buttons{
	position: unset !important;
}
#common_app_dialogues_profile_input_row,
#common_app_profile_search_list_wrap{
	visibility: hidden;
}
#common_app_window_info{
	display: none;
}
#common_app_toolbar{
    bottom: 0.5em !important;
    top: unset !important;
	position: fixed !important;
}
.common_app_data_display_master_col2[data-key=Image]{
	stroke-width: 4;
}
.common_app_data_display_master_col2[data-key=Image] svg:hover,
.common_app_data_display_master_col2[data-key=Image] svg:active{
	
	cursor: pointer;
}
.common_app_data_display_master_row{
	display: block;
  	text-align: center;
}
.common_app_data_display_master_row .common_select_options{
	margin-inline-start: 2px;
	max-width: 400px;
	z-index: 10;
	max-height: 10em;
}
.common_app_data_display_master_row_list{
	display: inline-block !important;
	text-align: center !important;
}
.common_app_data_display_master_col2[data-key=Image],
.common_select_dropdown_value.common_app_data_display_master_row_list,
.common_select_options {
	border-radius:2px;
}
.common_app_data_display_master_col_list[data-Sku]{
	width: 13em;
}
.common_app_data_display_master_col_list[data-ProductColor]{
	width: 1em;
}
.common_app_data_display_master_col_list[data-ProductSize],
.common_app_data_display_master_col_list[data-Price]{
	width: 2em;
	text-align: end;
	margin-inline-end: 0.2em;
}
.common_app_data_display_master_col_list[data-id]{
	display: none;
}
.common_app_data_display_master_col_list[data-Location]{
	width: 10em !important;
}
.common_app_data_display_master_col_list[data-StockText]{
	width: 4em !important;
}
.common_app_data_display_master_col_list[data-Stock]{
	width: 2em !important;
}
.common_app_data_display_master_col_list[data-CurrencyCode]{
	display: none;
}
.common_app_data_display_master_col1[data-key=PaymentId],
.common_app_data_display_master_col2[data-value=PaymentId]{
	display: block;
	width: 100%;
}
.common_app_data_display_master_col1[data-key=PaymentMethod],
.common_app_data_display_master_col2[data-value=PaymentMethod],
.common_app_data_display_master_col1[data-key=PaymentId],
.common_app_data_display_master_col2[data-value=PaymentId]{
	font-size: 0.8em;
}
.common_app_data_display_master_col2[data-value=PaymentMethod]{
	width: unset !important;
}

/*APP THEME*/
body {
	color: var(--common_app_color_blue1);
	background: var(--common_app_color_white);
	caret-color: var(--common_app_color_blue1);
}
#app_page_start_shop:hover,
#app_page_start_shop:active{
	box-shadow: 0 10px 10px -10px var(--common_app_color_dark);
}
.app_shop_div{
	color: var(--common_app_color_gold);
	background-color: var(--common_app_color_blue3);
	box-shadow: 0 0 1px var(--common_app_color_light);
}
.app_shop_div .common_loading_spinner{
	--common_app_color_background_spinner:var(--common_app_color_blue3);
}
.common_app_dialogues_content .common_loading_spinner{
	--common_app_color_background_spinner:var(--common_app_color_white);
}
/* APP THEME COMMON*/
.common_app_data_display_master_col1[data-key=Token],
.common_app_data_display_master_col2[data-key=Token],
.common_app_data_display_master_col1[data-key=Exp],
.common_app_data_display_master_col2[data-key=Exp],
.common_app_data_display_master_col1[data-key=Iat],
.common_app_data_display_master_col2[data-key=Iat],
.common_app_data_display_master_col1[data-key=TokenTimestamp],
.common_app_data_display_master_col2[data-key=TokenTimestamp],
.common_app_data_display_master_col1[data-key=PaymentRequestId],
.common_app_data_display_master_col2[data-key=PaymentRequestId],
.common_app_data_display_master_col1[data-key=CurrencySymbol],
.common_app_data_display_master_col2[data-key=CurrencySymbol],
.common_app_data_display_master_col1[data-key=PaymentRequestMessage],
.common_app_data_display_master_col1[data-key=Countdown]{
	display:none;
}
.common_app_data_display_master_col2[data-key=PaymentRequestMessage],
.common_app_data_display_master_col2[data-key=Countdown]{
	width: 100% !important;
	text-align: center;
}
.common_input_error{
	border: 0.2em solid var(--common_app_color_blue3) !important;
  	background-color: var(--common_app_color_blue2);
}
.common_select_dropdown_value.common_app_data_display_master_row_list{
	background-color: var(--common_app_color_white);
}
.common_app_data_display_master_col2[data-key=Image]{
	background-color: var(--common_app_color_white);
	fill:var(--common_app_color_blue3);
	stroke: var(--common_app_color_black);
}
.common_row_selected{
	background-color: var(--common_app_color_white3);
}
.common_toolbar_selected{
	background-color: var(--common_app_color_blue1) !important;
}
#common_app_toolbar {
    color: var(--common_app_color_black);
    background-color: var(--common_app_color_white1);
    box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1), 0 6px 20px 0 var(--common_app_color_shadow2);
}
.common_app_dialogues_button,
.common_toolbar_button{
	color: var(--common_app_color_gold) !important;
}
.common_app_dialogues_button:hover,
.common_app_dialogues_button:active,
.common_toolbar_button:hover,
.common_toolbar_button:active{
	color:var(--common_app_color_green) !important;
}
.common_app_dialogues_content{
	background-color: var(--common_app_color_white1);
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);	
}
#common_dialouge_user_menu{
	background-color: var(--common_app_color_white);
}
#common_app_window_info_toolbar{
	background: var(--common_app_color_white);
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}
#common_app_window_info{
	background: var(--common_app_color_white);
}