<style>
    select,input, button {
        font-family: inherit;
    }
    a:link{
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    a:active {
        text-decoration: underline;
    }
    #dashboard{
        width:100%;
        height:100%;
    }
    #menu{
        width:150px;
        height:100%;
        position:fixed;
        padding-top: 20px;
        z-index: 10;
        display:none;
    }
    .menuitem{
        cursor: pointer;
        text-align: left;
        margin: 20px;
        text-transform:uppercase;
    }
    #menu_open{
        display: block;
        height: 30px;
    }
    #menu_close{
        display: block;
        float: right;
        width: 40px;
        font-size: 24px;
    }

    #main{
        width:100%;
        height:100%;
        position: fixed;
        display: block;
        text-align:center;
    }

    .main_content{
        position:fixed;
        display: none;
    }
    .widget{
        height: 50%;
        margin:20px;
        padding: 5px;
        text-align: center;
        border-radius: 4px;
    }
    
    
    #box1{
        width: 49%;
        height: 200px;
        display:inline-block;
        vertical-align: top;
    }
    #box2{
        width: 49%;
        height: 200px;
        display:inline-block;
        vertical-align: top;
        
    }
    #box1 canvas, #box2 canvas{
        max-height: 100%;
    }
    #select_app_menu1{
        margin-left: 49%;
    }
    .load-spinner {
        width: 64px;
        height: 64px;
        display: inline-block;
        margin-left: -150px;
        z-index: 10;
        top: 50px;
        position: fixed;
    }
    .load-spinner div {
        transform-origin: 32px 32px;
        animation: lds-spinner 1.2s linear infinite;
    }
    .load-spinner div:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 3px;
        left: 29px;
        width: 5px;
        height: 14px;
        border-radius: 20%;
        background: #28708c;
    }
    .load-spinner div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1s;
    }
    .load-spinner div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
    }
    .load-spinner div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
    }
    .load-spinner div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
    }
    .load-spinner div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
    }
    .load-spinner div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
    }
    .load-spinner div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
    }
    .load-spinner div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4s;
    }
    .load-spinner div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
    }
    .load-spinner div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
    }
    .load-spinner div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
    }
    .load-spinner div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
    }
    @keyframes lds-spinner {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    
    }
    #menu_1_content_widget2{
        height:50px;
        display: block;
        text-align: center;
    }
    #users_connected, #count_connected{
        display:inline-block;
    }
    #count_local, #count_google, #count_facebook{
        display:inline-block;
        margin-right:10px;
    }
    #users_count i.fa-user{
        color: #a49775;
    }
    .googletext{
        font-family: 'Noto Sans';
        font-weight: bold;
        margin-left:-2px;
        margin-right:-2px;
        
    }
    #users_count #google1{
        color: #4285F4;
        display:inline-block;
    }
    #users_count #google2{
        color: #DB4437;
        display:inline-block;
    }
    #users_count #google3{
        color: #F4B400;
        display:inline-block;
    }
    #users_count #google4{
        color: #4285F4;
        display:inline-block;
    }
    #users_count #google5{
        color: #0F9D58;
        display:inline-block;
    }
    #users_count #google6{
        color: #DB4437;
        display:inline-block;
    }
    #users_count i.fa-facebook{
        color: #4267b2;
    }
    #menu_1_content_widget3{
        height:50px;
    }
    #maintenance, #maintenance_broadcast_info{
        display:inline-block;
        margin:10px;
        vertical-align: middle;
    }
    #maintenance_broadcast_info{
        font-size: 24px;
        margin-left: 10px;
    }
    .switch-input {
        display: none;
      }
    .switch-label {
        display: inline-block !important;
        position:relative;
        width: 48px;
        height: 24px;
        text-indent: -150%;
        clip: rect(0 0 0 0);
        user-select: none;
        vertical-align: middle;
    }
    .switch-label::before,
    .switch-label::after {
        content: "";
        display: block;
        position: absolute;
        cursor: pointer;
    }
    .switch-label::before {
        width: 48px;
        height: 24px;
        border-radius: 9999em;
        -webkit-transition: background-color 0.25s ease;
        transition: background-color 0.25s ease;
    }
    .switch-label::after {
        top: 0px;
        left: 0px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        -webkit-transition: left 0.25s ease;
        transition: left 0.25s ease;
    }
    .switch-input:checked + .switch-label::after {
        left: 24px;
    }      
    
    #menu_3_content_widget1{
        height:260px;
    }
    #menu_3_content_widget2{
        height:340px;
    }
    #list_app_log_title1, #list_connected_title2{
        text-transform: uppercase;
        display:inline-block;
        width:30%;
    }
    .list_button{
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        background:none;
        display:inline-block;
        width:30%;
        font-size: 16px;
    }    
    #list_connected_form{
        display: none;
    }
    #list_app_log, #list_connected{
        height:150px;
        overflow-y: auto;
        overflow-x: auto;
        margin-bottom: 10px;
        border-radius: 4px;
    }
    #list_app_log_col_title1,#list_app_log_col_title2,#list_app_log_col_title3,
    #list_app_log_col_title4, #list_app_log_col_title5, #list_app_log_col_title6,
    #list_app_log_col_title7, #list_app_log_col_title8,
    #list_connected_col_title1,#list_connected_col_title2,#list_connected_col_title3,
    #list_connected_col_title4, #list_connected_col_title5, #list_connected_col_title6,
    #list_connected_col_title7{
        cursor:pointer;
    }

    .list_app_log_row, .list_connected_row{
        height: 30px;
        padding-top:4px;
        padding-left:5px;
        text-align: start;
    }   
    .list_app_log_gps_click, .list_connected_gps_click, .list_connected_chat_click, #maintenance_broadcast_info{
        cursor:pointer;
    }
    .list_app_log_col, .list_connected_col{
        display:inline-block;
    }
    .list_app_log_col:nth-child(1){
        width:25px;
    }
    .list_app_log_col:nth-child(2){
        width:40px;
    }
    .list_app_log_col:nth-child(3){
        width:70px;
    }
    .list_app_log_col:nth-child(4){
        width:110px;
    }
    .list_app_log_col:nth-child(5){
        width:90px;
    }
    .list_app_log_col:nth-child(6){
        width:50px;
    }
    .list_app_log_col:nth-child(7){
        width:50px;
    }
    .list_app_log_col:nth-child(8){
        width:120px;
    }
    #list_app_pagination{
        display: block;
        margin-top: -10px;
    }
    #list_app_pagination div{
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 24px;
        cursor:pointer;
    }
    .list_connected_col:nth-child(1){
        width:70px;
    }
    .list_connected_col:nth-child(2){
        width:40px;
    }
    .list_connected_col:nth-child(3){
        width:80px;
    }
    .list_connected_col:nth-child(4){
        width:120px;
    }
    .list_connected_col:nth-child(5){
        width:90px;
    }
    .list_connected_col:nth-child(6), .list_connected_col:nth-child(7){
        width:50px;
    }
    .list_connected_col:nth-child(8){
        width:25px;
    }
    #mapid{
        width: 100%;
        height: 87%;
    }
    .dialogue{
        visibility:hidden;
        position: fixed;
        z-index: 10;
        padding-top: 10px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
    }
    .dialogue_content{
        font-size:16px;
        text-align:center;
        top: 50%;
        left: 50%;
        position: fixed;
        transform: translate(-50%, -50%);
        padding: 10px;
        width: 300px;
        height: auto;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s;
    }
    #dialogue_send_broadcast_content{
        height:320px;
    }
    #select_app_broadcast{
        width:50%;
        display: block;
        margin: 0 auto;
    }
    #send_broadcast_message{
        width:80%;
        height:100px;
        margin-top:10px;
        resize: none;
    }
    #client_id_label{
        width:100%;
    }
    #send_broadcast, #send_broadcast_close{
        width:100%;
    }
    
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }
    @media only screen and (min-width: 768px) {
        #menu_open, #menu_close{
            display: none;
        }
        #menu{
            display:block !important;
        }
        #main{
            margin-left:150px
            }

        .main_content{
            width: 75%;
            height: 100%;
            margin:20px;
        }
        #menu_3_content_widget2{
            height: 170px
        }
        .list_app_log_row, .list_connected_row{
            height: 18px;
        }
        #list_app_pagination{
            margin-top: unset;
        }
    }
    

    .theme_light #menu{
        background-color:#fefefe;
        font-weight: bold;
    }
    .theme_light #main{
        background-color:rgb(81, 171, 255);
    }
    .theme_light .menuitem:hover, .theme_light .menuitem:active, 
    .theme_light .chat_click:hover, .theme_light .chat_click:active,
    .theme_light .gps_click:hover, .theme_light .gps_click:active{
        color:#6ab344 !important;
    }
    .theme_light .widget:hover, .theme_light .widget:active{
        box-shadow: 0 0 35px 4px rgb(255,255,255,0.25);
    }  
    .theme_light .widget{
        background-color: #fefefe !important;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    }
    .theme_light .list_button:hover, .theme_light .list_button:active{
        color:#6ab344;
    }
    .theme_light .list_app_log_row:nth-child(odd),
    .theme_light .list_connected_row:nth-child(odd) {
        background-color: rgb(197 227 255);
    }
    .theme_light .list_app_log_row:nth-child(even),
    .theme_light .list_connected_row:nth-child(even) {
        background-color: #FFF;
    }
    .theme_light #list_app_log_row_title, 
    .theme_light #list_connected_row_title{
        font-weight: bold;
    }
    .theme_light .list_app_log_row,
    .theme_light .list_connected_row{
        font-size: 9px;
    }
    .theme_light #list_app_log,
    .theme_light #list_connected{
        border: rgb(197 227 255) solid 0.5px;
    }
    .theme_light #list_app_pagination div{
        color:rgb(81, 171, 255);
    }
    .theme_light #list_app_pagination div:hover, 
    .theme_light #list_app_pagination div:active{
        color:#6ab344 !important;
    }
    
    .theme_light .switch-label {
        color: transparent;
    }
    .theme_light .switch-label::before {
        background-color: #dedede;
    }
    .theme_light .switch-label::after {
        background-color: #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    }  
    .theme_light .switch-input:checked + .switch-label::before {
        background-color: rgb(81, 171, 255);
    }
    .theme_light #map_popup_title{
        font-weight: bold;
    }
    .theme_light .dialogue{
        background-color: rgba(0,0,0,0.4);
    }
    .theme_light .dialogue_content{
        background-color: #fefefe;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    }
    
</style>