<style>
    body{
    	font-size: 11px;
    }
    /*DIALOGUE*/
    .dialogue{
        visibility:hidden;
        padding-top: 10px;
        left: 0;
        top: 0;
        height: 100% !important;
        overflow: auto;
        display:block;
    }
    .dialogue_content{
        transform: translate(0%, 40%);
    }
    #dialogue_send_broadcast_content{
        height:320px;
        width:300px;
    }
    #select_app_broadcast{
        width:50%;
        display: block;
        margin: 0 auto;
    }
    #send_broadcast_message{
        width:80%;
        height:100px;
        margin-top:10px;
        resize: none;
    }
    #client_id_label{
        width:100%;
    }
    #send_broadcast, #send_broadcast_close{
        width:100%;
    }
    
    
    /*DASHBOARD COMMON*/
    #dashboard{
        width:100%;
        height:100%;
    }
    #menu{
        width:150px;
        height:100%;
        position:fixed;
        padding-top: 20px;
        z-index: 10;
        display:none;
    }
    .menuitem{
        cursor: pointer;
        text-align: start;
        margin: 20px;
        text-transform:uppercase;
    }
    #menu_open{
        display: block;
        height: 30px;
    }
    #menu_close{
        display: block;
        text-align: end;
        width: 90%;
        height: 20px;
    }

    #main{
        width:100%;
        height:100%;
        position: fixed;
        display: block;
        text-align:center;
    }

    .main_content{
        display: none;
        height: 85%;
    }
    .widget{
        width: 87%;
        margin:20px;
        padding: 5px;
        text-align: center;
        border-radius: 4px;
    }
    /*MENU 1 DASHBOARD*/
    #menu_1_content_widget1{
        height: 130px;
    }
    #menu_1_db_info1 div{
        text-align: start;
        display: inline-block;
        font-size: 9px;
    }
    #menu_1_db_info1 div:nth-child(odd){
        width: 150px;
        text-transform: uppercase;
    }
    #menu_1_db_info1 div:nth-child(even){
        width: calc(100% - 150px);
    }

    #menu_1_content_widget2{
        height:calc(100% - 280px);;
        display: flex;
        flex-direction: column;
    }

    #menu_1_db_info_space_title{
        display: inline-block;
        text-align: start;
        margin-bottom:10px;
        text-transform: uppercase;
    }
    #menu_1_db_info_space_detail{
        overflow-y: auto;
        overflow-x: auto;
        margin-bottom: 10px;
        border-radius: 4px;
    }

    .menu_1_db_info_space_detail_row{
        height: auto;
        padding-top:4px;
        padding-inline-start: 5px;
        text-align: start;
    }   
    #menu_1_db_info_space_detail_row_total{
        border-top: 1px solid black;
        margin-top: 2px;
    }
    .menu_1_db_info_space_detail_col{
        display:inline-block;
        margin-inline-end: 10px;
        overflow: auto;
        width: 80px;
        text-align: end;
    }
    .menu_1_db_info_space_detail_col:nth-child(1){
        width:250px;
        text-align: start;
    }

    #menu_1_content_widget3{
        height:100px;
        vertical-align: middle;
    }
    #menu_1_broadcast_button{
        font-size: 30px;
        cursor:pointer;
        transform: translate(0%, 5%);
    }
    #menu_1_maintenance{
        transform: translate(0%, 5%);
    }
    #menu_1_maintenance_checkbox{
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .switch-input {
        display: none;
      }
    .switch-label {
        display: inline-block !important;
        position:relative;
        width: 48px;
        height: 24px;
        text-indent: -150%;
        clip: rect(0 0 0 0);
        user-select: none;
        vertical-align: middle;
    }
    .switch-label::before,
    .switch-label::after {
        content: "";
        display: block;
        position: absolute;
        cursor: pointer;
    }
    .switch-label::before {
        width: 48px;
        height: 24px;
        border-radius: 9999em;
        transition: background-color 0.25s ease;
    }
    .switch-label::after {
        top: 0px;
        left: 0px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        transition: left 0.25s ease;
    }
    .switch-input:checked + .switch-label::after {
        left: 24px;
    }

    /*MENU 2 USER STAT*/
    #menu_2_content_widget1{
        height:calc(70% - 10px);
    }
    #menu_2_content_widget1 select{
        display:inline-block;
    }
    #menu_2_row_sample{
        margin-top:10px;
        margin-bottom:10px;
    }
    #graphBox{
        height:calc(100% - 40px);
    }
    #box1{
        width: 100%;
        height: calc(50% - 20px);
        display:inline-block;
        vertical-align: top;
        
    }
    #box1_chart{
        width: 49%;
        display: inline-block;
    }
    #box1_pie{
        border-radius: 50%;
        width: calc(20% + (100px - 20%));
        display: inline-block;
    }
    #box1_pie:after {
        content: "";
        display: block;
        padding-bottom: 100%;
      }
    .box_title{
        margin-bottom:10px;
    }
    .box_legend{
        text-align: start;
        display: inline-block;
        width: 50%;
        vertical-align: top;
        overflow-y: auto;
    }
    .box_legend_row{
        width: 100%;
    }
    .box_legend_col{
        height: 10px;
        display: inline-block;
    }
    .box_legend_col:nth-child(1){
        width: calc(10% - 5px);
    }
    .box_legend_col:nth-child(2){
        width: calc(90% - 5px);
    }
    #box2{
        width: 100%;
        height: calc(50% - 20px);
        display:inline-block;
        vertical-align: top;
        
    }
    #box2_chart{
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 70%;
        margin-bottom: 20px;
        font-size: 0.7em;
    }
    #box2_bar_legendY{
        height:100%;
        width:15px;
        display: inline-block;
    }
    #box2_bar_legend_max{
        margin-top: -8px;
    }
    #box2_bar_legend_max, #box2_bar_legend_medium{
        height: 50px;
    }
    #box2_bar_data{
        height:100%;
        width:100%;
        display: flex;
        align-items: flex-end;
    }
    .box2_barcol{
        display:none;
        height:100%;
        align-self: baseline;
    }
    .box2_barcol_legend{
        height:20px;
    }
    .box2_barcol_display{
        display:inline-block;
    }
    #box2_legend{
        width: 100%;
        margin-inline-start: 15px;
        text-align: start;
    }
    #menu_2_content_widget2{
        height:calc(30% - 10px);
        display: block;
        text-align: center;
    }
    #list_user_stat{
        overflow-y: auto;
        height:90px;
    }
    .list_user_stat_row{
        display: block;
        text-align: start;
    }
    .list_user_stat_col{
        display: inline-block;
    }
    .list_user_stat_col:nth-child(1){
        width:20px;
    }
    .list_user_stat_col:nth-child(2){
        width:40%;
        min-width: 150px;
    }
    .list_user_stat_col:nth-child(3){
        width: 60px;
        text-align: end;
    }
    /* MENU 3 APP ADMIN*/
    #menu_3_content_widget1{
        height: calc(30% - 10px);
        display: flex;
        flex-direction: column;
    }
    #menu_3_content_widget2{
        height: calc(70% - 10px);
        display: flex;
        flex-direction: column;
    }
    #list_apps_title1, #list_app_parameter_title{
        text-transform: uppercase;
        display:inline-block;
        width:100%;
    }
    #list_app_parameter{
        height: 70%;
    }
    #list_apps, #list_app_parameter{
        overflow-y: auto;
        overflow-x: auto;
        margin-bottom: 10px;
        border-radius: 4px;
    }
    #list_apps_row_title, #list_app_parameter_row_title{
        height: auto;
    }
    .list_apps_row, .list_app_parameter_row{
        height: auto;
    }
    .list_apps_row, .list_app_parameter_row{
        padding-top:4px;
        padding-bottom: 4px;
        padding-inline-start: 5px;
        text-align: start;
    }
    .list_apps_col, .list_app_parameter_col{
        display:inline-block;
    }
    .list_apps_col:nth-child(1){
        width:25px;
    }
    .list_apps_col:nth-child(2){
        width:150px;
    }
    .list_apps_col:nth-child(3){
        width:150px;
    }
    .list_apps_col:nth-child(4){
        width:150px;
    }
    .list_apps_col:nth-child(5){
        width: 50px;
    }
    .list_apps_col:nth-child(5) input{   
        vertical-align: middle;
    }
    .list_apps_col:nth-child(6){
        width:70px;
    }
    .list_apps_col:nth-child(7){
        width:200px;
    }
    .list_app_parameter_col:nth-child(1){
        display: none;
    }
    .list_app_parameter_col:nth-child(2){
        width:50px;
    }
    .list_app_parameter_col:nth-child(3){
        width:80px;
    }
    .list_app_parameter_col:nth-child(4){
        width:200px;
    }
    .list_app_parameter_col:nth-child(5){
        width:200px;
    }
    .list_app_parameter_col:nth-child(6){
        width:150px;
    }
    #apps_buttons, #apps_save{
        height:30px;
        display:inline-block;
    }
    #apps_save #app_spinner{
        position:unset;
        margin:0px;
        margin-top:-20px;
    }
    #apps_save i{
        vertical-align: top;
    }
    .list_edit_app, .list_edit_app_parameter{
        border:none;
        width: 100%;
        display: inline-block;
        padding-left: 3px;
        padding-right: 3px;
        margin: 1px;
        box-sizing: border-box;
        border-radius: 4px
    }
    .list_lov_click{
        cursor:pointer;
    }
    .list_readonly_app, .list_readonly_app_parameter{
        border:none;
        width: 100%;
        display: inline-block;
        padding-left: 3px;
        padding-right: 3px;
        margin: 1px;
        box-sizing: border-box;
        border-radius: 4px
    }    
    /*MENU 4 APP STAT*/
    #menu_4_content_widget1{
        height:calc(63% - 10px);
        display: flex;
        flex-direction: column;
    }
    #menu_4_content_widget2{
        height:calc(37% - 10px);
    }
    /*Navigation*/
    #list_monitor_nav{
        margin: 0px;
        padding: 0px;
    }
    #list_monitor_nav li{
        display: inline-block;
        list-style: none;
    }
    
    #list_connected_title,
    #list_app_log_title, 
    #list_server_log_title,
    #list_pm2_log_title {
        text-transform: uppercase;
        display:inline-block;
        margin-top:10px;
        margin-bottom:10px;    
    }
    #list_connected_form{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    #list_app_log_form{
        display:none;
        flex-direction: column;
        height: 85%;
    }
    #list_server_log_form{
        display:none;
        height: 75%;
    }
    #list_pm2_log_form{
        display:none;
        height: 100%;
    }
    /*CONNECTED*/
    .list_connected_col:nth-child(1){
        width:70px;
    }
    .list_connected_col:nth-child(2){
        width:120px;
    }
    .list_connected_col:nth-child(3){
        width:40px;
    }
    .list_connected_col:nth-child(4){
        width:70px;
    }
    .list_connected_col:nth-child(5){
        width:90px;
    }
    .list_connected_col:nth-child(6){
        width:70px;
    }
    .list_connected_col:nth-child(7){
        width:70px;
    }
    .list_connected_col:nth-child(8){
        width:120px;
    }
    .list_connected_col:nth-child(9){
        width:70px;
    }
    /*APP LOG*/
    #menu4_row_sample_app_log, #menu4_row_sample_list_connected{
        margin-top:10px;
        margin-bottom:10px;
    }
    .list_button{
        border: none;
        text-transform: uppercase;
        cursor: pointer;
        background:none;
        display:inline-block;
    }    
    
    #list_app_log, #list_connected{
        overflow-y: auto;
        overflow-x: auto;
        margin-bottom: 10px;
        border-radius: 4px;
    }
    #list_app_log_row_title div, #list_connected_row_title div, #list_server_log_row_title div{
        cursor:pointer;
    }
    #list_app_log_row_title, #list_connected_row_title{
        height: auto;
    }
    .list_app_log_row, .list_connected_row{
        height: auto;
        padding-top:4px;
        padding-inline-start: 5px;
        text-align: start;
    }   
    .list_connected_gps_click, .list_connected_chat_click, .list_app_log_gps_click, .list_server_log_gps_click  {
        cursor:pointer;
    }
    .list_app_log_col, .list_connected_col{
        display:inline-block;
        margin-inline-end: 10px;
        overflow: auto;
    }

    .list_app_log_col:nth-child(1){
        width:40px;
    }
    .list_app_log_col:nth-child(2){
        width:120px;
    }
    .list_app_log_col:nth-child(3){
        width:90px;
    }
    .list_app_log_col:nth-child(4){
        width:40px;
    }
    .list_app_log_col:nth-child(5){
        width:70px;
    }
    .list_app_log_col:nth-child(6){
        width:110px;
    }
    .list_app_log_col:nth-child(7){
        width:460px;
    }
    .list_app_log_col:nth-child(8){
        width:460px;
    }
    .list_app_log_col:nth-child(9){
        width:70px;
    }
    .list_app_log_col:nth-child(10){
        width:90px;
    }
    .list_app_log_col:nth-child(11){
        width:70px;
    }
    .list_app_log_col:nth-child(12){
        width:70px;
    }
    .list_app_log_col:nth-child(13){
        width:120px;
    }
    .list_app_log_col:nth-child(14){
        width:120px;
    }
    .list_app_log_col:nth-child(15){
        width:120px;
    }
    .list_app_log_col:nth-child(16){
        width:120px;
    }
    .list_app_log_col:nth-child(17){
        width:600px;
    }
    .list_app_log_col:nth-child(18){
        width:400px;
    }
    #list_app_pagination{
        display: block;
        margin-top: -10px;
    }
    #list_app_pagination div{
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        cursor:pointer;
    }
    /* SERVER LOG*/
    #filesearch_menu4{
        font-size: 1.4em;
        height: auto;
    }
    #menu4_row_sample1, #menu4_row_sample2{
        margin-top:10px;
        margin-bottom:10px;
    }
    #menu4_row_parameters{
        margin-top: 10px;
        margin-bottom: 10px;
        font-size:0.7em;
    }    
    #menu4_row_parameters div{
        display: inline-block;
    }
    #list_server_log{
        height:70%;
        overflow-y: auto;
        overflow-x: auto;
        margin-bottom: 10px;
        border-radius: 4px;
    }
    .list_server_log_col:nth-child(1){
        width:120px;
    }
    .list_server_log_col:nth-child(2){
        width:90px;
    }
    .list_server_log_col:nth-child(3){
        width:50px;
    }
    .list_server_log_col:nth-child(4){
        width:90px;
    }
    .list_server_log_col:nth-child(5){
        width:50px;
    }
    .list_server_log_col:nth-child(6){
        width:650px;
    }
    .list_server_log_col:nth-child(7){
        width:70px;
    }
    .list_server_log_col:nth-child(8){
        width:70px;
    }
    .list_server_log_col:nth-child(9){
        width: 600px;
    }
    .list_server_log_col:nth-child(10){
        width:400px;
    }
    .list_server_log_col:nth-child(11){
        width:250px;
    }
    .list_server_log_col:nth-child(12){
        width:390px;
    }
    .list_server_log_col:nth-child(13){
        width:100px;
    }
    .list_server_log_col:nth-child(14){
        width:70px;
    }
    .list_server_log_col:nth-child(15){
        width:500px;
    }
    .list_server_log_row{
        padding-top:4px;
        padding-inline-start: 5px;
        text-align: start;
    }   
    .list_server_log_col{
        display:inline-block;
        width:auto;
        margin-inline-end: 10px;
        overflow: auto;
    }
    /*PM2 LOG*/
    #list_pm2_log{
        text-align: start;
        height: 100%;
    }
    #list_pm2_log_path_info{
        display: block;
        text-align: center;
        font-size: 0.7em;
    }
    #list_pm2_log_path_info div{
        display: inline-block;
    }
    #list_pm2_log_path_info div:nth-child(2){
        margin-inline-start: 10px;
    }
    #list_pm2_log_title_out, #list_pm2_log_title_err, #list_pm2_log_title_process_event{
        text-align: center;
        margin-top: 10px;
        font-size: 9px;
        font-weight: bold;
    }
    #list_pm2_log_out, #list_pm2_log_err, #list_pm2_log_process_event{
        height: 19%;
        overflow-y: auto;
        overflow-x: auto;
        margin-bottom: 10px;
        border-radius: 4px;
    }
    .list_pm2_log_row, .list_pm2_log_process_event_row{
        padding-top:4px;
        padding-inline-start: 5px;
        text-align: start;
        display: inline-block;
    }
    .list_pm2_log_col, .list_pm2_log_process_event_col{
        display:inline-block;
    }
    .list_pm2_log_col:nth-child(1), .list_pm2_log_process_event_col:nth-child(1){
        width:120px;
    }
    .list_pm2_log_col:nth-child(2), .list_pm2_log_process_event_col:nth-child(2){
        width:100px;
    }
    .list_pm2_log_col:nth-child(3), .list_pm2_log_col:nth-child(3){
        width:60px;
    }
    .list_pm2_log_col:nth-child(4), .list_pm2_log_col:nth-child(4){
        width:auto;
    }
    .list_pm2_log_process_event_col:nth-child(3){
        width:50px;
    }
    /*MAP*/
    #mapid{
        width: 100%;
        height: 87%;
        direction: ltr;
    }
    /*RESPONSIVE*/
    @media only screen and (min-width: 768px) {
        body{
            font-size: 14px;
        }
        #menu_open, #menu_close{
            display: none;
        }
        #menu{
            display:block !important;
        }
        #main{
            margin-inline-start:150px
            }

        .main_content{
            width: 75%;
            height:90%;
            margin:20px;
        }
        .widget{
            width: 100%;
        }
        #list_app_pagination{
            margin-top: unset;
        }
    }
    /*THEME*/
    .theme_light{

        --app_theme_graph_boxshadow_color:var(--app_theme_main_shadow_color2);
        --app_theme_graph_border_color:var(--app_theme_main_border_color2);
        --app_theme_graph_colum_border_color:var(--app_theme_main_border_color3);
        --app_theme_graph_gradient_color1: var(--app_theme_main_gradient_color1);
        --app_theme_graph_gradient_color2: var(--app_theme_main_gradient_color2);
        --app_theme_graph_gradient_color3: var(--app_theme_main_gradient_color3);
        --app_theme_menu_background_color: var(--app_theme_main_branding_color3);
        --app_theme_widget_boxshadow_active_color:var(--app_theme_main_shadow_color3);
        --app_theme_widget_background_color:var(--app_theme_main_branding_color3);
        --app_theme_widget_boxshadow_color1:var(--app_theme_main_shadow_color1);
	    --app_theme_widget_boxshadow_color2:var(--app_theme_main_shadow_color2);
        --app_theme_list_odd_color:var(--app_theme_main_branding_color2);
        --app_theme_list_even_color:var(--app_theme_main_branding_color3);
        --app_theme_list_rowtitle_background_color:var(--app_theme_main_branding_color3);
        --app_theme_list_background_color:var(--app_theme_main_branding_color2);
        --app_theme_list_border_color:var(--app_theme_main_branding_color2);
        --app_theme_list_selected_background_color: var(--app_theme_main_select_color);
        --app_theme_list_scrollbar_color1: var(--app_theme_main_branding_color2);
        --app_theme_list_scrollbar_color2: var(--app_theme_main_branding_color5);
        --app_theme_pagination_color:var(--app_theme_main_branding_color2);
        --app_theme_switch_button_color:var(--app_theme_main_branding_color3);
        --app_theme_switch_checked_background_color:var(--app_theme_main_branding_color2);
        --app_theme_switch_unchecked_background_color:var(--app_theme_background_color2);
        --app_theme_switch_boxshadow_color:var(--app_theme_main_shadow_color1);
        --app_theme_checkbox-checked_color: var(--app_theme_main_select_color2);
	    --app_theme_checkbox-unchecked_color: var(--app_theme_main_select_color3);
        --app_theme_dialogue_modal-background_color: var(--app_theme_main_shadow_color2);
        --app_theme_online_status_online_color: var(--app_theme_main_select_color2);
        --app_theme_online_status_offline_color: var(--app_theme_main_select_color3);
        --app_theme_input_error_color:var(--app_theme_main_select_color3);
        --app_theme_nav_selected_color:var(--app_theme_main_branding_color4);
        --app_theme_nav_selected_background_color:var(--app_theme_main_branding_color2);
    }
    #box1_pie{
        border: 1px solid var(--app_theme_graph_border_color);
        box-shadow: 3px 3px var(--app_theme_graph_boxshadow_color);    
    }
    #box2_bar_data{
        border: 1px solid var(--app_theme_graph_border_color);
        background: repeating-linear-gradient(to bottom, var(--app_theme_graph_gradient_color1), var(--app_theme_graph_gradient_color2) 2px,var(--app_theme_graph_gradient_color3) 2px, var(--app_theme_graph_gradient_color3) 10%);
    }
    .box2_barcol_color{
        border: 1px solid var(--app_theme_graph_colum_border_color);
    }
    #menu{
        background-color:var(--app_theme_menu_background_color);
        font-weight: bold;
    }
    #menu_close{
        font-size: 24px;
    }
    .menuitem:hover,                   .menuitem:active, 
    .chat_click:hover,                 .chat_click:active,
    .gps_click:hover,                  .gps_click:active,
    .list_button:hover,                .list_button:active,
    .list_lov_row:hover,               .list_lov_row:active,
    #list_app_pagination div:hover,    #list_app_pagination div:active{
        color: var(--app_theme_hover_color) !important;
    }
    #list_monitor_nav .list_monitor_nav_selected_tab button{
        color: var(--app_theme_nav_selected_color);
        background-color:var(--app_theme_nav_selected_background_color);
    }
    .widget:hover, .widget:active{
        box-shadow: 0 0 35px 4px var(--app_theme_widget_boxshadow_active_color);
    }  
    .widget{
        background-color: var(--app_theme_widget_background_color) !important;
        box-shadow: 0 4px 8px 0 var(--app_theme_widget_boxshadow_color1), 0 6px 20px 0 var(--app_theme_widget_boxshadow_color2);
    }
    .menu_1_db_info_space_detail_row:nth-child(odd),
    .list_user_stat_row:nth-child(odd),
    .list_lov_row:nth-child(odd),
    .list_app_log_row:nth-child(odd),
    .list_connected_row:nth-child(odd),
    .list_server_log_row:nth-of-type(odd),
    #list_pm2_log_out .list_pm2_log_row:nth-child(odd),
	#list_pm2_log_err .list_pm2_log_row:nth-child(odd),
    #list_pm2_log_process_event .list_pm2_log_row:nth-child(odd){
        background-color: var(--app_theme_list_odd_color);
    }
    .menu_1_db_info_space_detail_row:last-child,
    .menu_1_db_info_space_detail_row:nth-child(even),
    .list_user_stat_row:nth-child(even),
    .list_lov_row:nth-child(even),
    .list_app_log_row:nth-child(even),
    .list_connected_row:nth-child(even),
    .list_server_log_row:nth-of-type(even),
    #list_pm2_log_out .list_pm2_log_row:nth-child(even),
	#list_pm2_log_err .list_pm2_log_row:nth-child(even),
    #list_pm2_log_process_event .list_pm2_log_row:nth-child(even){
        background-color: var(--app_theme_list_even_color);
    }
    #list_user_stat_row_title{
        background-color: var(--app_theme_list_rowtitle_background_color);
    }
    .list_title{
        font-weight: bold;
    }
    .menu_1_db_info_space_detail_row,
    .list_apps_row,
    .list_app_parameter_row,
    .list_app_log_row,
    .list_connected_row,
    .list_server_log_row,
    .list_pm2_log_row,
    .list_pm2_log_process_event_row{
        font-size: 9px;
    }
    .list_apps_row input,
    .list_app_parameter_row input{
        font-size: 9px;
    }
    #list_apps,
    #list_app_parameter{
        background-color: var(--app_theme_list_background_color);
    }
    #menu_1_db_info_space_detail,
    #lov_list,
    #list_app_log,
    #list_connected,
    #list_server_log,
    #list_pm2_log_out,
    #list_pm2_log_err,
    #list_pm2_log_process_event{
        border: var(--app_theme_list_border_color) solid 0.5px;
    }
    #list_app_pagination div{
        color:var(--app_theme_pagination_color);
        font-size: 24px;
    }
    .switch-label {
        color: transparent;
    }
    .switch-label::before {
        background-color: var(--app_theme_switch_unchecked_background_color);
    }
    .switch-label::after {
        background-color: var(--app_theme_switch_button_color);
        box-shadow: 0 0 2px var(--app_theme_switch_boxshadow_color);
    }  
    .switch-input:checked + .switch-label::before {
        background-color: var(--app_theme_switch_checked_background_color);
    }
    #menu4_row_parameters_col1_1,
    #menu4_row_parameters_col2_1,
    #menu4_row_parameters_col3_1,
    #menu4_row_parameters_col4_1,
    #menu4_row_parameters_col5_1{
        color:var(--app_theme_checkbox-checked_color);
    }
    #menu4_row_parameters_col1_0,
    #menu4_row_parameters_col2_0,
    #menu4_row_parameters_col3_0,
    #menu4_row_parameters_col4_0,
    #menu4_row_parameters_col5_0{
        color:var(--app_theme_checkbox-unchecked_color);
    }
    .dialogue{
        background-color: var(--app_theme_dialogue_modal-background_color);
    }
    .dialogue_content{
        background-color: var(--app_theme_dialogue_background_color);
        box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_boxshadow_color1),0 6px 20px 0 var(--app_theme_dialogue_boxshadow_color2);
    }
    
    /*common*/
    .common_dialogue_content a:hover,  .common_dialogue_content a:active,
    .common_lov_button:hover, .common_lov_button:active{
        color: var(--app_theme_hover_color) !important;
    }
    #user_menu_dropdown{
        box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_boxshadow_color1), 0 6px 20px 0 var(--app_theme_dialogue_boxshadow_color2);
    }
    #lov_search_input{
        border: 1px solid var(--app_theme_input_border_color);
    }
    .list_lov_row_selected {
        background-color: var(--app_theme_list_selected_background_color) !important;
    }
    .list_scrollbar{
        scrollbar-color: var(--app_theme_list_scrollbar_color1) var(--app_theme_list_scrollbar_color2);
    }
    #profile_avatar_online_status.online{
        color:var(--app_theme_online_status_online_color);
    }
    #profile_avatar_online_status.offline{
        color:var(--app_theme_online_status_offline_color);
    }
    .input_error{
        border:1px solid var(--app_theme_input_error_color) !important;
    }
</style>