<style>
    select,input, button {
        font-family: inherit;
    }
    a:link{
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
    a:active {
        text-decoration: underline;
    }
    #dashboard{
        width:100%;
        height:100%;
    }
    #menu{
        width:150px;
        height:100%;
        position:fixed;
        padding-top: 20px;
    }
    .menuitem{
        cursor: pointer;
        text-align: left;
        margin: 20px;
        text-transform:uppercase;
    }

    #main{
        width:100%;
        height:100%;
        margin-left: 150px;
        position: fixed;
        display: block;
        text-align:center;
    }

    #menu_1_content, #menu_2_content, #menu_3_content, #menu_4_content{
        width: 75%;
        height: 100%;
        position:fixed;
        margin:20px;
        display: none;
    }
    .widget{
        height: 50%;
        margin:20px;
        padding: 5px;
        text-align: center;
        border-radius: 4px;
    }
    .theme_light #menu{
        background-color:#fefefe;
        font-weight: bold;
    }
    .theme_light #main{
        background-color:rgb(81, 171, 255);
    }
    .theme_light .menuitem:hover, .theme_light .menuitem:active{
        color:#6ab344 !important;
    }
    .theme_light .widget:hover, .theme_light .widget:active{
        box-shadow: 0 0 35px 4px rgb(255,255,255,0.25);
    }  
    .theme_light .widget{
        background-color: #fefefe;
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    }
    .theme_light .list_connections_row:nth-child(odd) {
        background-color: rgb(197 227 255);
    }
    .theme_light .list_connections_row:nth-child(even) {
        background-color: #FFF;
    }

    .theme_light .switch-label {
        color: transparent;
    }
    .theme_light .switch-label::before {
        background-color: #dedede;
    }
    .theme_light .switch-label::after {
        background-color: #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
    }  
    .theme_light .switch-input:checked + .switch-label::before {
        background-color: rgb(81, 171, 255);
    }
    
    #box1{
        width: 49%;
        height: 200px;
        display:inline-block;
        vertical-align: top;
    }
    #box2{
        width: 49%;
        height: 200px;
        display:inline-block;
        vertical-align: top;
        
    }
    #box1 canvas, #box2 canvas{
        max-height: 100%;
    }
    #select_app{
        margin-left: 49%;
    }
    .load-spinner {
        width: 64px;
        height: 64px;
        display: inline-block;
        margin-left: -150px;
        z-index: 10;
        top: 50px;
        position: fixed;
    }
    .load-spinner div {
        transform-origin: 32px 32px;
        animation: lds-spinner 1.2s linear infinite;
    }
    .load-spinner div:after {
        content: ' ';
        display: block;
        position: absolute;
        top: 3px;
        left: 29px;
        width: 5px;
        height: 14px;
        border-radius: 20%;
        background: #28708c;
    }
    .load-spinner div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1s;
    }
    .load-spinner div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1s;
    }
    .load-spinner div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9s;
    }
    .load-spinner div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8s;
    }
    .load-spinner div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7s;
    }
    .load-spinner div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6s;
    }
    .load-spinner div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5s;
    }
    .load-spinner div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4s;
    }
    .load-spinner div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.3s;
    }
    .load-spinner div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2s;
    }
    .load-spinner div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.1s;
    }
    .load-spinner div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
    }
    @keyframes lds-spinner {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    
    }
    #menu_1_content_widget2{
        height:50px;
        display: block;
        text-align: center;
    }
    #users_connected, #count_connected{
        display:inline-block;
    }
    #count_local, #count_google, #count_facebook{
        display:inline-block;
        margin-right:10px;
    }
    #users_count i.fa-user{
        color: #a49775;
    }
    .googletext{
        font-family: 'Noto Sans';
        font-weight: bold;
        margin-left:-2px;
        margin-right:-2px;
        
    }
    #users_count #google1{
        color: #4285F4;
        display:inline-block;
    }
    #users_count #google2{
        color: #DB4437;
        display:inline-block;
    }
    #users_count #google3{
        color: #F4B400;
        display:inline-block;
    }
    #users_count #google4{
        color: #4285F4;
        display:inline-block;
    }
    #users_count #google5{
        color: #0F9D58;
        display:inline-block;
    }
    #users_count #google6{
        color: #DB4437;
        display:inline-block;
    }
    #users_count i.fa-facebook{
        color: #4267b2;
    }
    #menu_1_content_widget3{
        height:50px;
    }
    #list_connections{
        height:100px;
        overflow-y: auto;
        overflow-x: auto;
        font-size: 9px;
    }
    #list_connections_row_title{
        font-weight: bold;
    }
    .list_connections_row{
        height:24px;
        margin-top: 4px;
    }    

    .list_connections_col:nth-child(1){
        width:25px;
        display:inline-block;
    }
    .list_connections_col:nth-child(2){
        width:25px;
        display:inline-block;
    }
    .list_connections_col:nth-child(3){
        width:70px;
        display:inline-block;
    }
    .list_connections_col:nth-child(4){
        width:110px;
        display:inline-block;
    }
    .list_connections_col:nth-child(5){
        width:90px;
        display:inline-block;
    }
    .list_connections_col:nth-child(6){
        width:50px;
        display:inline-block;
    }
    .list_connections_col:nth-child(7){
        width:50px;
        display:inline-block;
    }
    .list_connections_col:nth-child(8){
        width:120px;
        display:inline-block;
    }
    .switch-input {
        display: none;
      }
    .switch-label {
        display: inline-block !important;
        position:relative;
        width: 48px;
        height: 24px;
        text-indent: -150%;
        clip: rect(0 0 0 0);
        user-select: none;
        vertical-align: middle;
    }
    .switch-label::before,
    .switch-label::after {
        content: "";
        display: block;
        position: absolute;
        cursor: pointer;
    }
    .switch-label::before {
        width: 48px;
        height: 24px;
        border-radius: 9999em;
        -webkit-transition: background-color 0.25s ease;
        transition: background-color 0.25s ease;
    }
    .switch-label::after {
        top: 0px;
        left: 0px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        -webkit-transition: left 0.25s ease;
        transition: left 0.25s ease;
    }
    .switch-input:checked + .switch-label::after {
        left: 24px;
    }
      
</style>