/*APP*/
#menu_apps_title::before{															content:var(--common_app_icon_apps)}
#menu_apps_detail_data::before{												        content:var(--common_app_icon_settings)}
#menu_apps_detail_secret::before{													content:var(--common_app_icon_user_password)}
#menu_apps_detail_module::before{													content:var(--common_app_icon_init)}
#menu_apps_save::before{															content:var(--common_app_icon_save)}

#menu_openapi_save::before{															content:var(--common_app_icon_save)}

#menu_monitor_connected::before{													content:var(--common_app_icon_user_connections)  ' '  var(--common_app_icon_log)}
#menu_monitor_server_log::before{													content:var(--common_app_icon_server) ' ' var(--common_app_icon_log)}
#menu_monitor_detail_filesearch::before{											content:var(--common_app_icon_lov)}

.chat_click::before{																content:var(--common_app_icon_chat)}

#menu_monitor_detail_parameters_row_col1::before{									content:var(--common_app_icon_server) ' REQUEST'}
#menu_monitor_detail_parameters_row_col1_1::before{									content:var(--common_app_icon_checkbox_checked)}
#menu_monitor_detail_parameters_row_col1_0::before{									content:var(--common_app_icon_checkbox_empty)}

#menu_monitor_detail_parameters_row_col2::before{									content:var(--common_app_icon_server) ' BFF'}
#menu_monitor_detail_parameters_row_col2_1::before{									content:var(--common_app_icon_checkbox_checked)}
#menu_monitor_detail_parameters_row_col2_0::before{									content:var(--common_app_icon_checkbox_empty)}

#menu_monitor_detail_parameters_row_col3::before{									content:var(--common_app_icon_database)}
#menu_monitor_detail_parameters_row_col3_1::before{									content:var(--common_app_icon_checkbox_checked)}
#menu_monitor_detail_parameters_row_col3_0::before{									content:var(--common_app_icon_checkbox_empty)}

#menu_monitor_detail_server_log_search_icon::before{								content:var(--common_app_icon_reload)}

#menu_openapi_detail_config::before{												content:var(--common_app_icon_server) ' ' var(--common_app_icon_settings)}
#menu_openapi_detail_servers::before{												content:var(--common_app_icon_server) ' ' var(--common_app_icon_internet)}

#menu_db_info_database_title::before{												content:var(--common_app_icon_database) ' ' var(--common_app_icon_regional_numbersystem)}
#menu_db_info_name_title::before{													content:var(--common_app_icon_database)}
#menu_db_info_version_title::before{												content:var(--common_app_icon_database) ' ' var(--common_app_icon_regional_numbersystem) ' ' var(--common_app_icon_info)}
#menu_db_info_host_title::before{													content:var(--common_app_icon_server)}
#menu_db_info_connections_title::before{											content:var(--common_app_icon_user_connections)}
#menu_db_info_started_title::before{												content:var(--common_app_icon_database_started)}
#menu_db_info_title::before{														content:var(--common_app_icon_database) ' ' var(--common_app_icon_database_stat)}
#menu_db_info_db_sum::before{														content:var(--common_app_icon_sum)}

#menu_report_run::before{															content:var(--common_app_icon_run)}
#menu_report_queue_reload::before{													content:var(--common_app_icon_reload)}
.menu_report_queue_row .report_queue_result::before{								content:var(--common_app_icon_preview)}

#menu_server_os_title::before{														content:var(--common_app_icon_server)}
#menu_server_process_title::before{													content:var(--common_app_icon_server) ' ' var(--common_app_icon_apps)}


/* Dialogue send broadcast*/
#common_app_dialogues_app_custom.common_app_dialogues_show0{
	height:320px;
	width:300px;
}
#dialogue_send_broadcast_select_app_broadcast{
	width:50%;
	display: block;
	margin: 0 auto;
}
#dialogue_send_broadcast_message{
	width:100%;
	height:100px;
	margin-top:10px;
	resize: none;
	display:inline-block;
	border: 0.5px solid;
	text-align: start;
}
#dialogue_send_broadcast_client_id_label{
	width:100%;
}
#dialogue_send_broadcast_select_broadcast_type{
	text-align: center;    
}
#send_broadcast, #dialogue_send_broadcast_close{
	width:100%;
}
#dialogue_send_broadcast_send{
	margin: 20px;
}
/*SECURE*/
#secure{
	width:100%;
    height:100%;
	font-size: 11px;
}
#secure_menu_menus{
	margin-top:20px;
	font-size: 11px;
}
#secure .list_button{
    font-size:1.25em;
}
#secure_menu{
	width:150px;
	height:100%;
	position:fixed;
	top: 0px;
	padding-top: 20px;
	z-index: 10;
	display: none;
}
.secure_menuitem{
	text-align: start;
	padding-inline-start: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-transform:uppercase;
	display: block !important;
}
#secure_menu_open{
	margin-inline-start: 20px;
}
#secure_menu_close{
	display: block;
	top:10px;
	position: absolute;
	text-align: end;
	width: 90%;
}
#secure_main{
	width:100%;
	height:100%;
	position: fixed;
	display: block;
	text-align:center;
}

#secure_menu_content{
	height: 85%;
}
#secure_menu_content .common_loading_spinner{
	display: inline-block;
  	top: calc(50% - 30px);
}
/* SECURE COMMON*/
.widget{
	width: 87%;
	margin:20px;
	padding: 5px;
	text-align: center;
	border-radius: var(--common_app_css_border_radius);
}
.save_buttons, .button_save{
	margin:10px;
	display:inline-block;
}
.list_search{
	margin-bottom: 10px;
	border-radius: var(--common_app_css_border_radius);
}
.list_search_input{
	border: none;
	width: 50% !important;
	display: inline-block;
	padding-left: 3px;
	padding-right: 3px;
	margin: 5px;
	box-sizing: border-box;
	border-radius: var(--common_app_css_border_radius);
}
.list_edit{
	border:none;
	width: 100%;
	display: inline-block;
	padding-left: 3px;
	padding-right: 3px;
	box-sizing: border-box;
	border-radius: var(--common_app_css_border_radius);
}
.list_readonly{
	border:none;
	width: 100%;
	display: inline-block;
	border-radius: var(--common_app_css_border_radius);
}
.list_sort_click, .gps_click, .chat_click {
	cursor: pointer;
}
.list_button{
	border: none;
	border-radius: var(--common_app_css_border_radius);
	text-transform: uppercase;
	cursor: pointer;
	background:none;
	display:inline-block;
	margin-top:10px;
	margin-bottom:10px;
	width:80px;
}
.list_nav{
	margin: 0px;
	padding: 0px;
}
.list_nav .list_nav_list{
	display: inline-block;
}
.list_current_user_row{
	animation: common_pulsate 2s ease-out;
	animation-iteration-count: infinite; 
	opacity: 0.5;
	font-weight: bold;
}
/*MENU DASHBOARD*/
#menu_start_content_widget1{
	height:calc(88% - 10px);
}
#menu_start_content_widget1 .common_select_options{
	max-height: 550px;
}
#menu_start_select_stat{
	white-space: nowrap;
}
#menu_start_content_widget2{
	height:calc(12% - 10px);
	display: grid;
    grid-template-columns: 50% 50%;
}

#menu_start_maintenance_checkbox{
	margin-top: 10px;
	margin-bottom: 5px;
}
#menu_start_broadcast_title{
	display: block;
}
#dialogue_send_broadcast_title{
	display: block;
}
#dialogue_send_broadcast_close::before{
    width: 100%;
}

#menu_start_graphBox{
	height:calc(100% - 4em);
}
#menu_start_graphBox.common_loading_spinner{
	height:30px;
}
#menu_start_chart_box1{
	width: 100%;
	display:inline-block;
	vertical-align: top;
    height: 50%;	
}
#menu_start_chart_box1_chart{
	width: 49%;
	display: inline-block;
	height:50%;
    padding-top: 2em;
}
#menu_start_chart_box1_pie{
	border-radius: 50%;
	display: inline-block;
	height: 16em;
    width: 16em;
}
#menu_start_chart_box1_pie:after {
	content: "";
	display: block;
  }
.menu_start_chart_box_title{
	height: 2em;
    margin-top: 0.5em;
}

.menu_start_chart_box_legend{
	text-align: start;
	display: inline-block;
	width: 50%;
	vertical-align: top;
	overflow-y: auto;
	height: calc(100% - 3em);
}
.menu_start_chart_box_legend_row{
	width: 100%;
}
.menu_start_chart_box_legend_col{
	height: 10px;
	display: inline-block;
	min-width: 50px;
}
#menu_start_chart_box2{
	width: 100%;
	display:inline-block;
	vertical-align: top;
    height:50%;
	
}
#menu_start_chart_box2_chart{
	display: flex;
	align-items: flex-end;
	width: 100%;
	height: calc(100% - 10em);
	margin-bottom: 20px;
	font-size: 0.7em;
}
#menu_start_chart_box2_bar_legendY{
	height:100%;
	width:15px;
	display: inline-block;
}
#menu_start_chart_box2_bar_legend_max{
	margin-top: -8px;
}
#menu_start_chart_box2_bar_legend_max, #menu_start_chart_box2_bar_legend_medium{
	height: 50px;
}
#menu_start_chart_box2_bar_data{
	height:100%;
	width:100%;
	display: flex;
	align-items: flex-end;
}
.menu_start_chart_box2_barcol{
	display:none;
	height:100%;
	align-self: baseline;
}
.menu_start_chart_box2_barcol_legend{
	height:20px;
}
.menu_start_chart_box2_barcol_display{
	display:inline-block;
}
#menu_start_chart_box2_legend{
	width: 100%;
	margin-inline-start: 15px;
	text-align: start;
    height: 2em !important;
}
#menu_start_user_stat{
    display: flex;
    justify-content: space-evenly;
}
/* MENU USERS */
#menu_users_content_widget1{
	height: calc(50% - 10px);
	display: flex;
	flex-direction: column;
}
#menu_users_content_widget2{
	height: calc(50% - 10px);
	display: flex;
	flex-direction: column;
}

#menu_users_list_search_input{
	max-width: 85%;
}
#menu_users_search_icon{
    display:inline-block;
}
#menu_users_list_title, #menu_users_iam_app_access_title{
	text-transform: uppercase;
	display:inline-block;
	width:100%;
	font-size:1.2em;
}
#menu_users_list .common_loading_spinner, #menu_users_iam_app_access .common_loading_spinner{
	display: inline-block;
}
#menu_users_list, #menu_users_iam_app_access{
	display:block;
	overflow-y: auto;
	overflow-x: auto;
	margin-bottom: 10px;
	border-radius: var(--common_app_css_border_radius);
}
.menu_users_list_row, .menu_users_iam_app_access_row{
	padding-top:4px;
	padding-bottom: 4px;
	padding-inline-start: 5px;
	text-align: start;
}
.menu_users_list_row{
	display:grid;
	grid-template-columns: 3em 9em 6em 5em 5em 5em 5em 15em 20em 20em 20em 10em 15em 15em;
}
.menu_users_iam_app_access_row{
	display:grid;
	grid-template-columns: 15em 7em 5em 5em 7em 100em auto;
}
.menu_users_iam_app_access_col:nth-child(1){
	display: none;
}
.menu_users_iam_app_access_col{
    overflow: scroll;
}
/* MENU APP ADMIN*/
#menu_apps_content_widget1{
	height: calc(30% - 10px);
	display: flex;
	flex-direction: column;
}
#menu_apps_content_widget2{
	height: calc(70% - 10px);
	display: flex;
	flex-direction: column;
}
#menu_apps_title, #menu_apps_detail_title{
	text-transform: uppercase;
	display:inline-block;
	width:100%;
	font-size:1.2em;
}
#menu_apps_detail .common_loading_spinner{
	display: inline-block;
}
#menu_apps, #menu_apps_detail{
	display:block;
	overflow-y: auto;
	overflow-x: auto;
	margin-bottom: 10px;
	border-radius: var(--common_app_css_border_radius);
}
.menu_apps_row{
	display: grid;
	grid-template-columns:  3em 15em 15em 15em 15em 15em 15em 16em 16em 7em 15em 15em 20em 7em !important
}
.menu_apps_row, .menu_apps_detail_row{
	height: auto;
}
.menu_apps_row, .menu_apps_detail_row{
	padding-top:4px;
	padding-bottom: 4px;
	padding-inline-start: 5px;
	text-align: start;
}
.menu_apps_detail_col[data-column='Id']{
	display:none;
}
.menu_apps_detail_col[data-column='AppId']{
	display:none;
}
.menu_apps_detail_col[data-column='Name']{
	display:inline-block;
	width:200px;
}
.menu_apps_detail_col[data-column='Value']{
	display:inline-block;
	width:200px;
}
.menu_apps_detail_col[data-column='DisplayData']{
	display:inline-block;
	width:250px;
}
.menu_apps_detail_col[data-column='Data2'],
.menu_apps_detail_col[data-column='Data3'],
.menu_apps_detail_col[data-column='Data4'],
.menu_apps_detail_col[data-column='Data5']{
	display:inline-block;
	width:200px;
}
.menu_apps_detail_col[data-column='ModuleType']{
	display:inline-block;
	width:150px;
}
.menu_apps_detail_col[data-column='ModuleName']{
	display:inline-block;
	width:200px;
}
.menu_apps_detail_col[data-column='ModuleRole']{
	display:inline-block;
	width:100px;
}
.menu_apps_detail_col[data-column='ModulePath']{
	display:inline-block;
	width:350px;
}
.menu_apps_detail_col[data-column='ModuleDescription']{
	display:inline-block;
	width:250px;
}

/*MENU MONITOR*/
#menu_monitor_content_widget1{
	height:calc(63% - 10px);
	display: flex;
	flex-direction: column;
}
#menu_monitor_content_widget2{
	height:calc(37% - 10px);
}
#menu_monitor_sample{
	margin-top:5px;
	margin-bottom:5px;
	box-sizing:unset !important;
	inset-inline-start: calc(50% - 40px);
	height: 40px !important;
}
#menu_monitor_detail {
	height: calc(100% - 100px);
	min-height: calc(100% - 100px);	
}
#menu_monitor_detail_connected_form{
	display: flex;
	flex-direction: column;
	height: 100%;
}
#menu_monitor_detail_app_data_stat_form{
	display:flex;
	flex-direction: column;
	height: 100%;
}
#menu_monitor_detail_server_log_form{
	display:block;
	height: 60px;
}
#menu_monitor_detail_server_log_form.common_loading_spinner{
	display: inline-block;
}
#menu_monitor_pagination{
	display: block;
	height: 40px;
}
#menu_monitor_pagination div{
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}
/*CONNECTED + APP LOG*/
.menu_monitor_detail_connected_row{
	display:grid;
	grid-template-columns: 9em 14em 4em 9em 9em 10em 8em 10em 7em 20em 15em 15em 12em 8em !important;
}
#menu_monitor_detail_app_data_stat, #menu_monitor_detail_connected{
	border-radius: var(--common_app_css_border_radius);
}
.menu_monitor_detail_app_data_stat_row, .menu_monitor_detail_connected_row{
	height: auto;
	padding-top:4px;
	padding-inline-start: 5px;
	text-align: start;
}   
.menu_monitor_detail_app_data_stat_row {
	display:grid;
	grid-template-columns: 12em 9em 12em 23em 20em 100em !important
}
.menu_monitor_detail_app_data_stat_col, .menu_monitor_detail_connected_col{
	display:inline-block;
	margin-inline-end: 10px;
}
/* SERVER LOG*/
#menu_monitor_detail_select_logobject{
	white-space: nowrap;
	width: 15em;
}
#menu_monitor_detail_filesearch{
	font-size: 1.4em;
	height: auto;
	vertical-align: middle;
}
#menu_monitor_detail_parameters_row {
	display:inline-block;
}
.menu_monitor_detail_parameters_row_col, .menu_monitor_detail_parameters_row_col div{
	display: inline-block;
}
.menu_monitor_detail_parameters_row_col{
	margin-inline-end: 20px;
}
#menu_monitor_detail_server_log{
	display: block;
	border-radius: var(--common_app_css_border_radius);
	height: calc(100% - 62px);
}
.menu_monitor_detail_server_log_row{
	padding-top:4px;
	padding-inline-start: 5px;
	text-align: start;
    display:grid;
    grid-template-columns: 80px 120px 90px 70px 70px 70px 170px 170px 250px 1000px 70px 70px 70px 70px 100px 80px 200px 200px 70px 70px 100px;
}
.menu_monitor_detail_server_log_row>div{
	display:inline-block;
	width:auto;
	margin-inline-end: 10px;
	overflow: auto;
}
.menu_monitor_detail_server_log_server_row{
    grid-template-columns: 80px 120px auto !important;
}
.menu_monitor_detail_server_log_app_row{
    grid-template-columns: 80px 120px 30px 150px 100px 100px !important;
}
.menu_monitor_detail_server_log_bff_row{
    grid-template-columns: 80px 120px 50px 70px 70px 250px 500px 500px 100px !important
}
.menu_monitor_detail_server_log_db_row{
    grid-template-columns: 80px 120px 70px 100px 50px 500px 400px 100px !important;
}

/*MAP*/
#menu_monitor_mapid{
	height: 100%;
}
#menu_monitor_mapid >div{
	width: 100%;
	height: 100%;
	direction: ltr;
}
/*MENU CONFIG*/
#menu_openapi_content_widget1{
	height: calc(100%  + 10px);
	display: flex;
	flex-direction: column;
}
#menu_openapi{
	display: flex;
	flex-direction: column;
	height: calc(100% - 50px);
	overflow-x:auto;
	overflow-y:auto;
}
#menu_openapi_row_title{
    margin-bottom: 1em;
}
.menu_openapi_detail_config_row{
    display:grid;
	height: auto;
	padding-top:4px;
	padding-inline-start: 1em;
	text-align: start;
    grid-template-columns: 30em 20em 50em;
    grid-column-gap: 1em;
    white-space: wrap;
}
.menu_openapi_detail_config_row div,
.menu_openapi_detail_servers_row div {
    margin-inline-end: 1em;
}
.menu_openapi_detail_servers_row{
    display:grid;
	height: auto;
	padding-top:4px;
	padding-inline-start: 1em;
	text-align: start;
    grid-template-columns: 20em 15em 10em 5em 20em 5em 10em;
    grid-column-gap: 1em;
}   

/* MENU INSTALLATION*/
#menu_installation_content_widget1{
	height: calc(100% - 10px);
	display: flex;
	flex-direction: column;
    justify-content: center;
}
#menu_installation_demo_button_row >div{
	height: 36px;
}

#menu_installation_demo_password_icon{
	display: inline-block;
}
#menu_installation_demo_input .common_password_container{
	border:1px solid;
	width: 200px !important;
}
#menu_installation_demo_password{
	height: 100%;
}
#menu_installation_demo_password_mask{
	border: unset !important;
}
/* MENU DATABASE*/
#menu_db_info_content_widget1{
	height: 130px;
}
#menu_db_info1.common_loading_spinner{
	inset-inline-start: calc(50% - 40px);
}
#menu_db_info1 div{
	text-align: start;
	display: inline-block;
	font-size: 9px;
	height: 1em;
}
#menu_db_info1>div:nth-child(odd){
	width: 150px;
	text-transform: uppercase;
}
#menu_db_info1>div:nth-child(even){
	width: calc(100% - (150px + 4px));
}
#menu_db_info_content_widget2{
	height:calc(100% - 150px);
	display: flex;
	flex-direction: column;
}
#menu_db_info_title{
	display: inline-block;
	text-align: start;
	margin-bottom:10px;
	text-transform: uppercase;
}
#menu_db_info_detail{
	overflow-y: auto;
	overflow-x: auto;
	margin-bottom: 10px;
	border-radius: var(--common_app_css_border_radius);
}
.menu_db_info_detail_row{
	height: auto;
	padding-top:4px;
	padding-inline-start: 5px;
	text-align: start;
	display: grid;
	grid-template-columns: 20em 10em 8em 5em 10em 10em 10em 5em 20em 35em;
}   
#menu_db_info_detail_row_total{
	border-top: 1px solid black;
	margin-top: 2px;
}
.menu_db_info_detail_col{
	display:inline-block;
	margin-inline-end: 10px;
	overflow: auto;
	text-align: start;
    white-space: preserve;
}
.menu_db_info_detail_col.menu_db_info_detail_col_number{
	text-align: end;
}
.menu_db_info_detail_col:nth-child(1){
	width:250px;
	text-align: start;
}
/*MENU REPORT*/
#menu_report_content_widget1{
	height: calc(50% - 10px);
	display: block;
}
#menu_report_select_report{
	display: inline-block;
	width: 250px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#menu_report_metadata{
	width: 100%;
  	display: inline-block;
	height: calc(100% - 120px);
}
#menu_report_metadata_description{
    white-space: wrap !important;
    margin-left: 2em;
    margin-right: 2em;  
}
.menu_report_metadata_row{
	margin: 0.5em	;
}
.menu_report_metadata_col1{
	width: 200px !important;
	text-align: start;
}
.menu_report_metadata_col2{
	width: 100px !important;
	text-align: start;
}

#menu_report_content_widget2{
	height: calc(50% - 10px);
	display: flex;
	flex-direction: column;
}
#menu_report_queue_reload{
	display: contents;
  	width: 100%;
}
#menu_report_queue{
	margin: 1em;
	padding-bottom: 1em;
}
.menu_report_queue_row{
	display:grid;
	grid-template-columns: 10em 6em 15em 30em 10em 14em 14em 6em 8em 10em 4em;
}
.menu_report_queue_col{
	text-align: start;
	white-space: wrap;
}
.menu_report_queue_col.report_queue_result{
	text-align: center;
}
/*MENU SERVER*/
#menu_server_content_widget1{
	height:300px;
}
#menu_server_os_info, #menu_server_process_info{
	inset-inline-start: calc(50% - 40px);
}
#menu_server_os_info div,
#menu_server_process_info div{
	text-align: start;
	display: inline-block;
	font-size: 9px;
}
#menu_server_os_info div:nth-child(odd),
#menu_server_process_info div:nth-child(odd){
	width: 150px;
	text-transform: uppercase;
	vertical-align: top;
}
#menu_server_os_info div:nth-child(even),
#menu_server_process_info div:nth-child(even){
	width: calc(100% - 150px);
	overflow-wrap: anywhere;
}
#menu_server_content_widget2{
	height:calc(100% - 320px);
}
/* COMMON */
#common_app_iam_user_menu_avatar_img, 
#common_app_iam_user_menu_default_avatar{
    background-color: var(--common_app_color_light);
    box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}    
#common_app_window_info {
	background: var(--common_app_color_white);
}
#common_app_toolbar{
	margin-inline-start: 0px !important;
	bottom:0px !important;
	top: unset !important;
}
#common_app_dialogues_iam_start{
	height: auto !important;
	text-align: center;
}
#common_app_dialogues_profile_input_row,
#common_app_profile_search_list_wrap{
	visibility: hidden;
	display:	none !important;
}
#common_dialouge_user_menu_log_out{
	display:none;
}

/*RESPONSIVE SECURE*/
@media only screen and (min-width: 768px) {
	body{
		font-size: 14px;
	}
	#secure_menu_open, #secure_menu_close{
		display: none;
	}
	#secure_menu{
		display:block !important;
	}
	#secure_main{
		margin-inline-start:150px
		}

	#secure_menu_content{
		width: 75%;
		height:90%;
		margin:20px;
	}
	.widget{
		width: 100%;
	}
	#menu_monitor_pagination{
		margin-top: unset;
	}   
}

/*APP THEME*/
.app_theme_sun,
.app_theme1 {
	--app_theme_main_branding_color1: var(--common_app_color_blue1);
	--app_theme_main_branding_color2: var(--common_app_color_blue2);
	--app_theme_main_branding_color3: var(--common_app_color_white1);
	--app_theme_main_branding_color4: var(--common_app_color_black);
	--app_theme_main_branding_color5: var(--common_app_color_white2);

	--app_theme_main_shadow_color1: var(--common_app_color_shadow1);
	--app_theme_main_shadow_color2: var(--common_app_color_shadow2);
	--app_theme_main_shadow_color3: var(--common_app_color_white_transparent);
	--app_theme_main_select_color: var(--common_app_color_white2);
	--app_theme_main_select_color2: var(--common_app_color_green);
	--app_theme_main_select_color3: var(--common_app_color_black);
	--app_theme_main_select_color4: var(--common_app_color_blue1);
	--app_theme_main_border_color: var(--common_app_color_white2);
	--app_theme_main_border_color2: var(--common_app_color_blue2);
	--app_theme_main_border_color3: var(--common_app_color_white1);
	--app_theme_main_gradient_color1: var(--common_app_color_white3);
	--app_theme_main_gradient_color2: var(--common_app_color_white2);
	--app_theme_main_gradient_color3: var(--common_app_color_white1);

	--app_theme_online_status_online_color: var(--app_theme_main_select_color2);
    --app_theme_online_status_offline_color: var(--app_theme_main_select_color3);
	--app_theme_a_color:var(--app_theme_main_branding_color1);
	--app_theme_secure_menuitem_color:var(--app_theme_main_branding_color4);
	--app_theme_text_color: var(--app_theme_main_branding_color4);
	--app_theme_background_color: var(--app_theme_main_branding_color1);
	--app_theme_background_color2: var(--app_theme_main_branding_color5);
	--app_theme_dialogue_background_color: var(--app_theme_main_branding_color3);
	--app_theme_dialogue_boxshadow_color1:var(--app_theme_main_shadow_color1);
	--app_theme_dialogue_boxshadow_color2:var(--app_theme_main_shadow_color2);
	--app_theme_dialogue_boxshadow_active_color:var(--app_theme_main_shadow_color3);
	--app_theme_input_border_color:var(--app_theme_main_branding_color2);
	--app_theme_hover_color: var(--app_theme_main_select_color2);

	--app_theme_spinner_background_color:var(--app_theme_main_branding_color1);
	--app_theme_login_nav_selected_background_color: var(--app_theme_main_branding_color2);
	/*SECURE*/
	--app_theme_graph_boxshadow_color:var(--app_theme_main_shadow_color2);
	--app_theme_graph_border_color:var(--app_theme_main_border_color2);
	--app_theme_graph_colum_border_color:var(--app_theme_main_border_color3);
	--app_theme_graph_gradient_color1: var(--app_theme_main_gradient_color1);
	--app_theme_graph_gradient_color2: var(--app_theme_main_gradient_color2);
	--app_theme_graph_gradient_color3: var(--app_theme_main_gradient_color3);
	--app_theme_menu_background_color: var(--app_theme_main_branding_color3);
	--app_theme_widget_boxshadow_active_color:var(--app_theme_main_shadow_color3);
	--app_theme_widget_background_color:var(--app_theme_main_branding_color3);
	--app_theme_widget_boxshadow_color1:var(--app_theme_main_shadow_color1);
	--app_theme_widget_boxshadow_color2:var(--app_theme_main_shadow_color2);
	--app_theme_list_odd_color:var(--app_theme_main_branding_color4);
	--app_theme_list_odd_background_color:var(--app_theme_main_branding_color2);
	--app_theme_list_even_color:var(--app_theme_main_branding_color4);
	--app_theme_list_even_background_color:var(--app_theme_main_branding_color3);
	--app_theme_list_rowtitle_color:var(--app_theme_main_branding_color4);
	--app_theme_list_rowtitle_background_color:var(--app_theme_main_branding_color3);
	--app_theme_list_background_color:var(--app_theme_main_branding_color2);
	--app_theme_list_border_color:var(--app_theme_main_branding_color2);
	--app_theme_list_selected_background_color: var(--app_theme_main_select_color);
	--app_theme_list_scrollbar_color1: var(--app_theme_main_branding_color2);
	--app_theme_list_scrollbar_color2: var(--app_theme_main_branding_color5);
	--app_theme_pagination_color:var(--app_theme_main_branding_color2);
	--app_theme_switch_button_color:var(--app_theme_main_branding_color3);
	--app_theme_switch_checked_background_color:var(--app_theme_main_branding_color2);
	--app_theme_switch_unchecked_background_color:var(--app_theme_background_color2);
	--app_theme_switch_boxshadow_color:var(--app_theme_main_shadow_color1);
	--app_theme_checkbox-checked_color: var(--app_theme_main_select_color2);
	--app_theme_checkbox-unchecked_color: var(--app_theme_main_select_color3);
	--app_theme_dialogue_modal-background_color: var(--app_theme_main_shadow_color2);
	--app_theme_input_error_color:var(--app_theme_main_select_color4);
	--app_theme_nav_selected_color:var(--app_theme_main_branding_color4);
	--app_theme_nav_selected_background_color:var(--app_theme_main_branding_color2);
	--app_theme_secure_menuitem_selected_background_color: var(--app_theme_main_branding_color2);
}
.app_theme_moon,
.app_theme2 {
	--app_theme_main_branding_color1: var(--common_app_color_dark);
	--app_theme_main_branding_color2: var(--common_app_color_black);
	--app_theme_main_branding_color3: var(--common_app_color_dark4);
	--app_theme_main_branding_color4: var(--common_app_color_gold);
	--app_theme_main_branding_color5: var(--common_app_color_white2);

	--app_theme_main_shadow_color1: var(--common_app_color_shadow1);
	--app_theme_main_shadow_color2: var(--common_app_color_shadow2);
	--app_theme_main_shadow_color3: var(--common_app_color_white_transparent);
	--app_theme_main_select_color: var(--common_app_color_white2);
	--app_theme_main_select_color2: var(--common_app_color_green);
	--app_theme_main_select_color3: var(--common_app_color_black);
	--app_theme_main_select_color4: var(--common_app_color_dark);
	--app_theme_main_border_color: var(--common_app_color_white2);
	--app_theme_main_border_color2: var(--common_app_color_blue2);
	--app_theme_main_border_color3: var(--common_app_color_white1);
	--app_theme_main_gradient_color1: var(--common_app_color_white3);
	--app_theme_main_gradient_color2: var(--common_app_color_white2);
	--app_theme_main_gradient_color3: var(--common_app_color_white1);

	--app_theme_online_status_online_color: var(--app_theme_main_select_color2);
	--app_theme_online_status_offline_color: var(--app_theme_main_select_color3);
	--app_theme_a_color:var(--app_theme_main_branding_color4);
	--app_theme_secure_menuitem_color:var(--app_theme_main_branding_color4);
	--app_theme_text_color: var(--app_theme_main_branding_color4);
	--app_theme_background_color: var(--app_theme_main_branding_color1);
	--app_theme_background_color2: var(--app_theme_main_branding_color5);
	--app_theme_dialogue_background_color: var(--app_theme_main_branding_color3);
	--app_theme_dialogue_boxshadow_color1:var(--app_theme_main_shadow_color1);
	--app_theme_dialogue_boxshadow_color2:var(--app_theme_main_shadow_color2);
	--app_theme_dialogue_boxshadow_active_color:var(--app_theme_main_shadow_color3);
	--app_theme_input_border_color:var(--app_theme_main_branding_color2);
	--app_theme_hover_color: var(--app_theme_main_select_color2);

	--app_theme_spinner_background_color:var(--app_theme_main_branding_color4);
	--app_theme_login_nav_selected_background_color: var(--app_theme_main_branding_color2);
	/*SECURE*/
	--app_theme_graph_boxshadow_color:var(--app_theme_main_shadow_color2);
	--app_theme_graph_border_color:var(--app_theme_main_border_color2);
	--app_theme_graph_colum_border_color:var(--app_theme_main_border_color3);
	--app_theme_graph_gradient_color1: var(--app_theme_main_gradient_color1);
	--app_theme_graph_gradient_color2: var(--app_theme_main_gradient_color2);
	--app_theme_graph_gradient_color3: var(--app_theme_main_gradient_color3);
	--app_theme_menu_background_color: var(--app_theme_main_branding_color3);
	--app_theme_widget_boxshadow_active_color:var(--app_theme_main_shadow_color3);
	--app_theme_widget_background_color:var(--app_theme_main_branding_color3);
	--app_theme_widget_boxshadow_color1:var(--app_theme_main_shadow_color1);
	--app_theme_widget_boxshadow_color2:var(--app_theme_main_shadow_color2);
	--app_theme_list_odd_color:var(--app_theme_main_branding_color4);
	--app_theme_list_odd_background_color:var(--app_theme_main_branding_color2);
	--app_theme_list_even_color:var(--app_theme_main_branding_color4);
	--app_theme_list_even_background_color:var(--app_theme_main_branding_color3);
	--app_theme_list_rowtitle_color:var(--app_theme_main_branding_color4);
	--app_theme_list_rowtitle_background_color:var(--app_theme_main_branding_color3);
	--app_theme_list_background_color:var(--app_theme_main_branding_color2);
	--app_theme_list_border_color:var(--app_theme_main_branding_color2);
	--app_theme_list_selected_background_color: var(--app_theme_main_select_color);
	--app_theme_list_scrollbar_color1: var(--app_theme_main_branding_color2);
	--app_theme_list_scrollbar_color2: var(--app_theme_main_branding_color5);
	--app_theme_pagination_color:var(--app_theme_main_branding_color2);
	--app_theme_switch_button_color:var(--app_theme_main_branding_color3);
	--app_theme_switch_checked_background_color:var(--app_theme_main_branding_color2);
	--app_theme_switch_unchecked_background_color:var(--app_theme_background_color2);
	--app_theme_switch_boxshadow_color:var(--app_theme_main_shadow_color1);
	--app_theme_checkbox-checked_color: var(--app_theme_main_select_color2);
	--app_theme_checkbox-unchecked_color: var(--app_theme_main_select_color3);
	--app_theme_dialogue_modal-background_color: var(--app_theme_main_shadow_color2);
	--app_theme_input_error_color:var(--app_theme_main_select_color4);
	--app_theme_nav_selected_color:var(--app_theme_main_branding_color4);
	--app_theme_nav_selected_background_color:var(--app_theme_main_branding_color2);
	--app_theme_secure_menuitem_selected_background_color: var(--app_theme_main_branding_color2);
}
.app_theme3 {
	--app_theme_main_branding_color1: var(--common_app_color_cafe_latte);
	--app_theme_main_branding_color2: var(--common_app_color_cafe_latte2);
	--app_theme_main_branding_color3: var(--common_app_color_cafe_latte3);
	--app_theme_main_branding_color4: var(--common_app_color_black);
	--app_theme_main_branding_color5: var(--common_app_color_white2);

	--app_theme_main_shadow_color1: var(--common_app_color_shadow1);
	--app_theme_main_shadow_color2: var(--common_app_color_shadow2);
	--app_theme_main_shadow_color3: var(--common_app_color_white_transparent);
	--app_theme_main_select_color: var(--common_app_color_white2);
	--app_theme_main_select_color2: var(--common_app_color_green);
	--app_theme_main_select_color3: var(--common_app_color_black);
	--app_theme_main_select_color4: var(--common_app_color_cafe_latte);
	--app_theme_main_border_color: var(--common_app_color_white2);
	--app_theme_main_border_color2: var(--common_app_color_blue2);
	--app_theme_main_border_color3: var(--common_app_color_white1);
	--app_theme_main_gradient_color1: var(--common_app_color_white3);
	--app_theme_main_gradient_color2: var(--common_app_color_white2);
	--app_theme_main_gradient_color3: var(--common_app_color_white1);

	--app_theme_online_status_online_color: var(--app_theme_main_select_color2);
	--app_theme_online_status_offline_color: var(--app_theme_main_select_color3);
	--app_theme_a_color:var(--app_theme_main_branding_color3);
	--app_theme_secure_menuitem_color:var(--app_theme_main_branding_color3);
	--app_theme_text_color: var(--app_theme_main_branding_color3);
	--app_theme_background_color: var(--app_theme_main_branding_color1);
	--app_theme_background_color2: var(--app_theme_main_branding_color5);
	--app_theme_dialogue_background_color: var(--app_theme_main_branding_color1);
	--app_theme_dialogue_boxshadow_color1:var(--app_theme_main_shadow_color1);
	--app_theme_dialogue_boxshadow_color2:var(--app_theme_main_shadow_color2);
	--app_theme_dialogue_boxshadow_active_color:var(--app_theme_main_shadow_color3);
	--app_theme_input_border_color:var(--app_theme_main_branding_color2);
	--app_theme_hover_color: var(--app_theme_main_select_color2);

	--app_theme_spinner_background_color:var(--app_theme_main_branding_color3);
	--app_theme_login_nav_selected_background_color: var(--app_theme_main_branding_color2);
	/*SECURE*/
	--app_theme_graph_boxshadow_color:var(--app_theme_main_shadow_color2);
	--app_theme_graph_border_color:var(--app_theme_main_border_color2);
	--app_theme_graph_colum_border_color:var(--app_theme_main_border_color3);
	--app_theme_graph_gradient_color1: var(--app_theme_main_gradient_color1);
	--app_theme_graph_gradient_color2: var(--app_theme_main_gradient_color2);
	--app_theme_graph_gradient_color3: var(--app_theme_main_gradient_color3);
	--app_theme_menu_background_color: var(--app_theme_main_branding_color2);
	--app_theme_widget_boxshadow_active_color:var(--app_theme_main_shadow_color3);
	--app_theme_widget_background_color:var(--app_theme_main_branding_color2);
	--app_theme_widget_boxshadow_color1:var(--app_theme_main_shadow_color1);
	--app_theme_widget_boxshadow_color2:var(--app_theme_main_shadow_color2);
	--app_theme_list_odd_color:var(--app_theme_main_branding_color3);
	--app_theme_list_odd_background_color:var(--app_theme_main_branding_color1);
	--app_theme_list_even_color:var(--app_theme_main_branding_color2);
	--app_theme_list_even_background_color:var(--app_theme_main_branding_color3);
	--app_theme_list_rowtitle_color:var(--app_theme_main_branding_color1);
	--app_theme_list_rowtitle_background_color:var(--app_theme_main_branding_color3);
	--app_theme_list_background_color:var(--app_theme_main_branding_color1);
	--app_theme_list_border_color:var(--app_theme_main_branding_color1);
	--app_theme_list_selected_background_color: var(--app_theme_main_select_color);
	--app_theme_list_scrollbar_color1: var(--app_theme_main_branding_color2);
	--app_theme_list_scrollbar_color2: var(--app_theme_main_branding_color5);
	--app_theme_pagination_color:var(--app_theme_main_branding_color2);
	--app_theme_switch_button_color:var(--app_theme_main_branding_color3);
	--app_theme_switch_checked_background_color:var(--app_theme_main_branding_color2);
	--app_theme_switch_unchecked_background_color:var(--app_theme_background_color2);
	--app_theme_switch_boxshadow_color:var(--app_theme_main_shadow_color1);
	--app_theme_checkbox-checked_color: var(--app_theme_main_select_color2);
	--app_theme_checkbox-unchecked_color: var(--app_theme_main_select_color3);
	--app_theme_dialogue_modal-background_color: var(--app_theme_main_shadow_color2);
	--app_theme_input_error_color:var(--app_theme_main_select_color4);
	--app_theme_nav_selected_color:var(--app_theme_main_branding_color3);
	--app_theme_nav_selected_background_color:var(--app_theme_main_branding_color1);
	--app_theme_secure_menuitem_selected_background_color: var(--app_theme_main_branding_color1);
}
body{
	--common_app_color_spinner:var(--app_theme_text_color);
	--common_app_color_background_spinner:var(--app_theme_dialogue_background_color);
	color: var(--app_theme_text_color) !important;
	background: var(--app_theme_background_color) !important;
	caret-color: var(--app_theme_text_color);
}
.common_app_dialogues_button{
	color: var(--app_theme_text_color) !important;
}
/*SECURE*/
.secure_menuitem{
	color: var(--app_theme_secure_menuitem_color);
}
#menu_start_chart_box1_pie{
	border: 1px solid var(--app_theme_graph_border_color);
	box-shadow: 3px 3px var(--app_theme_graph_boxshadow_color);    
}
#menu_start_chart_box2_bar_data{
	border: 1px solid var(--app_theme_graph_border_color);
	background: repeating-linear-gradient(to bottom, var(--app_theme_graph_gradient_color1), var(--app_theme_graph_gradient_color2) 2px,var(--app_theme_graph_gradient_color3) 2px, var(--app_theme_graph_gradient_color3) 10%);
}
.menu_start_chart_box2_barcol_color{
	border: 1px solid var(--app_theme_graph_colum_border_color);
}
#secure_menu{
	background-color:var(--app_theme_menu_background_color);
	font-weight: bold;
}
.secure_menuitem_selected{
	background-color: var(--app_theme_secure_menuitem_selected_background_color) !important;
}
#common_app_dialogues_user_menu_messages_col_date:hover,
#common_app_dialogues_user_menu_messages_col_date:active,
#common_app_dialogues_user_menu_messages_col_sender:hover,
#common_app_dialogues_user_menu_messages_col_sender:active,
#common_app_dialogues_user_menu_messages_col_subject:hover,
#common_app_dialogues_user_menu_messages_col_subject:active,
.common_app_dialogues_user_menu_messages_row:not(.common_app_dialogues_user_menu_messages_row_title):hover,
.common_app_dialogues_user_menu_messages_row:not(.common_app_dialogues_user_menu_messages_row_title):active,
.secure_menuitem:hover,            .secure_menuitem:active, 
.chat_click:hover,                 .chat_click:active,
.gps_click:hover,                  .gps_click:active,
.list_button:hover,                .list_button:active,
.list_lov_row:hover,               .list_lov_row:active,
#menu_monitor_pagination div:hover,#menu_monitor_pagination div:active{
	color: var(--app_theme_hover_color) !important;
}
.list_nav .list_button{
	color: var(--app_theme_nav_selected_color);
}
.list_nav .list_nav_selected_tab{
	background-color:var(--app_theme_nav_selected_background_color);
}
.widget:hover, .widget:active{
	box-shadow: 0 0 35px 4px var(--app_theme_widget_boxshadow_active_color);
}  
.widget{
	background-color: var(--app_theme_widget_background_color) !important;
	box-shadow: 0 4px 8px 0 var(--app_theme_widget_boxshadow_color1), 0 6px 20px 0 var(--app_theme_widget_boxshadow_color2);
}
.common_app_dialogues_user_menu_messages_row:nth-child(odd),
.menu_db_info_detail_row:nth-child(odd),
.list_lov_row:nth-child(odd),
.menu_monitor_detail_app_data_stat_row:nth-child(odd),
.menu_monitor_detail_connected_row:nth-child(odd),
.menu_monitor_detail_server_log_row:nth-of-type(odd),
.menu_report_queue_row:nth-of-type(odd){
	color: var(--app_theme_list_odd_color);
	background-color: var(--app_theme_list_odd_background_color);
}
.common_app_dialogues_user_menu_messages_row:nth-child(even),
.menu_db_info_detail_row:last-child,
.menu_db_info_detail_row:nth-child(even),
.list_lov_row:nth-child(even),
.menu_monitor_detail_app_data_stat_row:nth-child(even),
.menu_monitor_detail_connected_row:nth-child(even),
.menu_monitor_detail_server_log_row:nth-of-type(even),
.menu_report_queue_row:nth-of-type(even){
	color: var(--app_theme_list_even_color);
	background-color: var(--app_theme_list_even_background_color);
}
.list_title{
	display: inline-block;
	font-weight: bold;
	vertical-align: middle;
}
.menu_db_info_detail_row,
.menu_users_list_row,
.menu_users_iam_app_access_row,
.menu_apps_row,
.menu_apps_detail_row,
.menu_monitor_detail_app_data_stat_row,
.menu_monitor_detail_connected_row,
.menu_monitor_detail_server_log_row,
.menu_openapi_detail_config_row,
.menu_openapi_detail_servers_row{
	font-size: 9px;
}
.menu_users_list_row .common_input,
.menu_users_iam_app_access_row .common_input,
.menu_apps_row .common_input,
.menu_apps_detail_row .common_input{
	font-size: 9px;
}
.list_search,
#menu_users_list,
#menu_users_iam_app_access,
#menu_apps,
#menu_apps_detail,
#menu_openapi_detail{
	background-color: var(--app_theme_list_background_color);
}
#menu_db_info_detail,
#lov_list,
#menu_monitor_detail_app_data_stat,
#menu_monitor_detail_connected,
#menu_monitor_detail_server_log{
	border: var(--app_theme_list_border_color) solid 0.5px;
}
#menu_monitor_pagination div{
	color:var(--app_theme_pagination_color);
	font-size: 24px;
	width: calc(100%/20);
}
#menu_monitor_pagination_page, #menu_monitor_pagination_page_last, #menu_monitor_pagination_page_total_count{
	font-size: 14px !important;
}
#menu_monitor_detail_parameters_row_col1_1,
#menu_monitor_detail_parameters_row_col2_1,
#menu_monitor_detail_parameters_row_col3_1{
	color:var(--app_theme_checkbox-checked_color);
}
#menu_monitor_detail_parameters_row_col1_0,
#menu_monitor_detail_parameters_row_col2_0,
#menu_monitor_detail_parameters_row_col3_0{
	color:var(--app_theme_checkbox-unchecked_color);
}
.common_password_container{
	display: inline-block !important;
    vertical-align: super;
}
#secure_menu_content .common_loading_spinner::before{
	background-color: var(--app_theme_background_color);
}
#secure_menu_content .widget .common_loading_spinner::before{
	background-color: var(--app_theme_dialogue_background_color);
}
#menu_users_list .common_loading_spinner::before,
#menu_users_iam_app_access .common_loading_spinner::before,
#menu_apps_detail .common_loading_spinner::before
{
	background-color: var(--app_theme_list_background_color) !important;
}
/*APP THEME COMMON*/
#common_app_dialogues_user_menu_messages{
    border: var(--app_theme_list_border_color) solid 0.5px;
}
#common_app_dialogues_user_menu_messages_list{
    border-bottom: var(--app_theme_list_border_color) solid 0.5px;
}
#common_app_dialogues_user_menu_messages_message_col_message{
    border-bottom: var(--app_theme_list_border_color) solid 0.5px;
}
#common_app_iam_user_menu:hover,
#common_app_iam_user_menu:active{
    box-shadow: 0 0 35px 4px var(--app_theme_dialogue_boxshadow_active_color);
}
.common_toolbar_selected{
	background-color: var(--app_theme_login_nav_selected_background_color) !important;
}
#common_app_toolbar {
    color: var(--app_theme_text_color);
    background-color: var(--app_theme_dialogue_background_color);
    box-shadow: 0px -3px 3px var(--app_theme_dialogue_boxshadow_color1);
}

#common_app_dialogues_iam_start .common_input{
	border: 1px solid var(--app_theme_input_border_color);
}
.common_app_dialogues_iam_start_selected {
	background-color:var(--app_theme_login_nav_selected_background_color);
}
.common_input{
	background-color: var(--app_theme_dialogue_background_color);
}
.common_app_dialogues_button:hover, 
.common_app_dialogues_button:active,
.common_toolbar_button:hover, 
.common_toolbar_button:active{
	color:var(--app_theme_hover_color) !important;
}
.common_toolbar_button{
	color: var(--app_theme_text_color) !important;
}
#common_app_dialogues_message_progressbar_wrap{
	border-color: var(--app_theme_main_branding_color1) !important;
}
#common_app_dialogues_message_progressbar{
	background-color: var(--app_theme_main_branding_color1);
}
.common_app_dialogues_content{
	background-color: var(--app_theme_dialogue_background_color);
	box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_boxshadow_color1), 0 6px 20px 0 var(--app_theme_dialogue_boxshadow_color2);
}
#common_dialouge_user_menu{
	background-color: var(--app_theme_dialogue_background_color);
	box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_boxshadow_color1),0 6px 20px 0 var(--app_theme_dialogue_boxshadow_color2);
}
/*SECURE*/
.common_map_control_active,
.common_row_selected{
	background-color: var(--app_theme_list_selected_background_color) !important;
}
.common_switch {
	color: transparent;
}
.common_switch::before {
	background-color: var(--app_theme_switch_unchecked_background_color);
}
.common_switch::after {
	background-color: var(--app_theme_switch_button_color);
	box-shadow: 0 0 2px var(--app_theme_switch_boxshadow_color);
}  
.common_switch.checked::before {
	background-color: var(--app_theme_switch_checked_background_color);
}
#common_app_dialogues_lov_search_input{
	border: 1px solid var(--app_theme_input_border_color);
}
.common_list_scrollbar{
	scrollbar-color: var(--app_theme_list_scrollbar_color1) var(--app_theme_list_scrollbar_color2);
}
.common_input_error{
	border: 2px solid var(--app_theme_input_error_color) !important;
}
.common_map_control_expand{
	background-color: var(--app_theme_main_branding_color2) !important;
}
.common_map_control_button{
	background-color: var(--app_theme_main_branding_color2);
}
.common_map_popup{
	background-color: var(--app_theme_dialogue_background_color) !important;
	color: var(--app_theme_text_color) !important;
}
.common_map_control_expand_search_list_row:hover,
.common_map_control_expand_search_list_row:active {
	background-color: var(--common_app_color_white3);
}