/*APP*/
#app{
    display: block;
    width: calc(380px + 80em);
}
#menu_open::before{		content: var(--common_app_icon_menu_open)}
#menu_close::before{    content: var(--common_app_icon_menu_close)}

#menu_open{
    margin-inline-start: 20px;
	height: 30px;
    display: inline-block;
}
#menu_close{
    display: block;
    top:40px;
    position: absolute;
    height: 20px;
    margin-inline-start: 300px;
}
#menu_open, #menu_close{
    background: none;
	border: none;
	font-size: 30px;
	width: 60px;
	padding:0px;
	text-transform: uppercase;
	cursor:pointer;
}
/* MENU*/
#nav_content_app div[href]{
	margin-inline-start: 1em;
}
#nav_content_jsdoc{
    margin-top: 1em;
}
#title,
#nav_content_app div[href],
#nav_content_jsdoc li{
	cursor: pointer;
}
#title{
    cursor:pointer;
    margin-top: 1em;
    margin-bottom: 1em;
}
#nav{
    width: 350px;
    font-size: 0.9em;
    overflow-y:auto;
    overflow-x:hidden;
    padding-inline-start: 10px;
    display:none;
    text-align: start;
    height: 100vh;
}
#nav_content_guide{
    font-size: 0.9em;
}
#nav_content_guide > div{
    cursor:pointer;
}
.app_menu{
    cursor: pointer;
}
.app_submenu{
    display: none;
}
.app_submenu.active{
    display: block;
}

/*DOCUMENTS */
.title_h1{
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}
.title_h2{
    margin-top: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
}
.title_h3{
    font-size: 1.1em;
    font-weight: bold;
    font-style: italic;
}
.title_h4{
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}
.title_h5{
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}
#content_title{
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
}
#content{
    display: inline-block;
    font-size: 1em;
    margin-inline-start: 10px;
    width:80em !important;
    min-width:80em;
    vertical-align: top;
}
/*CODE*/
.common_markdown_code,
.code {
    border: 1px solid;
    white-space: preserve;
    border-radius: var(--common_app_css_border_radius);
    padding: 0.5em;
    font-size: 0.9em !important;
}
.code_line{
    width: 4em;
    display:inline-block;
    font-size: 0.7em !important;
    padding-inline-end: 1em;
    text-align: end;
    vertical-align: middle;
}
.code_text{
    font-size: 0.7em !important;
    width: calc(100% - 5em);
    overflow: auto;
    display:inline-block;
    vertical-align: middle;
}
.code,
.code_line,
.code_text{
    font-family: 'Noto Sans Mono';
}

/* JSDoc template css*/
.header{
    display: block;
    margin-bottom: 5em;
}

.section{
    display: block;
    margin-bottom: 5em;
}
.article{
    display: block;
}
.footer{
    font-size: 0.6em;
    margin-bottom: 1em;
}
.a {
    cursor:pointer;
}
.ul{
    font-size: 1em;
    margin-inline-start: 1em;
}
.li{
    font-size: 0.9em;
}
.details .ul{
    margin-inline-start: 6em;
}
.details .li{
    padding-top: 6px;
}
.details dt {
    width: 120px;
    float: left;
    padding-left: 10px;
    padding-top: 6px;
}
.source{
    font-size: 0.7em !important;
}
.description {
    margin-bottom: 1em;
    margin-top: 1em;
    white-space: preserve;
}
a {
    text-decoration: none;
}
table
{
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}

td, th
{
    border: 1px solid;
    margin: 0px;
    text-align: start;
    vertical-align: top;
    padding: 4px 6px;
    display: table-cell;
}

thead tr
{
    font-weight: bold;
}
.params .code{
    border: none;
    white-space: inherit;
    border-radius: inherit;
    padding: 0;
    font-size: inherit !important;
    font-family: inherit;
    background-color: inherit;
	color: inherit;
    border-color: inherit;
}
/*RESPONSIVE SECURE*/
@media only screen and (min-width: 768px) {
	body{
		font-size: 1.2em;
	}
	#menu_open, #menu_close{
		display: none;
	}
	#nav{
		display:inline-block !important;
	}
}
/*COMMON*/
#common_toolbar_framework{
    margin-inline-start: 230px !important;
}
#common_profile_input_row,
#common_profile_search_list_wrap{
	visibility: hidden;
}
#common_user_account{
	visibility: hidden;
}
#common_window_info{
	display:grid;
}
#common_window_info_info{
	position:absolute;
	margin:20px;
	top: 60px;
  	width: 100%;
  	height: 100%;
}
.common_markdown_table_no_odd_event{
    white-space: initial;
}
.common_markdown_table_no_odd_event .common_markdown_table_content_preserve{
    white-space: pre-wrap;
}
.common_markdown_table_no_odd_event .common_markdown_table_row{
    display: block;
}
/*APP THEME*/
body {
	--common_app_color_spinner:var(--common_app_color_black);
	--common_app_color_background_spinner:var(--common_app_color_blue1);
	color: var(--common_app_color_black);
	background: var(--common_app_color_white);
	caret-color: var(--common_app_color_black);
}
#app .css_spinner::before,
#content_title .css_spinner::before{
    background-color: var(--common_app_color_white);
}
#nav{
    background-color: var(--common_app_color_blue3);
    color: var(--common_app_color_light);
}
a {
    color: var(--common_app_color_light);
}
#content a {
    color: var(--common_app_color_blue3);
}
.common_markdown_code,
.code {
    background-color: var(--common_app_color_black);
	color: var(--common_app_color_white);
    border-color: var(--common_app_color_light);
}
.code_line_selected{
    background-color: var(--common_app_color_blue1) !important;
    color: var(--common_app_color_light);
}
.signature,
.type-signature{
    color: var(--common_app_color_blue3);
}
#article .title_h4{
    color: var(--common_app_color_gold);
}
thead tr{
    background-color: var(--common_app_color_light);
}

th { border-inline-end: 1px solid var(--common_app_color_shadow1); }
tr > th:last-child { border-inline-end: 1px solid var(--common_app_color_shadow1); }
td, th{
    border-color:  var(--common_app_color_shadow1);
}
#menu_close.common_dialogue_button {
    color: var(--common_app_color_light);
}
/* APP THEME COMMON*/
.common_markdown_image {
    border-color: var(--common_app_color_light) !important;
}
.common_document_header{
    border-bottom-color: var(--common_app_color_shadow1) !important;
}
.common_document_footer{
    border-top-color: var(--common_app_color_shadow1) !important;
}
.common_markdown_code_inline{
	background-color:var(--common_app_color_white3);
    border-color: var(--common_app_color_white2) !important;
}
.common_markdown_note{
    background-color: var(--common_app_color_blue2);
    border-inline-start-color: var(--common_app_color_blue1) !important;
}
.common_markdown_note::before{
  	color: var(--common_app_color_light);
    background-color: var(--common_app_color_blue1);
}
.common_markdown_table_no_odd_event .common_markdown_table_row:nth-child(odd),
.common_markdown_table_row_odd{
    color: var(--common_report_color_black);
  	background-color: var(--common_report_color_lightblue3);
}
.common_markdown_table_no_odd_event .common_markdown_table_row:nth-child(even),
.common_markdown_table_row_even{
	color: var(--common_report_color_black);
	background-color:var(--common_report_color_white);
}
.common_toolbar_selected{
	background-color: var(--common_app_color_blue1) !important;
}
#common_toolbar_framework {
    color: var(--common_app_color_black);
    background-color: var(--common_app_color_white1);
    box-shadow: 0px 0px 10px var(--common_app_color_shadow1);
}

.common_link:hover,
.common_link:active{
	color:var(--common_app_color_green);
}
.common_dialogue_button:hover,
.common_dialogue_button:active,
.common_toolbar_button:hover,
.common_toolbar_button:active{
	color:var(--common_app_color_green) !important;
}
.common_dialogue_content:hover, 
.common_dialogue_content:active{
	box-shadow: 0 0 35px 4px var(--common_app_color_white_transparent);
}  
.common_dialogue_content{
	background-color: var(--common_app_color_white1);
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);	
}
#common_dialouge_user_menu{
	background-color: var(--common_app_color_white);
}
#common_window_info_toolbar{
	background: var(--common_app_color_white);
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}
#common_window_info{
	background: var(--common_app_color_white);
}