
#printbody {
	margin: 0px;
}
/* PAPER*/
#paper {
	background-color:var(--common_report_color_white);
	color: var(--common_report_color_black);
	font-family: var(--common_app_font_arabic_sans);
	z-index: 0;
	margin-top: 10px;
}
#paper.A4{
	width : 210mm;
	height : 297mm;
}
#paper.Letter{
	width : 8.5in;
	height : 11in;
}
#report{
	font-size: 0.5em;
	margin-bottom: 1em;
}
/*CSS for minimum 768px*/
@media only screen and (min-width: 768px) {
	#paper {
		margin: 0 auto;
		position: inherit;
		margin-top: 10px;
	}
	#report{
		font-size: 1em;
	}
}
#printbody #paper {
	box-shadow: none;
	margin: 0 auto;
	margin-top: 0px;
}

#report_title{
	font-size: 2em;
	width: 100%;
	margin-bottom: 1em;
}
#report_date{
	font-size: 1em;
	width: 100%;
	margin-bottom: 1em;
}
.report_title{
	font-weight: bold;
	margin-top: 1em;
	margin-bottom: 0em;
}
.report_row{
	display: inline-block;
	width: 90%;
}
.report_row > div{
	display: inline-block;
}
.report_col1 {
	width: calc(40% - 5px);
    vertical-align: top;
}
.report_col2 {
	width: calc(60% - 5px);
}
.report_row_title{
	margin-top:1em;
}
.report_row_3col .report_col2_1{
	text-align: end;
	display: inline-block;
	width: calc(50% - 5px);
}
.report_row_3col .report_col2_2{
	text-align: start;
	display: inline-block;
	width: calc(50% - 5px);
}
.report_row_4col .report_col1_1,
.report_row_4col .report_col1_2,
.report_row_4col .report_col2_1,
.report_row_4col .report_col2_2 {
	width: calc(50% - 5px);
	display: inline-block;
}
.report_row_4col .report_col1_1,
.report_row_4col .report_col2_1{
	text-align: end;
}
.report_row_4col .report_col1_2,
.report_row_4col .report_col2_2{
	text-align: start;
}
.report_row_5col .report_col{
    display: inline-block;
    width: calc(20% - 1em);
    font-size: 0.7em;
}
.report_col1{
	background-color: var(--common_report_color_darkblue);
	color: var(--common_report_color_white);
}
/*even rows*/
.report_row:nth-child(2n) {
	color: var(--common_report_color_black);
	background-color:var(--common_report_color_white);
}
/*odd rows*/
.report_row:nth-child(2n+1) {
	color: var(--common_report_color_black);
  	background-color: var(--common_report_color_lightblue3);
}