
/*Icons general use*/
.common_construction::before{											content:var(--common_app_icon_maintenance)}	
.common_unlike::before{													content:var(--common_app_icon_user_unlike)}	
.common_like::before{													content:var(--common_app_icon_user_like)}	
.common_user_follow::before{											content:var(--common_app_icon_user_follow_user)}
.common_user_followed::before{											content:var(--common_app_icon_user_followed_user)}
.common_search_icon::before{											content:var(--common_app_icon_search)}
.common_reload::before{													content:var(--common_app_icon_reload)}
.common_user_session_expired::before{									content:var(--common_app_icon_user_session_expired)}

/*Icons app data display*/
.common_app_data_display_button_update::before{							content:var(--common_app_icon_update)}
.common_app_data_display_button_post::before{							content:var(--common_app_icon_add)}
.common_app_data_display_button_delete::before{							content:var(--common_app_icon_delete)}
.common_app_data_display_button_print::before{							content:var(--common_app_icon_print)}
.common_data_display_icon_cancel::before{								content:var(--common_app_icon_cancel) !important}
.common_data_display_icon_ok::before{									content:var(--common_app_icon_close) !important}

/*Icons app*/
#common_toolbar_framework_js::before{									content:var(--common_app_icon_javascript)}
#common_toolbar_framework_vue::before{									content:var(--common_app_icon_vue)}
#common_toolbar_framework_react::before{								content:var(--common_app_icon_react)}

/*Icons broadcast*/
#common_broadcast_close::before{										content:var(--common_app_icon_broadcast_close)}
#common_broadcast_info_title::before{									content:var(--common_app_icon_alert)}

/*Icons dialogue apps*/
#common_dialogue_info_contact_text::before{								content:var(--common_app_icon_email)}

/*Icons dialogue lov*/
.common_lov_button::before{												content:var(--common_app_icon_lov)}
#common_lov_search_icon::before{										content:var(--common_app_icon_search)}
#common_lov_close::before{												content:var(--common_app_icon_close)}

/*Icons dialogue message*/
#common_message_close::before{											content:var(--common_app_icon_close)}
#common_message_cancel::before{											content:var(--common_app_icon_cancel)}
#common_message_title_icon::before{										content:''}
#common_message_title_icon[data-text_class='message_text']::before{		content:var(--common_app_icon_message_text)}
#common_message_title_icon[data-text_class='message_success']::before{	content:var(--common_app_icon_message_success)}
#common_message_title_icon[data-text_class='message_fail']::before{		content:var(--common_app_icon_message_fail)}
#common_message_confirm_question:empty::before{							content:var(--common_app_icon_question)}

/*Icons dialogue profile*/
#common_profile_joined_date_icon::before{								content:var(--common_app_icon_user_account_created)}
#common_profile_private_title::before{									content:var(--common_app_icon_private)}
#common_profile_avatar_online_status::before{							content:var(--common_app_icon_online)}
#common_profile_stat_row1_1::before{									content:var(--common_app_icon_user_views)}
#common_profile_stat_row1_2::before{									content:var(--common_app_icon_user_follows)}
#common_profile_stat_row1_3::before{									content:var(--common_app_icon_user_like) ' ' var(--common_app_icon_user_follows)}
#common_dialogue_profile_home::before{											content:var(--common_app_icon_user_profile_stat)}
#common_dialogue_profile_close::before{											content:var(--common_app_icon_close)}
#common_profile_info_view_count_icon::before{							content:var(--common_app_icon_user_views)}
#common_profile_main_btn_following::before{								content:var(--common_app_icon_user_follows)}
#common_profile_main_btn_followed::before{								content:var(--common_app_icon_user_followed)}
#common_profile_main_btn_liked_users::before{							content:var(--common_app_icon_user_followed)}
#common_profile_detail_list_app_delete::before{							content:var(--common_app_icon_delete)}
#common_profile_btn_top::before{										content:var(--common_app_icon_user_profile_stat)}

/*Icons dialogue user edit*/
#common_dialogue_iam_edit_btn_avatar_img::before{								content:var(--common_app_icon_user_avatar_edit)}
#common_dialogue_iam_edit_private::before{										content:var(--common_app_icon_private)}
#common_dialogue_iam_edit_close::before{										content:var(--common_app_icon_close)}
#common_dialogue_iam_edit_label_provider::before{								content:var(--common_app_icon_provider)}
#common_dialogue_iam_edit_label_provider_id::before{							content:var(--common_app_icon_provider_id)}
#common_dialogue_iam_edit_label_provider_email::before{							content:var(--common_app_icon_email)}
#common_dialogue_iam_edit_input_username_icon::before{							content:var(--common_app_icon_user)}
#common_dialogue_iam_edit_input_bio_icon::before{								content:var(--common_app_icon_user_profile)}
#common_dialogue_iam_edit_input_email_icon::before{								content:var(--common_app_icon_email)}
#common_dialogue_iam_edit_input_new_email_icon::before{							content:var(--common_app_icon_email)}
#common_dialogue_iam_edit_input_password_icon::before{							content:var(--common_app_icon_user_password)}
#common_dialogue_iam_edit_input_password_confirm_icon::before{					content:var(--common_app_icon_user_password_confirm)}
#common_dialogue_iam_edit_input_password_new_icon::before{						content:var(--common_app_icon_user_password)}
#common_dialogue_iam_edit_input_password_new_confirm_icon::before{				content:var(--common_app_icon_user_password_confirm)}
#common_dialogue_iam_edit_input_password_reminder_icon::before{					content:var(--common_app_icon_user_password_reminder)}

#common_dialogue_iam_edit_label_last_logintime::before{							content:var(--common_app_icon_user_last_logintime)}
#common_dialogue_iam_edit_label_account_created::before{						content:var(--common_app_icon_user_account_created)}
#common_dialogue_iam_edit_label_account_modified::before{						content:var(--common_app_icon_user_account_modified)}

#common_dialogue_iam_edit_btn_user_delete_account::before{						content:var(--common_app_icon_delete)}	
#common_dialogue_iam_edit_btn_user_update.spinner::before{						content: ''}
#common_dialogue_iam_edit_btn_user_update::before{								content:var(--common_app_icon_update)}	

#common_dialogue_iam_edit_input_username:empty::before{							content:var(--common_app_icon_user)}
#common_dialogue_iam_edit_input_bio:empty::before{								content:var(--common_app_icon_user_profile)}
#common_dialogue_iam_edit_input_new_email:empty::before{						content:var(--common_app_icon_email)}
#common_dialogue_iam_edit_input_password:empty::before{							content:var(--common_app_icon_user_password)}
#common_dialogue_iam_edit_input_password_confirm:empty::before{					content:var(--common_app_icon_user_password_confirm)}
#common_dialogue_iam_edit_input_password_new:empty::before{						content:var(--common_app_icon_user_password)}
#common_dialogue_iam_edit_input_password_new_confirm:empty::before{				content:var(--common_app_icon_user_password_confirm)}
#common_dialogue_iam_edit_input_password_reminder:empty::before{				content:var(--common_app_icon_user_password_reminder)}

/*Icons dialogue user menu*/
#common_dialogue_user_menu_edit::before{								content:var(--common_app_icon_edit)}
#common_dialogue_user_menu_signup::before{								content:var(--common_app_icon_signup)}
#common_dialogue_user_menu_log_in::before{								content:var(--common_app_icon_login)}
#common_dialogue_user_menu_log_out::before{								content:var(--common_app_icon_logout)}
#common_dialogue_user_menu_preference_locale::before{					content:var(--common_app_icon_regional_locale)}
#common_dialogue_user_menu_preference_timezone::before{					content:var(--common_app_icon_regional_timezone)}
#common_dialogue_user_menu_preference_direction::before{				content:var(--common_app_icon_regional_direction)}
#common_dialogue_user_menu_preference_arabic_script::before{			content:var(--common_app_icon_regional_script)}
#common_dialogue_user_menu_close::before{								content:var(--common_app_icon_close)}

/*Icons dialogue user password new*/
#common_dialogue_iam_password_new_icon::before{									content:var(--common_app_icon_user_password)}
#common_dialogue_iam_password_new_cancel::before{								content:var(--common_app_icon_cancel)}
#common_dialogue_iam_password_new_ok::before{									content:var(--common_app_icon_close)}

#common_dialogue_iam_password_new::before{										content:var(--common_app_icon_password)}
#common_dialogue_iam_password_new_confirm::before{								content:var(--common_app_icon_password_confirm)}

/*Icons dialogue user start*/
#common_dialogue_iam_start_login::before{										content:var(--common_app_icon_user)}
#common_dialogue_iam_start_login_button::before{								content:var(--common_app_icon_login)}
#common_dialogue_iam_start_login_admin_button::before{							content:var(--common_app_icon_login)}

#common_dialogue_iam_start_login_username:empty::before{						content:var(--common_app_icon_user)}
#common_dialogue_iam_start_login_password:empty::before{						content:var(--common_app_icon_user_password)}

#common_dialogue_iam_start_login_admin_username:empty::before{					content:var(--common_app_icon_user);}
#common_dialogue_iam_start_login_admin_password:empty::before{					content:var(--common_app_icon_user_password)}
#common_dialogue_iam_start_login_admin_password_confirm:empty::before{			content:var(--common_app_icon_user_password_confirm)}

#common_dialogue_iam_start_signup::before{										content:var(--common_app_icon_signup)}
#common_dialogue_iam_start_signup_button::before{								content:var(--common_app_icon_signup)}

#common_dialogue_iam_start_signup_username:empty::before{						content:var(--common_app_icon_user)}
#common_dialogue_iam_start_signup_email:empty::before{							content:var(--common_app_icon_email)}
#common_dialogue_iam_start_signup_password:empty::before{						content:var(--common_app_icon_user_password)}
#common_dialogue_iam_start_signup_password_confirm:empty::before{				content:var(--common_app_icon_user_password_confirm)}
#common_dialogue_iam_start_signup_password_reminder:empty::before{				content:var(--common_app_icon_user_password) ' ' var(--common_app_icon_question)}
#common_dialogue_iam_start_forgot_email:empty::before{							content:var(--common_app_icon_email)}

#common_dialogue_iam_start_forgot::before{										content:var(--common_app_icon_forgot)}
#common_dialogue_iam_start_forgot_button::before{								content:var(--common_app_icon_email)}

#common_dialogue_iam_start_forgot_email:empty::before{							content:var(--common_app_icon_email)}

#common_dialogue_iam_start_close::before{										content:var(--common_app_icon_close)}
#common_dialogue_iam_start_login_admin_first_time::before{						content:var(--common_app_icon_init)}


/*Icons dialogue user verify*/
#common_dialogue_iam_verify_email_icon::before{									content:var(--common_app_icon_email)}
#common_dialogue_iam_verify_cancel::before{										content:var(--common_app_icon_cancel)}

/*Icons module leaflet control*/
#common_module_leaflet_control_search_button::before{					content:var(--common_app_icon_search)}
#common_module_leaflet_search_icon::before{								content:var(--common_app_icon_search)}
#common_module_leaflet_control_fullscreen_id::before{					content:var(--common_app_icon_fullscreen)}
#common_module_leaflet_control_my_location_id::before{					content:var(--common_app_icon_map_my_location)}
#common_module_leaflet_control_layer_button::before{					content:var(--common_app_icon_map_layer)}

/*Icons module leaflet popup*/
.common_module_leaflet_popup_sub_title::before{							content:var(--common_app_icon_regional_timezone) ' ' var(--common_app_icon_gps_position)}

/*Icons profile info*/
#common_profile_info_main_btn_cloud::before{							content:var(--common_app_icon_sky_cloud)}

/*Icons profile search*/
#common_profile_search_icon::before{									content:var(--common_app_icon_search)}

/*Icons user account*/
#common_iam_avatar_default_avatar::before{								content:var(--common_app_icon_user_avatar)}

/*Icons window info*/
#common_window_info_btn_close::before{									content:var(--common_app_icon_close)}
#common_window_info_toolbar_btn_zoomout::before{						content:var(--common_app_icon_zoomout)}
#common_window_info_toolbar_btn_zoomin::before{							content:var(--common_app_icon_zoomin)}
#common_window_info_toolbar_btn_left::before{							content:var(--common_app_icon_left)}
#common_window_info_toolbar_btn_right::before{							content:var(--common_app_icon_right)}
#common_window_info_toolbar_btn_up::before{								content:var(--common_app_icon_up)}
#common_window_info_toolbar_btn_down::before{							content:var(--common_app_icon_down)}
#common_window_info_toolbar_btn_fullscreen::before{						content:var(--common_app_icon_fullscreen)}

/*Icons markdown*/
.common_markdown_note::before{											content:'!'}
body{
	font-size: 16px;
	margin: 0;
	height: 100%;
	padding: 0px;
	width: auto;
	direction:ltr;
}
body.rtl{
	direction:rtl;
}
/*images common*/
.common_image{
	border-radius: 50%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
/*images specific usage*/
.common_image_avatar{
	width: 48px;
	height: 48px;
}
.common_image_avatar_list{
	height: 1.4em;
	width: 1.4em;	
	vertical-align: bottom;
	display: inline-block;
}
.common_image_avatar_profile{
	width: 64px;
	height: 64px;
}
.common_image_logo_start{
	border-radius:unset !important;
	width: 40px;
	height: 40px;
}
.common_image_alert{
	width: 50px;
	height: 50px;
}
.common_image_broadcast{
	width: 34px;
	height: 34px;
}

#common_construction{
	font-size: 30px;
}

.common_select{
	display: inline-block;
	vertical-align: middle;
	border: 1px solid;
	min-width: 5em;
    min-height: 1.5em;
	background-color: var(--common_app_color_white);
}
.common_select_dropdown{
	width: 100%;
	display: inline-block;
	padding-inline-end: 4px;
}
.common_select_dropdown_value{
	cursor: pointer;
	text-align: start;
	display: inline-block;
	width: calc(100% - 25px);
	min-height: 1em;
	overflow: hidden;
	line-height: 1em;
}
.common_select_dropdown_icon::after{
	content: var(--common_app_icon_select);
}
.common_select_dropdown_icon{
	display: inline-block;
	border-radius: 2px;
	width: 15px;
    height: 100%;
	cursor:pointer;
	vertical-align: top;
}
.common_select_options{
	display: none;
	text-align: start;
	padding: 2px;
    padding-inline-end: 23px;
	position: absolute;
	border: 1px solid;
	min-width: 20px;
	max-height: 30em;
	border-radius: 2px;
	cursor:pointer;
	overflow-y:auto;
	overflow-x:hidden;
	background-color: var(--common_app_color_white);
	z-index: 10;
}
.common_select_option{
	display: block;
	width: 100%;
	height: 1.5em;
}
.common_select_option:hover,
.common_select_option:active{
	background-color: var(--common_app_color_white3);
}
.common_placeholder:empty::before{
	opacity:0.7;
	font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
	font-style: normal;
	font-weight: 900;
}
.common_input{
	display: inline-block;
	text-align: start;
	line-height: normal;
	overflow: hidden;
	vertical-align: middle;
	width: 100%;
	border: 1px solid;
}
.common_password_container{
	font-family: 'Noto Sans Mono';
	position: relative;
	display: inherit;
	width: 100%;
}
.common_password:empty{
	color:inherit !important;
}
.common_password{
	position:absolute;
	z-index: 0;
	color:transparent !important;
	background-color: transparent !important;
}
.common_input:hover{
	cursor: text;
}
.common_icon {
	font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
	font-weight: 900;
	font-style: normal;
	display: inline-block;
}  
.common_icon::before{
    white-space: nowrap;
	vertical-align: middle;
}
.common_icon svg{
	font-size: 2em;
	height: 0.6em;
	vertical-align: sub;
}
.common_link:hover,
.common_link:active{
	cursor:pointer;
}
.common_input_lov{
	width: calc(100% - 15px) !important;
}
.common_lov_button{
	display: inline-block;
}
.common_lov_search_row{
	width:100%;
}
#common_lov_search_input{
	width: calc(100% - 30px);
	display: inline-block;
	border-radius: var(--common_app_css_border_radius);
	padding:2px;
}
#common_lov_search_icon{
	width: 15px;
	display: inline-block;
}
.common_list_lov_row{
	display:inline-block;
}
.common_list_lov_row_hide{
	display:none !important;
}
.common_list_lov_click{
	cursor:pointer;
}
.common_wide_list_column{
	overflow: auto;
}
/*checkbox with switch ui*/
.common_switch {
	display: inline-block !important;
	position:relative;
	width: 48px;
	height: 24px;
	text-indent: -150%;
	clip: rect(0 0 0 0);
	user-select: none;
	vertical-align: middle;
}
.common_switch::before,
.common_switch::after {
	content: "";
	display: block;
	position: absolute;
	cursor: pointer;
}
.common_switch::before {
	width: 48px;
	height: 24px;
	border-radius: 9999em;
	transition: background-color 0.25s ease;
}
.common_switch::after {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	transition: left 0.25s ease;
}
.common_switch.checked::after {
	left: 24px;
}
.common_dialogue_button {
	background: none;
	border: none;
	font-size: 30px;
	width: 60px;
	height: 30px;
	padding:0px;
	text-transform: uppercase;
	cursor:pointer;
	display: inline-block;
}
.common_toolbar_button {
	background: none;
	border: none;
	font-size: 30px;
	width: 50px;
	height: 60px;
	padding:0px;
	text-transform: uppercase;
	cursor:pointer;
}
.common_list_scrollbar{
	overflow-y: auto;
	overflow-x: auto;
	white-space: nowrap;
	height: 100%;
    display: grid;
    grid-auto-rows: max-content;
	inset-inline-start: calc(50% - 40px);
}
/*framework*/
#common_toolbar_framework.show{
	display: flex;
}
#common_toolbar_framework{	
	display: none;
	z-index: 100;
	flex-direction: row;
	justify-content: center;
	position:absolute;
	top: 0px;
	border-radius: var(--common_app_css_border_radius);
	font-size: 1.5em;
	margin-inline-start: calc(50% - calc(1.5em * 3/2));
}
#common_toolbar_framework .common_icon{
	cursor:pointer;
	width: 1.25em;
	text-align: center;
	height: 1.25em !important;
}
/* search*/
.common_search_input{
	width: 94%;
}
/* app display data*/
.common_app_data_display_master_title{
	font-weight: bold;
	margin-bottom:1em;
}
.common_app_data_display_master{
	margin-bottom: 2em;
}
.common_app_data_display_master,
.common_app_data_display_detail_horizontal_row_title,
.common_app_data_display_detail_horizontal_row{
	text-align: start;
}
.common_app_data_display_master_row{
	margin-bottom: 1em;
}
.common_app_data_display_master_col_list{
	display: inline-block;
}
.common_app_data_display_master_col_list_color{
	width: 1em;
	height: 1em;
	border-radius: 50%;
}
.common_app_data_display_detail_horizontal_row_title,
.common_app_data_display_detail_horizontal_row{
	display: grid;
	grid-auto-flow: column;
    grid-template-columns: auto;
}
.common_app_data_display_detail_horizontal_row_title{
	font-weight: bold;
}
.common_app_data_display_detail_vertical_row{
	display: grid;
	grid-auto-flow: column;
    grid-template-columns: 50% 50%;
	justify-items: start;
	margin-inline-start: 25%;
}
.common_app_data_display_master_col1,
.common_app_data_display_master_col2{
	display: inline-block;
	text-align: start;
	word-wrap: break-word;
	vertical-align: middle;
	width: calc(50% - 1em);
}
.common_app_data_display_type_image > div,
.common_app_data_display_type_image > svg{
	width: 8em;
	height: 8em;
}
.common_app_data_display_master_col2[contentEditable=true]{
	border:1px solid;
}
.common_app_data_display_detail_col{
	display: inline-block;
}
.common_app_data_display_buttons{
	position:absolute;
	bottom:1em;
	display: inline-block;
	margin: 1em;
}
/*dialogue*/
.common_dialogues_modal {
	z-index:50 !important;
	position: fixed;
	padding-top: 10px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.common_dialogue_show0 {
	z-index:50;
	padding: 20px;
}
.common_dialogue_show1 {
	z-index:51;
	padding: 20px;
}
.common_dialogue_show2 {
	z-index:52;
	padding: 20px;
}
.common_dialogue_show3 {
	z-index:53;
	padding: 20px;
}
.common_dialogue_content{
	text-align:center;
	top: 50%;
    left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	word-break: break-word;
	border-radius: var(--common_app_css_border_radius);
}
/* add animation effects */
@keyframes common_pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}
/*DIALOGUE APPS*/
#common_dialogue_apps{
	overflow: hidden;
	padding: unset;
}
#common_dialogue_info_app_menu_content{
	width: 100%;
}
#common_dialogue_apps_list.css_spinner, #common_dialogue_info_app_menu_content_apps_list.css_spinner{
	height: 30px !important;
	display: inline-block;
}
#common_dialogue_apps_list, #common_dialogue_info_app_menu_content_apps_list{
	margin-top:10px;
	height: 350px;
    overflow-y: auto;
    overflow-x: hidden;
	text-align: center;
    box-sizing: content-box;
	padding: 0px;
}
#common_dialogue_apps_list{
	font-size: 0.7em;
}
#common_dialogue_apps_list_title{
	height: 50px;
  	display: flex;
  	align-items: center;
  	justify-content: center;
}
#common_dialogue_apps_list .common_dialogue_apps_app_link_row{
	width: 45%;
    display: inline-block;
	vertical-align: top;
}
#common_dialogue_apps_list .common_dialogue_apps_app_link_col{
	width: 100%;
    display: block;
	margin-left: unset;
    margin-top: unset;
}
.common_dialogue_apps_app_link_row{
	padding-top: 4px;
    padding-bottom: 4px;
}
.common_dialogue_apps_app_link_col:nth-child(1),.common_dialogue_apps_app_link_col:nth-child(2){
	display: none;
}
.common_dialogue_apps_app_link_col:nth-child(3){
	width: 20%;
    display: inline-block;
	margin-left: 5px;
    margin-top: 3px;
}
.common_dialogue_apps_app_link_col:nth-child(4){
	width: 70%;
    text-align: start;
    display: inline-block;
    vertical-align: top;
}
.common_dialogue_apps_app_name{
	font-weight: bold;
	cursor: default;
}
.common_dialogue_apps_app_description{
	cursor: default;
	font-size: 0.7em;
}
.common_dialogue_apps_app_logo:hover, .common_dialogue_apps_app_logo:active {
	transform: scale(1.2);
	cursor: pointer;
}
.common_dialogue_apps_app_logo{
	margin: 0 auto;
}	
/*DIALOGUE INFO*/
#common_dialogue_apps #common_dialogue_info_contact_text, 
#common_dialogue_apps #common_dialogue_info_app_email{
	display: inline-block;
}

#common_dialogue_apps #common_dialogue_info_title1, 
#common_dialogue_apps #common_dialogue_info_title2{
    height: 30px;
    margin: 0 auto;
}
#common_dialogue_apps #common_dialogue_info_start_links, 
#common_dialogue_apps #common_dialogue_info_contact, 
#common_dialogue_apps #common_dialogue_info_app_copyright{
	font-size: 11px;
}
#common_dialogue_apps #common_dialogue_info_start_links 
#common_dialogue_apps #common_dialogue_info_app_link_row, 
#common_dialogue_apps #common_dialogue_info_info_link_row{
	text-align: center;
	width: 100%;
}
#common_dialogue_apps #common_dialogue_info_app_link_row div, 
#common_dialogue_apps #common_dialogue_info_info_link_row div{
	display: inline-block;
	margin:5px;
}
#common_dialogue_apps #common_dialogue_info_info_diagram_img, 
#common_dialogue_apps #common_dialogue_info_info_datamodel_img{
	width: 113.77px;
	height: 64px;
}
#common_dialogue_apps #common_dialogue_info_info_diagram, 
#common_dialogue_apps #common_dialogue_info_info_datamodel{
	cursor:pointer;
}
#common_dialogue_apps #common_dialogue_apps_info{
	display: inline-block;
	width: 100%;
	position: fixed;
	bottom: 1em;
	inset-inline-start: 0px;
}
#common_dialogue_apps.common_dialogue_show0{
	width: 350px;
	height: calc(100% - 200px);
}
/* DIALOGUE MESSAGE*/
#common_dialogue_message.common_dialogue_show3{
	min-width: 200px;
	overflow-y: auto;
    max-height: 90%;
}
#common_confirm_question{
	cursor:default;
	display:inline-block;
	margin-bottom:10px;
	font-family: inherit;
}
#common_message_progressbar_wrap{
	display:inline-block;
	text-align: start;
	width: 100%;
	height: 10px;
	border: 0.5px solid;
	border-radius: var(--common_app_css_border_radius);
	animation: common_pulsate 2s ease-out;
	animation-iteration-count: infinite;
}
#common_message_progressbar{
	display:inline-block;
	width: 100%;
	height: 10px;
	border-radius: var(--common_app_css_border_radius);
	vertical-align: top;
}
#common_message_title{
	cursor:default;
	display:inline-block;
}
#common_message_title.common_font_log{
	font-size: 0.5em;
}
#common_message_title.common_font_normal{
	font-size: 1em;
}
#common_message_title_icon{
	display: inline-block;
}
#common_message_cancel{
	cursor:pointer;
}
#common_message_close{
	outline:none;
	cursor:pointer;
	display:inline-block;
}
#common_message_title .common_icon{
	vertical-align: middle;
	margin-bottom: 1px;
}
#common_message_title #common_message_info_list{
	display: block;
	width: 300px;
}
#common_message_title #common_message_info_list #common_message_info_list_title{
	font-weight: bold;
	font-size: 1.5em;
}
#common_message_title #common_message_info_list .common_message_info_list_row{
	display: inline-block;
	width: 100%;
	margin: 2px;
}
#common_message_title #common_message_info_list .common_message_info_list_row .common_message_info_list_col{
	display: inline-block;
	width: calc(50% - 10px);
	text-align: start;
	vertical-align: top;
}
/* Dialogue Verification code*/
#common_dialogue_iam_verify.common_dialogue_show2{
	height:280px;
}
#common_dialogue_iam_verify_email_icon{
	font-size:30px;
	height:30px;
}
#common_dialogue_iam_verify_email{
    margin-top: 20px;
	height: 30px;
}
#common_dialogue_iam_verify_data_verification_type,
#common_dialogue_iam_verify_data_username,
#common_dialogue_iam_verify_data_password{
	display: none;
}
#common_dialogue_iam_verify_verification_container{
	margin-top:40px;
	margin-bottom:40px;	
}
.common_dialogue_iam_verify_verification_wrap{
	width: 30px;
	height: 40px;
	padding: 0;
	display:inline-block;
	margin:5px;
}
.common_dialogue_iam_verify_input_verification_char{
	border-radius: var(--common_app_css_border_radius);
	font-size: 30px;
	text-align: center;
	width:30px;
	height:40px;
	border: 1px solid;
}
/*Dialogue app data display*/
#common_dialogue_app_data_display.common_dialogue_show1{
	max-height: 90%;
	width: 360px;
}

/*Dialogue user password new*/
#common_dialogue_iam_password_new.common_dialogue_show2{
	width: 300px;
	height:150px;
}
#common_dialogue_iam_password_new_icon{
	font-size: 30px;
    height: 30px;
}
#common_dialogue_iam_password_new_auth{
	display: none;
}
#common_dialogue_iam_password_new_password,
#common_dialogue_iam_password_new_password_mask,
#common_dialogue_iam_password_new_confirm,
#common_dialogue_iam_password_new_confirm_mask{
	margin-top: 10px;
	height: 30px;
	padding: 4px 10px;
    box-sizing: border-box;
}
/*Dialogue user start*/
#common_dialogue_iam_start.common_dialogue_show1{
	max-height: 90%;
	width: 300px;
	height: 430px;
}
.common_dialogue_iam_start_form{
	width: 100%;
}
#common_dialogue_iam_start_nav > div{
	margin:10px;
	cursor: pointer;
	width: 20%;
}
#common_dialogue_iam_start_logo{
	background-image: url('/common/images/logo.png');
	margin: 0 auto;
}
#common_dialogue_iam_start .common_input, .common_login_input{
	height: 2em;
	margin-top: 10px;
	padding: 2px 10px;
	box-sizing: border-box;
}
#common_dialogue_iam_start .common_dialogue_iam_start_button{
	display: inline-block;
	height:30px;
	padding:1px;
	border: 0px solid;
	margin-top:10px;
	margin-bottom:10px;
	cursor:pointer;
}
#common_dialogue_iam_start .common_login_provider_id, 
#common_dialogue_iam_start .common_login_provider_name{
	display:inline-block;
}
#common_dialogue_iam_start_forgot_form{
	width: 100%;
}
#common_dialogue_iam_start_forgot_button{
	margin:10px;
	cursor:pointer;
}
#common_dialogue_iam_start_close{
	width: 100%;
	margin-top:10px;
}
#common_dialogue_iam_start_login_button{
	width: 100%;
}
#common_dialogue_iam_start_identity_provider_login >div,
#common_dialogue_iam_start_identity_provider_login{
	display: block !important;
}
/*Dialogue user edit*/
#common_dialogue_iam_edit.common_dialogue_show1{
	width: 360px;
	height: auto;
	padding-bottom: 0px;
}
#common_dialogue_iam_edit .common_input{
	height: 1.5em;
	width: 100%;
	border: 0.5px solid;
}
#common_dialogue_iam_edit_avatar{
	width:48px;
	height:48px;
	position: fixed;
    top: 4px;
}
#common_dialogue_iam_edit_input_avatar_img{
	display:none;
}
#common_dialogue_iam_edit_btn_avatar_img{
	border: 0.5px solid;
	border-radius: var(--common_app_css_border_radius);
    width: 26px;	
    margin-top: 20px;
	cursor: pointer;
	display: inline-block;
}
#common_dialogue_iam_edit .common_setting_horizontal_row{
	display: block;
}
#common_dialogue_iam_edit #common_dialogue_iam_edit_common .common_setting_horizontal_row:first-child{
	height: 60px;
}
#common_dialogue_iam_edit #common_dialogue_iam_edit_common .common_setting_horizontal_row:first-child .common_setting_horizontal_col:nth-child(2){
	text-align: center !important;
	vertical-align: top;
}
#common_dialogue_iam_edit .common_setting_horizontal_col:nth-child(1){
	width :10%;
	display: inline-block;
}
#common_dialogue_iam_edit .common_setting_horizontal_col:nth-child(2){
	width :85%;
	text-align: start;
	display: inline-block;
}
#common_dialogue_iam_edit #common_dialogue_iam_edit_provider .common_setting_horizontal_row:nth-child(5){
	height:0px;
}
#common_dialogue_iam_edit #common_dialogue_iam_edit_provider{
	margin-top: 10px;
    margin-bottom: 10px;
}
#common_dialogue_iam_edit_buttons{
	margin-bottom: 10px;
}
#common_dialogue_iam_edit_close{
	margin-bottom:20px;
}
#common_dialogue_iam_edit #common_dialogue_iam_edit_buttons .common_setting_horizontal_col:nth-child(1) {
	width: 0%;
	display: none;
}
#common_dialogue_iam_edit #common_dialogue_iam_edit_buttons .common_setting_horizontal_col:nth-child(2) {
	width: 100%;
	text-align: center !important;
}
#common_dialogue_iam_edit_label_data_last_logintime,
#common_dialogue_iam_edit_label_data_account_created,
#common_dialogue_iam_edit_label_data_account_modified {
	font-size: 0.5em;
}

/*Dialogue lov*/
#common_dialogue_lov.common_dialogue_show2{
	height:auto;
	width: 350px;
}
#common_lov_list{
	height: 230px;
    border-radius: var(--common_app_css_border_radius);
    text-align: start;
}
#common_lov_search_icon{
	cursor:pointer;	
}
.common_list_lov_row{
	width:100%;
	display:block;
	cursor:pointer;
}
.common_list_lov_col1{
	width:50px;
	display:inline-block;
	padding-left: 3px;
	padding-right: 3px;
	margin: 1px;
	border-radius: var(--common_app_css_border_radius);
}
.common_list_lov_col2{
	width:150px;
	display:inline-block;
	padding-left: 3px;
	padding-right: 3px;
	margin: 1px;
	border-radius: var(--common_app_css_border_radius);
}
#common_lov_list .common_list_lov_col1{
	display:none;
}
#common_lov_list[data-lov=SERVER_LOG_FILES] .common_list_lov_col1{
	display:inline-block;
}

/*profile search*/
#common_profile_search{
	z-index: 1;
    position: absolute;
	display: block;
  	width: 100%;
  	text-align: center;
}
#common_profile_input_row{
	position: fixed;
	margin-top: 10px;
	margin-inline-start: calc(50% - 140px);
}
#common_profile_search_input{
	border-radius: var(--common_app_css_border_radius);
	width:240px;
	margin-inline-end:10px;
	padding: 4px 8px;
	box-sizing: border-box;
}
#common_profile_search_icon{
	display: inline-block;
	cursor: pointer;
}
#common_profile_search_list_wrap{
	border-radius: var(--common_app_css_border_radius);
	padding: 6px;
	width: 275px;
	position:fixed;
	max-height: calc(100% - 140px);
	margin-inline-start: calc(50% - 140px);
	display: none;
	flex-direction: column;
}
#common_profile_search_list{
	width:250px;
	overflow-y: auto;
    overflow-x: hidden;
	padding: 10px;
	margin:0 auto;
}
.common_profile_search_list_row{
	height:1.8em;
}
.common_profile_search_list_col:nth-child(1){
	display: none;
}
.common_profile_search_list_col:nth-child(2){
	width:24px;
	padding-left:10px;
	padding-right:10px;
	display:table-cell;
}
.common_profile_search_list_col:nth-child(3),
.common_profile_search_list_col:nth-child(4){
	display:table-cell;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
}
.common_profile_search_list_col:nth-child(4){
	width:100%;
	text-align:end;
}
/*Dialogue profile*/
#common_dialogue_profile.common_dialogue_show0{
	width:350px;
	height:550px;
	padding: 20px;
	word-break: unset;
	position:fixed;
}
#common_dialogue_profile_content {
	width: 100%;
	height: 100%;
}
#common_dialogue_profile_close{
	display: block;
    inset-inline-start: calc(50% - 30px);
	bottom:30px;
	position:fixed;
}
#common_profile_main {
	width:100%;
	text-align:center;
}
.common_profile_main_row{
	width: 100%;
	margin-bottom: 10px;
}
.common_profile_main_col:nth-child(1){
	display:inline-block;
	width: 50%;
	text-align:start;
	vertical-align: top;
}
.common_profile_main_col:nth-child(2){
	display:inline-block;
	width: 45%;
}
.common_profile_main_row:nth-child(2) .common_profile_main_col:nth-child(2) div{
	width: 66px;
	display: inline-block;
}
#common_profile_id{
	display:none;
}
#common_profile_avatar{
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
#common_profile_avatar_online_status{
	display:none;
    margin-inline-start: 45px;
    margin-top: -20px;
    position: absolute;
	border-radius: 50%;
	font-size:11px;
}
#common_profile_avatar_online_status.online{
	display: inline-block;
}
#common_profile_avatar_online_status.offline{
	display: inline-block;
}
#common_profile_bio{
	font-size: 0.6em;
}
#common_profile_joined_date_icon{
	display: inline-block;
}
#common_profile_main_stat_row1{
	display: inline-block;
}
#common_profile_main_stat_row1 div{
	display:inline-block;
	margin-left: 1px;
	margin-right: 1px;
}
#common_profile_joined_date,
#common_profile_info_following_count,
#common_profile_info_followers_count,
#common_profile_info_likes_count,
#common_profile_info_view_count
{
	display:inline-block;
	margin-inline-start: 10px;
}
#common_profile_main_btn_following,
#common_profile_main_btn_followed,
#common_profile_main_btn_likes,
#common_profile_main_btn_liked{
	height:20px;
	text-align:start;
}
#common_profile_qr {
	display: inline-block;
}
#common_profile_follow_followed,
#common_profile_like_unlike{
	display:none;
}
#common_profile_follow:hover,
#common_profile_follow:active,
#common_profile_like:hover,
#common_profile_like:active{
	cursor:pointer;
	transform: scale(1.3);
	transition: transform 0.5s ease, background 0.5s ease, box-shadow 0.5s ease;
}
/*profile private*/
#common_profile_public{
	width: 100%;
	height:100%;
	margin-top:10px;
	margin:0 auto;
	text-align: center;
}
#common_profile_private{
	width:100%;
	height:100%;
	text-align: center;
}
#common_profile_private_title{
	font-size:48px;
	margin: 10px;
	display:inline-block;
}

/*profile detail*/
#common_profile_detail {
	width: 100%;
	height: 100%;	
	display:block;
	margin-top: 10px;
}
.common_profile_btn_selected{
    border-radius: var(--common_app_css_border_radius);
    padding: 2px;
}
.common_profile_detail_list{
	height:10.8em;
	width:100%;
	border:0.5px solid;
	display: inline-block;
	overflow-y: auto;
}
.common_profile_detail_list_row{
	height:1.8em;
    text-align: start;
}
.common_profile_detail_list_col:nth-child(1){
	display: none;
}
.common_profile_detail_list_col:nth-child(2){
	width:24px;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
	display:inline-block;
}
.common_profile_detail_list_col:nth-child(3){
	display:inline-block;
	width:200px;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
	text-align:start;
}
.common_profile_detail_list_col:nth-child(4){
	width:24px;
	vertical-align: middle;
	display: inline-block;
    margin-inline-end: 10px;
}
.common_profile_detail_list_app_delete{
	cursor:pointer;
}
.common_profile_detail_list_app_delete{
	height:1.4em;
	width:1.4em;
	border-radius: 50%;
	vertical-align: middle;
}
.common_profile_detail_list_app_url, .common_profile_detail_list_date_created{
	display: none;
}
/*dialogue profile stat*/
#common_profile_stat_row1{
	text-align: center;
}
#common_profile_stat_row1 .common_link{
	margin-inline-end:10px;
	display: inline-block;
}
#common_profile_stat_list{
	width:100%;
	margin-top: 10px;
	overflow-x:auto;
	display: block;
	height: calc(100% - 160px);
	inset-inline-start: calc(50% - 40px);
}
.common_profile_stat_list_row{
	height: 1.8em;
	width: 90%;
    margin: 0 auto;
}
.common_profile_stat_list_col:nth-child(1){
	display: none;
}
.common_profile_stat_list_col:nth-child(2){
	width:24px;
	padding-left:10px;
	padding-right:10px;
	display:table-cell;
}
.common_profile_stat_list_col:nth-child(3),
.common_profile_stat_list_col:nth-child(4){
	display:table-cell;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
}
.common_profile_stat_list_col:nth-child(4){
	width:100%;
	text-align:end;
}
/* profile button top*/
#common_profile_btn_top{
	font-size: 48px;
	cursor:pointer;
	position:fixed;
	bottom:60px;
	width:60px;
	margin-inline-start: -30px;
	border-radius: 4px 4px 0px 0px;
}
.common_profile_search_list_username,
.common_profile_stat_list_username,
.common_profile_detail_list_username,
.common_profile_detail_list_app_name {
	width:200px;
	display:inline-block;
}

/*Dialogue User Edit*/

#common_dialogue_iam_edit_btn_label_user_update,
#common_dialogue_iam_edit_btn_label_user_delete_account{
	display:inline-block;
	width:120px;
	text-align: center;
	vertical-align: top;
	text-transform: uppercase;
}
#common_dialogue_iam_edit_label_provider_image_url,
#common_dialogue_iam_edit_label_provider_image_url_data{
	display:none !important;
}
#common_dialogue_iam_edit #common_dialogue_iam_edit_btn_user_delete_account
{
	display: inline-block;
}
#common_dialogue_iam_edit_btn_user_update,
#common_dialogue_iam_edit_btn_user_delete_account
{
	margin-left:10px;
	margin-right:10px;
	font-size:30px;
	height: 30px;
}

/*User account*/
#common_iam_avatar{
	margin-inline-start: 10px;
	width: 48px;
	height:48px;
	z-index:1;
	border-radius: 50% !important;
	cursor:pointer;
	position:fixed;
	margin-top:10px;
}
#common_dialogue_user_menu_token_countdown > div {
	display: inline-block;
}
#common_iam_avatar_logged_in, #common_dialogue_user_menu_logged_in{
	display: none;
}
#common_iam_avatar_logged_out{
	display: inline-block;
	height: 48px;
}
#common_iam_avatar_default_avatar{
	font-size: 48px;
	height: 48px;
	margin-top: var(--common_app_css_useragent_fix_margin_top);
}
#common_iam_avatar_default_avatar::before{
	vertical-align: top;
	display: inline-block;
}

/* Dialogue user menu */
#common_dialogue_user_menu .common_select .common_select_options{
	display: none;
	max-height: 200px;
	width: calc(85% - 60px);
}
#common_dialogue_user_menu .common_select{
	width: 100%;
}
#common_dialogue_user_menu.common_dialogue_show1{
	text-align: center;
}
#common_dialogue_user_menu_app_theme{
	width: unset !important;
	margin: 10px;
	white-space: nowrap;
}
#common_dialogue_user_menu_username{
	cursor:pointer;
	padding: 10px;
}
#common_dialogue_user_menu_signup,
#common_dialogue_user_menu_edit
{
	display: block;
}
#common_dialogue_user_menu_logged_in,
#common_dialogue_user_menu_logged_out{
	display: inline-block;
	width:100%;
	font-size: 30px !important;
}
#common_dialogue_user_menu_logged_in div,
#common_dialogue_user_menu_logged_out div{
	cursor:pointer;
}
#common_dialogue_user_menu_preferences div{
	display: inline-block;
}
#common_dialogue_user_menu_preferences .common_dialogue_user_menu_preference_col1{
	width: 10%;
}
#common_dialogue_user_menu_preferences .common_dialogue_user_menu_preference_col2{
	width: 85%;
}
/* SPINNER */
@keyframes spin{
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
.css_spinner{	
	position:relative;
	vertical-align: sub;
	width:30px !important;
	height:30px !important;
	border-radius:50% !important;
	box-sizing:border-box;
	background-image: conic-gradient(from 90deg at 50% 50%, rgba(39,174,96,0) 0deg, rgba(31, 144, 255, 0) 0.04deg, var(--common_app_color_spinner) 360deg);
	animation:spin 1s linear infinite;
	margin-left: 15px !important;
    margin-right: 15px !important;
	margin-top: 6px;
	display: inline-block;
}
.css_spinner::before{
	content:'' !important;
	position:absolute;
	inset-inline-start:50%;
	top:50%;
	transform:translate(-50%, -50%);
	height: 25px;
	width: 25px;
	background:var(--common_app_color_background_spinner);
	border-radius:50%;
}
.rtl .css_spinner::before{
	transform: translate(50%, -50%) !important;
}

/*WINDOW INFO*/
#common_window_info {
    width:100%;
    height:100%;
	top: 0px;
	position:fixed;
    overflow-x: auto;
	z-index: 50;
	margin-bottom: 100px;
	visibility: hidden;
	text-align:center;
	display: block;
}
#common_window_info_info{
	text-align: center;
}
#common_window_info_info.css_spinner{
	inset-inline-start: calc(50% - 30px);
}
#common_window_info_info_img{
	max-width: 100%;
	width: 100%;
	height: 100%;
	background-size: contain;
  	background-position: center;
  	background-repeat: no-repeat;
}
#common_window_info_content{
	margin-bottom:20px;
	width: 100%;
	height: calc(100% - 60px);
	border: 0px;
	display: block;
}
#common_window_info_content.A4{
	width : 210mm;
	height : 297mm;
}
#common_window_info_content.Letter{
	width : 8.5in;
	height : 11in;
}
#common_window_info_toolbar{
	display: inline-block;
	position: relative;
    border-radius: var(--common_app_css_border_radius);
	height: 60px;
	min-width: 25em;
	z-index: 10;
}
#common_window_info_toolbar .common_toolbar_button{
	padding-top: 9px;
}
#common_window_info_toolbar #common_window_info_toolbar_btn_fullscreen{
	padding-top: 14px;
}
#common_window_info_btn_close{	
	width: 100%;
}
#common_window_info_toolbar_btn_fullscreen{
	line-height: 1;
}
#common_profile_detail_header_liked div,
#common_profile_detail_header_app div{
	display: inline-block;
}
/**Markdown*/
/*MARKDOWN */
.common_markdown{
    white-space: pre-wrap;
    font-size: 0.8em !important;
    margin-bottom: 10em;
	line-height: 1.2em;
}
.common_markdown_section{
    margin: 0.5em;
	margin-top: 0em;
  	margin-bottom: 0em;
}
.common_markdown_image{
    display:block;
    width: 1024px;
    height:528px;
    max-width:100%;
    margin:auto;
    background-size: contain;
    background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	border: 2px solid;
}
.common_markdown_image_text{
    display: inline-block;
    width: 100%;
    text-align: center;
	margin-top: 0.5em;
	margin-bottom: 1em;
}
.common_markdown_title_h1{
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}
.common_markdown_title_h2{
    margin-top: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
}
.common_markdown_title_h3{
	margin-top: 0.5em;
    font-size: 1.1em;
    font-weight: bold;
}
.common_markdown_title_h4{
	margin-top: 0.5em;
    font-size: 1em;
    font-weight: bold;
}
.common_markdown_title_h5{
	margin-top: 0.5em;
    font-size: 1em;
    font-weight: bold;
}
.common_markdown_code {
    border: 1px solid;
    white-space: preserve;
    border-radius: var(--common_app_css_border_radius);
    padding: 0.5em;
    font-size: 0.9em !important;
	font-family: 'Noto Sans Mono';
}
.common_markdown_code_inline{
	border: 1px solid;
	border-radius:var(--common_app_css_border_radius);
	font-family: "Noto Sans Mono";
	display: inline-block;
}
.common_markdown_note{
	padding: 1rem 1rem 1rem 3rem;
	border-radius:var(--common_app_css_border_radius);
	border-inline-start:2px solid;
	position:relative;
}
.common_markdown_note::before{
	display: block;
  	width: 1.25em;
  	border-radius: 50%;
  	font-size: 2em;
  	height: 1em;
  	text-align: center;
  	font-weight: bold;
  	padding-top: 0.25em;
  	margin-bottom: 0.5em;
}
.common_markdown_table{
	font-family: "Noto Sans Mono";
	font-size: 0.9em;
}
.common_markdown_table_method{
	margin-inline-start: 2em;
}
.common_markdown_table_row{
	display: flex;
	width: 100%;
}
.common_markdown_table_row_master div{
	display: inline-block;	
}
.common_markdown_table_row_master {
	cursor: pointer;
}
.common_markdown_table_row_detail{
	margin-inline-start: 5em;
}
.common_markdown_table_row_detail .common_markdown_table_col{
	min-width:30em;
}
.common_markdown_table_row_detail_master.show{
	display:inline-block;
}
.common_markdown_table_row_detail_master{
	display:none;
}
.common_markdown_table_row_title{
	font-weight: bold;
}
.common_markdown_table_col{
	display: inline-block;
	min-width: 20em;
	vertical-align: top;
}
/* common document metadata*/
.common_document_header{
	background-size: contain;
	background-repeat: no-repeat;
  	height: 2em;
    text-align: start;
    margin-bottom: 1em;
    border-bottom: 0.5px solid;
	padding-inline-start: 3em;
  	display: inline-block;
  	width: 100%;
  	padding-top: 0.5em;
}
.common_document_article{
    margin: 1em;
}
.common_document_footer{
    font-size: 0.7em !important;
	text-align: start;
	border-top: 0.5px solid;
}

/*Module easy qrcode*/
.common_module_easy\.qrcode rect[fill='DARK']{
	fill: var(--common_app_color_dark);
}
.common_module_easy\.qrcode rect[fill='LIGHT']{
	fill: var(--common_app_color_light);
}
.common_module_easy\.qrcode svg{
	padding: 3px;
	vertical-align: middle;
}
/*Module leaflet, dynamically created popup*/
.common_module_leaflet_popup_title,
.common_module_leaflet_popup_sub_title,
.common_module_leaflet_popup_sub_title_timezone,
.common_module_leaflet_popup_sub_title_gps{
	font-weight: bold;
	text-align: center;
	display: block;
}
.leaflet-popup-content{
	width:200px !important;
}
#common_module_leaflet_control_search .common_select_option{
	display: inline-block;;
}
.common_module_leaflet_control_button {
	text-align: center;
	height: 30px;
	width: 30px;
	display: block;
	line-height: 30px;
	cursor: pointer;
	padding-top: unset;
    padding-bottom: unset;
}
.common_module_leaflet_control_expand{
	position: absolute;
	inset-inline-start: 30px;
}
#common_module_leaflet_control_expand_layer{
	display: none;
	width: 60vw;
	height: 30px;
	bottom: 0px;
}
#common_module_leaflet_control_expand_search{
	display: none;
	width: 60vw;
    top: 60px;
}
#common_module_leaflet_select_country, #common_module_leaflet_select_city, #common_module_leaflet_select_mapstyle{
	width:95%;
	line-height: 1.5em;
}
#common_module_leaflet_input_row{
	position: fixed;
	z-index: 1;
	margin-inline-start: calc(50% - 140px);
}
#common_module_leaflet_search_input{
	width:90% !important;
}
#common_module_leaflet_search_icon{
	display: inline-block;
	cursor: pointer;
}
#common_module_leaflet_search_list_wrap{
	width: 100%;
	z-index:1;
	display: flex;
	flex-direction: column;
}
#common_module_leaflet_search_list{
	margin-inline-start: 10px;
	overflow-y: auto;
    overflow-x: hidden;
	max-height: calc(10 * 3em);
	display:inline-block;
	line-height: unset !important;
}
#common_module_leaflet_search_list .common_link {
	width: unset;
	text-align: unset;
	background-color:unset;
}
.common_module_leaflet_search_list_row{
	text-align: start;
	display: inline-block;
  	width: 100%;
}
.common_module_leaflet_search_list_col{
	display:block;
	width: calc(100% - 2px);
	height: 2em;
}
.common_module_leaflet_search_list_col:nth-child(1),
.common_module_leaflet_search_list_col:nth-child(4),
.common_module_leaflet_search_list_col:nth-child(5){
	display: none !important;
}
/*RESPONSIVE SETTINGS*/
/*CSS for minimum 768px*/
@media only screen and (min-width: 768px) {
	body{
		font-size: 18px;
	}
	#common_dialogue_profile.common_dialogue_show0{
		width:500px;
		height:500px;
	}
	.common_dialogue_show1{
		width:500px !important;
	}
	#common_profile_bio{
		font-size: 0.7em;
	}	
	#common_dialogue_info_start_links, #common_dialogue_info_contact, #common_dialogue_info_app_copyright{
		font-size: 14px;
	}
	.common_profile_detail_list{
		height:5.6em;	
	}
	#common_message_title #common_message_info_list{
		width: 500px;
	}	
	#common_module_leaflet_search_list{
		max-height: calc(8 * 3em);
	}
	.common_toolbar_button{
		width: 60px;
	}
}
