.common_dialogue{
	background-color: var(--app_shadow3);
}
.common_dialogue_content{
	font-size: 11px;
	background-color:var(--app_light) !important;
	color: var(--app_black) !important;
	box-shadow: 0 4px 8px 0 var(--app_shadow1),0 6px 20px 0 var(--app_shadow2);
}
/*DIALOGUE MESSAGE*/
#common_dialogue_message_content{
	padding: 25px;
}
#common_dialogue_message, #common_confirm_question, #common_message_cancel, #common_message_close{
	visibility: hidden;
}
#common_message_buttons{
	height: 0;
}
#common_message_title{
	display:inline-block;
}
@media only screen and (min-width: 768px) {
	.common_dialogue_content{
		font-size:14px;
	}
}