:root {
	--common_app_css_border_radius: 4px;
	/*app colors*/	
	--common_app_color_blue1: rgb(81, 171, 255);
	--common_app_color_blue2: rgb(197 227 255);
	--common_app_color_blue3: #006dbf;
	--common_app_color_black: #404040;
	--common_app_color_cafe_latte: #584f46;
	--common_app_color_cafe_latte2: #19110a;
	--common_app_color_cafe_latte3: #d2b88f;
	--common_app_color_dark: rgb(0 2 70);
	--common_app_color_dark2: rgb(68, 68, 68);
	--common_app_color_dark3: #2b2b32;
	--common_app_color_dark4: #1c1c1f;
	--common_app_color_green: #6ab344;
	--common_app_color_gold: #a49775;
	--common_app_color_light :#f5f5f5;
	--common_app_color_lightgreen: #F7FFFF;
	--common_app_color_lightyellow: #FFFFF9;
	--common_app_color_shadow1: rgba(0,0,0,0.2);
	--common_app_color_shadow2: rgba(0,0,0,0.3);
	--common_app_color_shadow3: rgba(0,0,0,0.4);
	--common_app_color_yellow: yellow;
	--common_app_color_white: white;
	--common_app_color_white1: #fefefe;
	--common_app_color_white2: #dedede;
	--common_app_color_white3: #f2f2f2;
	--common_app_color_white4: #e2e2e2;
	--common_app_color_white_transparent: rgb(255,255,255,0.25);
	--common_app_color_spinner:var(--common_app_color_black);
	--common_app_color_background_spinner:var(--common_app_color_light);
	/*report colors*/
	--common_report_color_black: #404040;
	--common_report_color_blue: #1da1f2;
	--common_report_color_blue2: #006dbf;
	--common_report_color_darkblue: #012d74;
	--common_report_color_gold: #cea87a;
    --common_report_color_green:#3baea3;
    --common_report_color_green2:#76d5bb;
	--common_report_color_lightblue: #5cacf6;
	--common_report_color_lightblue2: #afd2fa;
	--common_report_color_lightblue3: #daebff;
	--common_report_color_lightgold: #d2c196;
	--common_report_color_shadow1: rgb(0 0 0 / 20%);
	--common_report_color_shadow2: rgb(0 0 0 / 19%);
	--common_report_color_white: white;
	/*icons ui*/
	--common_app_icon_apps:                 '⊞';
    --common_app_icon_maintenance:          '⚒';
    --common_app_icon_save:                 '💾';
    --common_app_icon_add:                  '+';
    --common_app_icon_delete:               '🗑';
    --common_app_icon_lov:                  '^';
    --common_app_icon_send:                 '🖅';
    --common_app_icon_settings:             '⚙';
    --common_app_icon_chat:                 '🗩';
    --common_app_icon_log:                  '☰';
    --common_app_icon_chart:                '📊';
    --common_app_icon_monitor:              '📈';
    --common_app_icon_server:               '🖥';
    --common_app_icon_database:             '⛃';
    --common_app_icon_user_connections:     '['var(--common_app_icon_users)']';
    --common_app_icon_database_started:     '→';
    --common_app_icon_database_stat:        var(--common_app_icon_chart);
    --common_app_icon_broadcast:            '🗦🗼🗧';
    --common_app_icon_checkbox_checked:     '☑';
    --common_app_icon_checkbox_empty:       '☐';
    --common_app_icon_info:                 'i';
    --common_app_icon_menu_open:            '☰';
    --common_app_icon_notes:                '🗒';
    --common_app_icon_reload:				'↻';
	--common_app_icon_reset:				'↺';
    --common_app_icon_sum:                  '∑';
    --common_app_icon_internet:             '🌐';
    --common_app_icon_init:                 '⭐';
	--common_app_icon_run:					'🖶';
	--common_app_icon_preview:				'🔍';
    --common_app_icon_users:                    '👥';
    --common_app_icon_user_password:            '🔑';

    --common_app_icon_regional:                 '🌐';
    
    --common_app_icon_regional_numbersystem:    '123';

	/*fonts*/
	--common_app_font_languages_1:  	"Noto Sans Hebrew", "Noto Sans Thai", "Noto Sans Khmer", 
										"Noto Sans Bengali", "Noto Sans Telugu","Noto Sans Tamil",
										"Noto Sans Javanese", "Noto Sans Gujarati", "Noto Sans Kannada", 
										"Noto Sans Malayalam", "Noto Sans Sundanese", "Noto Sans Tagalog",
										"Noto Sans Sinhala";

	--common_app_font_symbols:  	"Noto Music", "Noto Sans Math", "Noto Emoji", "Noto Sans Indic Siyaq Numbers", 
									"Noto Sans Symbols", "Noto Sans Symbols 2", 
									"Noto Sans Anatolian Hieroglyphs","Noto Sans Egyptian Hieroglyphs";
	--common_app_font_languages_2:  "Noto Sans Samaritan", "Noto Sans N'Ko", "Noto Sans Indic Devanagari", 
								"Noto Sans Gurmukhi", "Noto Sans Tamil Supplement", "Noto Sans Oriya", 
								"Noto Sans Myanmar", "Noto Sans Georgian", "Noto Sans Armenian", 
								"Noto Sans Gothic", "Noto Sans Tai Viet", 
								"Noto Sans Lao", "Noto Sans Carian", "Noto Sans Deseret", 
								"Noto Sans Saurashtra", "Noto Sans Thaana", "Noto Sans Traditional Nushu", 
								"Noto Sans Cherokee", "Noto Sans Adlam", "Noto Sans Brahmi", 
								"Noto Sans Meetei Mayek", "Noto Sans Imperial Aramaic", "Noto Sans Old Turkic", 
								"Noto Sans Coptic", "Noto Sans Mongolia", "Noto Sans Multani", 
								"Noto Sans Balinese", "Noto Sans Hanunoo", "Noto Sans Buginese", 
								"Noto Sans Bamum", "Noto Sans Yi", "Noto Sans Old Italic", 
								"Noto Sans Ol Chiki", "Noto Sans Old South Arabian", "Noto Sans Canadian Aboriginal", 
								"Noto Sans Adlam Unjoined", "Noto Sans Kaithi", "Noto Sans Old Hungarian", 
								"Noto Sans Sora Sompeng", "Noto Sans Inscriptional Pahlavi", "Noto Sans Medefaidrin", 
								"Noto Sans Syriac", "Noto Sans Psalter Pahlavi", "Noto Sans Linear A", 
								"Noto Sans Inscriptional Inscriptional Parthian", "Noto Sans Cypriot", "Noto Sans Old Persian", 
								"Noto Sans Inscriptional Grantha", "Noto Sans Tifinagh", "Noto Sans Avestan", 
								"Noto Sans Osage", "Noto Sans Lisu", "Noto Sans Bassa Vah", 
								"Noto Sans Old North Arabian", "Noto Sans Mro", "Noto Sans Tai Tham", 
								"Noto Sans Zanabazar Square", "Noto Sans Hanifi Rohingya", "Noto Sans Kayah Li", 
								"Noto Sans Mayan Numerals", "Noto Sans Pahawh Hmong", "Noto Sans Phags Pa", 
								"Noto Sans Cuneiform", "Noto Sans Ogham", "Noto Sans Glagolitic", 
								"Noto Sans Runic", "Noto Sans Old Permic", "Noto Sans Bhaiksuki", 
								"Noto Sans Caucasian Albanian", "Noto Sans Linear B", "Noto Sans Wancho", 
								"Noto Sans Sharada", "Noto Sans Palmyrene", "Noto Sans Batak", 
								"Noto Sans Phoenician", "Noto Sans Elymaic", "Noto Sans Marchen", 
								"Noto Sans Limbu", "Noto Sans Syloti Nagri", "Noto Sans Elbasan", 
								"Noto Sans Siddham", "Noto Sans Kharoshthi", "Noto Sans Khojki", 
								"Noto Sans Miao", "Noto Sans Pau Cin Hau", "Noto Sans Lepcha", 
								"Noto Sans Duployan", "Noto Sans Lycian", "Noto Sans Mandaic", 
								"Noto Sans New Tai Lue", "Noto Sans Chakma", "Noto Sans Warang Citi", 
								"Noto Sans Ugaritic", "Noto Sans Sogdian", "Noto Sans Buhid", 
								"Noto Sans Osmanya", "Noto Sans Masaram Gondi", "Noto Sans Tagbanwa", 
								"Noto Sans Takri", "Noto Sans Khudawadi", "Noto Sans Vai", 
								"Noto Sans Tirhuta", "Noto Sans Old Sogdian", "Noto Sans Hatran", 
								"Noto Sans Newa", "Noto Sans Shavian", "Noto Sans Gunjala Gondi", 
								"Noto Sans Mahajani", "Noto Sans Soyombo", "Noto Sans Nushu", 
								"Noto Sans Tai Le", "Noto Sans Nabataean", "Noto Sans Rejang", 
								"Noto Sans Manichaean", "Noto Sans Meroitic", "Noto Sans Lydian", 
								"Noto Sans Modi";
	--common_app_font_arabic_sans: 		'Noto Sans', 'Noto Sans Arabic', 'Noto Sans JP', 
								    'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans HK', 
								    var(--common_app_font_languages_1), var(--common_app_font_symbols), var(--common_app_font_languages_2);
	--common_app_font_arabic_kufi: 		'Noto Sans', 'Noto Kufi Arabic', 'Noto Sans JP', 
									'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans HK',
									var(--common_app_font_languages_1), var(--common_app_font_symbols), var(--common_app_font_languages_2);
	--common_app_font_arabic_nashk: 	'Noto Sans', 'Noto Nashk Arabic', 'Noto Sans JP', 
									'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans HK',
									var(--common_app_font_languages_1), var(--common_app_font_symbols), var(--common_app_font_languages_2);
	--common_app_font_arabic_nastaliq: 	'Noto Sans', 'Noto Nastaliq Urdu', 'Noto Sans JP', 
									'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans HK',
									var(--common_app_font_languages_1), var(--common_app_font_symbols), var(--common_app_font_languages_2);
	--common_app_font_ui:       "Noto Sans Symbols", "Noto Sans Symbols 2", "Noto Emoji", "Noto Sans";
}
/*default font*/
body
{
	font-family: var(--common_app_font_arabic_sans);
}
/*Arabic NotoSans, Arabic*/
body.font_arabic_sans_kufi
{
	font-family: var(--common_app_font_arabic_sans);
}
/*Arabic NotoKufi*/
body.font_arabic_kufi{
	font-family: var(--common_app_font_arabic_kufi);
}
/*Arabic NotoNashk*/
body.font_arabic_nashk{
	font-family: var(--common_app_font_arabic_nashk);
}
/*Arabic NotoNastaliq*/
body.font_arabic_nastaliq{
	font-family: var(--common_app_font_arabic_nastaliq);
}
body.font_arabic_nastaliq select,
body.font_arabic_nastaliq .common_input{
	font-size:0.7em;
}
.common_password_container{
	font-family: 'Noto Sans Mono';
}
#common_confirm_question{
	font-family: inherit;
}
.common_md_code_inline,
.common_code
.common_code_line,
.common_code_text{
    font-family: 'Noto Sans Mono';
}
.common_md_tab{
	font-family: "Noto Sans Mono";
}

body{
	font-size: 16px;
	margin: 0;
	padding: 0px;
	direction:ltr;
    color: var(--common_app_color_black);
    background: var(--common_app_color_blue1);
}
body.rtl{
	direction:rtl;
}
body, 
#app_root,
#app,
#common_app{
    width: 100%;
    height: 100%;
    position: absolute;
}
#app{
    z-index: 1;
}
.start {    
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    margin:0;
}
.start .common_input{   
    border: none !important;
} 
@keyframes start_spin{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
.start::before{
    content:'' !important;
    width:25px;
    height:25px;
    position:absolute;
    border:4px solid #404040;
    border-top-color: rgb(81, 171, 255);
    border-radius:50%;
    animation:start_spin 1s linear infinite;
}

/*images common*/
.common_image{
	border-radius: 50%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
/*images specific usage*/
.common_image_avatar{
	width: 48px;
	height: 48px;
}
.common_image_avatar_list{
	height: 1.4em;
	width: 1.4em;	
	vertical-align: bottom;
	display: inline-block;
}
.common_image_avatar_profile{
	width: 64px;
	height: 64px;
}
.common_image_logo_start{
	border-radius:unset !important;
	width: 48px;
	height: 48px;
}
.common_image_alert{
	width: 50px;
	height: 50px;
}
.common_image_broadcast{
	width: 34px;
	height: 34px;
}

#common_construction{
	font-size: 30px;
}

.common_select{
	display: inline-block;
	vertical-align: middle;
	border: 1px solid;
	min-width: 5em;
    min-height: 1.5em;
	background-color: var(--common_app_color_white);
}
.common_select_dropdown{
	width: 100%;
	display: inline-block;
	padding-inline-end: 4px;
}
.common_select_dropdown_value{
	cursor: pointer;
	text-align: start;
	display: inline-block;
	width: calc(100% - 2em);
	min-height: 1em;
	overflow: hidden;
	line-height: 1.25em;
}
.common_select_options{
	display: none;
	text-align: start;
	padding: 2px;
    padding-inline-end: 23px;
	position: absolute;
	border: 1px solid;
	min-width: 20px;
	max-height: 30em;
	border-radius: 2px;
	cursor: pointer;
	overflow-y:auto;
	overflow-x:hidden;
	background-color: var(--common_app_color_white);
	z-index: 10;
}
.common_select_option{
	display: block;
	width: 100%;
	height: 1.5em;
}
.common_select_option:hover,
.common_select_option:active{
	background-color: var(--common_app_color_white3);
}
.common_input{
	display: inline-block;
	text-align: start;
	line-height: normal;
	overflow: hidden;
	vertical-align: middle;
	width: 100%;
    border: 1px solid !important;
}
.common_password_container{
	position: relative;
	display: inherit;
	width: 100%;
}
.common_password:empty{
	color:inherit !important;
}
.common_password{
	position:absolute;
	z-index: 0;
	color:transparent !important;
	background-color: transparent !important;
}
.common_input:hover{
	cursor: text;
}
.common_icon {
    font-family: var(--common_app_font_ui);
	font-weight: bold;
	font-style: normal;
	display: inline-block;
}
.common_icon::before{
    white-space: nowrap;
	vertical-align: top;
    align-self: center;
    display:grid;
    align-items: center;
    align-self: center;
    align-content: center;
}  
.common_icon_title{
    font-size:1.5em;
}
.common_icon_avatar{
    width: 2em;
    height: 2em;
    font-size: 1.5em;
}
.common_icon_button{
    width: 2em;
    height: 1.25em;
    font-size: 2em;
    display:inline-block;
    vertical-align: super;
}
.common_icon_lov{
    width: 2em;
    display: inline-block;
    vertical-align: sub;
}
.common_icon_select_dropdown{
    display: inline-block;
}
.common_icon_list{
    display: inline_block;
}
.common_icon_toolbar_s{
    width: 1.25em;
    height: 1.25em;
    font-size: 1.25em;    
}
.common_icon_toolbar_m{
    width: 1.5em;
    font-size: 2.5em;
    height: 1.5em;
    vertical-align: middle;
}
.common_icon_toolbar_l{
    width: 1.25em;
    height: 1.25em;
    font-size: 2.5em;
}

.common_link:hover,
.common_link:active{
	cursor: pointer;
}
.common_app_dialogues_lov_search_row{
	width:100%;
}
#common_app_dialogues_lov_search_input{
	width: calc(100% - 30px);
	display: inline-block;
	border-radius: var(--common_app_css_border_radius);
	padding:2px;
}
#common_app_dialogues_lov_search_icon{
	width: 15px;
    display: inline-block;
    vertical-align: middle;
}
.common_list_lov_row{
	display:inline-block;
}
.common_row_hide{
	display:none !important;
}
.common_wide_list_column{
	overflow: auto;
}
/*checkbox with switch ui*/
.common_switch {
	display: inline-block !important;
	position:relative;
	width: 48px;
	height: 24px;
	text-indent: -150%;
	clip: rect(0 0 0 0);
	user-select: none;
	vertical-align: middle;
}
.common_switch::before,
.common_switch::after {
	content: "";
	display: block;
	position: absolute;
	cursor: pointer;
}
.common_switch::before {
	width: 48px;
	height: 24px;
	border-radius: 9999em;
	transition: background-color 0.25s ease;
}
.common_switch::after {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	transition: left 0.25s ease;
}
.common_switch.checked::after {
	left: 24px;
}
.common_app_dialogues_button {
	background: none;
	border: none;
	padding:0px;
	text-transform: uppercase;
	display: inline-block;
}
.common_toolbar_button {
	background: none;
	border: none;
	padding:0px;
	text-transform: uppercase;
}
.common_list_scrollbar{
	overflow-y: auto;
	overflow-x: auto;
	white-space: nowrap;
	height: 100%;
    display: grid;
    grid-auto-rows: max-content;
	inset-inline-start: calc(50% - 40px);
}
/*framework*/
#common_app_toolbar.show, 
#common_app_toolbar .show{
	display: flex;
    justify-content: space-around;
}
#common_app_toolbar div{	
	display: none;
}
#common_app_toolbar{
	display: none;
	z-index: 100;
	flex-direction: row;
	justify-content: center;
	position:fixed;
	top: 0px;
	border-radius: var(--common_app_css_border_radius);
	font-size: 1.5em;
	margin-inline-start: calc(50% - calc(1.5em * 3/2));
}
#common_app_toolbar .common_icon.common_icon_toolbar_s{
	width: 1.25em;
	text-align: center;
	height: 1.25em !important;
}
/* search*/
.common_search_input{
	width: 94%;
}
/* app display data*/
.common_app_data_display_master_title{
	font-weight: bold;
	margin-bottom:1em;
}
.common_app_data_display_master{
	margin-bottom: 2em;
}
.common_app_data_display_master,
.common_app_data_display_detail_horizontal_row_title,
.common_app_data_display_detail_horizontal_row{
	text-align: start;
}
.common_app_data_display_master_row{
	margin-bottom: 1em;
}
.common_select.common_app_data_display_master_row{
    display: contents;
}
.common_app_data_display_master_col_list{
	display: inline-block;
}
.common_app_data_display_master_col_list_color{
	width: 1em;
	height: 1em;
	border-radius: 50%;
}
.common_app_data_display_detail_horizontal_row_title,
.common_app_data_display_detail_horizontal_row{
	display: grid;
	grid-auto-flow: column;
    grid-template-columns: auto;
}
.common_app_data_display_detail_horizontal_row_title{
	font-weight: bold;
}
.common_app_data_display_detail_vertical_row{
	display: grid;
	grid-auto-flow: column;
    grid-template-columns: 50% 50%;
	justify-items: start;
	margin-inline-start: 25%;
}
.common_app_data_display_master_col1,
.common_app_data_display_master_col2{
	display: inline-block;
	text-align: start;
	word-wrap: break-word;
	vertical-align: middle;
	width: calc(50% - 2em);
}
.common_app_data_display_master_col2[data-key=Image] > div,
.common_app_data_display_master_col2[data-key=Image] > svg{
	width: 8em;
	height: 8em;
}
.common_app_data_display_master_col2[contentEditable=true]{
	border:1px solid;
}
.common_app_data_display_detail_col{
	display: inline-block;
}
.common_app_data_display_buttons{
	position:absolute;
	bottom:1em;
	display: inline-block;
	margin: 1em;
}
/*dialogue*/
#common_app_dialogues{
	z-index:60 !important;
	position: fixed;
	margin:0;
	padding:0;
	left: 0;
	top: 0;
	width: 0;
	height: 0;
}
#common_app_dialogues.common_app_dialogues_modal{
	width: 100% !important;
	height: 100% !important;
}
.common_app_dialogues_show0,
.common_app_dialogues_show1,
.common_app_dialogues_show2,
.common_app_dialogues_show3{
    padding: 2em;
}
.common_app_dialogues_show0 {
	z-index:60;
}
.common_app_dialogues_show1 {
	z-index:61;
}
.common_app_dialogues_show2 {
	z-index:62;
}
.common_app_dialogues_show3 {
	z-index:63;
}
.common_app_dialogues_content{
	text-align:center;
	top: 50%;
    left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	word-break: break-word;
	border-radius: var(--common_app_css_border_radius);
}
/* animation */
@keyframes common_pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}

/*DIALOGUE APPS*/
#common_apps{
    position: absolute;
    transform: translate(-50%, -50%);
    height: calc(100% - 200px);
    inset-inline-start: 50%;
    top: 50%;
	overflow: hidden;
	padding: unset;
}
#common_apps_list{
	font-size: 0.7em;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-around;
    margin: 2em;
    height: calc(100% - 6em);
}
#common_apps_list_title{
	height: 2em;
  	display: flex;
  	align-items: center;
  	justify-content: space-around;
}
#common_apps_list .common_apps_app_link_col{
	width: 100%;
    display: block;
}
.common_apps_app_link_col:nth-child(1),.common_apps_app_link_col:nth-child(2){
	display: none;
}
.common_apps_app_link_col:nth-child(3){
	width: 20%;
    display: inline-block;
	margin-left: 5px;
    margin-top: 3px;
}
.common_apps_app_link_col:nth-child(4){
	width: 70%;
    text-align: start;
    display: inline-block;
    vertical-align: top;
}
.common_apps_app_name{
	font-weight: bold;
	cursor: default;
}
.common_apps_app_description{
	cursor: default;
	font-size: 0.7em;
}
.common_apps_app_logo:hover, .common_apps_app_logo:active {
	transform: scale(1.2);
	cursor: pointer;
}
.common_apps_app_logo{
	margin: 0 auto;
}	
/* DIALOGUE INFO */
#common_app_dialogues_info.common_app_dialogues_show0{
	max-height: 90%;
	width: 300px;
	height: 400px;
}
#common_app_dialogues_info_contact{
    height: 150px;
    margin-bottom: 100px;
}
#common_app_dialogues_info_contact_message{
	display: inline-block;
    height: 100%;
}
#common_app_dialogues_info_start_links, 
#common_app_dialogues_info_contact, 
#common_app_dialogues_info_app_copyright{
	font-size: 11px;
}
#common_app_dialogues_info_start_links 
#common_app_dialogues_info_app_link_row, 
#common_app_dialogues_info_info_link_row{
	text-align: center;
	width: 100%;
}
#common_app_dialogues_info_close{
    margin-top: 20px;
}
#common_app_dialogues_info_app_link_row div, 
#common_app_dialogues_info_info_link_row div{
	display: inline-block;
	margin:5px;
}
/* DIALOGUE MESSAGE*/
#common_app_dialogues_message.common_app_dialogues_show3{
	min-width: 200px;
	overflow-y: auto;
    max-height: 90%;
}
#common_confirm_question{
	cursor:default;
	display:inline-block;
	margin-bottom:10px;
}
#common_loading_progressbar_wrap,
#common_app_dialogues_message_progressbar_wrap{
	display:inline-block;
	text-align: start;
	width: 100%;
    height: 10px;
	border-radius: var(--common_app_css_border_radius);
	animation: common_pulsate 2s ease-out;
	animation-iteration-count: infinite;
}
#common_loading_progressbar,
#common_app_dialogues_message_progressbar{
	display:inline-block;
	width: 0%;
	height: 10px;
	border-radius: var(--common_app_css_border_radius);
	vertical-align: top;
}
#common_loading_progressbar_wrap{
    margin-top: 1em;
}
#common_loading_progressbar_wrap.common_sse,
#common_app_dialogues_message_progressbar_wrap{
    border: 0.5px solid;
}


#common_app_dialogues_message_title{
	cursor:default;
	display:inline-block;
}
#common_app_dialogues_message_title.common_font_log{
	font-size: 0.8em;
}
#common_app_dialogues_message_title.common_font_normal{
	font-size: 1em;
}
#common_app_dialogues_message_title_icon{
	display: inline-block;
}
#common_app_dialogues_message_close{
	outline:none;
	display:inline-block;
}
#common_app_dialogues_message_title .common_icon{
	vertical-align: middle;
	margin-bottom: 1px;
}
#common_app_dialogues_message_title #common_app_dialogues_message_info_list{
	display: block;
	width: 300px;
}
#common_app_dialogues_message_title #common_app_dialogues_message_info_list #common_app_dialogues_message_info_list_title{
	font-weight: bold;
	font-size: 1.5em;
}
#common_app_dialogues_message_title #common_app_dialogues_message_info_list .common_app_dialogues_message_info_list_row{
	display: inline-block;
	width: 100%;
	margin: 2px;
}
#common_app_dialogues_message_title #common_app_dialogues_message_info_list .common_app_dialogues_message_info_list_row .common_app_dialogues_message_info_list_col{
	display: inline-block;
	width: calc(50% - 10px);
	text-align: start;
	vertical-align: top;
}
/* Dialogue Verification code*/
#common_app_dialogues_iam_verify.common_app_dialogues_show2{
	height:280px;
}
#common_app_dialogues_iam_verify_verification_container{
	margin-top:40px;
	margin-bottom:40px;	
}
.common_app_dialogues_iam_verify_input_verification_char div{
	border-radius: var(--common_app_css_border_radius);
	font-size: 1em;
	text-align: center;
	width:1em;
	height:1.5em;
	border: 1px solid;
    padding: 0.25em;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
/*Dialogue app data display*/
#common_app_dialogues_app_data_display.common_app_dialogues_show1{
	max-height: 90%;
	width: 360px;
}
/*Dialogue user start*/
#common_app_dialogues_iam_start.common_app_dialogues_show1{
	max-height: 90%;
	width: 300px;
	height: 20em;
}
.common_app_dialogues_iam_start_form{
	width: 100%;
}
#common_app_dialogues_iam_start_nav > div{
	margin:10px;
	width: 20%;
}
#common_app_dialogues_iam_start .common_input, .common_login_input{
	height: 2em;
	padding: 2px 10px;
	box-sizing: border-box;
}
#common_app_dialogues_iam_start .common_app_dialogues_iam_start_button{
	display: inline-block;
	padding:1px;
	border: 0px solid;
	margin-top:10px;
	margin-bottom:10px;
}
#common_app_dialogues_iam_start_close{
	width: 100%;
	margin-top:10px;
}
#common_app_dialogues_iam_start_login_button{
	width: 100%;
}
#common_app_dialogues_iam_start .common_app_dialogues_iam_start_row{
	display: grid;
    text-align: start;
    grid-template-columns: 10% 90%;
    align-items: center;
    margin-top: 0.5em;
}
#common_app_dialogues_iam_start_row div{
    vertical-align: middle;
}
/*Dialogue lov*/
#common_app_dialogues_lov.common_app_dialogues_show2{
	height:auto;
	width: 350px;
}
#common_app_dialogues_lov_list{
	height: 230px;
    border-radius: var(--common_app_css_border_radius);
    text-align: start;
}
.common_list_lov_row{
	width:100%;
	display:block;
	cursor: pointer;
}
.common_list_lov_col1{
	width:50px;
	display:inline-block;
	padding-left: 3px;
	padding-right: 3px;
	margin: 1px;
	border-radius: var(--common_app_css_border_radius);
}
.common_list_lov_col2{
	width:150px;
	display:inline-block;
	padding-left: 3px;
	padding-right: 3px;
	margin: 1px;
	border-radius: var(--common_app_css_border_radius);
}
#common_app_dialogues_lov_list .common_list_lov_col1{
	display:none;
}
#common_app_dialogues_lov_list[data-lov=SERVER_LOG_FILES] .common_list_lov_col1{
	display:inline-block;
}

/*profile search*/
#common_app_profile_search{
	z-index: 1;
    position: absolute;
	display: block;
  	width: 100%;
  	text-align: center;
    margin: 1em auto;
}
#common_app_dialogues_profile_input_row{
	position: fixed;
	margin-top: 10px;
	margin-inline-start: calc(50% - 140px);
}
#common_app_profile_search_input{
	border-radius: var(--common_app_css_border_radius);
	width:240px;
	margin-inline-end:10px;
	padding: 4px 8px;
	box-sizing: border-box;
    visibility:hidden;
}
#common_app_profile_search_list_wrap{
	border-radius: var(--common_app_css_border_radius);
	padding: 6px;
	width: 275px;
	position:fixed;
	max-height: calc(100% - 140px);
	margin-inline-start: calc(50% - 140px);
	display: none;
	flex-direction: column;
}
#common_app_profile_search_list{
	width:250px;
	overflow-y: auto;
    overflow-x: hidden;
	padding: 10px;
	margin:0 auto;
}
.common_app_profile_search_list_row{
	height:1.8em;
}
.common_app_profile_search_list_col:nth-child(1){
	display: none;
}
.common_app_profile_search_list_col:nth-child(2){
	width:24px;
	padding-left:10px;
	padding-right:10px;
	display:table-cell;
}
.common_app_profile_search_list_col:nth-child(3),
.common_app_profile_search_list_col:nth-child(4){
	display:table-cell;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
}
.common_app_profile_search_list_col:nth-child(4){
	width:100%;
	text-align:end;
}
/*Dialogue profile*/
#common_app_dialogues_profile.common_app_dialogues_show0{
	width:350px;
	height:550px;
	padding: 20px;
	word-break: unset;
	position:fixed;
}
#common_app_dialogues_profile_content {
	width: 100%;
	height: calc(100% - 5em);
}
#common_app_dialogues_profile_close{
	display: block;
    inset-inline-start: calc(50% - 30px);
	position:fixed;
}
#common_app_dialogues_profile_info {
	width:100%;
	text-align:center;
}
.common_app_dialogues_profile_info_row{
	width: 100%;
	margin-bottom: 10px;
}
.common_app_dialogues_profile_info_col:nth-child(1){
	display:inline-block;
	width: 100%;
	text-align:start;
	vertical-align: top;
}
.common_app_dialogues_profile_info_col:nth-child(2){
	display:inline-block;
	width: 45%;
}
.common_app_dialogues_profile_info_row:nth-child(2) .common_app_dialogues_profile_info_col:nth-child(2) div{
	width: 66px;
	display: inline-block;
}
#common_app_dialogues_profile_info_id{
	display:none;
}
#common_app_dialogues_profile_info_avatar{
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
#common_app_dialogues_profile_info_avatar_online_status{
	display:none;
    margin-inline-start: 45px;
    margin-top: -20px;
    position: absolute;
	border-radius: 50%;
	font-size:11px;
}
#common_app_dialogues_profile_info_avatar_online_status.online{
	display: inline-block;
}
#common_app_dialogues_profile_info_avatar_online_status.offline{
	display: inline-block;
}
#common_app_dialogues_profile_info_bio{
	font-size: 0.6em;
}
#common_app_dialogues_profile_info_joined_date_icon{
	display: inline-block;
}
#common_app_dialogues_profile_info_stat_row1{
	display: inline-block;
}
#common_app_dialogues_profile_info_stat_row1 div{
	display:inline-block;
	margin-left: 1px;
	margin-right: 1px;
}
#common_app_dialogues_profile_info_joined_date,
#common_app_dialogues_profile_info_following_count,
#common_app_dialogues_profile_info_followers_count,
#common_app_dialogues_profile_info_likes_count,
#common_app_dialogues_profile_info_view_count
{
	display:inline-block;
	margin-inline-start: 10px;
}
#common_app_dialogues_profile_info_btn_following,
#common_app_dialogues_profile_info_btn_followed,
#common_app_dialogues_profile_info_btn_likes,
#common_app_dialogues_profile_info_btn_liked{
	height:20px;
	text-align:start;
}
#common_app_dialogues_profile_qr {
	display: inline-block;
}
#common_app_dialogues_profile_info_follow_followed,
#common_app_dialogues_profile_info_like_unlike{
	display:none;
}
#common_app_dialogues_profile_info_follow:hover,
#common_app_dialogues_profile_info_follow:active,
#common_app_dialogues_profile_info_like:hover,
#common_app_dialogues_profile_info_like:active{
	transform: scale(1.3);
	transition: transform 0.5s ease, background 0.5s ease, box-shadow 0.5s ease;
}
/*profile private*/
#common_app_dialogues_profile_info_public{
	width: 100%;
	height:100%;
	margin-top:10px;
	margin:0 auto;
	text-align: center;
}
#common_app_dialogues_profile_info_private{
	width:100%;
	height:100%;
	text-align: center;
}
#common_app_dialogues_profile_info_private_title{
	font-size:48px;
	margin: 10px;
	display:inline-block;
}

/*profile detail*/
#common_app_dialogues_profile_info_detail {
	width: 100%;
	height: 100%;	
	display:block;
	margin-top: 10px;
}
.common_app_dialogues_profile_btn_selected{
    border-radius: var(--common_app_css_border_radius);
    padding: 2px;
}
.common_app_dialogues_profile_info_list{
	height:10.8em;
	width:100%;
	border:0.5px solid;
	display: inline-block;
	overflow-y: auto;
}
.common_app_dialogues_profile_info_list_row{
	height:1.8em;
    text-align: start;
}
.common_app_dialogues_profile_info_list_col:nth-child(1){
	display: none;
}
.common_app_dialogues_profile_info_list_col:nth-child(2){
	width:24px;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
	display:inline-block;
}
.common_app_dialogues_profile_info_list_col:nth-child(3){
	display:inline-block;
	width:200px;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
	text-align:start;
}
.common_app_dialogues_profile_info_list_col:nth-child(4){
	width:24px;
	vertical-align: middle;
	display: inline-block;
    margin-inline-end: 10px;
}
/*dialogue profile stat*/
#common_app_dialogues_profile_stat_row1{
	text-align: center;
}
#common_app_dialogues_profile_stat_row1 div{
	margin-inline-end:10px;
	display: inline-block;
}
#common_app_dialogues_profile_stat_list{
	width:100%;
	margin-top: 10px;
	overflow-x:auto;
	display: block;
	height: calc(100% - 4em);
	inset-inline-start: calc(50% - 40px);
}
.common_app_dialogues_profile_stat_list_row{
	height: 1.8em;
	width: 90%;
    margin: 0 auto;
}
.common_app_dialogues_profile_stat_list_col:nth-child(1){
	display: none;
}
.common_app_dialogues_profile_stat_list_col:nth-child(2){
	width:24px;
	padding-left:10px;
	padding-right:10px;
	display:table-cell;
}
.common_app_dialogues_profile_stat_list_col:nth-child(3),
.common_app_dialogues_profile_stat_list_col:nth-child(4){
	display:table-cell;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
}
.common_app_dialogues_profile_stat_list_col:nth-child(4){
	width:100%;
	text-align:end;
}
#common_app_profile_toolbar_stat{
	position:fixed;
	bottom:1em;
	margin-inline-start: -30px;
	border-radius: 4px 4px 0px 0px;
    z-index: 10;
    display:inline-block;
}
.common_app_profile_search_list_username,
.common_app_dialogues_profile_stat_list_username,
.common_app_dialogues_profile_info_list_username {
	width:200px;
	display:inline-block;
	text-align: start;
}

/*User account*/
#common_app_iam_user_menu{
    position: absolute;
    top: 1em;
	z-index:1;
    margin-inline-start: calc(100% - 4em);
    position: fixed;
	cursor: pointer;
}
#common_app_iam_user_menu_logged_in, #common_app_dialogues_user_menu_logged_in{
	display: none;
}
#common_app_iam_user_menu_message_count,
#common_app_iam_user_menu_message_count_icon{
    display: inline-block;
}
#common_app_iam_user_menu_logged_out{
	display: inline-block;
	height: 48px;
}
#common_app_iam_user_menu_default_avatar{
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
}
#common_app_iam_user_menu, #common_app_iam_user_menu_avatar_img, #common_app_iam_user_menu_default_avatar{
    border-radius: 50% !important;
}

/* Dialogue user menu*/
#common_app_dialogues_user_menu.common_app_dialogues_show1{
    width: 300px;
	text-align: center;
}
#common_app_dialogues_user_menu_content.common_app_dialogues_user_menu_connected{
    height:34em;
}
#common_app_dialogues_user_menu .common_select .common_select_options{
	display: none;
	width: calc(85% - 60px);
}
#common_app_dialogues_user_menu .common_select{
	width: 100%;
    margin-bottom: 1em;
    vertical-align: inherit;
}
#common_app_dialogues_user_menu_token_countdown > div {
	display: inline-block;
}
#common_app_dialogues_user_menu_nav{
    display: grid;
    align-items: center;
    grid-template-columns: 40% 20% 30%;
}
#common_app_dialogues_user_menu_nav>div{
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#common_app_dialogues_user_menu_nav_messages_count{
    display: inline-block;
    font-size: 0.8em;
    margin-inline-start: 0.5em;
    vertical-align: super;
}
#common_app_dialogues_user_menu_username{
	cursor: pointer;
}
#common_app_dialogues_user_menu_signup
{
	display: block;
}
#common_app_dialogues_user_menu_logged_in,
#common_app_dialogues_user_menu_logged_out{
	display: inline-block;
	width:100%;
}
#common_app_dialogues_user_menu_logged_out >div{
    width:100%;
}
/* Dialogue user menu - messages */
#common_app_dialogues_user_menu_messages{
    border-radius: var(--common_app_css_border_radius);
}
#common_app_dialogues_user_menu_messages_pagination{
	display: block;
	height: 40px;
}
#common_app_dialogues_user_menu_messages_pagination div{
	display: inline-block;
	margin-left: 0.1em;
    margin-right: 0.1em;
    vertical-align: middle;
}
#common_app_dialogues_user_menu_messages_list{
    overflow: auto;
    height: 10em;
}
#common_app_dialogues_user_menu_message_content{
    text-align: start;
    font-size: 0.8em;
    overflow: auto;
    margin-top: 0.5em;
}
.common_app_dialogues_user_menu_messages_list_row_title{
    font-weight: bold;
}
.common_app_dialogues_user_menu_messages_list_row > div{
    display: inline-block;
}
.common_app_dialogues_user_menu_messages_list_row{
    display: inline-grid;
    text-align: start;
    grid-template-columns: 2em 12em 10em 10em;
}
.common_app_dialogues_user_menu_messages_list_row_read{
    font-weight: inherit;
}
.common_app_dialogues_user_menu_messages_list_row_unread{
    font-weight: bold;
}
.common_app_dialogues_user_menu_messages_list_col{
    font-size: 0.8em;
}
.common_app_dialogues_user_menu_messages_message_row{
    display: grid;
    grid-template-columns: 3em auto;
    margin-bottom: 0.5em;
}
#common_app_dialogues_user_menu_messages_message_col_message{
    width: 100%;
}
#common_app_dialogues_user_menu_messages_message_col_message_text{
    white-space: pre;
    margin: 0.5em;
    height: 2em;
}
/* Dialogue user menu - iam user app*/
#common_app_dialogues_user_menu_iam_user_app{
	margin: 10px;
}
#common_app_dialogues_user_menu_iam_user_app div{
	display: inline-block;
}
#common_app_dialogues_user_menu_iam_user_app .common_app_dialogues_user_menu_iam_user_app_col1{
	width: 10%;
}
#common_app_dialogues_user_menu_iam_user_app .common_app_dialogues_user_menu_iam_user_app_col2{
	width: 85%;
}
/*Dialogue user menu - iam user*/
#common_app_dialogues_user_menu_iam_user .common_input{
	height: 1.5em;
	width: 100%;
	border: 0.5px solid;
}
#common_app_dialogues_user_menu_iam_user_avatar{
	border: 0.5px solid;
	border-radius: 50%;
    width: 48px;
	display: inline-block;
}
#common_app_dialogues_user_menu_iam_user .common_app_dialogues_user_menu_iam_user_row_title{
    display: block;
    text-align:center;
}
#common_app_dialogues_user_menu_iam_user .common_app_dialogues_user_menu_iam_user_row_title>div{
    margin:0.5em;
    display: inline-block;
}
#common_app_dialogues_user_menu_iam_user .common_app_dialogues_user_menu_iam_user_row{
	display: grid;
    text-align: start;
    grid-template-columns: 10% 90%;
}
#common_app_dialogues_user_menu_iam_user_label_data_last_logintime,
#common_app_dialogues_user_menu_iam_user_label_data_account_created,
#common_app_dialogues_user_menu_iam_user_label_data_account_modified {
	font-size: 0.5em;
}
#common_app_dialogues_user_menu_iam_user_btn_user_update{
    margin-inline-end: 2em;
}
#common_app_dialogues_user_menu_iam_user_btn_user_delete_account{
    margin-inline-start: 2em;
}

/* SPINNER */
@keyframes spin{
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
.common_loading_spinner{	
	position:relative;
	vertical-align: sub;
	width:30px !important;
	height:30px !important;
	border-radius:50% !important;
	box-sizing:border-box;
	background-image: conic-gradient(from 90deg at 50% 50%, rgba(39,174,96,0) 0deg, rgba(31, 144, 255, 0) 0.04deg, var(--common_app_color_spinner) 360deg);
	animation:spin 1s linear infinite;
	margin-left: 15px !important;
    margin-right: 15px !important;
	margin-top: 6px;
	display: inline-block;
}
.common_loading_spinner::before{
	content:'' !important;
	position:absolute;
	inset-inline-start:50%;
	top:50%;
	transform:translate(-50%, -50%);
	height: 25px;
	width: 25px;
	background:var(--common_app_color_background_spinner);
	border-radius:50%;
}
.rtl .common_loading_spinner::before{
	transform: translate(50%, -50%) !important;
}
.common_loading_spinner svg{
    display: none;
}
/*WINDOW INFO*/
#common_app_window_info {
	top: 0px;
	position:fixed;
    overflow-x: auto;
	z-index: 100;
	margin-bottom: 100px;
	text-align:center;
	display: block;
	
}
#common_app_window_info.common_app_dialogues_show0 {
    width:100%;
    height:100%;
}
#common_app_window_info_info{
	text-align: center;
	display: flex;
  	justify-content: center;
	margin-top: 60px;
}
#common_app_window_info_info >div {
	pointer-events: none;
}
#common_app_window_info_info.common_loading_spinner{
	inset-inline-start: calc(50% - 30px);
}
#common_app_window_info_info_img{
	max-width: 100%;
	width: 100%;
	height: 100%;
	background-size: contain;
  	background-position: center;
  	background-repeat: no-repeat;
	position:absolute;
}
#common_app_window_info_toolbar{
	display: inline-block;
	position: absolute;
    border-radius: var(--common_app_css_border_radius);
    z-index: 100;
    left: 1em;
    width: 60px;
    top: 1em;
}
#common_app_window_info_toolbar .common_toolbar_button{
	padding-top: 9px;
}
#common_app_window_info_toolbar #common_app_window_info_toolbar_btn_fullscreen{
	padding-top: 14px;
}
#common_app_window_info_toolbar_btn_close{	
	width: 100%;
}
#common_app_window_info_toolbar_btn_fullscreen{
	line-height: 1;
}
#common_app_dialogues_profile_info_detail_header_liked div,
#common_app_dialogues_profile_info_detail_header_app div{
	display: inline-block;
}
/**Markdown*/
/*MARKDOWN */
.common_md{
    white-space: pre-line;
	font-size: 0.8em !important;
    margin-bottom: 10em;
	line-height: 1.2em;
}
.common_md_image{
    display:block;
	width: 100%;
  	height: 25em;
    max-width:100%;
    margin:auto;
    background-size: contain !important;
    background-repeat: no-repeat;
	background-position: center;
	border: 2px solid;
}
.common_md_image_text{
    display: inline-block;
    width: 100%;
    text-align: center;
	margin-top: 0.5em;
	margin-bottom: 1em;
}
.common_md_title_h1{
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}
.common_md_title_h2{
    margin-top: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
}
.common_md_title_h3{
	margin-top: 0.5em;
    font-size: 1.1em;
    font-weight: bold;
}
.common_md_title_h4{
	margin-top: 0.5em;
    font-size: 1em;
    font-weight: bold;
}
.common_md_title_h5{
	margin-top: 0.5em;
    font-size: 1em;
    font-weight: bold;
}
.common_code {
    display: grid;
    grid-template-columns: 4em calc(100% - 4em);
}
.common_code,
.common_md_code {
    border: 1px solid;
    white-space: preserve !important;
    border-radius: var(--common_app_css_border_radius);
    padding: 0.5em;
    font-size: 0.9em !important;
}
.common_md_code_inline{
	border: 1px solid;
	border-radius:var(--common_app_css_border_radius);
	display: inline-block;
}
.common_md_note{
	padding: 1rem 1rem 1rem 3rem;
	border-radius:var(--common_app_css_border_radius);
	border-inline-start:2px solid;
	position:relative;
}
.common_md_note_info{
	display: block;
  	width: 1em;
  	border-radius: 50%;
  	font-size: 3em;
  	height: 1em;
  	text-align: center;
  	margin-bottom: 0.5em;
}
.common_md_tab{
	font-size: 0.7em;
    display: block;
    white-space: initial;
}
.common_md_tab_row{
	display: flex;
	width: 100%;
}
.common_md_tab.hide .common_md_tab_row{
    display:none !important;
}
.common_md_tab.hide .common_md_tab_row_title{
    display:flex !important;
}
.common_md_tab_row_title {
	cursor: pointer;
}
.common_md_tab_kv .common_md_tab_col1{
    width:20%;
}
.common_md_tab_kv .common_md_tab_col2{
    width:80%;
    white-space: pre-wrap;
}
.common_md_tab_2kv .common_md_tab_col1,
.common_md_tab_2kv .common_md_tab_col2{
    width:15%;
}
.common_md_tab_2kv .common_md_tab_col3{
    width:70%;
}

.common_md_tab_row_title{
	font-weight: bold;
}
.common_md_tab_col1,
.common_md_tab_col2,
.common_md_tab_col3{
	display: inline-block;
	width:50%;
}
.common_md_bold_italic{
    display:inline;
}
.common_md_bold{
    font-weight: bold;
    display:inline;
}
/*CODE*/
.common_md_line,
.common_code_line{
    width: 4em;
    display:inline-block;
    font-size: 0.7em !important;
    padding-inline-end: 1em;
    text-align: end;
    vertical-align: middle;
}
.common_md_text,
.common_code_text{
    font-size: 0.7em !important;
    width: calc(100% - 5em);
    overflow: auto;
    display:inline-block;
    vertical-align: middle;
}
/* common document*/
.common_document{
    cursor: pointer;
    text-align: start;
    width : 210mm;
    word-wrap: break-word;
    margin: 13px;
    padding: 1em;
}
.common_document_header{
	background-size: contain;
	background-repeat: no-repeat;
  	height: 1em;
    margin-bottom: 1em;
    border-bottom: 0.5px solid;
	padding-inline-start: 3em;
  	display: inline-block;
  	width: calc(100% - 3em);
  	padding-top: 0.5em;
}
.common_document_body{
    margin: 1em;
}
.common_document_footer{
    font-size: 0.7em !important;
	border-top: 0.5px solid;
}
/* Map*/
#common_map {
    width: 100%;
    height: 100%;
    cursor: pointer;
    position:relative;
    overflow:hidden;
}
#common_module_map_search .common_select_option{
	display: inline-block;;
}
#common_map_control{
    z-index:10;
    position:absolute;
    top:0.5em;
    margin-inline-start:0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.common_map_control_button {
	text-align: center;
	display: block;
	line-height: 2.5em;
    height: 2em;
    width: 2em;
	padding-top: unset;
    padding-bottom: unset;
    font-size:1em;
}
#common_map_control>div{
    font-size:1.5em !important;
}
#common_map_control_my_location{
    font-size: 2em;
}
.common_map_control_expand{
    width: 0;
	position: absolute;
	inset-inline-start: 2em;
    transition: width 0.5s ease;
    font-size: 0.75em;
}
.common_map_control_expand:not(:empty){
    width: 60vw;
}
#common_map_control_expand_layer{
	bottom: 2.5em;
    background-color: white;
}
#common_map_control_layer,
#common_map_control_search{
    font-size: 1em;
}
#common_map_control_expand_search{
    top: 4em;
    background-color: white;
}
#common_map_control_expand_select_country, 
#common_map_control_expand_select_city,
#common_map_control_expand_select_mapstyle{
	width:95%;
	line-height: 1.5em;
}
#common_map_control_expand_search_icon{
    display: inline-block;
}
#common_map_control_expand_search_input{
    max-width: calc(95% - 2.25em);
}
#common_map_control_expand_search_list_wrap{
	width: 100%;
	display: flex;
	flex-direction: column;
}
#common_map_control_expand_search_list{
	margin-inline-start: 10px;
	overflow-y: auto;
    overflow-x: hidden;
	max-height: calc(10 * 3em);
	display:inline-block;
	line-height: unset !important;
}
.common_map_control_expand_search_list_row{
	text-align: start;
	display: inline-block;
  	width: 100%;
}
.common_map_control_expand_search_list_col{
	display:block;
	width: calc(100% - 2px);
	height: 2em;
}
.common_map_control_expand_search_list_col:nth-child(1),
.common_map_control_expand_search_list_col:nth-child(4),
.common_map_control_expand_search_list_col:nth-child(5){
	display: none !important;
}

#common_map_measure{
    width:100px;
    height:1.5em;
    display:inline-block;
    position:absolute;
    bottom:1em;
    background-color:white;
    font-size:9px;
    inset-inline-start: calc(50% - 50px);
    text-align: center;
} 
#common_map_tiles,#common_map_lines, #common_map_popups{
    pointer-events: none;
    width:0;
    height:0;
}
.common_map_tile{
    pointer-events:auto;
}
#common_map.common_map_control_active #common_map_lines,
#common_map.common_map_control_active #common_map_tiles{
    cursor:none;
}
#common_map.common_map_control_active #common_map_cursor{
    position: absolute;
    pointer-events: none;
    z-index: 10;
    user-select: none;
}
#common_map_cursor{
    font-size:1.75em;
}
#common_map_measure, .common_map_line, .common_map_popup{
    z-index: 2;
    pointer-events:auto;
}
#common_map_tiles, #common_map_lines, #common_map_popups {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
} 
.common_map_tile {
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
}
.common_map_polyline {
    position:absolute;
}
.common_map_popup {
    position:absolute;
    width:max-content;
    height: calc(7em - 10px);
    background-color:white;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    font-size:11px;
    text-align: center;
    display:grid;
    border-radius:4px;
    padding: 0.5em;
}
.common_map_popup_close{
    position: absolute;
    top: 0.2em;
    font-size: 1.5em;
    width: 1em !important;
    margin-inline-start: calc(100% - 1.3em);
}
.common_map_popup div{
    display:inline-block;
    width:100%;
}
.common_map_popup_title,
.common_map_popup_sub_title,
.common_map_popup_sub_title_timezone,
.common_map_popup_sub_title_gps{
	font-weight: bold;
	text-align: center;
	display: block;
}
.common_map_popup_sub_title_timezone_icon,
.common_map_popup_sub_title_gps_icon{
    width: 2em !important;
}
.common_map_popup_tip{
    width: 10px !important;
    height: 10px !important;
    margin-top: 5px;
    transform: rotate(45deg);
    background-color: white;
    text-align:center;
}


/* BROADCAST */
#common_app_broadcast_info {
	width:calc(100% - 20px);
	height: 100px;
	bottom: 10px;
	margin: 10px;
	position:fixed;
	z-index:1000;
	text-align: center;
}
#common_app_broadcast_banner {
	width:100%;
	height: 100px;
	border-radius:var(--common_app_css_border_radius);
	overflow: hidden;
	background-color:var(--common_app_color_white);
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

#common_app_broadcast_header{
	width: 100%;
	height: 65px;
  	overflow: hidden;
  	box-sizing: content-box;
}
#common_app_broadcast_info_message {
	width:100%;
	height: 65px;
	white-space: nowrap;
	box-sizing: content-box;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: common_ticker;
	animation-duration: 10s;
}
.rtl #common_app_broadcast_info_message {
	animation-name: common_ticker_rtl;
}
#common_app_broadcast_info_message_item{
	font-size:30px;
	display: inline-block;
}
@keyframes common_ticker {
	0% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(-100%);
	}
}
@keyframes common_ticker_rtl {
	0% {
	  transform: translateX(-100%);
	}
	100% {
	  transform: translateX(100%);
	}
}
#common_app_broadcast_footer{
	display: flex;
	justify-content: space-between;
	background-color:var(--common_app_color_blue1);
}
#common_app_broadcast_info_logo {
	background-color: var(--common_app_color_white);
}
#common_app_broadcast_info_title {
	height: 35px;
	mix-blend-mode: plus-lighter;
	filter: invert(0.25) hue-rotate(0deg);
	font-size:25px;
	font-weight:bold;
}
#common_app_broadcast_close {
	transform: translateY(-65px);
    margin: 5px;
}
#common_app_profile{
    display:none
}
/* info*/ 
.common_info_content{
    width: 97%;
    font-size: 0.8em;
    margin:5em;
    border-radius: var(--common_app_css_border_radius);
    padding: 10px;
    color:var(--common_app_color_black);
    background-color: var(--common_app_color_white);
    min-height: 90%;
    display: inline-block;
	text-align: start;
}
.common_info_text_h1 {
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}
.common_info_text_h2 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 5px;
}
.common_info_text_h3 {
    font-size: 1.25em;
    margin-top: 5px;
    margin-bottom: 5px;
}
.common_info_text_p {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
/*RESPONSIVE SETTINGS*/
/*CSS for minimum 768px*/
@media only screen and (min-width: 768px) {
	body{
		font-size: 18px;
	}
	#common_app_dialogues_profile.common_app_dialogues_show0{
		width:500px;
		height:500px;
	}
	.common_app_dialogues_show1{
		width:500px !important;
	}
	#common_app_dialogues_profile_info_bio{
		font-size: 0.7em;
	}	
	#common_app_dialogues_info_start_links, #common_app_dialogues_info_contact, #common_app_dialogues_info_app_copyright{
		font-size: 14px;
	}
	.common_app_dialogues_profile_info_list{
		height:5.6em;	
	}
	#common_app_dialogues_message_title #common_app_dialogues_message_info_list{
		width: 500px;
	}	
	#common_map_control_expand_search_list{
		max-height: calc(8 * 3em);
	}
}
