#common_construction::before{								content:var(--app_maintenance)}	

#common_message_close::before{								content:var(--app_close)}
#common_message_cancel::before{								content:var(--app_cancel)}

.common_lov_button::before{									content: var(--app_lov)}
.common_unlike::before{										content:var(--user_unlike)}	
.common_like::before{										content:var(--user_like)}	
.common_user_follow::before{								content:var(--user_follow_user)}
.common_user_followed::before{								content:var(--user_followed_user)}
#common_user_edit_btn_user_delete_account::before{			content:var(--app_delete)}	
#common_user_edit_btn_user_update.spinner::before{			content: ''}
#common_user_edit_btn_user_update::before{					content:var(--app_update)}	
#common_profile_main_btn_cloud::before{						content:var(--sky_cloud)}

#common_user_menu_default_avatar::before{					content:var(--user_avatar)}
#common_user_menu_default_avatar.system_admin::before{		content:var(--user_system_admin)}

#common_user_menu_dropdown_edit::before{					content:var(--app_edit)}
#common_user_menu_dropdown_log_out::before{					content:var(--app_logoff)}
#common_user_menu_dropdown_signup::before{					content:var(--app_signup)}
#common_user_menu_dropdown_log_in::before{					content:var(--app_login)}
#common_user_preference_locale::before{						content:var(--regional_locale)}
#common_user_preference_timezone::before{					content:var(--regional_timezone)}
#common_user_preference_direction::before{					content:var(--regional_direction)}
#common_user_preference_arabic_script::before{				content:var(--regional_script)}

#common_user_verify_email_icon::before{						content:var(--app_email)}

#common_user_start_login::before{							content:var(--user)}
#common_user_start_login_button::before{					content:var(--app_login)}

#common_user_start_login_system_admin::before{				content:var(--user_system_admin)}
#common_user_start_login_system_admin_button::before{		content:var(--app_login)}

#common_user_start_signup::before{							content:var(--app_signup)}
#common_user_start_signup_button::before{					content:var(--app_signup)}

#common_user_start_forgot::before{							content:var(--app_forgot)}
#common_user_start_forgot_button::before{					content:var(--app_email)}

#common_user_start_close::before{							content:var(--app_close)}


#common_user_start_login_system_admin_first_time::before{	content:var(--app_init)}

#common_user_password_new_icon::before{						content:var(--user_password)}
#common_user_password_new_cancel::before{					content:var(--app_cancel)}
#common_user_password_new_ok::before{						content:var(--app_close)}


#common_profile_search_icon::before{						content:var(--app_search)}

#common_profile_joined_date_icon::before{					content:var(--user_account_created)}
#common_profile_private_title::before{						content:var(--app_private)}
#common_profile_avatar_online_status::before{				content:var(--app_online)}
#common_profile_top_row1_1::before{							content:var(--user_views)}
#common_profile_top_row1_2::before{							content:var(--user_follows)}
#common_profile_top_row1_3::before{							content:var(--user_like) ' ' var(--user_follows)}
#common_profile_home::before{								content:var(--user_profile_top)}
#common_profile_close::before{								content:var(--app_close)}
#common_profile_info_view_count_icon::before{				content:var(--user_views)}
#common_profile_main_btn_following::before{					content:var(--user_follows)}
#common_profile_main_btn_followed::before{					content:var(--user_followed)}
#common_profile_main_btn_liked_users::before{				content:var(--user_followed)}
#common_profile_detail_list_app_delete::before{				content:var(--app_delete)}

#common_profile_btn_top::before{							content:var(--user_profile_top)}

#common_user_edit_btn_avatar_img::before{					content:var(--user_avatar_edit)}
#common_user_edit_private::before{							content:var(--app_private)}
#common_user_edit_close::before{							content:var(--app_close)}
#common_user_edit_label_provider::before{					content:var(--provider)}
#common_user_edit_label_provider_id::before{				content:var(--provider_id)}
#common_user_edit_label_provider_email::before{				content:var(--app_email)}
#common_user_edit_input_username_icon::before{				content:var(--user)}
#common_user_edit_input_bio_icon::before{					content:var(--user_profile)}
#common_user_edit_input_email_icon::before{					content:var(--app_email)}
#common_user_edit_input_new_email_icon::before{				content:var(--app_email)}
#common_user_edit_input_password_icon::before{				content:var(--user_password)}
#common_user_edit_input_password_confirm_icon::before{		content:var(--user_password)}
#common_user_edit_input_password_new_icon::before{			content:var(--user_password)}
#common_user_edit_input_password_new_confirm_icon::before{	content:var(--user_password)}
#common_user_edit_input_password_reminder_icon::before{		content:var(--user_account_reminder)}
#common_user_edit_label_last_logontime::before{				content:var(--user_last_logontime)}
#common_user_edit_label_account_created::before{			content:var(--user_account_created)}
#common_user_edit_label_account_modified::before{			content:var(--user_account_modified)}

#common_lov_search_icon::before{							content:var(--app_search)}

#common_window_info_btn_close::before{						content:var(--app_close)}
#common_window_info_toolbar_btn_zoomout::before{			content:var(--app_zoomout)}
#common_window_info_toolbar_btn_zoomin::before{				content:var(--app_zoomin)}
#common_window_info_toolbar_btn_left::before{				content:var(--app_left)}
#common_window_info_toolbar_btn_right::before{				content:var(--app_right)}
#common_window_info_toolbar_btn_up::before{					content:var(--app_up)}
#common_window_info_toolbar_btn_down::before{				content:var(--app_down)}
#common_window_info_toolbar_btn_fullscreen::before{			content:var(--app_fullscreen)}

#common_module_leaflet_control_search_button::before{		content:var(--app_search)}
#common_module_leaflet_search_icon::before{					content:var(--app_search)}
#common_module_leaflet_control_fullscreen_id::before{		content:var(--app_fullscreen)}
#common_module_leaflet_control_my_location_id::before{		content:var(--map_my_location)}
#common_module_leaflet_control_layer_button::before{		content:var(--map_layer)}
#common_module_leaflet_popup_sub_title::before{				content:var(--regional_timezone) ' ' var(--gps_position)}

#common_broadcast_close::before{							content:var(--app_broadcast_close)}
#common_broadcast_info_title::before{						content:var(--app_alert)}

#common_toolbar_framework_js::before{						content:var(--app_javascript)}
#common_toolbar_framework_vue::before{						content:var(--app_vue)}
#common_toolbar_framework_react::before{					content:var(--app_react)}

body{
	font-size: 16px;
	margin: 0;
	height: 100%;
	padding: 0px;
	width: auto;
	direction:ltr;
}
body.rtl{
	direction:rtl;
}
select {
	font-family: inherit;
	font-size:inherit;
}
#common_construction{
	font-size: 30px;
}

.common_select{
	display: inline-block;
	vertical-align: middle;
	border: 1px solid;
	min-width: 20px;
    min-height: 1.5em;
	background-color: var(--app_white);
}
.common_select_dropdown{
	width: 100%;
	display: inline-block;
	padding-inline-end: 4px;
}
.common_select_dropdown_value{
	cursor: pointer;
	text-align: start;
	display: inline-block;
	white-space: nowrap;
}
.common_select_dropdown_icon::after{
	content: var(--app_select);
}
.common_select_dropdown_icon{
	display: inline-block;
	border-radius: 2px;
	width: 15px;
    height: 100%;
	cursor:pointer;
}
.common_select_options{
	display: none;
	text-align: start;
	padding: 2px;
    padding-inline-end: 23px;
	position: absolute;
	border: 1px solid;
	min-width: 20px;
	border-radius: 2px;
	cursor:pointer;
	overflow-y:auto;
	overflow-x:hidden;
	background-color: var(--app_white);
}
.common_select_option{
	display: block;
}
.common_select_option:hover,
.common_select_option:active{
	filter: invert(1);
}
[contentEditable=true]:empty::before{
	content:attr(placeholder);
	opacity:0.7;
}
.common_input{
	display: inline-block;
	text-align: start;
	line-height: normal;
	overflow: hidden;
	vertical-align: middle;
	width: 100%;
}
.common_password_container{
	font-family: 'Noto Sans Mono';
	position: relative;
	display: inherit;
	width: 100%;
}
.common_password:empty{
	color:inherit !important;
}
.common_password{
	position:absolute;
	z-index: 0;
	max-width: calc(100% - 40px);
	color:transparent !important;
	background-color: transparent !important;
}
.common_input:hover{
	cursor: text;
}
.common_icon {
	font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
	font-weight: 900;
	font-style: normal;
	display: inline-block;
	padding-top: 4px;
    padding-bottom: 4px;
}  
.common_icon::before{
	display: inline-block;
    white-space: nowrap;
	vertical-align: sub;
}
.common_icon svg{
	font-size: 2em;
	height: 0.6em;
	vertical-align: sub;
}
.common_link:hover,
.common_link:active{
	cursor:pointer;
}
.common_input_lov{
	width: calc(100% - 15px) !important;
}
.common_lov_button{
	display: inline-block;
}
.common_lov_search_row{
	width:100%;
}
#common_lov_search_input{
	width: 85%;
	display: inline-block;
	border-radius: 4px;
	padding:2px;
}
#common_lov_search_icon{
	width: 15px;
	display: inline-block;
}
.common_list_lov_row{
	display:inline-block;
}
.common_list_lov_row_hide{
	display:none !important;
}
.common_list_lov_click{
	cursor:pointer;
}
.common_wide_list_column{
	overflow: auto;
}
/*checkbox with switch ui*/
.common_switch {
	display: inline-block !important;
	position:relative;
	width: 48px;
	height: 24px;
	text-indent: -150%;
	clip: rect(0 0 0 0);
	user-select: none;
	vertical-align: middle;
}
.common_switch::before,
.common_switch::after {
	content: "";
	display: block;
	position: absolute;
	cursor: pointer;
}
.common_switch::before {
	width: 48px;
	height: 24px;
	border-radius: 9999em;
	transition: background-color 0.25s ease;
}
.common_switch::after {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	transition: left 0.25s ease;
}
.common_switch.checked::after {
	left: 24px;
}
.common_dialogue_button {
	background: none;
	border: none;
	font-size: 30px;
	width: 60px;
	height: 30px;
	padding:0px;
	text-transform: uppercase;
	cursor:pointer;
	display: inline-block;
}
.common_toolbar_button {
	background: none;
	border: none;
	font-size: 30px;
	width: 60px;
	height: 60px;
	padding:0px;
	text-transform: uppercase;
	cursor:pointer;
}
.common_list_scrollbar{
	overflow-y: auto;
	overflow-x: auto;
	white-space: nowrap;
	height: 100%;
    display: grid;
    grid-auto-rows: max-content;
	inset-inline-start: calc(50% - 40px);
}
/*framework*/
#common_toolbar_framework.show{
	display: flex;
}
#common_toolbar_framework{	
	display: none;
	z-index: 2;
	flex-direction: row;
	justify-content: center;
	position:relative;
	border-radius: 0px 0px 4px 4px;
	font-size: 1.5em;
	margin-inline-start: calc(50% - calc(1.5em * 3/2));
	width: calc(1.5em * 3);
}
#common_toolbar_framework .common_icon{
	cursor:pointer;
	width: 1.25em;
	text-align: center;
}

/*dialogue*/
.common_dialogue{
	visibility:hidden;
	position: fixed;
	z-index: 50;
	padding-top: 10px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.common_dialogue_content{
	text-align:center;
	top: 50%;
    left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
	padding: 10px;
	width: auto;
	height: auto;
	word-break: break-word;
	border-radius: 4px;
	animation-name: common_animatetop;
	animation-duration: 0.4s;
}
.common_dialogue_close{
	animation-name: common_roadRunnerOut;
	animation-duration: 0.4s;
}

/* add animation effects */
@keyframes common_pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}

@keyframes common_animatetop {
	from {
		top: -60%;
		opacity: 0
	}
	to {
		top: 15%;
		opacity: 1
	}
}
@keyframes common_roadRunnerIn {
    0% {
      transform:translateX(-1500px) skewX(30deg) scaleX(1.3);
    }
    70% {
      transform:translateX(30px) skewX(0deg) scaleX(.9);
    }
    100% {
      transform:translateX(0px) skewX(0deg) scaleX(1);
    }
}
@keyframes common_roadRunnerOut {
    0% {
      transform:translateX(0px) skewX(0deg) scaleX(1);
    }
    30% {
      transform:translateX(-30px) skewX(-5deg) scaleX(.9);
    }
    100% {
      transform:translateX(1500px) skewX(30deg) scaleX(1.3);
    }
}
  

/* DIALOGUE MESSAGE*/
#common_dialogue_message_content{
	min-width: 200px;
	overflow-y: auto;
    max-height: 90%;
}
#common_confirm_question{
	cursor:default;
	display:inline-block;
	margin-bottom:10px;
}
#common_message_progressbar_wrap{
	display:inline-block;
	text-align: start;
	width: 100%;
	height: 10px;
	border: 0.5px solid;
	border-radius: 4px;
	animation: common_pulsate 2s ease-out;
	animation-iteration-count: infinite;
}
#common_message_progressbar{
	display:inline-block;
	width: 100%;
	height: 10px;
	border-radius: 4px;
	vertical-align: top;
}
#common_message_title{
	cursor:default;
	display:inline-block;
}
#common_message_cancel{
	cursor:pointer;
}
#common_message_close{
	outline:none;
	cursor:pointer;
	display:inline-block;
}



#common_dialogue_user_start,
#common_user_menu_dropdown{
	z-index:51;
}
#common_dialogue_user_verify,
#common_dialogue_user_password_new,
#common_dialogue_user_password_new{
	z-index:52;
}
/*DIALOGUE MESSAGE*/

#common_dialogue_message{
	z-index:53;
}
#common_message_title .common_icon{
	vertical-align: middle;
	margin-bottom: 1px;
}
#common_message_title #common_message_info_list{
	display: block;
	width: 300px;
}
#common_message_title #common_message_info_list #common_message_info_list_title{
	font-weight: bold;
	font-size: 1.5em;
}
#common_message_title #common_message_info_list .common_message_info_list_row{
	display: inline-block;
	width: 100%;
	margin: 2px;
}
#common_message_title #common_message_info_list .common_message_info_list_row .common_message_info_list_col{
	display: inline-block;
	width: calc(50% - 10px);
	text-align: start;
	vertical-align: top;
}

/* Dialogue Verification code*/
#common_dialogue_user_verify{
	visibility: hidden;
}
#common_dialogue_user_verify_content{
	height:280px;
}
#common_user_verify_email_icon{
	font-size:30px;
	height:30px;
}
#common_user_verify_email{
    margin-top: 20px;
	height: 30px;
}
#common_user_verification_type{
	display: none;
}
#common_user_verify_verification_container{
	margin-top:40px;
	margin-bottom:40px;	
}
.common_user_verify_verification_wrap{
	width: 30px;
	height: 40px;
	padding: 0;
	display:inline-block;
	margin:5px;
}
.common_user_verify_input_verification_char{
	border-radius: 4px;
	font-size: 30px;
	text-align: center;
	width:30px;
	height:40px;
	border: 1px solid;
}
#common_user_password_new_icon{
	font-size: 30px;
    height: 30px;
}
#common_user_password_new_auth{
	display: none;
}
#common_user_password_new{
	margin-top: 40px;
}
/*Dialogue user start*/
#common_user_start_login_system_admin, 
#common_user_start_login_system_admin_form,
#common_user_start_login_system_admin_first_time, 
#common_user_start_login_system_admin_password_confirm{
	display:none;
}
#common_dialogue_user_start{
	visibility: hidden;
}
.common_user_start_form{
	width: 100%;;
}
#common_dialogue_user_start_content{
	max-height: 90%;
	width: 300px;
	height: 430px;
}
#common_user_start_nav > div{
	margin:10px;
	cursor: pointer;
	width: 20%;
}
#common_user_start_logo{
	background-image: url('/common/images/logo.png');
	background-size: contain;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
#common_dialogue_user_start .common_input, .common_login_input{
	height:30px;
	width: calc(100% - 40px);
	margin-top:10px;
	padding: 4px 10px;
	box-sizing: border-box;	
}
#common_dialogue_user_start .common_user_start_button{
	display: inline-block;
	height:30px;
	padding:1px;
	border: 0px solid;
	margin-top:10px;
	margin-bottom:10px;
	cursor:pointer;
}
#common_dialogue_user_start .common_login_provider_id, 
#common_dialogue_user_start .common_login_provider_name{
	display:inline-block;
}
#common_user_start_forgot_form{
	width: 100%;
}
#common_user_start_forgot_button{
	margin:10px;
	cursor:pointer;
}
#common_user_start_close{
	width: 100%;
	margin-top:10px;
}
/*Dialogue user edit*/
#common_dialogue_user_edit{
	visibility: hidden;
}
#common_dialogue_user_edit_content{
	width: 360px;
	height: auto;
	padding-bottom: 0px;
}
#common_dialogue_user_edit_content input{
	width: 100%;
	border: 0.5px solid;
}
#common_user_edit_avatar{
	width:48px;
	height:48px;
	position: fixed;
    top: 4px;
}
#common_user_edit_avatar_img{
	width:48px;
	height:48px;
	border-radius: 50%;
	z-index: -1;
}
#common_user_edit_input_avatar_img{
	display:none;
}
#common_user_edit_btn_avatar_img{
	border: 0.5px solid;
	border-radius: 4px;
    width: 26px;	
    margin-top: 20px;
	cursor: pointer;
	display: inline-block;
}
#common_dialogue_user_edit_content .common_setting_horizontal_row{
	display: block;
}
#common_dialogue_user_edit_content #common_user_edit_common .common_setting_horizontal_row:first-child{
	height: 60px;
}
#common_dialogue_user_edit_content #common_user_edit_common .common_setting_horizontal_row:first-child .common_setting_horizontal_col:nth-child(2){
	text-align: center !important;
	vertical-align: top;
}
#common_dialogue_user_edit_content .common_setting_horizontal_col:nth-child(1){
	width :5%;
	display: inline-block;
}
#common_dialogue_user_edit_content .common_setting_horizontal_col:nth-child(2){
	width :90%;
	text-align: start;
	display: inline-block;
}
#common_dialogue_user_edit_content #common_user_edit_provider .common_setting_horizontal_row:nth-child(5){
	height:0px;
}
#common_dialogue_user_edit_content #common_user_edit_provider{
	margin-top: 10px;
    margin-bottom: 10px;
}
#common_user_edit_buttons{
	margin-bottom: 10px;
}
#common_user_edit_close{
	margin-bottom:20px;
}
#common_dialogue_user_edit_content #common_user_edit_buttons .common_setting_horizontal_col:nth-child(1) {
	width: 0%;
	display: none;
}
#common_dialogue_user_edit_content #common_user_edit_buttons .common_setting_horizontal_col:nth-child(2) {
	width: 100%;
	text-align: center !important;
}
#common_user_edit_label_data_last_logontime,
#common_user_edit_label_data_account_created,
#common_user_edit_label_data_account_modified {
	font-size: 0.5em;
}

/*Dialogue lov*/
#common_dialogue_lov_content{
	height:auto;
	width: 350px;
}
#common_lov_list{
	height: 230px;
    border-radius: 4px;
    text-align: start;
}
#common_lov_list #common_app_spinner{
	visibility: unset;
}
#common_lov_search_icon{
	cursor:pointer;	
}
.common_list_lov_row{
	width:100%;
	display:block;
	cursor:pointer;
}
.common_list_lov_col:nth-child(1){
	width:50px;
	display:inline-block;
	padding-left: 3px;
	padding-right: 3px;
	margin: 1px;
	border-radius: 4px
}
.common_list_lov_col:nth-child(2){
	width:150px;
	display:inline-block;
	padding-left: 3px;
	padding-right: 3px;
	margin: 1px;
	border-radius: 4px
}
/*profile search*/
#common_profile_input_row{
	position: fixed;
	z-index: 1;
	margin-inline-start: calc(50% - 140px);
}
#common_profile_search_input{
	border-radius: 16px;
	width:240px;
	margin-top:10px;
	margin-inline-end:10px;
	padding: 8px 16px;
	box-sizing: border-box;
}
#common_profile_search_icon{
	display: inline-block;
	cursor: pointer;
}
#common_profile_search_list_wrap{
	border-radius: 16px;
	padding: 6px;
	width: 275px;
	z-index:1;
	position:fixed;
	max-height: calc(100% - 140px);
	margin-inline-start: calc(50% - 140px);
	display: none;
	flex-direction: column;
}
#common_profile_search_list{
	width:250px;
	overflow-y: auto;
    overflow-x: hidden;
	padding: 10px;
	margin:0 auto;
}
.common_profile_search_list_row{
	height:1.8em;
}
.common_profile_search_list_col:nth-child(1){
	display: none;
}
.common_profile_search_list_col:nth-child(2){
	width:24px;
	padding-left:10px;
	padding-right:10px;
	display:table-cell;
}
.common_profile_search_list_col:nth-child(3),
.common_profile_search_list_col:nth-child(4){
	display:table-cell;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
}
.common_profile_search_list_col:nth-child(4){
	width:100%;
	text-align:end;
}
/*Dialogue profile*/
#common_dialogue_profile{
	visibility:hidden;
	top: 0px;
    padding-top: 20px;
	width: 100%;
    height: 100%;
	position:fixed;
}
#common_profile_info{
	display:none;
}
#common_dialogue_profile_content{
	word-break: unset;
	width:350px;
	height:550px;
}
#common_profile_close{
	display: block;
    width: 100%;
	bottom:10px;
	position:fixed;
}
#common_profile_main {
	width:100%;
	text-align:center;
}
.common_profile_main_row{
	width: 100%;
	margin-bottom: 10px;
}
.common_profile_main_col:nth-child(1){
	display:inline-block;
	width: 50%;
	text-align:start;
	vertical-align: top;
}
.common_profile_main_col:nth-child(2){
	display:inline-block;
	width: 45%;
}
.common_profile_main_row:nth-child(2) .common_profile_main_col:nth-child(2) div{
	width: 66px;
	display: inline-block;
}
#common_profile_id{
	display:none;
}
#common_profile_avatar{
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
#common_profile_avatar_online_status{
	display:none;
    margin-inline-start: 45px;
    margin-top: -20px;
    position: absolute;
	border-radius: 50%;
	font-size:11px;
}
#common_profile_avatar_online_status.online{
	display: inline-block;
}
#common_profile_avatar_online_status.offline{
	display: inline-block;
}
#common_profile_bio{
	font-size: 0.6em;
}
#common_profile_joined_date_icon{
	display: inline-block;
}
#common_profile_main_stat_row1{
	display: inline-block;
}
#common_profile_main_stat_row1 div{
	display:inline-block;
	margin-left: 1px;
	margin-right: 1px;
}
#common_profile_joined_date,
#common_profile_info_following_count,
#common_profile_info_followers_count,
#common_profile_info_likes_count,
#common_profile_info_view_count
{
	display:inline-block;
	margin-inline-start: 10px;
}
#common_profile_main_btn_following,
#common_profile_main_btn_followed,
#common_profile_main_btn_likes,
#common_profile_main_btn_liked{
	height:20px;
	text-align:start;
}
#common_profile_main_btn_following,
#common_profile_main_btn_followed,
#common_profile_main_btn_likes{
	width:20px;
}
#common_profile_main_btn_liked{
	width:50px;
}
#common_profile_qr {
	padding:3px;
	padding-bottom:0px;
	width: 132px;
	display: inline-block;
}

#common_profile_follow_followed,
#common_profile_like_unlike{
	display:none;
}
#common_profile_follow:hover,
#common_profile_follow:active,
#common_profile_like:hover,
#common_profile_like:active{
	cursor:pointer;
	transform: scale(1.3);
	transition: transform 0.5s ease, background 0.5s ease, box-shadow 0.5s ease;
}
/*profile private*/
#common_profile_public{
	width: 100%;
	height:100%;
	margin-top:10px;
	margin:0 auto;
	text-align: center;
}
#common_profile_private{
	width:100%;
	height:100%;
	text-align: center;
}
#common_profile_private_title{
	font-size:48px;
	margin: 10px;
	display:inline-block;
}

/*profile detail*/
#common_profile_detail {
	width: 100%;
	height: 100%;	
	display:inline-block;
	margin-top: 10px;
}
.common_profile_btn_selected{
    border-radius: 4px;
    padding: 2px;
}
.common_profile_detail_list{
	height:10.8em;
	width:350px;
	border:0.5px solid;
	display: inline-block;
	overflow-y: auto;
}
.common_profile_detail_list_row{
	height:1.8em;
    text-align: start;
}
.common_profile_detail_list_col:nth-child(1){
	display: none;
}
.common_profile_detail_list_col:nth-child(2){
	width:24px;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
	display:inline-block;
}
.common_profile_detail_list_col:nth-child(3){
	display:inline-block;
	width:200px;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
	text-align:start;
}
.common_profile_detail_list_col:nth-child(4){
	width:24px;
	vertical-align: middle;
	display: inline-block;
    margin-inline-end: 10px;
}
.common_profile_detail_list_app_delete{
	cursor:pointer;
}
.common_profile_detail_list_app_logo{
	height:1.4em;
	width:1.4em;
	vertical-align: middle;
}
.common_profile_top_list_avatar, 
.common_profile_search_list_avatar, 
.common_profile_detail_list_avatar, 
.common_profile_detail_list_app_delete{
	height:1.4em;
	width:1.4em;
	border-radius: 50%;
	vertical-align: middle;
}
.common_profile_detail_list_app_url, .common_profile_detail_list_date_created{
	display: none;
}
/*profie_top*/
#common_profile_top {
	width: 100%;
	height: 100%;
}

#common_profile_top_row1{
	text-align: center;
}
#common_profile_top_row1 .common_link{
	margin-inline-end:10px;
	display: inline-block;
}
#common_profile_top_list{
	width:100%;
	margin-top: 10px;
	overflow-x:auto;
	display: block;
	height: calc(100% - 160px);
}
.common_profile_top_list_row{
	height: 1.8em;
	width: 300px;
    margin: 0 auto;
}
.common_profile_top_list_col:nth-child(1){
	display: none;
}
.common_profile_top_list_col:nth-child(2){
	width:24px;
	padding-left:10px;
	padding-right:10px;
	display:table-cell;
}
.common_profile_top_list_col:nth-child(3),
.common_profile_top_list_col:nth-child(4){
	display:table-cell;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
}
.common_profile_top_list_col:nth-child(4){
	width:100%;
	text-align:end;
}
/* profile button top*/
#common_profile_btn_top{
	font-size: 48px;
	text-align: center;
	cursor:pointer;
	position:fixed;
	bottom:60px;
	width:60px;
	margin-inline-start: calc(50% - 30px) !important;
	border-radius: 4px 4px 0px 0px;
}
.common_profile_search_list_username,
.common_profile_top_list_username,
.common_profile_detail_list_username,
.common_profile_detail_list_app_name {
	width:200px;
	display:inline-block;
}

/*Dialogue User Edit*/

#common_user_edit_btn_label_user_update,
#common_user_edit_btn_label_user_delete_account{
	display:inline-block;
	width:120px;
	text-align: center;
	vertical-align: top;
	text-transform: uppercase;
}
#common_user_edit_label_provider_image_url,
#common_user_edit_label_provider_image_url_data{
	display:none !important;
}
/*signup*/
#common_user_edit_btn_user_delete_account{
	display: none;
}
#common_user_edit_btn_user_update,
#common_user_edit_btn_user_delete_account
{
	margin-left:10px;
	margin-right:10px;
	font-size:30px;
	height: 30px;
}
/*User account / user preferences*/
#common_app_select_theme{
	margin: 10px;
}
#common_user_account{
	display: grid;
	margin-top: 10px;
	width: 60px;
}
#common_user_menu{
	margin-inline-start: 10px;
	width: 47px;
	height:47px;
	z-index:1;
	border-radius: 50% !important;
	cursor:pointer;
}
#common_user_menu_avatar_img{
	width:47px;
	height:47px;
	border-radius:50%;
	vertical-align: middle;
}
#common_user_menu_dropdown_signup,
#common_user_menu_dropdown_edit
{
	display: block;
}
#common_user_menu_logged_in, #common_user_menu_dropdown_logged_in{
	display: none;
}
#common_user_menu_logged_out{
	display: inline-block;
}
#common_user_menu_username{
	cursor:pointer;
	padding: 10px;
}
#common_user_menu_default_avatar{
	font-size: 48px;
	margin-top:-14px;
}
#common_user_menu_dropdown{
	visibility: hidden;
	top:58px;
	right:10px;
	left:10px;
	position:fixed;
	width:auto;
	text-align: center;
	height:auto;
	border-radius: 4px;
	padding-bottom: 10px;
}
#common_user_menu_dropdown_logged_in{
	display:none;
	width:100%;
	font-size: 30px !important;
}
#common_user_menu_dropdown_logged_out{
	display: inline-block;
	width:100%;
	font-size: 30px !important;
}
#common_user_menu_dropdown_logged_in div,
#common_user_menu_dropdown_logged_out div{
	cursor:pointer;
}
#common_user_preferences div{
	display: inline-block;
}
#common_user_preferences .common_user_preference_col1{
	width: 10%;
}
#common_user_preferences .common_user_preference_col2{
	width: 80%;
}
#common_user_preferences .common_user_preference_col2 select {
	width: 100%;
}
/* SPINNER */
@keyframes spin{
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}
.css_spinner{	
	position:relative;
	vertical-align: sub;
	width:30px;
	height:30px;
	border-radius:50% !important;
	box-sizing:border-box;
	background-image: conic-gradient(from 90deg at 50% 50%, rgba(39,174,96,0) 0deg, rgba(31, 144, 255, 0) 0.04deg, var(--app_spinner_color) 360deg);
	animation:spin 1s linear infinite;
	margin-left: 25px !important;
    margin-right: 25px !important;
}
.css_spinner::before{
	content:'' !important;
	position:absolute;
	inset-inline-start:50%;
	top:50%;
	transform:translate(-50%, -50%);
	height: 25px;
	width: 25px;
	background:var(--app_spinner_background);
	border-radius:50%;
}
.common_list_scrollbar.css_spinner{
	height:30px !important;
}

#common_app_spinner{
	visibility: visible;
	display: inline-block;
	position: relative;
	z-index:1;
	vertical-align: middle;
}
.common_list_scrollbar #common_app_spinner{
	justify-self: center;
}
.common_load-spinner {
	visibility: hidden;
	position: absolute;
	z-index:1;
}
.common_load-spinner div {
	animation: common_lds-spinner 1.2s linear infinite;
}
.common_load-spinner div:after {
	content: ' ';
	display: block;
	position: absolute;
	inset-inline-start: 7px;
	width: 7px;
	height: 2px;
	border-radius: 20%;
}
.common_load-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
	margin-top:-4px;
}
.common_load-spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}
.common_load-spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}
.common_load-spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}
.common_load-spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}
.common_load-spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}
.common_load-spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}
.common_load-spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}
.common_load-spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}
.common_load-spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}
.common_load-spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}
.common_load-spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}
@keyframes common_lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
/*WINDOW INFO*/
#common_window_info {
    width:100%;
    height:100%;
	top: 0px;
	position:fixed;
	overflow-y: hidden;
    overflow-x: auto;
	z-index: 50;
	margin-bottom: 100px;
	visibility: hidden;
	text-align:center;
}
#common_window_info_info{
	text-align: center;
	display: inline-block;
}
#common_window_info_info img{
	max-width: 100%;
}
#common_window_info_info #common_app_spinner{
	margin-top:100px;
	margin-bottom:unset;
	transform: unset;
}
#common_window_info_content{
	margin-bottom:20px;
	width: 100%;
	height: calc(100% - 60px);
	border: 0px;
}
#common_window_info_content.A4{
	width : 210mm;
	height : 297mm;
}
#common_window_info_content.Letter{
	width : 8.5in;
	height : 11in;
}
#common_window_info_toolbar{
    display: flex;
	position: fixed;
	bottom: 10px;
    border-radius: 30px;
	height: 60px;
	max-width: calc(100% - 20px);
    margin: 10px;
}
#common_window_info_toolbar .common_toolbar_button{
	padding-top: 9px;
}
#common_window_info_toolbar #common_window_info_toolbar_btn_fullscreen{
	padding-top: 14px;
}
#common_window_info_btn_close{	
	width: 100%;
}
#common_window_info_btn_close .common_icon{
	font-size: 0.9em;
	border-radius: 30px;
}
#common_window_info_toolbar_btn_fullscreen{
	line-height: 1;
}
#common_profile_detail_header_liked div,
#common_profile_detail_header_app div{
	display: inline-block;
}
/*Module leaflet, dynamically created popup*/
#common_module_leaflet_popup_title,
#common_module_leaflet_popup_sub_title,
#common_module_leaflet_popup_sub_title_timezone,
#common_module_leaflet_popup_sub_title_gps{
	font-weight: bold;
	text-align: center;
	display: block;
}
.leaflet-popup-content{
	width:200px !important;
}
.common_module_leaflet_control_button {
	text-align: center;
	height: 30px;
	width: 30px;
	display: block;
	line-height: 30px;
	cursor: pointer;
	padding-top: unset;
    padding-bottom: unset;
}
.common_module_leaflet_control_expand{
	position: absolute;
	inset-inline-start: 30px;
}
#common_module_leaflet_control_expand_layer{
	display: none;
	width: 60vw;
	height: 30px;
	bottom: 0px;
}
#common_module_leaflet_control_expand_search{
	display: none;
	width: 60vw;
    top: 60px;
}
#common_module_leaflet_select_country, #common_module_leaflet_select_city{
	width:95%;
}
#common_module_leaflet_input_row{
	position: fixed;
	z-index: 1;
	margin-inline-start: calc(50% - 140px);
}
#common_module_leaflet_search_input{
	width:90% !important;
}
#common_module_leaflet_search_icon{
	display: inline-block;
	cursor: pointer;
}
#common_module_leaflet_search_list_wrap{
	width: 100%;
	z-index:1;
	display: flex;
	flex-direction: column;
}
#common_module_leaflet_search_list{
	margin-inline-start: 10px;
	overflow-y: auto;
    overflow-x: hidden;
	max-height: calc(5 * 3em);
	display:inline-block;
}
#common_module_leaflet_search_list .common_link {
	width: unset;
	text-align: unset;
	background-color:unset;
}
.common_module_leaflet_search_list_row{
	height: 3em;
	text-align: start;
}
.common_module_leaflet_search_list_col{
	display:block;
	width: calc(100% - 2px);
	height: 1.25em;
}
.common_module_leaflet_search_list_col:nth-child(1),
.common_module_leaflet_search_list_col:nth-child(4),
.common_module_leaflet_search_list_col:nth-child(5){
	display: none !important;
}
/*RESPONSIVE SETTINGS*/
/*CSS for minimum 768px*/
@media only screen and (min-width: 768px) {
	body{
		font-size: 18px;
	}
	#common_dialogue_profile_content{
		width:500px;
		height:500px;
	}
	#common_profile_bio{
		font-size: 0.7em;
	}	
	#common_dialogue_user_edit_content{
		width:500px;
	}
	.common_profile_detail_list{
		height:5.6em;	
	}
	#common_window_info_toolbar{
		margin-left: calc((100% - 420px)/2);
		margin-right: calc((100% - 420px)/2);
	}
	#common_message_title #common_message_info_list{
		width: 500px;
	}	
	#common_module_leaflet_search_list{
		max-height: calc(3 * 3em);
	}
}
