:root {
	/*app colors*/	
	--app_king: #32398D;
	--app_prince: #755FBE;
	--app_princess:#E195CB;
	--app_blue1: rgb(81, 171, 255);
	--app_blue2: rgb(197 227 255);
	--app_black: #404040;
	--app_black_transparent1: rgba(0,0,0,0.2);
	--app_black_transparent2: rgba(0,0,0,0.3);
	--app_cafe_latte: #584f46;
	--app_cafe_latte2: #3A3632;
	--app_cafe_latte3: #d2b88f;
	--app_dark: rgb(0 2 70);
	--app_dark2: rgb(68, 68, 68);
	--app_dark3: #2b2b32;
	--app_dark4: #1c1c1f;
	--app_darkgrey: #333;
	--app_green: #6ab344;
	--app_green2: #6ddc5f;
	--app_grey:#a3a3a3;
	--app_gold: #a49775;
	--app_light :#f5f5f5;
	--app_lightgrey: #ddd;
	--app_lightgrey2: #dedede;
	--app_lightred: #FAEAF1;
	--app_lightgreen: #F7FFFF;
	--app_lightyellow: #FFFFF9;
	--app_red: #d82139;
	--app_shadow1: rgba(0,0,0,.2);
	--app_shadow2: rgba(0,0,0,0.19);
	--app_shadow3: rgba(0,0,0,0.4);
	--app_yellow: yellow;
	--app_white: white;
	--app_white1: #fefefe;
	--app_white2: #dedede;
	--app_white3: #f2f2f2;
	--app_white4: #e2e2e2;
	--app_white_transparent: rgb(255,255,255,0.25);
	/*report colors*/
	--report_black: #404040;
	--report_blue: #1da1f2;
	--report_blue2: #006dbf;
	--report_darkblue: #012d74;
	--report_gold: #cea87a;
	--report_lightblue: #5cacf6;
	--report_lightblue2: #afd2fa;
	--report_lightblue3: #daebff;
	--report_lightgold: #d2c196;
	--report_pink: #ffd2e3;
	--report_pink2: #f2c2d3;
	--report_shadow1: rgb(0 0 0 / 20%);
	--report_shadow2: rgb(0 0 0 / 19%);
	--report_white: white;

	/*fonts*/
	--global_font_languages_1:  "Noto Sans Hebrew", "Noto Sans Thai", "Noto Sans Khmer", 
								"Noto Sans Bengali", "Noto Sans Telugu","Noto Sans Tamil",
								"Noto Sans Javanese", "Noto Sans Gujarati", "Noto Sans Kannada", 
								"Noto Sans Malayalam", "Noto Sans Sundanese", "Noto Sans Tagalog",
								"Noto Sans Sinhala";

	--global_font_symbols:  "Noto Music", "Noto Sans Math", "Noto Emoji", "Noto Sans Indic Siyaq Numbers", 
							"Noto Sans Symbols", "Noto Sans Symbols 2", 
							"Noto Sans Anatolian Hieroglyphs","Noto Sans Egyptian Hieroglyphs";
	--global_font_languages_2:  "Noto Sans Samaritan", "Noto Sans N'Ko", "Noto Sans Indic Devanagari", 
								"Noto Sans Gurmukhi", "Noto Sans Tamil Supplement", "Noto Sans Oriya", 
								"Noto Sans Myanmar", "Noto Sans Georgian", "Noto Sans Armenian", 
								"Noto Sans Gothic", "Noto Sans Tai Viet", 
								"Noto Sans Lao", "Noto Sans Carian", "Noto Sans Deseret", 
								"Noto Sans Saurashtra", "Noto Sans Thaana", "Noto Sans Traditional Nushu", 
								"Noto Sans Cherokee", "Noto Sans Adlam", "Noto Sans Brahmi", 
								"Noto Sans Meetei Mayek", "Noto Sans Imperial Aramaic", "Noto Sans Old Turkic", 
								"Noto Sans Coptic", "Noto Sans Mongolia", "Noto Sans Multani", 
								"Noto Sans Balinese", "Noto Sans Hanunoo", "Noto Sans Buginese", 
								"Noto Sans Bamum", "Noto Sans Yi", "Noto Sans Old Italic", 
								"Noto Sans Ol Chiki", "Noto Sans Old South Arabian", "Noto Sans Canadian Aboriginal", 
								"Noto Sans Adlam Unjoined", "Noto Sans Kaithi", "Noto Sans Old Hungarian", 
								"Noto Sans Sora Sompeng", "Noto Sans Inscriptional Pahlavi", "Noto Sans Medefaidrin", 
								"Noto Sans Syriac", "Noto Sans Psalter Pahlavi", "Noto Sans Linear A", 
								"Noto Sans Inscriptional Inscriptional Parthian", "Noto Sans Cypriot", "Noto Sans Old Persian", 
								"Noto Sans Inscriptional Grantha", "Noto Sans Tifinagh", "Noto Sans Avestan", 
								"Noto Sans Osage", "Noto Sans Lisu", "Noto Sans Bassa Vah", 
								"Noto Sans Old North Arabian", "Noto Sans Mro", "Noto Sans Tai Tham", 
								"Noto Sans Zanabazar Square", "Noto Sans Hanifi Rohingya", "Noto Sans Kayah Li", 
								"Noto Sans Mayan Numerals", "Noto Sans Pahawh Hmong", "Noto Sans Phags Pa", 
								"Noto Sans Cuneiform", "Noto Sans Ogham", "Noto Sans Glagolitic", 
								"Noto Sans Runic", "Noto Sans Old Permic", "Noto Sans Bhaiksuki", 
								"Noto Sans Caucasian Albanian", "Noto Sans Linear B", "Noto Sans Wancho", 
								"Noto Sans Sharada", "Noto Sans Palmyrene", "Noto Sans Batak", 
								"Noto Sans Phoenician", "Noto Sans Elymaic", "Noto Sans Marchen", 
								"Noto Sans Limbu", "Noto Sans Syloti Nagri", "Noto Sans Elbasan", 
								"Noto Sans Siddham", "Noto Sans Kharoshthi", "Noto Sans Khojki", 
								"Noto Sans Miao", "Noto Sans Pau Cin Hau", "Noto Sans Lepcha", 
								"Noto Sans Duployan", "Noto Sans Lycian", "Noto Sans Mandaic", 
								"Noto Sans New Tai Lue", "Noto Sans Chakma", "Noto Sans Warang Citi", 
								"Noto Sans Ugaritic", "Noto Sans Sogdian", "Noto Sans Buhid", 
								"Noto Sans Osmanya", "Noto Sans Masaram Gondi", "Noto Sans Tagbanwa", 
								"Noto Sans Takri", "Noto Sans Khudawadi", "Noto Sans Vai", 
								"Noto Sans Tirhuta", "Noto Sans Old Sogdian", "Noto Sans Hatran", 
								"Noto Sans Newa", "Noto Sans Shavian", "Noto Sans Gunjala Gondi", 
								"Noto Sans Mahajani", "Noto Sans Soyombo", "Noto Sans Nushu", 
								"Noto Sans Tai Le", "Noto Sans Nabataean", "Noto Sans Rejang", 
								"Noto Sans Manichaean", "Noto Sans Meroitic", "Noto Sans Lydian", 
								"Noto Sans Modi";
	--global_font_arabic_sans: 		'Noto Sans', 'Noto Sans Arabic', 'Noto Sans JP', 
								    'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans HK', 
								    var(--global_font_languages_1), var(--global_font_symbols), var(--global_font_languages_2);
	--global_font_arabic_kufi: 		'Noto Sans', 'Noto Kufi Arabic', 'Noto Sans JP', 
									'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans HK',
									var(--global_font_languages_1), var(--global_font_symbols), var(--global_font_languages_2);
	--global_font_arabic_nashk: 	'Noto Sans', 'Noto Nashk Arabic', 'Noto Sans JP', 
									'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans HK',
									var(--global_font_languages_1), var(--global_font_symbols), var(--global_font_languages_2);
	--global_font_arabic_nastaliq: 	'Noto Sans', 'Noto Nastaliq Urdu', 'Noto Sans JP', 
									'Noto Sans KR', 'Noto Sans SC', 'Noto Sans TC', 'Noto Sans HK',
									var(--global_font_languages_1), var(--global_font_symbols), var(--global_font_languages_2);
}
/*Fontawesome icons*/
@font-face {
	font-family: "Font Awesome 6 Free";
	font-style: normal;
	font-weight: 400;
	font-display: block;
	src: url(/common/modules/fontawesome/webfonts/fa-regular-400.woff2) format("woff2")
}
@font-face {
	font-family: "Font Awesome 6 Free";
	font-style: normal;
	font-weight: 900;
	font-display: block;
	src: url(/common/modules/fontawesome/webfonts/fa-solid-900.woff2) format("woff2")
}
/*use this class to display icons*/
.common_icon {
	font-family: "Font Awesome 6 Free";
	font-weight: 900;
	font-style: normal;
	display: inline-block;
}  

/*default font*/
body
{
	font-family: var(--global_font_arabic_sans);
}
/*Arabic NotoSans, Arabic*/
body.font_arabic_sans_kufi
{
	font-family: var(--global_font_arabic_sans);
}
/*Arabic NotoKufi*/
body.font_arabic_kufi{
	font-family: var(--global_font_arabic_kufi);
}
/*Arabic NotoNashk*/
body.font_arabic_nashk{
	font-family: var(--global_font_arabic_nashk);
}
/*Arabic NotoNastaliq*/
body.font_arabic_nastaliq{
	font-family: var(--global_font_arabic_nastaliq);
	line-height:1.6;
}
body.font_arabic_nastaliq select,
body.font_arabic_nastaliq input{
	font-size:0.7em;
}
body.font_arabic_nastaliq #common_user_menu_default_avatar{
	margin-top:-15px;
}

/*common*/
.common_dialogue{
	visibility:hidden;
	position: fixed;
	z-index: 50;
	padding-top: 10px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.common_dialogue_content{
	text-align:center;
	top: 50%;
    left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
	padding: 10px;
	width: auto;
	height: auto;
	word-break: break-word;
	border-radius: 4px;
	animation-name: common_animatetop;
	animation-duration: 0.4s;
}
.common_dialogue_close{
	animation-name: common_roadRunnerOut;
	animation-duration: 0.4s;
}

/* add animation effects */
@keyframes common_pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}

@keyframes common_animatetop {
	from {
		top: -60%;
		opacity: 0
	}
	to {
		top: 15%;
		opacity: 1
	}
}
@keyframes common_animatetop2 {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}
@keyframes common_roadRunnerIn {
    0% {
      transform:translateX(-1500px) skewX(30deg) scaleX(1.3);
    }
    70% {
      transform:translateX(30px) skewX(0deg) scaleX(.9);
    }
    100% {
      transform:translateX(0px) skewX(0deg) scaleX(1);
    }
}
@keyframes common_roadRunnerOut {
    0% {
      transform:translateX(0px) skewX(0deg) scaleX(1);
    }
    30% {
      transform:translateX(-30px) skewX(-5deg) scaleX(.9);
    }
    100% {
      transform:translateX(1500px) skewX(30deg) scaleX(1.3);
    }
}
  

/* DIALOGUE MESSAGE*/
#common_dialogue_message_content{
	min-width: 200px;
	overflow-y: auto;
    max-height: 90%;
}
#common_confirm_question{
	cursor:default;
	display:inline-block;
	margin-bottom:10px;
}
#common_message_title{
	cursor:default;
	display:inline-block;
}
#common_message_cancel{
	cursor:pointer;
}
#common_message_close{
	outline:none;
	cursor:pointer;
	display:inline-block;
}
/*DIALOGUE MAINTENANCE */
#common_dialogue_maintenance{
	visibility: hidden;
	z-index:100;
}
#common_dialogue_maintenance_content{
	height:250px;
	width:300px;
}
#common_maintenance_logo {
	background-image: url('/admin/images/logo.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 50px;
	margin: 0 auto;
}
#common_maintenance_message{
	padding-top:20px;
	padding-bottom:20px;
	font-weight: bold;
	color: var(--app_blue1);
	font-size: 2em;
}

#common_maintenance_countdown{
	font-size: 30px;
	padding-bottom:20px;
}
#common_maintenance_footer{
	padding-bottom:5px;
}
/* BROADCAST */
#common_broadcast_info {
	visibility:hidden;
	width:calc(100% - 20px);
	height: 100px;
	bottom: 10px;
	margin: 10px;
	position:fixed;
	z-index:100;
	text-align: center;
}
#common_broadcast_banner {
	width:100%;
	height: 100px;
	border-radius:4px;
	overflow: hidden;
	background-color:var(--app_white);
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

#common_broadcast_header{
	width: 100%;
	height: 65px;
  	overflow: hidden;
  	box-sizing: content-box;
}
#common_broadcast_info_message {
	width:100%;
	height: 65px;
	white-space: nowrap;
	box-sizing: content-box;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-name: common_ticker;
	animation-duration: 10s;
}
#common_broadcast_info_message_item{
	font-size:30px;
	display: inline-block;
}
@keyframes common_ticker {
	0% {
	  transform: translateX(100%);
	}
	100% {
	  transform: translateX(-100%);
	}
}
#common_broadcast_footer{
	display: flex;
	justify-content: space-between;
	background-color:var(--app_blue1);
}
#common_broadcast_info_logo {
	background-image: url('/admin/images/logo.png');
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	width:34px;
	height:34px;
	background-color: var(--app_white);
	border: 2px solid var(--app_white);
}
#common_broadcast_info_title {
	height: 35px;
	color:var(--app_white);
	font-size:25px;
	font-weight:bold;
}
#common_broadcast_close {
	cursor:pointer;
	transform: translateY(-65px);
    margin: 5px;
}