#common_broadcast_close::before{		content:var(--common_app_icon_broadcast_close)}
#common_broadcast_info_title::before{	content:var(--common_app_icon_alert)}
#common_maintenance_message::before{	content:var(--common_app_icon_maintenance)}

.common_image{
	border-radius: 50%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.common_image_alert{
	width: 50px;
	height: 50px;
}
.common_image_broadcast{
	width: 34px;
	height: 34px;
}

/*DIALOGUE MAINTENANCE */
#common_maintenance_header{
	width: 100%;
  	height: 50px;
}
#common_dialogue_maintenance{
	display: block;
}
#common_dialogue_maintenance_content{
	height:250px;
	width:300px;
}
#common_maintenance_logo {
	background-image: url('/maintenance/images/logo_maintenance.png') !important;
	margin: 0 auto;
}
#common_maintenance_message{
	padding-top:20px;
	padding-bottom:20px;
	font-weight: bold;
	color: var(--common_app_color_blue1);
	font-size: 2em;
}
#common_maintenance_countdown{
	font-size: 30px;
	padding-bottom:20px;
}
#common_maintenance_footer{
	padding-bottom:5px;
}


#common_broadcast_info_logo {
	background-image: url('/maintenance/images/logo_broadcast.png') !important;
}
body{
    font-size: 16px;
    margin: 0;
    height: 100%;
    padding: 0px;
    color: var(--common_app_color_black);
    background: var(--common_app_color_blue1);
}

.common_icon {
	font-family: "Font Awesome 6 Free MAINTENANCE", "Font Awesome 6 Brands MAINTENANCE";
	font-weight: 900;
	font-style: normal;
	display: inline-block;
}  
/*dialogue*/
.common_dialogue{
	visibility:hidden;
	position: fixed;
	z-index: 50;
	padding-top: 10px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.common_dialogue_content{
	text-align:center;
	top: 50%;
    left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
	width: auto;
	height: auto;
	word-break: break-word;
	border-radius: 4px;
}

@keyframes common_pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}
#common_maintenance_header{
	background-color: var(--common_app_color_blue1);
}
#common_maintenance_logo{
	background-color: var(--common_app_color_light);
}
.common_dialogue_content{
    background-color: var(--common_app_color_light);
    box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}
@media only screen and (min-width: 768px) {
    body{
        font-size: 18px;
    }
}