/*APP*/
#mapid {
	position: absolute;
  	top: 0;
  	bottom: 0;
  	width: 100%;
}
/*COMMON*/
#common_profile_input_row,
#common_profile_search_list_wrap{
	visibility: hidden;
}
#common_user_account{
	visibility: hidden;
}
