/* PAPER, PREVIEW AND PRINT*/
#common_app_window_info #paper {
	margin-top: 10px;
}

/* TOOLBAR TOP*/
#toolbar_top,
#toolbar_bottom {
	text-align: center;
	width: 100%;
	display: grid;
	z-index: 10;
    position: fixed;
    
    justify-content: center;
    grid-template-columns: 4em 4em 4em 4em 4em;
    height: 3em;
}
#toolbar_top{
    top: 0;
}
#toolbar_bottom {
	bottom: 0;
}
#profile_user_settings_row{
	width:100%;
}
#profile_select_user_settings{
	display: block;
  	line-height: 1.5em;
}
#profile_user_settings_detail{
	width: 100% !important;
}
/*Profile top*/
#profile_stat_row2{
	text-align: center;
	width:100%;
}
#profile_stat_row2 > div{
	margin-right:10px;
	display: inline-block;
}

/* SETTINGS*/
#common_app_dialogues_app_custom.common_app_dialogues_show0{
	width: 30em;
	height: 35em;
}
#settings {
	width: 100%;
	height: 100%;
}

/*SETTINGS TAB NAVIGATION */
#settings_tab_navigation{
	display: block;
	height:50px;
	margin: 0px;
    padding: 0px;
	text-align: center;
}
#settings_tab_navigation .settings_tab_nav{
	padding:3px;
	border:0px;
	vertical-align: bottom;
}
#user_setting_avatar_img{
    height: 30px;
	width: 30px;
	margin: 0 auto;
}

/*SETTINGS, common*/
#settings .common_select{
	display: inline-block;
	width: 95%;
	white-space: nowrap;
}

#settings label {
	margin: 0 0 3px 0;
	padding: 0px;
	display: block;
	font-weight: bold;
}
#settings #setting_current_date_time_display,
#settings #setting_report_date_time_display{
	font-size: 0.7em;
	margin-inline-start: 5px;
}

#settings select {
	box-sizing: border-box;
	border: 0px;
	padding: 0px;
	margin: 1px;
	max-width: 52%;
	min-width: 52%;
	outline: none;
}
#settings .common_input {
	box-sizing: border-box;
	border: 0px;
	padding: 3px;
	margin: 1px;
	width: 360px;
	max-width:52%;
}
#settings .setting_horizontal_row{
	width:100%;
	max-height: 1.6em;
	display: block;
    margin-top: 0.2em;
}
#settings .setting_horizontal_col{
	display: inline-block;
}
#settings .setting_horizontal_col:nth-child(1){
	width:5%;
}
#settings .setting_horizontal_col:nth-child(2){
	width:25%;
	text-align: start;
}
#settings .setting_horizontal_col:nth-child(3){
	width:65%;
	text-align:start;
}
#settings .setting_horizontal_col:nth-child(4){
	width:5%;
}
#settings .setting_horizontal_col:nth-child(3) select,
#settings .setting_horizontal_col:nth-child(3) .common_input{
	min-width: 100%;
}
/* SETTINGS GPS*/
#mapid >div{
	height: 25em;
	margin-left: 5%;
	margin-right: 5%;
	margin-bottom: 10px;
}
#mapid #common_map{
	width:unset !important;
}
/* SETTINGS DESIGN*/
#settings .settings_tab3 .setting_horizontal_row:nth-child(1){
	direction:ltr;
	min-height:	230px;
}
#settings .settings_tab3 .setting_horizontal_row:first-child .setting_horizontal_col:nth-child(1),
#settings .settings_tab3 .setting_horizontal_row:first-child .setting_horizontal_col:nth-child(2),
#settings .settings_tab3 .setting_horizontal_row:first-child .setting_horizontal_col:nth-child(3){
	width: 125px;
}
#settings .settings_tab3 .setting_horizontal_row:first-child .setting_horizontal_col:nth-child(4){
	width:0%;
}
#settings .settings_tab3 .setting_horizontal_row:first-child .setting_horizontal_col{
	text-align: center !important;
}
#setting_icon_design_theme_day, #setting_icon_design_theme_month, #setting_icon_design_theme_year{
	display: block;
	padding-top: unset;
}
#setting_icon_design_theme_day.common_loading_spinner, 
#setting_icon_design_theme_month.common_loading_spinner, 
#setting_icon_design_theme_year.common_loading_spinner{
	display: inline-block;
}

/* THEME THUMBNAILS*/
.setting_design_thumbnail{
	width: 96px;
	height:136px;
	display: flex;
	text-align: center !important;
	margin-inline-start: 14.5px;
}
.setting_design_prev{
	text-align: start;
}
.setting_design_next{
	text-align: end;
}
.setting_design_prev,
.setting_design_next{
    margin-top: 0.25em;
    margin-right: 0.5em !important;
    margin-left: 0.5em !important;
}
/*theme live thumbnail fixes*/
.setting_design_thumbnail .paper{
	background-color:var(--common_report_color_white);
	transform: unset !important;
	transform-origin: unset !important;
	margin-top: unset !important;
}
.setting_design_thumbnail .timetable_month_data_header_row{
	font-size: unset;
}
.setting_design_thumbnail .timetable_year_timetables_row .timetable_month_class #timetable_month_data{
	table-layout: auto;
}
.paper.A4 > div{
	width : 210mm !important;
	height : 297mm !important;
}
.paper.Letter > div{
	width : 8.5in !important;
	height : 11in !important;
}

/*Browsers that support zoom*/
@supports (zoom: 0.125) {
	#setting_design_theme_day #timetable_day {
		zoom: 0.125;
	}
	#setting_design_theme_day #timetable_footer{
		position:absolute;
	}
	#setting_design_theme_month #timetable_month {
		zoom: 0.125;
		position: absolute;
	}
	#setting_design_theme_month #timetable_footer{
		position:initial;
	}
	#setting_design_theme_year #timetable_year {
		zoom: 0.125;
	}	
	#setting_design_theme_year .timetable_month_class #timetable_month_data .timetable_month_data_row .timetable_month_data_col {
		border-bottom: unset;
	}
	#setting_design_theme_year #timetable_footer{
		position:absolute;
	}
}
/*Firefox and other browsers that does not support zoom*/
@supports not (zoom: 0.13) {
	#setting_design_theme_day #timetable_day {
		transform: scale(0.13) translate(-335%,-333%);
		width: 740px;
	}
	#setting_design_theme_day #timetable_footer{
		bottom: -908px;
	}
	#setting_design_theme_month #timetable_month {
		transform: scale(0.127) translate(-344%,-344%);
		width: 756px;
	}
	#setting_design_theme_month #timetable_footer{
		position:static;
	}
	#setting_design_theme_year #timetable_year {
		transform: scale(0.13) translate(-335%,-333%);
		width: 740px;
	}
	#setting_design_theme_year #timetable_footer{
		bottom: -908px;
	}
}
/*SETTINGS Text*/
.setting_paper_preview{
	width: 84mm;
	height: 114mm;
	margin: 0 auto;
	display:flex;
	flex-direction:column;
	justify-content:space-between;
	border: 1px solid;
}
.setting_paper_preview_header,
.setting_paper_preview_footer{
	text-align: center;
    display: inline-block;
  width: 100%;
}
#setting_paper_preview_footer_text{
    margin-top: calc(100% - 7em);
}
#settings .settings_tab4 .setting_horizontal_row .setting_horizontal_col:nth-child(1),
#settings .settings_tab4 .setting_horizontal_row .setting_horizontal_col:nth-child(3){
	width:5%;
}
#settings .settings_tab4 .setting_horizontal_row .setting_horizontal_col:nth-child(2){
	width:90%;
	text-align: center;
	display: block;
}
#settings .settings_tab4 #setting_icon_text_theme_col{
	display: inline-block;
	width: 60px;
	vertical-align: top;
}
#settings .settings_tab4 #setting_paper_preview_text{
	transform: scale(0.95) translate(0%, -7%);
	display: inline-block;
}
#settings .settings_tab4 #setting_paper_preview_text.font_arabic_sans .display_font{
	font-family: var(--report_theme_display_font_family), var(--common_app_font_arabic_sans) !important;
	line-height: initial;
}
#settings .settings_tab4 #setting_paper_preview_text.font_arabic_kufi .display_font{
	font-family: var(--report_theme_display_font_family), var(--common_app_font_arabic_kufi) !important;
	line-height: initial;
}
#settings .settings_tab4 #setting_paper_preview_text.font_arabic_nashk .display_font{
	font-family: var(--report_theme_display_font_family), var(--common_app_font_arabic_nashk) !important;
	line-height: initial;
}
#settings .settings_tab4 #setting_paper_preview_text.font_arabic_nastaliq .display_font{
	font-family: var(--report_theme_display_font_family), var(--common_app_font_arabic_nastaliq) !important;
	line-height: initial;
}
#settings .settings_tab4 #setting_input_header .common_input,
#settings .settings_tab4 #setting_input_footer .common_input{
	font-size: 0.4em;
}
#settings .settings_tab4 .setting_report_title{
	min-width: 99%;
	margin: -2px;
	text-align: center;
	font-size: 0.7em;
}
#settings .settings_tab4 #setting_input_reportheader3{
	margin-bottom: 4px;
}
#settings .settings_tab4 #setting_input_reportfooter1{
	margin-top: 4px;
}

/*SETTINGS PRAYER*/
#setting_method_params div{
	display:inline-block;
}
/* SETTINGS USER SETTINGS*/
#settings .settings_tab6 .setting_horizontal_row:nth-child(5) .setting_horizontal_col:nth-child(1),
#settings .settings_tab6 .setting_horizontal_row:nth-child(5) .setting_horizontal_col:nth-child(4){
	width: 10%;
}
#settings .settings_tab6 .setting_horizontal_row:nth-child(5) .setting_horizontal_col:nth-child(2){
	width: 0%;
}
#settings .settings_tab6 .setting_horizontal_row:nth-child(5) .setting_horizontal_col:nth-child(3){
	width: 80%;
	text-align: center;
}
#user_settings .setting_horizontal_col{
	padding-top:0px !important;
}
#user_settings .setting_horizontal_row{
	max-height: unset;
}
#setting_btn_label_user_save, 
#setting_btn_label_user_add,
#setting_btn_label_user_delete{
	text-transform: uppercase;
}
#setting_btn_user_delete_account, #setting_btn_label_user_delete_account{
	display: none !important;
}
#setting_btn_label_user_save,
#setting_btn_label_user_add,
#setting_btn_label_user_delete{
	display: inline-block;
	width: 60px;
	text-align: center;
	vertical-align: top;
}

#settings #setting_data_user_url_day,
#settings #setting_data_user_url_month,
#settings #setting_data_user_url_year{
	display:flex;
}
#profile_info_user_setting_likes_count,
#profile_info_user_setting_liked_count{
    vertical-align: sub;
}
#settings_close{
	position: absolute;
    bottom: 40px;
}
/*Profile */
#profile_main_btn_user_settings,
#profile_main_btn_user_setting_likes,
#profile_main_btn_user_setting_liked{
	height:20px;
	text-align:start;
}
#profile_main_btn_user_setting_likes,
#profile_main_btn_user_setting_liked{
	width:100px;
}
#profile_user_settings_day:hover,
#profile_user_settings_day:active,
#profile_user_settings_month:hover,
#profile_user_settings_month:active,
#profile_user_settings_year:hover,
#profile_user_settings_year:active,
#profile_user_settings_like:hover,
#profile_user_settings_like:active{
	transform: scale(1.3);
	transition: transform 0.5s ease, background 0.5s ease, box-shadow 0.5s ease;
}
#profile_info_user_setting_likes_count,
#profile_info_user_setting_liked_count{
	margin-inline-start: 0.5em;
}
/*COMMON*/
#common_app_profile_search{
	z-index: 50 !important;
    top: 60px !important;
}
/*profile user setting*/
#common_app_dialogues_profile_info_stat_row2 #profile_info_user_settings,
#common_app_dialogues_profile_info_stat_row2 #profile_info_user_settings div,
#common_app_dialogues_profile_info_stat_row2 #profile_info_user_setting_likes,
#common_app_dialogues_profile_info_stat_row2 #profile_info_user_setting_likes div,
#common_app_dialogues_profile_info_stat_row2 #profile_info_user_setting_liked,
#common_app_dialogues_profile_info_stat_row2 #profile_info_user_setting_liked div{
	display:inline-block;
}
#common_app_profile{
    display: block !important;
	text-align: center;
	margin-inline-start: -15px;
}
#common_app_iam_user_menu{
    top: 0.5em !important;
    z-index:10 !important;
}
#common_app_toolbar{
	margin-inline-start: 0px !important;
    bottom: 2em !important;
    top: unset !important;
	position: fixed !important;
}
#common_app_profile_toolbar_stat{
	margin-inline-start:inherit !important;
}
#common_app_dialogues_profile_input_row{
	visibility:hidden;
}
#common_app_profile_search_input{
	width:285px !important;
}
#common_app_profile_search_list_wrap{
	max-height: calc(100% - 250px) !important;
	top: 100px;
}
#common_app_profile_search_icon{
	display: none !important;
}
#common_app_profile_search_list{
	margin-right: 10px !important;
}
#common_app_dialogues_profile_info_stat_row2{
	text-align: center;
	white-space: nowrap;
}
#common_app_dialogues_profile_info_stat_row1{
	height: 30px;
}
#common_app_dialogues_profile_info_stat_row2 #profile_user_settings_detail div{
	display:inline-block;	
}
#common_app_window_info #about_table{
	display:table;
	padding:0px;
}
#common_app_window_info .about_row{
	display:table-row;
}
#common_app_window_info .about_row div{
	display:table-cell;
	padding: 5px;
}
#common_app_window_info_content{
	display:block;
	margin: 0 auto;
}
/*RESPONSIVE SETTINGS*/
/*CSS for minimum 768px*/
@media only screen and (min-width: 768px) {
	body {
		margin: 10px;
		text-align: center;
		width: auto;
	}
	#settings_tab_navigation .settings_tab_nav {
		border:0px;
		width:75px;
	}
	#toolbar_btn_left {
		margin-left: 0;
	}
	#toolbar_bottom {
		margin: 0 auto;
		width: 100%;
	}
	#settings select {
		max-width: 60%;
		min-width: 60%;
	}
	#settings .common_input {
		max-width:90%;
		width:inherit;
	}
	#profile_user_settings_title_row div:nth-child(1),
	.profile_user_settings_row div:nth-child(1){
		width:200px;
	}
	#settings .settings_tab4 #setting_input_footer{
		font-size: 0.8em;
	}
}

/* APP THEME */
.app_theme_sun,
.app_theme1{
	--app_theme_main_color1:var(--common_app_color_light);
	--app_theme_main_color2:var(--common_app_color_white);
	--app_theme_main_color3:var(--common_app_color_blue1);
	--app_theme_shadow_color1:var(--common_app_color_shadow1);
	--app_theme_shadow_color1:var(--common_app_color_shadow2);
	--app_theme_shadow_color1:var(--common_app_color_shadow3);
	--app_theme_qr_code_background:var(--common_app_color_white);
	--app_theme_thumbnail_shadow:var(--common_app_color_shadow1);
	--app_theme_paper_preview_background_color:var(--common_app_color_white);
	--app_theme_paper_preview_title_background_color:var(--common_app_color_white);
	--app_theme_paper_preview_title_border_color:var(--common_app_color_gold);
	--app_theme_links:var(--common_app_color_gold);
	--app_theme_hover:var(--common_app_color_green);
	--app_theme_dialogue_background_color:var(--common_app_color_shadow3);
	--app_theme_dialogue_shadow_color1:var(--common_app_color_shadow1);
	--app_theme_dialogue_shadow_color2:var(--common_app_color_shadow2);
	--app_theme_button_active_color:var(--common_app_color_gold);
	--app_theme_button_active_background_color:var(--common_app_color_white);
	--app_theme_user_menu_hover_color:var(--common_app_color_green);
	--app_theme_user_menu_hover_background_color:var(--common_app_color_white2);
	--app_theme_input_error_border_color:var(--common_app_color_blue1);
	--app_theme_input_border_color:var(--common_app_color_white2);
	--app_theme_input_background_color:var(--common_app_color_white);
	--app_theme_button_color:var(--common_app_color_gold);
	--app_theme_login_button_color:var(--common_app_color_white);
	--app_theme_login_button_background_color:var(--common_app_color_gold);
	--app_theme_switch_before_background_color:var(--common_app_color_white2);
	--app_theme_switch_after_background_color:var(--common_app_color_white);
	--app_theme_switch_after_shadow_color:var(--common_app_color_shadow3);
	--app_theme_switch_checked_before_background_color:var(--common_app_color_green);
	--app_theme_spinner_background_color:var(--common_app_color_black);
	--app_theme_selected_background_color:var(--common_app_color_white2);
	--app_theme_scrollbar_color1:var(--common_app_color_gold);
	--app_theme_scrollbar_color2:var(--common_app_color_white2);
	--app_theme_online_status_online_color:var(--common_app_color_green);
	--app_theme_online_status_offline_color:var(--common_app_color_black);
	--app_theme_paper_shadow_color1:var(--common_app_color_shadow1);
	--app_theme_paper_shadow_color2:var(--common_app_color_shadow2);
}
.app_theme_moon,
.app_theme2{
	--app_theme_main_color1:var(--common_app_color_dark3);
	--app_theme_main_color2:var(--common_app_color_dark4);
	--app_theme_main_color3:var(--common_app_color_gold);
	--app_theme_shadow_color1:var(--common_app_color_shadow1);
	--app_theme_shadow_color1:var(--common_app_color_shadow2);
	--app_theme_shadow_color1:var(--common_app_color_shadow3);
	--app_theme_qr_code_background:var(--common_app_color_white);

	--app_theme_thumbnail_shadow:var(--common_app_color_shadow1);
	--app_theme_paper_preview_background_color:var(--common_app_color_white);
	--app_theme_paper_preview_title_background_color:var(--common_app_color_white);
	--app_theme_paper_preview_title_border_color:var(--common_app_color_gold);
	--app_theme_links:var(--common_app_color_gold);
	--app_theme_hover:var(--common_app_color_green);
	--app_theme_dialogue_background_color:var(--common_app_color_shadow3);
	--app_theme_dialogue_shadow_color1:var(--common_app_color_shadow1);
	--app_theme_dialogue_shadow_color2:var(--common_app_color_shadow2);
	--app_theme_button_active_color:var(--common_app_color_gold);
	--app_theme_button_active_background_color:var(--common_app_color_white);
	--app_theme_user_menu_hover_color:var(--common_app_color_green);
	--app_theme_user_menu_hover_background_color:var(--common_app_color_white2);
	--app_theme_input_error_border_color:var(--common_app_color_gold);
	--app_theme_input_border_color:var(--common_app_color_white2);
	--app_theme_input_background_color:var(--common_app_color_white);
	--app_theme_button_color:var(--common_app_color_gold);
	--app_theme_login_button_color:var(--common_app_color_white);
	--app_theme_login_button_background_color:var(--common_app_color_gold);
	--app_theme_switch_before_background_color:var(--common_app_color_white2);
	--app_theme_switch_after_background_color:var(--common_app_color_gold);
	--app_theme_switch_after_shadow_color:var(--common_app_color_shadow3);
	--app_theme_switch_checked_before_background_color:var(--common_app_color_dark4);
	--app_theme_spinner_background_color:var(--common_app_color_gold);
	--app_theme_selected_background_color:var(--common_app_color_white2);
	--app_theme_scrollbar_color1:var(--common_app_color_gold);
	--app_theme_scrollbar_color2:var(--common_app_color_white2);
	--app_theme_online_status_online_color:var(--common_app_color_green);
	--app_theme_online_status_offline_color:var(--common_app_color_black);
	--app_theme_paper_shadow_color1:var(--common_app_color_shadow1);
	--app_theme_paper_shadow_color2:var(--common_app_color_shadow2);
}
.app_theme3{
	--app_theme_main_color1:var(--common_app_color_cafe_latte);
	--app_theme_main_color2:var(--common_app_color_cafe_latte2);
	--app_theme_main_color3:var(--common_app_color_cafe_latte3);
	--app_theme_shadow_color1:var(--common_app_color_shadow1);
	--app_theme_shadow_color1:var(--common_app_color_shadow2);
	--app_theme_shadow_color1:var(--common_app_color_shadow3);
	--app_theme_qr_code_background:var(--common_app_color_white);

	--app_theme_thumbnail_shadow:var(--common_app_color_shadow1);
	--app_theme_paper_preview_background_color:var(--common_app_color_white);
	--app_theme_paper_preview_title_background_color:var(--common_app_color_white);
	--app_theme_paper_preview_title_border_color:var(--common_app_color_gold);
	--app_theme_links:var(--common_app_color_gold);
	--app_theme_hover:var(--common_app_color_green);
	--app_theme_dialogue_background_color:var(--common_app_color_shadow3);
	--app_theme_dialogue_shadow_color1:var(--common_app_color_shadow1);
	--app_theme_dialogue_shadow_color2:var(--common_app_color_shadow2);
	--app_theme_button_active_color:var(--common_app_color_gold);
	--app_theme_button_active_background_color:var(--common_app_color_white);
	--app_theme_user_menu_hover_color:var(--common_app_color_cafe_latte2);
	--app_theme_user_menu_hover_background_color:var(--common_app_color_cafe_latte3);
	--app_theme_input_error_border_color:var(--common_app_color_cafe_latte3);
	--app_theme_input_border_color:var(--common_app_color_white2);
	--app_theme_input_background_color:var(--common_app_color_white);
	--app_theme_button_color:var(--common_app_color_gold);
	--app_theme_login_button_color:var(--common_app_color_white);
	--app_theme_login_button_background_color:var(--common_app_color_gold);
	--app_theme_switch_before_background_color:var(--common_app_color_white2);
	--app_theme_switch_after_background_color:var(--common_app_color_white);
	--app_theme_switch_after_shadow_color:var(--common_app_color_shadow3);
	--app_theme_switch_checked_before_background_color:var(--common_app_color_cafe_latte2);
	--app_theme_spinner_background_color:var(--common_app_color_cafe_latte3);
	--app_theme_selected_background_color:var(--common_app_color_white2);
	--app_theme_scrollbar_color1:var(--common_app_color_gold);
	--app_theme_scrollbar_color2:var(--common_app_color_white2);
	--app_theme_online_status_online_color:var(--common_app_color_green);
	--app_theme_online_status_offline_color:var(--common_app_color_black);
	--app_theme_paper_shadow_color1:var(--common_app_color_shadow1);
	--app_theme_paper_shadow_color2:var(--common_app_color_shadow2);
}

/*theme app colors*/
body{
	--common_app_color_spinner:var(--app_theme_main_color3);
	--common_app_color_background_spinner:var(--app_theme_main_color1);
	caret-color: var(--app_theme_main_color3);
}
body,
#settings select
{
	background-color:var(--app_theme_main_color1) !important;
}
#settings_tab_navigation .settings_tab_nav_selected
{
	background-color:var(--app_theme_main_color2) !important;
}
#settings .common_input,
#toolbar_top,
#toolbar_bottom
{
	background: var(--app_theme_main_color2);
	color: var(--app_theme_main_color3);
}
#settings select,
#common_app_iam_user_menu,
.common_app_dialogues_button,
.common_toolbar_button
{
	color: var(--app_theme_main_color3) !important;
}
.setting_design_thumbnail {
  	box-shadow: 3px 3px 10px var(--app_theme_thumbnail_shadow);
}
.setting_paper_preview{
	background-color: var(--app_theme_paper_preview_background_color);
}
#settings .settings_tab4 .setting_report_title{
    border: 0.5px solid var(--common_app_color_gold);
}
.common_app_dialogues_button:hover,
.common_app_dialogues_button:active,
.common_toolbar_button:hover,
.common_toolbar_button:active,
#common_app_iam_user_menu:hover,
#common_app_iam_user_menu:active,
#settings_tab_navigation :hover,
#settings_tab_navigation :active {
	color:var(--app_theme_hover) !important;
}
/*only shadow style on paper, style inside paper is in report*/
#paper {
	box-shadow: 0 4px 8px 0 var(--app_theme_paper_shadow_color1), 0 6px 20px 0 var(--app_theme_paper_shadow_color2);
}
#settings .setting_button_active {
	color: var(--app_theme_button_active_background_color) !important;
	background-color: var(--app_theme_button_active_color) !important;
}
#settings .settings_tab3 .setting_design_thumbnail #timetable_day,
#settings .settings_tab3 .setting_design_thumbnail #timetable_month,
#settings .settings_tab3 .setting_design_thumbnail #timetable_year{
	background-color:var(--app_theme_paper_preview_background_color);
}
#settings .settings_tab4 #setting_icon_text_theme_day,
#settings .settings_tab4 #setting_icon_text_theme_month,
#settings .settings_tab4 #setting_icon_text_theme_year{
	color: var(--app_theme_button_color);
}
#settings .settings_tab4 #setting_icon_text_theme_day:hover,
#settings .settings_tab4 #setting_icon_text_theme_day:active,
#settings .settings_tab4 #setting_icon_text_theme_month:hover,
#settings .settings_tab4 #setting_icon_text_theme_month:active,
#settings .settings_tab4 #setting_icon_text_theme_year:hover,
#settings .settings_tab4 #setting_icon_text_theme_year:active{
	color: var(--app_theme_hover);
}

#settings .settings_tab4 #setting_input_header,
#settings .settings_tab4 #setting_input_footer{
	background-color: var(--report_theme_footer_background_color);
}
#settings .settings_tab4 #setting_paper_preview_header_text .common_input{
	color : var(--report_theme_header_color) !important;
	background-color:var(--report_theme_header_background_color);
}	
#settings .settings_tab4 #setting_paper_preview_footer_text .common_input{
	color : var(--report_theme_footer_color) !important;
	background-color:var(--report_theme_footer_background_color);
}
/* THEME COMMON */
.common_toolbar_selected{
	background-color: var(--app_theme_main_color1) !important;
}
#common_app_toolbar{
	color: var(--app_theme_main_color3);
	background-color: var(--app_theme_main_color2);
	box-shadow: 0px -3px 3px var(--app_theme_dialogue_shadow_color1);
}
.common_app_dialogues_content{
	background-color:var(--app_theme_main_color1) !important;
	color: var(--app_theme_main_color3) !important;
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}

.common_link{
	color:var(--app_theme_links);
}
.common_link:hover,
.common_link:active{
	color:var(--app_theme_hover);
}
.common_input_error{
	border: 2px solid var(--app_theme_input_error_border_color) !important;
}
#common_app_profile_toolbar_stat{
	background: var(--app_theme_main_color2);
	box-shadow: 0px -3px 3px var(--app_theme_dialogue_shadow_color1);
}
#common_app_dialogues .common_input,
.common_app_dialogues_content,
#common_app_window_info,
#common_app_window_info_content,
#common_app_window_info_toolbar,
#common_app_iam_user_menu_avatar_img, 
#common_app_iam_user_menu_default_avatar,
#common_dialouge_user_menu
{
	background-color:var(--app_theme_main_color1);
}
#common_app_dialogues .common_input,
#common_app_window_info,
#common_app_window_info_toolbar,
#common_dialouge_user_menu,
.common_app_dialogues_content,
#common_app_profile_search_icon
{
	color: var(--app_theme_main_color3);
}
#common_app_dialogues_user_menu_username:hover,
#common_app_dialogues_user_menu_username:active,
#common_app_profile_toolbar_stat:hover,
#common_app_profile_toolbar_stat:active,
#common_dialouge_user_menu_logged_in div:hover,
#common_dialouge_user_menu_logged_in div:active,
#common_dialouge_user_menu_logged_out div:hover,
#common_dialouge_user_menu_logged_out div:active{
	color: var(--app_theme_user_menu_hover_color) !important;
	background-color:var(--app_theme_user_menu_hover_background_color);	
}
#common_app_profile_search_input,
#common_app_dialogues .common_input,
#common_app_profile_search_list_wrap{
	border: 1px solid var(--app_theme_input_border_color);
	background-color: var(--app_theme_input_background_color);
}
#common_app_dialogues_profile_qr {
	background-color:var(--app_theme_qr_code_background);
}

#common_app_dialogues_profile_info_follow:hover,
#common_app_dialogues_profile_info_follow:active,
#common_app_dialogues_profile_info_like:hover,
#common_app_dialogues_profile_info_like:active,
#profile_user_settings_day:hover,
#profile_user_settings_day:active,
#profile_user_settings_month:hover,
#profile_user_settings_month:active,
#profile_user_settings_year:hover,
#profile_user_settings_year:active,
#profile_user_settings_like:hover,
#profile_user_settings_like:active,
.profile_user_settings_row #profile_user_settings_like:hover,
.profile_user_settings_row #profile_user_settings_like:active{
	color:var(--app_theme_hover);
}
.common_app_dialogues_profile_btn_selected{
	background-color: var(--app_theme_main_color2);
}
.common_dialogue{
	background-color: var(--app_theme_dialogue_background_color);
}
.common_app_dialogues_content{
	box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_shadow_color1),0 6px 20px 0 var(--app_theme_dialogue_shadow_color2);
}
.common_app_dialogues_iam_start_selected {
	background-color: var(--app_theme_main_color2);
}
#common_app_dialogues_iam_start #common_app_dialogues_iam_start_nav>div{
	color: var(--app_theme_button_color);
}
#common_app_dialogues_iam_start #common_app_dialogues_iam_start_nav>div:hover,
#common_app_dialogues_iam_start #common_app_dialogues_iam_start_nav:active{
	color:var(--app_theme_hover);
}
#common_app_dialogues_iam_start .common_login_button{
	background-color: var(--app_theme_login_button_background_color);
	color: var(--app_theme_login_button_color);
}
#common_app_dialogues_iam_start .common_login_button:hover,
#common_app_dialogues_iam_start .common_login_button:active{
	background-color:var(--app_theme_hover) !important;
}
.common_switch::before {
	background-color: var(--app_theme_switch_before_background_color);
}
.common_switch::after {
	background-color: var(--app_theme_switch_after_background_color);
	box-shadow: 0 0 2px var(--app_theme_switch_after_shadow_color);
}  
.common_switch.checked::before {
	background-color: var(--app_theme_switch_checked_before_background_color);
}
.common_map_control_active,
.common_row_selected{
	background-color: var(--app_theme_selected_background_color) !important;
}
.common_list_scrollbar{
	scrollbar-color: var(--app_theme_scrollbar_color1) var(--app_theme_scrollbar_color2);
}
#common_app_dialogues_profile_info_avatar_online_status.online{
	color:var(--app_theme_online_status_online_color);
}
#common_app_dialogues_profile_info_avatar_online_status.offline{
	color:var(--app_theme_online_status_offline_color);
}
#common_dialouge_user_menu{
	box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_shadow_color1), 0 6px 20px 0 var(--app_theme_dialogue_shadow_color2);
}
.common_like{
	color: var(--common_app_color_blue1) !important;
}
.common_unlike{
	color: var(--common_app_color_blue1) !important;
}
.common_map_control_expand{
	background-color: var(--app_theme_main_color2) !important;
}
.common_map_control_button{
	background-color: var(--app_theme_main_color2);
}
.common_map_popup{
	background-color: var(--app_theme_main_color2) !important;
	color: var(--app_theme_text_color) !important;
}
.common_map_control_expand_search_list_row:hover,
.common_map_control_expand_search_list_row:active {
	background-color: var(--common_app_color_white3);
}