/*Variables*/
:root{
	--font_1: 'Noto Sans';

	--app_day_columns:6;
	--report_theme_display_font_family:var(--font_1);
	--report_theme_default_font_family:var(--font_1);
	--report_theme_text_color: var(--common_report_color_black);
	--report_theme_notes_background_color:inherit !important;
}
/* PAPER, PREVIEW AND PRINT*/
#printbody {
	margin: 0px;
}
#printbody .timetable_month_class #timetable_month_data .timetable_month_data_today_row {
    animation: unset;
    animation-iteration-count: unset;
    opacity: inherit;
    font-weight: inherit;
}
#printbody #settings{
	visibility: hidden;
}
#paper {
	background-color:var(--common_report_color_white);
	z-index: 0;
	transform: scale(0.5);
	transform-origin: top left;
	margin-top: 2.5em !important;
}
#paper.A4{
	width : 210mm;
	height : 297mm;
}
#paper.Letter{
	width : 8.5in;
	height : 11in;
}
@media only screen and (min-width: 768px) {
	#paper {
		margin: 0 auto;
		transform: scale(0.7);
		transform-origin:top;
	}
}
#printbody #paper {
	box-shadow: none;
	transform:scale(1) !important;
	margin: 0 auto;
	margin-top: 0px !important;
}

/*Common styles for all timetables*/
.timetable_header_col_weekday::before{		content:	var(--common_app_icon_regional_weekday)}
.timetable_header_col_caltype::before{		content:	var(--common_app_icon_regional_calendar)}
.timetable_header_col_gregorian::before{	content:	var(--common_app_icon_regional_calendar)}
.timetable_header_col_hijri::before{		content:	var(--common_app_icon_regional_calendar)}
.timetable_header_col_iqamat::before{		content:	var(--common_app_icon_misc_calling)}
.timetable_header_col_imsak::before{		content:	var(--common_app_icon_sky_sunrise_before) ' ' var(--common_app_icon_misc_food)}
.timetable_header_col_fajr::before{			content:	var(--common_app_icon_sky_sunrise_before)}
.timetable_header_col_sunrise::before{		content:	var(--common_app_icon_sky_sunrise)}
.timetable_header_col_dhuhr::before{		content:	var(--common_app_icon_sky_midday)}
.timetable_header_col_asr::before{			content:	var(--common_app_icon_sky_afternoon)}
.timetable_header_col_sunset::before{		content:	var(--common_app_icon_sky_sunset)}
.timetable_header_col_maghrib::before{		content:	var(--common_app_icon_sky_sunset)}
.timetable_header_col_isha::before{			content:	var(--common_app_icon_sky_night)}
.timetable_header_col_midnight::before{		content:	var(--common_app_icon_sky_midnight)}
.timetable_header_col_notes::before{		content:	var(--common_app_icon_notes)}

.timetable_icon {
	font-family: var(--common_app_font_ui);
	font-weight: 900;
	font-style: normal;
	display: inline-block;
}  
.timetable_icon::before{
    white-space: nowrap;
	vertical-align: middle;
}
.timetable_icon svg{
	font-size: 2em;
	height: 0.6em;
	vertical-align: sub;
}
/*Fasting columns*/
.timetable_class .timetable_data_fast_start,
.timetable_class .timetable_data_fast_end {
	font-weight: bold;
}
/*uppercase all timetable data header*/
#timetable_day .timetable_day_timetable_header_row div,
#timetable_month .timetable_month_data_header_row div {
	text-transform: uppercase;
}
/*DAY*/
#timetable_day {
	width: 100%;
	height:100%;
	position: absolute;
	display: block;
	text-align: center;
}
/*font sizes*/
#timetable_day #timetable_header_date{
	font-size: 26pt;
	font-weight: bold;
}
/*fix too big height of nastaliq font*/
#timetable_day.font_arabic_nastaliq .display_font{
	line-height: initial;
}
#timetable_day.font_arabic_nastaliq #timetable_header_date{
	font-size: 21pt !important;
}
#timetable_day.font_arabic_nastaliq #timetable_day_timetable .timetable_day_timetable_header_row{
	font-size:0.7em !important;
	line-height: initial;
}

#timetable_day .timetable_day_timetable_header_row{
	font-size: 12pt !important;
}
#timetable_day .timetable_day_timetable_row_data{
	font-size: 12pt;
}	
#timetable_day .timetable_day_timetable_footer{
	font-size: 10pt;
}
/*Header timetable info*/
#timetable_day #timetable_header_date {
	text-align: center;
	display: inline-block;
	position:relative;
	margin-top:20px;
	margin-bottom:20px;
}

#timetable_day_timetable {
	display: inline-grid;
	width:100%;
}
#timetable_day .timetable_day_timetable_header_row,
#timetable_day .timetable_day_timetable_row_data{
	display: grid;
	grid-template-columns: repeat(var(--app_day_columns), 1fr);
    grid-column-gap: 0.2em;
	font-size: calc(9/var(--app_day_columns) * 6pt);
}
#timetable_day .timetable_day_timetable_header_row div,
#timetable_day .timetable_day_timetable_row_data div{
	padding: 0.2em;
}
#timetable_day .timetable_day_timetable_row_data{
	margin-top:10px;
}
#timetable_day .timetable_day_timetable_row_data.timetable_day_today_row{
	animation: pulsate 2s ease-out;
	animation-iteration-count: infinite; 
    opacity: 0.5;
	font-weight: bold;
}

#timetable_day .timetable_data_fast_start,
#timetable_day .timetable_data_fast_end {
	font-size: 1.2em !important;
}
#timetable_day .copyright{
   text-align: center;	
   width: 100%;
   position: absolute;
   bottom: 160px;
}
/*Footer timetable info*/
#timetable_day .timetable_day_timetable_footer{
	margin-top: 10px;
}
#timetable_day .timetable_day_timetable_footer > .timetable_day_timetable_footer_row{
	width: 100%;
}
#timetable_day .timetable_day_timetable_footer_row:nth-child(odd) div {
	display: inline-block;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}
#timetable_day .timetable_day_timetable_footer_row:nth-child(even) div {
	display: inline-block;
	padding-top: 2px;
	padding-left: 5px;
	padding-right: 5px;
}

/*MONTH*/
#timetable_month {
	width: 100%;
	height: 100%;
	text-align: center;
	display: block;
}
/*Arabic Nastaliq fixes too big height*/
.timetable_month_class.font_arabic_nastaliq .display_font{
	line-height: initial;
}
.timetable_month_class.font_arabic_nastaliq #timetable_header_date{
	font-size: 0.6em !important;
}
.timetable_month_class.font_arabic_nastaliq .timetable_month_data_date{
	font-size:0.7em !important;
	line-height: initial;
}
.timetable_month_class.font_arabic_nastaliq #timetable_month_data .timetable_month_data_col{
	font-size: 0.7em !important;
}
#timetable_header{
	display: flex;
	width: 100%;
	height: 160px;
	justify-content: center;
	flex-direction: column;
	background-size: 100% 160px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0px;
	text-align: center;
	font-size:16pt;
	font-weight: bold;	
}

.timetable_month_class #timetable_header_date{
	font-size:11pt;
	font-weight: bold;
}
.timetable_month_data_header_row{
	font-size: initial;
}
.timetable_month_class #timetable_month_data{
	font-size:8pt;
}
#timetable_month_data_footer{
	font-size:8pt;
	font-weight: bold;
}
#timetable_footer{
	font-size:16pt;
	font-weight: bold;
}

/*r2l and unicode fix when mixing arabic with non arabic text*/
#timetable_header,
.timetable_month_class #timetable_header_date,
.timetable_month_class #timetable_month_data .timetable_month_data_col,
#timetable_month_data_footer,
#timetable_footer {
	unicode-bidi: plaintext;
}
/*Timetable header*/
.timetable_month_class #timetable_header_date {
	text-align: center;
	padding-bottom:5px;
	height: 20px;
}
.timetable_month_class #timetable_month_data {
	display: table;
	table-layout: fixed;
	width: 100%;
	height: calc(100% - 365px);
}
.timetable_month_class #timetable_month_data .timetable_month_data_row {
	display: table-row;
}
.timetable_month_class #timetable_month_data .timetable_month_data_header_row .timetable_month_data_col {
	display: table-cell;
	text-align: center;
	padding: 1px;
	overflow-x: hidden;
	font-size: 0.7em !important;
	vertical-align: middle;
	overflow: hidden;
}
.timetable_month_class #timetable_month_data .timetable_month_data_col {
	display: table-cell;
	text-align: center;
	padding: 1px;
	vertical-align: middle;
	line-height: 1;
}
.timetable_month_data_date,
.timetable_month_data_calendartype{
	font-size:0.8em;
}
.timetable_month_class #timetable_month_data .timetable_month_data_today_row{
	animation: common_pulsate 2s ease-out;
	animation-iteration-count: infinite;
    opacity: 0.5;
	font-weight:bold;
}
.timetable_month_class #timetable_month_data .timetable_month_data_notes {
	padding: 0px;
	line-height: 0.33em !important;
}
.timetable_month_class #timetable_month_data .timetable_month_data_notes .common_input {
	width: 85%;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
/*Timetable footer*/
#timetable_month_data_footer {
	width: 100%;
	display: table;
	text-align: center;
	height: 20px;
	position: absolute;
	bottom: 160px;
}
#timetable_month_data_footer_row {
	display: table-row;
}
#timetable_footer_col {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
#timetable_footer_col div{
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	white-space: nowrap;
}
/*Footer*/
#timetable_footer {
	display: flex;
	width: 100%;
	height: 160px;
	justify-content: center;
	flex-direction: column;
	background-size: 100% 160px;
	background-position: center;
	background-repeat: no-repeat;
	margin: 0px;
	text-align: center;
	bottom:0px;
	position:fixed;
}

/*YEAR*/
#timetable_year {
	width: 100%;
	height:100%;
	position: absolute;
	display: block;
	flex-direction: column;
	text-align: center;
}
/*Arabic Nastaliq fixes*/
#timetable_year.font_arabic_nastaliq .display_font{
	line-height: initial;
}
#timetable_year .timetable_month_data_header_row {
	font-size: 6pt;
	line-height: 6pt;
}
#timetable_year #timetable_year_timetables{
	height: calc(100% - 365px);
}
.timetable_year_timetables_row{
	height: 33%;
}
/* YEAR month fixes*/
#timetable_year .timetable_year_month {
	display: inline-block;
	width:calc(25% - 5px) !important;
	vertical-align: top;
  	margin-bottom: 0.25em;
}
#timetable_year .timetable_year_month #timetable_month_data .timetable_month_data_col{
	line-height: unset !important;
}
#timetable_year .timetable_year_month #timetable_header_date {
	height: 5px;
}
#timetable_year .timetable_year_month #timetable_header_date div {
	font-size: 6pt;
	line-height:1;
}
#timetable_year .timetable_year_month #timetable_month_data.bignumbers {
	line-height: 0.33em !important;
}
#timetable_year .timetable_year_month #timetable_month_data {
	line-height: 0.6em !important;
	font-size: 6pt !important;
	height: inherit;
}
#timetable_year .timetable_year_month #timetable_month_data .timetable_month_data_header_row .timetable_month_data_col {
	font-size: 4pt;
	overflow-x: hidden;
}
#timetable_year .timetable_year_month #timetable_month_data .timetable_month_data_col.timetable_data_fast_start {
	width: inherit;
}
#timetable_year .timetable_year_month #timetable_month_data .timetable_month_data_col.timetable_data_fast_end {
	width: inherit;
}

.theme_day_10001,
.theme_day_10002{
	--report_theme_header_color:var(--common_report_color_gold);
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--common_report_color_gold);
	--report_theme_timetable_data_header_background_color:var(--common_report_color_blue2);
	--report_theme_timetable_data_header_color:var(--common_report_color_white);
	--report_theme_timetable_footer_background_color:var(--common_report_color_blue2);
	--report_theme_timetable_footer_color:var(--common_report_color_white);
	--report_theme_copyright_color:var(--common_report_color_white);
	--report_theme_copyright_background_color:var(--common_report_color_blue2);
	--report_theme_footer_color:var(--common_report_color_gold);
	--report_theme_footer_background_color:inherit;
	--report_theme_fast_start_end_color:var(--common_report_color_white);
	--report_theme_fast_start_end_background_color:var(--common_report_color_blue2);
	--report_theme_fast_start_end_border_color:var(--common_report_color_gold)
}
.theme_day_10001{
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--common_report_color_black);	
}
.theme_day_10002{
	--report_theme_timetable_data_background_color:var(--common_report_color_blue2);
	--report_theme_timetable_data_color:var(--common_report_color_white);
}
.theme_day_10003,
.theme_day_10004{
	--report_theme_header_color:var(--common_report_color_blue2);
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--common_report_color_blue2);
	--report_theme_timetable_data_header_background_color:var(--common_report_color_blue2);
	--report_theme_timetable_data_header_color:var(--common_report_color_white);
	--report_theme_timetable_footer_background_color:var(--common_report_color_blue2);
	--report_theme_timetable_footer_color:var(--common_report_color_white);
	--report_theme_copyright_color:var(--common_report_color_white);
	--report_theme_copyright_background_color:var(--common_report_color_blue2);
	--report_theme_footer_color:var(--common_report_color_blue2);
	--report_theme_footer_background_color:inherit;
	--report_theme_fast_start_end_color:var(--common_report_color_white);
	--report_theme_fast_start_end_background_color:var(--common_report_color_blue2);
	--report_theme_fast_start_end_border_color:var(--common_report_color_blue2);
}
.theme_day_10003{
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--common_report_color_black);	
}
.theme_day_10004{
	--report_theme_timetable_data_background_color:var(--common_report_color_blue2);
	--report_theme_timetable_data_color:var(--common_report_color_white);
}
.theme_day_10005,
.theme_day_10006{
	--report_theme_header_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--common_report_color_lightblue);
	--report_theme_timetable_data_header_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_data_header_color:var(--common_report_color_white);
	--report_theme_timetable_footer_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_footer_color:var(--common_report_color_white);
	--report_theme_copyright_color:var(--common_report_color_white);
	--report_theme_copyright_background_color:var(--common_report_color_lightblue);
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;
	--report_theme_fast_start_end_color:var(--common_report_color_white);
	--report_theme_fast_start_end_background_color:var(--common_report_color_lightblue);
	--report_theme_fast_start_end_border_color:var(--common_report_color_lightblue);
}
.theme_day_10005{
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--common_report_color_black);
}
.theme_day_10006{
	--report_theme_timetable_data_background_color:var(--common_report_color_lightblue2);
	--report_theme_timetable_data_color:var(--common_report_color_white);
}
.theme_day_10007,
.theme_day_10008{
	--report_theme_header_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:inherit;
	--report_theme_timetable_data_header_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_data_header_color:var(--common_report_color_white);
	--report_theme_timetable_footer_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_footer_color:var(--common_report_color_white);
	--report_theme_copyright_color:inherit;
	--report_theme_copyright_background_color:inherit;
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;
	--report_theme_fast_start_end_color:var(--common_report_color_white);
	--report_theme_fast_start_end_background_color:var(--common_report_color_lightblue);
	--report_theme_fast_start_end_border_color:var(--common_report_color_lightblue);
}
.theme_day_10007{
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
}
.theme_day_10008{
	--report_theme_timetable_data_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_data_color:inherit;
}
.theme_day_10009,
.theme_day_10010{
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_data_header_background_color:inherit;
	--report_theme_timetable_data_header_color:inherit;
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_copyright_background_color:inherit;
	--report_theme_footer_background_color:inherit;
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:var(--common_report_color_lightblue3);
	--report_theme_fast_start_end_border_color:var(--common_report_color_lightblue3);
}
.theme_day_10009{
	--report_theme_header_color:var(--common_report_color_blue2);
	--report_theme_timetable_header_color:var(--common_report_color_blue2);
	--report_theme_timetable_footer_color:var(--common_report_color_blue2);
	--report_theme_copyright_color:var(--common_report_color_blue2);
	--report_theme_footer_color:var(--common_report_color_blue2);
}
.theme_day_10010{
	--report_theme_header_color:inherit;
	--report_theme_timetable_header_color:inherit;
	--report_theme_timetable_footer_color:inherit;
	--report_theme_copyright_color:inherit;
	--report_theme_footer_color:inherit;
}
.theme_month_20001,
.theme_month_20002,
.theme_month_20003,
.theme_month_20004{
	--report_theme_header_color:var(--common_report_color_gold);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--common_report_color_gold);
	--report_theme_timetable_data_header_background_color:var(--common_report_color_blue2);
	--report_theme_timetable_data_header_color:var(--common_report_color_white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--common_report_color_black);
	--report_theme_timetable_footer_background_color:var(--common_report_color_blue2);
	--report_theme_timetable_footer_color:var(--common_report_color_white);
	--report_theme_footer_color:var(--common_report_color_gold);
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:var(--common_report_color_white);
	--report_theme_fast_start_end_background_color:var(--common_report_color_blue2);
	--report_theme_fast_start_end_border_color:var(--common_report_color_gold);

	--report_theme_timetable_data_border_color:inherit;
	--report_theme_timetable_data_highlight_row_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_row_background_color:var(--common_report_color_gold);
}
.theme_month_20001{
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_lightgold);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_11_20_color:inherit;
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_data_highlight_21_30_color:var(--common_report_color_black);
}
.theme_month_20002{
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_11_20_color:inherit;
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_lightgold);
	--report_theme_timetable_data_highlight_21_30_color:var(--common_report_color_black);
}
.theme_month_20003{
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_lightblue2);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_11_20_color:inherit;
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_data_highlight_21_30_color:var(--common_report_color_black);
}
.theme_month_20004{
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_11_20_color:inherit;
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_lightblue2);
	--report_theme_timetable_data_highlight_21_30_color:var(--common_report_color_black);
}
.theme_month_20005,
.theme_month_20006,
.theme_month_20007,
.theme_month_20008{
	--report_theme_header_color:var(--common_report_color_blue2);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--common_report_color_blue2);
	--report_theme_timetable_data_header_background_color:var(--common_report_color_blue2);
	--report_theme_timetable_data_header_color:var(--common_report_color_white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--common_report_color_black);
	--report_theme_timetable_footer_background_color:var(--common_report_color_blue2);
	--report_theme_timetable_footer_color:var(--common_report_color_white);
	--report_theme_footer_color:var(--common_report_color_blue2);
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:var(--common_report_color_white);
	--report_theme_fast_start_end_background_color:var(--common_report_color_blue2);
	--report_theme_fast_start_end_border_color:var(--common_report_color_blue2);

	--report_theme_timetable_data_border_color:inherit;
	--report_theme_timetable_data_highlight_row_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_row_background_color:var(--common_report_color_blue2);
}
.theme_month_20005{
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_blue);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_11_20_color:inherit;
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_blue);
	--report_theme_timetable_data_highlight_21_30_color:var(--common_report_color_black);
}
.theme_month_20006{
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_blue);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_lightblue2);
	--report_theme_timetable_data_highlight_11_20_color:inherit;
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_21_30_color:var(--common_report_color_black);
}
.theme_month_20007{
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_lightblue2);
	--report_theme_timetable_data_highlight_11_20_color:inherit;
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_blue);
	--report_theme_timetable_data_highlight_21_30_color:var(--common_report_color_black);
}
.theme_month_20008{
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_lightblue2);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_11_20_color:inherit;
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_lightblue2);
	--report_theme_timetable_data_highlight_21_30_color:var(--common_report_color_black);
}
.theme_month_20009,
.theme_month_20010,
.theme_month_20011,
.theme_month_20012{
	--report_theme_header_color:var(--common_report_color_lightblue);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--common_report_color_lightblue);
	--report_theme_timetable_data_header_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_data_header_color:var(--common_report_color_white);
	--report_theme_timetable_data_background_color:var(--common_report_color_lightblue3);
	--report_theme_timetable_data_color:var(--common_report_color_black);
	--report_theme_timetable_footer_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_footer_color:var(--common_report_color_white);
	--report_theme_footer_color:var(--common_report_color_lightblue);
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:var(--common_report_color_white);
	--report_theme_fast_start_end_background_color:var(--common_report_color_lightblue);
	--report_theme_fast_start_end_border_color:var(--common_report_color_lightblue);

	--report_theme_timetable_data_border_color:inherit;
	--report_theme_timetable_data_highlight_row_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_row_background_color:var(--common_report_color_lightblue);
}
.theme_month_20009{
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_darkblue);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_11_20_color:inherit;
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_lightblue2);
	--report_theme_timetable_data_highlight_21_30_color:var(--common_report_color_black);
}
.theme_month_20010{
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_lightblue2);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_11_20_color:inherit;
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_darkblue);
	--report_theme_timetable_data_highlight_21_30_color:var(--common_report_color_white);
}
.theme_month_20011{
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_lightblue2);
	--report_theme_timetable_data_highlight_11_20_color:inherit;
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_darkblue);
	--report_theme_timetable_data_highlight_21_30_color:var(--common_report_color_white);
}
.theme_month_20012{
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_darkblue);
	--report_theme_timetable_data_highlight_11_20_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_lightblue2);
	--report_theme_timetable_data_highlight_21_30_color:var(--common_report_color_black);
}
.theme_month_20013,
.theme_month_20014,
.theme_month_20015,
.theme_month_20016{
	--report_theme_header_color:var(--common_report_color_lightblue);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--common_report_color_lightblue);
	--report_theme_timetable_data_header_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_data_header_color:var(--common_report_color_white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--common_report_color_black);
	--report_theme_timetable_footer_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_footer_color:var(--common_report_color_white);
	--report_theme_footer_color:var(--common_report_color_lightblue);
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:var(--common_report_color_white);
	--report_theme_fast_start_end_background_color:var(--common_report_color_lightblue);
	--report_theme_fast_start_end_border_color:var(--common_report_color_lightblue);

	--report_theme_timetable_data_border_color:inherit;
	--report_theme_timetable_data_highlight_row_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_row_background_color:var(--common_report_color_lightblue);
}
.theme_month_20017,
.theme_month_20018,
.theme_month_20019,
.theme_month_20020{
	--report_theme_header_color:var(--common_report_color_blue2);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:var(--common_report_color_blue2);
	--report_theme_timetable_data_header_background_color:inherit;
	--report_theme_timetable_data_header_color:var(--common_report_color_blue2);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--common_report_color_black);
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:var(--common_report_color_blue2);
	--report_theme_footer_color:var(--common_report_color_blue2);
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:var(--common_report_color_white);
	--report_theme_fast_start_end_background_color:var(--common_report_color_lightblue);
	--report_theme_fast_start_end_border_color:var(--common_report_color_lightblue);

	--report_theme_timetable_data_border_color:inherit;
	--report_theme_timetable_data_highlight_row_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_row_background_color:var(--common_report_color_lightblue);
}
.theme_month_20017.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_header_row,
.theme_month_20018.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_header_row,
.theme_month_20019.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_header_row,
.theme_month_20020.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_header_row{
	background-color:inherit !important;
}
.theme_month_20013,
.theme_month_20017{
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_11_20_color:inherit;
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_lightblue2);
	--report_theme_timetable_data_highlight_21_30_color:var(--common_report_color_black);
}
.theme_month_20014,
.theme_month_20018{
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_lightblue2);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_11_20_color:inherit;
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_data_highlight_21_30_color:var(--common_report_color_white);
}
.theme_month_20015,
.theme_month_20019{
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_lightblue2);
	--report_theme_timetable_data_highlight_11_20_color:inherit;
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_data_highlight_21_30_color:var(--common_report_color_white);
}
.theme_month_20016,
.theme_month_20020{
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_data_highlight_11_20_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_lightblue2);
	--report_theme_timetable_data_highlight_21_30_color:var(--common_report_color_black);
}
.theme_month_20021,
.theme_month_20022{
	--report_theme_header_color:inherit;
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:inherit;
	--report_theme_timetable_header_color:inherit;
	--report_theme_timetable_data_header_background_color:inherit;
	--report_theme_timetable_data_header_color:inherit;
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:inherit;
	--report_theme_timetable_footer_color:inherit;
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:inherit;

	--report_theme_timetable_data_highlight_row_color:inherit;
	--report_theme_timetable_data_highlight_row_background_color:var(--common_report_color_lightblue3);
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_lightblue3);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_11_20_color:inherit;
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_lightblue3);
	--report_theme_timetable_data_highlight_21_30_color:var(--common_report_color_black);
}
.theme_month_20021{
	--report_theme_fast_start_end_background_color:var(--common_report_color_lightblue3);
	--report_theme_fast_start_end_border_color:inherit;
	--report_theme_timetable_data_border_color:inherit;
}
.theme_month_20022{
	--report_theme_fast_start_end_background_color:var(--common_report_color_lightblue3);
	--report_theme_fast_start_end_border_color:var(--common_report_color_black);
	--report_theme_timetable_data_border_color:var(--common_report_color_black);
}
.theme_month_20030{
	--report_theme_header_color:var(--common_report_color_green);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:var(--common_report_color_green);
	--report_theme_timetable_header_color:var(--common_report_color_white);
	--report_theme_timetable_data_header_background_color:var(--common_report_color_green);
	--report_theme_timetable_data_header_color:var(--common_report_color_white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:inherit;
	--report_theme_timetable_footer_background_color:var(--common_report_color_green);
	--report_theme_timetable_footer_color:var(--common_report_color_white);
	--report_theme_footer_color:inherit;
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:inherit;
	--report_theme_fast_start_end_background_color:var(--common_report_color_green);
	--report_theme_fast_start_end_border_color:var(--common_report_color_black);

	--report_theme_timetable_data_border_color:inherit;
	--report_theme_timetable_data_highlight_row_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_row_background_color:var(--common_report_color_black);
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_green2);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_1_10_color:inherit;
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_green2);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
}
.theme_month_20031{
	--report_theme_header_color:var(--common_report_color_green);
	--report_theme_header_background_color:inherit;
	--report_theme_timetable_header_background_color:var(--common_report_color_blue2);
	--report_theme_timetable_header_color:var(--common_report_color_white);
	--report_theme_timetable_data_header_background_color:var(--common_report_color_blue2);
	--report_theme_timetable_data_header_color:var(--common_report_color_white);
	--report_theme_timetable_data_background_color:inherit;
	--report_theme_timetable_data_color:var(--common_report_color_green);
	--report_theme_timetable_footer_background_color:var(--common_report_color_blue2);
	--report_theme_timetable_footer_color:var(--common_report_color_white);
	--report_theme_footer_color:var(--common_report_color_green);
	--report_theme_footer_background_color:inherit;	
	--report_theme_fast_start_end_color:var(--common_report_color_white);
	--report_theme_fast_start_end_background_color:var(--common_report_color_blue2);
	--report_theme_fast_start_end_border_color:var(--common_report_color_green);

	--report_theme_timetable_data_border_color:inherit;
	--report_theme_timetable_data_highlight_row_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_row_background_color:var(--common_report_color_green);
	--report_theme_timetable_data_highlight_1_10_background_color:var(--common_report_color_green2);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
	--report_theme_timetable_data_highlight_11_20_background_color:var(--common_report_color_white);
	--report_theme_timetable_data_highlight_1_10_color:inherit;
	--report_theme_timetable_data_highlight_21_30_background_color:var(--common_report_color_green2);
	--report_theme_timetable_data_highlight_1_10_color:var(--common_report_color_black);
}
/*no odd even row colors*/
.theme_month_20001, .theme_month_20003, .theme_month_20004, .theme_month_20005,
.theme_month_20013, .theme_month_20015, .theme_month_20016, .theme_month_20017, 
.theme_month_20021, .theme_month_20022{
	--report_theme_timetable_data_row_odd_color:inherit;
	--report_theme_timetable_data_row_odd_background_color:inherit;
	--report_theme_timetable_data_row_even_color:inherit;
	--report_theme_timetable_data_row_even_background_color:inherit;
}
/*no odd even row colors but background color*/
.theme_month_20009, .theme_month_20010{
	--report_theme_timetable_data_row_odd_color:inherit;
	--report_theme_timetable_data_row_odd_background_color:var(--common_report_color_lightblue3);
	--report_theme_timetable_data_row_even_color:inherit;
	--report_theme_timetable_data_row_even_background_color:var(--common_report_color_lightblue3);
}
/*with odd even row colors lightblue*/
.theme_month_20002, .theme_month_20006{
	--report_theme_timetable_data_row_odd_color:inherit;
	--report_theme_timetable_data_row_odd_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_data_row_even_color:inherit;
	--report_theme_timetable_data_row_even_background_color:var(--common_report_color_white);
}
/*with odd even row colors lightblue 2*/
.theme_month_20010, .theme_month_20014, .theme_month_20018{
	--report_theme_timetable_data_row_odd_color:inherit;
	--report_theme_timetable_data_row_odd_background_color:var(--common_report_color_lightblue2);
	--report_theme_timetable_data_row_even_color:inherit;
	--report_theme_timetable_data_row_even_background_color:var(--common_report_color_white);
}
/*no odd even column colors*/
.theme_month_20001, .theme_month_20002, .theme_month_20005, .theme_month_20006, .theme_month_20009, .theme_month_20010, 
.theme_month_20013, .theme_month_20014, .theme_month_20017, .theme_month_20018, .theme_month_20021,
.theme_month_20022{
	--report_theme_timetable_data_column_odd_color:inherit;
	--report_theme_timetable_data_column_odd_background_color:inherit;
	--report_theme_timetable_data_column_even_color:inherit;
	--report_theme_timetable_data_column_even_background_color:inherit;
}
/*no odd even column colors but background color*/
.theme_month_20011, .theme_month_20012{
	--report_theme_timetable_data_column_odd_color:inherit;
	--report_theme_timetable_data_column_odd_background_color:inherit;
	--report_theme_timetable_data_column_even_color:inherit;
	--report_theme_timetable_data_column_even_background_color:var(--common_report_color_lightblue3) !important;
}

/*width odd even column colors lightblue*/
.theme_month_20003, .theme_month_20004, .theme_month_20007, .theme_month_20008{
	--report_theme_timetable_data_column_odd_color:var(--common_report_color_black);
	--report_theme_timetable_data_column_odd_background_color:var(--common_report_color_lightblue);
	--report_theme_timetable_data_column_even_color:inherit;
	--report_theme_timetable_data_column_even_background_color:var(--common_report_color_white);
}
/*width odd even column colors lightblue2*/
.theme_month_20011, .theme_month_20012, .theme_month_20015, .theme_month_20016, .theme_month_20019, .theme_month_20020{
	--report_theme_timetable_data_column_odd_color:var(--common_report_color_black);
	--report_theme_timetable_data_column_odd_background_color:var(--common_report_color_lightblue2);
	--report_theme_timetable_data_column_even_color:inherit;
	--report_theme_timetable_data_column_even_background_color:var(--common_report_color_white);
}
/*first column extra highlight*/
.theme_month_20004.timetable_month_class #timetable_month_data .timetable_month_data_row .timetable_month_data_col:first-child,
.theme_month_20008.timetable_month_class #timetable_month_data .timetable_month_data_row .timetable_month_data_col:first-child,
.theme_month_20012.timetable_month_class #timetable_month_data .timetable_month_data_row .timetable_month_data_col:first-child,
.theme_month_20016.timetable_month_class #timetable_month_data .timetable_month_data_row .timetable_month_data_col:first-child,
.theme_month_20020.timetable_month_class #timetable_month_data .timetable_month_data_row .timetable_month_data_col:first-child{
	background-color: var(--common_report_color_darkblue);
	color: var(--common_report_color_white);
}

/*
.theme_year_30001{
}
*/

/*Themes*/
/*DISPLAY FONT*/
.timetable_class.font_arabic_sans .display_font{
	font-family: var(--report_theme_display_font_family), var(--common_app_font_arabic_sans);
}
.timetable_class.font_arabic_kufi .display_font{
	font-family: var(--report_theme_display_font_family), var(--common_app_font_arabic_kufi);
}
.timetable_class.font_arabic_nashk .display_font{
	font-family: var(--report_theme_display_font_family), var(--common_app_font_arabic_nashk);
}
.timetable_class.font_arabic_nastaliq .display_font{
	font-family: var(--report_theme_display_font_family), var(--common_app_font_arabic_nastaliq);
}
/*DEFAULT FONT*/
.timetable_class.font_arabic_sans .default_font{
	font-family: var(--report_theme_default_font_family), var(--common_app_font_arabic_sans);
}
.timetable_class.font_arabic_kufi .default_font{
	font-family: var(--report_theme_default_font_family), var(--common_app_font_arabic_kufi);
}
.timetable_class.font_arabic_nashk .default_font{
	font-family: var(--report_theme_default_font_family), var(--common_app_font_arabic_nashk);
}
.timetable_class.font_arabic_nastaliq .default_font{
	font-family: var(--report_theme_default_font_family), var(--common_app_font_arabic_nastaliq);
}
/*set default text color for all timetables*/
.timetable_class{
	color: var(--report_theme_text_color);
}
.timetable_class .timetable_data_fast_start, 
.timetable_class .timetable_data_fast_end{
	color: var(--report_theme_fast_start_end_color) !important;
	background-color: var(--report_theme_fast_start_end_background_color) !important;
	border-left: 1px solid var(--report_theme_fast_start_end_border_color);
	border-right: 1px solid var(--report_theme_fast_start_end_border_color);
}
#timetable_header {
	color: var(--report_theme_header_color);
	background-color:var(--report_theme_header_background_color);
}
/*DAY*/
#timetable_day #timetable_header_date {
	background-color: var(--report_theme_timetable_header_background_color);
	color: var(--report_theme_timetable_header_color);
}
#timetable_day .timetable_day_timetable_header_row{
	color: var(--report_theme_timetable_data_header_color);
}
#timetable_day .timetable_day_timetable_header_row div{
	background-color: var(--report_theme_timetable_data_header_background_color);
	text-transform: uppercase;
} 
#timetable_day .timetable_day_timetable_row_data div {
	background-color: var(--report_theme_timetable_data_background_color);
	color: var(--report_theme_timetable_data_color);
}
#timetable_day .timetable_day_timetable_footer {
	color: var(--report_theme_timetable_footer_color);
	background-color: var(--report_theme_timetable_footer_background_color);
}
#timetable_day .copyright {
	color: var(--report_theme_copyright_color);
	background-color: var(--report_theme_copyright_background_color);
}
/*MONTH*/
#timetable_month .timetable_month_data_notes {
	background-color: var(--report_theme_notes_background_color) !important;
}
.timetable_month_class #timetable_header_date {
	color: var(--report_theme_timetable_header_color);
	background-color: var(--report_theme_timetable_header_background_color);
}
.timetable_month_class #timetable_month_data .timetable_month_data_header_row .timetable_month_data_col {
	color: var(--report_theme_timetable_data_header_color) !important;
	background-color: var(--report_theme_timetable_data_header_background_color) !important;
}
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_highlight_row .timetable_month_data_col {
	color: var(--report_theme_timetable_data_highlight_row_color) !important;
	background-color: var(--report_theme_timetable_data_highlight_row_background_color) !important;
}
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_day_01-10_row .timetable_month_data_col {
	background-color: var(--report_theme_timetable_data_highlight_1_10_background_color) !important;
	color: var(--report_theme_timetable_data_highlight_1_10_color) !important;
}
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_day_11-20_row .timetable_month_data_col {
	background-color: var(--report_theme_timetable_data_highlight_11_20_background_color) !important;
	color: var(--report_theme_timetable_data_highlight_11_20_color) !important;
}
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_day_21-30_row .timetable_month_data_col {
	background-color: var(--report_theme_timetable_data_highlight_21_30_background_color) !important;
	color: var(--report_theme_timetable_data_highlight_21_30_color) !important;
}
/*when both hightlight and fasting info at the same time then choose fasting colors*/
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_highlight_row .timetable_month_data_col.timetable_data_fast_start,
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_highlight_row .timetable_month_data_col.timetable_data_fast_end,
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_day_01-10_row .timetable_month_data_col.timetable_data_fast_start, 
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_day_01-10_row .timetable_month_data_col.timetable_data_fast_end,
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_day_11-20_row .timetable_month_data_col.timetable_data_fast_start, 
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_day_11-20_row .timetable_month_data_col.timetable_data_fast_end,
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_day_21-30_row .timetable_month_data_col.timetable_data_fast_start, 
.timetable_month_class #timetable_month_data .timetable_month_data_row.timetable_month_data_day_21-30_row .timetable_month_data_col.timetable_data_fast_end{
	color: var(--report_theme_fast_start_end_color) !important;
	background-color: var(--report_theme_fast_start_end_background_color) !important;
}
/* odd and even row colors*/
/* if not using this but using background colors or color then set the same for even and odd rows colors in theme*/
.timetable_month_class #timetable_month_data .timetable_month_data_row:nth-child(odd) {
	color: var(--report_theme_timetable_data_row_odd_color) !important;
	background-color: var(--report_theme_timetable_data_row_odd_background_color) !important;
}
.timetable_month_class #timetable_month_data .timetable_month_data_row:nth-child(even) {
	color: var(--report_theme_timetable_data_row_even_color);
	background-color: var(--report_theme_timetable_data_row_even_background_color);
}
.timetable_month_class #timetable_month_data .timetable_month_data_row{
	color: var(--report_theme_timetable_data_color) !important;
	background-color: var(--report_theme_timetable_data_background_color) !important;
}
.timetable_month_class #timetable_month_data .timetable_month_data_row .timetable_month_data_col {
	border-bottom: 0.5px solid var(--report_theme_timetable_data_border_color);
	height: calc(100% - 0.5px);
}
.timetable_month_class #timetable_month_data .timetable_month_data_row .timetable_month_data_col:nth-child(odd) {
	color: var(--report_theme_timetable_data_column_odd_color);
	background-color: var(--report_theme_timetable_data_column_odd_background_color);
}
.timetable_month_class #timetable_month_data .timetable_month_data_row .timetable_month_data_col:nth-child(even) {
	color: var(--report_theme_timetable_data_column_even_color);
	background-color: var(--report_theme_timetable_data_column_even_background_color);
}
#timetable_month_data_footer {
	color: var(--report_theme_timetable_footer_color);
	background-color: var(--report_theme_timetable_footer_background_color);
}
#timetable_footer {
	color : var(--report_theme_footer_color);
	background-color:var(--report_theme_footer_background_color);
}