[Unit]
Description=App Portfolio Microservice Batch
Requires=network-online.target
After=network-online.target

[Service]
User=ubuntu
Type=simple
ExecStart=/bin/sh -c 'cd $HOME/app_portfolio && /usr/bin/node serviceregistry/microservice/batch/server.js'

[Install]
WantedBy=multi-user.target