[Unit]
Description=App Portfolio
Requires=network-online.target
After=network-online.target

[Service]
User=ubuntu
Type=simple
ExecStart=/bin/sh -c 'cd $HOME/app_portfolio && /usr/bin/node server/init.js'
[Install]
WantedBy=multi-user.target