/*APP*/
html, body, #app {
	height:100%;
}
body {
	font-size: 18px !important;
}
#app_logo{
	background-image: url('/images/logo.png');
	background-size: contain;
	width: 192px;
	height: 192px;
	margin: 0 auto;
}
#app_main_page{
	display: inline-block;
	padding: 5%;
	padding-top:50px;
	text-align: center;
}
#cube{
	display: block;
}
#flat-cube{
	position:absolute;
	width:360px;
	height:615px;
	top: 660px !important;
}
#flat-cube .flatface{
	position : absolute;
	width:120px;
}
#flat-cube .flatsticker{
	width:38px;
	height:38px;
	border :1px solid var(--common_app_color_black);
	display: inline-block;
  	margin-bottom: -5px;
}
#flat-cube #FlatColorPicker{
	position : absolute;
	display: block;
	bottom: 0px;
}
#flat-cube #FlatColorPicker .flatsticker{
	position : unset;
	margin: 0.5em;
	display: inline-block;
}
#button_controls{
	display: block;
	width: 358px; 
	height: 240px; 
}
#button_controls .common_dialogue_button{
	font-size: 1em !important;
}
.cube_white {
	background-color: #ffffff; 
}
.cube_blue{
	background-color: #006dbf; 
}
.cube_green{
	background-color: #009900; 
}
.cube_red{
	background-color: #cc0000; 
}
.cube_orange{
	background-color: #ff8800; 
}
.cube_yellow{
	background-color: #ffff00; 
}
.button_move{
	display:inline-block;
	width: 15%;
	border: 1px solid var(--common_app_color_black);
	font-weight: bold;
}
#solve_progress{
	position: absolute; 
	top: 0px; 
	margin-inline-start: 0px; 
	bottom: 0px; 
	width: 0%; 
	background-color: var(--common_app_color_blue1);
	opacity:0.5;
}
#solve_speed{
	margin-top: 1em;
}
#button_solve, #button_solved_step, #button_scramble, #button_reset{
	display: inline-block;
	width:45%;
	margin-top: 1em;
}
#overlay{
	display: inline-block;
	width: 100%;
}
#button_step_info {
  	width:295px;
  	height: 100px;
	font-size: 1.5em;
	position: absolute;
	margin: 4px;
	padding: 1em;
}
#button_controls .button_move, 
#button_step_info,
#flat-cube #FlatColorPicker .flatsticker{
	cursor:pointer;
}
/*RESPONSIVE SETTINGS*/
/*CSS for minimum 768px*/
@media only screen and (min-width: 768px) {
	body{
		text-align: center;
	}
	#app_main_page{
		width: 50%;
		padding: 50px;
	}
	#flat-cube{
		top: 50px !important;
		margin-inline-start: 390px !important;	
	}
}

/*COMMON*/
#common_profile_input_row,
#common_profile_search_list_wrap{
	visibility: hidden;
}
#common_user_account{
	visibility: hidden;
}
#common_window_info_content{
	display: none;
}
#common_window_info{
	visibility:hidden;
	z-index: 0 !important;
	display:grid;
}
#common_window_info_info{
	position:relative;
	margin:20px;
	margin-top:-70px;
}
/*APP THEME*/
body {
	--common_app_color_spinner:var(--common_app_color_black);
	--common_app_color_background_spinner:var(--common_app_color_blue1);
	color: var(--common_app_color_black);
	background: var(--common_app_color_blue1);
	caret-color: var(--common_app_color_black);
}
#cube, #button_controls {
	background-color: var(--common_app_color_white1);
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);		
}
#button_step_info {
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}
.flatsticker:hover,
.flatsticker:active{
	transform: scale(1.1);
}
.button_move:hover,
.button_move:active{
	color:var(--common_app_color_green) !important;
}

#solve_speed .button_speed_selected
{
	color:var(--common_app_color_green) !important;
}
#overlay{
	background-color : rgba(0,0,0,.5);
}
/* APP THEME COMMON*/
.common_toolbar_selected{
	background-color: var(--common_app_color_blue1) !important;
}
#common_toolbar_framework {
    color: var(--common_app_color_black);
    background-color: var(--common_app_color_white1);
    box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1), 0 6px 20px 0 var(--common_app_color_shadow2);
}
.common_dialogue_button,
.common_toolbar_button{
	color: var(--common_app_color_black) !important;
}
.common_dialogue_button:hover,
.common_dialogue_button:active,
.common_toolbar_button:hover,
.common_toolbar_button:active{
	color:var(--common_app_color_green) !important;
}
.common_dialogue_content:hover, 
.common_dialogue_content:active{
	box-shadow: 0 0 35px 4px var(--common_app_color_white_transparent);
}  
.common_dialogue_content{
	background-color: var(--common_app_color_white1);
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);	
}
#common_dialouge_user_menu{
	background-color: var(--common_app_color_white);
}
#common_window_info_toolbar{
	background: var(--common_app_color_white);
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}
#common_window_info{
	background: var(--common_app_color_white);
}