/*APP*/
#mapid >div{
	z-index: 0;
}
#mapid >div{
	position: absolute;
  	top: 0;
  	bottom: 0;
  	width: 100%;
}
#app_select_theme{
	position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100%;
}
/*COMMON*/
#common_app_iam_user_menu{
    display: unset !important
}
#common_app_dialogues_profile_input_row,
#common_app_profile_search_list_wrap{
	visibility: hidden;
}
#common_app_iam_user_menu{
	position: absolute;
	bottom:2em;
}
#common_app_iam_user_menu{
	width: 100% !important;
}
/*APP THEME*/
.common_theme1 {
	--app_theme_main_branding_color1: var(--common_app_color_white1);
	--app_theme_main_branding_color2: var(--common_app_color_blue2);
	--app_theme_main_branding_color3: var(--common_app_color_blue1);
	--app_theme_main_branding_color4: var(--common_app_color_black);
	--app_theme_main_branding_color5: var(--common_app_color_white2);
	--app_theme_text_color: var(--app_theme_main_branding_color4);
	--app_theme_background_color: var(--app_theme_main_branding_color1);
	--app_theme_spinner_background_color:var(--app_theme_main_branding_color1);
	--app_theme_dialogue_shadow_color1:var(--common_app_color_shadow1);
	--app_theme_user_menu_hover_color:var(--common_app_color_green);
	--app_theme_user_menu_hover_background_color:var(--common_app_color_white2);
	--app_theme_dialogue_background_color:var(--app_theme_main_branding_color1);
	--app_theme_selected_background_color:var(--common_app_color_white2);
	--app_theme_hover:var(--common_app_color_green);
}
.common_theme2 {
	--app_theme_main_branding_color1: var(--common_app_color_dark);
	--app_theme_main_branding_color2: var(--common_app_color_black);
	--app_theme_main_branding_color3: var(--common_app_color_gold);
	--app_theme_main_branding_color4: var(--common_app_color_dark4);
	--app_theme_main_branding_color5: var(--common_app_color_white2);
	--app_theme_text_color: var(--app_theme_main_branding_color4);
	--app_theme_background_color: var(--app_theme_main_branding_color2);
	--app_theme_spinner_background_color:var(--app_theme_main_branding_color1);
	--app_theme_dialogue_shadow_color1:var(--common_app_color_shadow1);
	--app_theme_user_menu_hover_color:var(--common_app_color_green);
	--app_theme_user_menu_hover_background_color:var(--common_app_color_white2);
	--app_theme_dialogue_background_color:var(--app_theme_main_branding_color2);
	--app_theme_selected_background_color:var(--common_app_color_white2);
	--app_theme_hover:var(--common_app_color_green);
}
.common_theme3 {
	--app_theme_main_branding_color1: var(--common_app_color_cafe_latte);
	--app_theme_main_branding_color2: var(--common_app_color_cafe_latte2);
	--app_theme_main_branding_color3: var(--common_app_color_cafe_latte3);
	--app_theme_main_branding_color4: var(--common_app_color_black);
	--app_theme_main_branding_color5: var(--common_app_color_white2);
	--app_theme_text_color: var(--app_theme_main_branding_color3);
	--app_theme_background_color: var(--app_theme_main_branding_color1);
	--app_theme_spinner_background_color:var(--app_theme_main_branding_color1);
	--app_theme_dialogue_shadow_color1:var(--common_app_color_shadow1);
	--app_theme_user_menu_hover_color:var(--common_app_color_cafe_latte2);
	--app_theme_user_menu_hover_background_color:var(--common_app_color_cafe_latte3);
	--app_theme_dialogue_background_color:var(--app_theme_main_branding_color1);
	--app_theme_selected_background_color:var(--common_app_color_white2);
	--app_theme_hover:var(--common_app_color_green);
}
body{
	--common_app_color_spinner:var(--app_theme_text_color);
	color: var(--app_theme_text_color);
	background: var(--app_theme_background_color);
	caret-color: var(--app_theme_text_color);
}

/*APP THEME COMMON*/
#common_app_iam_user_menu_avatar_img, 
#common_app_iam_user_menu_default_avatar{
    color: var(--app_theme_main_branding_color3);
	background-color: var(--app_theme_main_branding_color2);
}
.common_app_dialogues_iam_start_selected,
.common_map_control_active,
.common_row_selected{
	background-color: var(--app_theme_selected_background_color) !important;
}
#common_app_toolbar{
	color: var(--app_theme_main_branding_color3);
	background-color: var(--app_theme_main_branding_color2);
	box-shadow: 0px -3px 3px var(--app_theme_dialogue_shadow_color1);
}
.common_link:hover,
.common_link:active{
	color: var(--app_theme_user_menu_hover_color) !important;
}
.common_toolbar_selected{
	background-color: var(--app_theme_main_branding_color1) !important;
}
.common_input{
    color: var(--app_theme_text_color);
	background-color:var(--app_theme_main_branding_color1);
}
.common_app_dialogues_content{
	color: var(--app_theme_text_color) !important;
	background-color:var(--app_theme_background_color) !important;
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}
#common_map_control{
    color: var(--app_theme_main_branding_color3) !important;
    background-color: var(--app_theme_main_branding_color2);
}
.common_map_control_expand{
	background-color: var(--app_theme_main_branding_color2) !important;
}
.common_map_control_button{
	background-color: var(--app_theme_main_branding_color2);
}
.common_map_popup{
	background-color: var(--app_theme_dialogue_background_color) !important;
	color: var(--app_theme_text_color) !important;
}
.common_map_control_expand_search_list_row:hover,
.common_map_control_expand_search_list_row:active {
	background-color: var(--common_app_color_white3);
}