.dialogue{
	width: 100%;
	height: 100%;
	text-align: center;
	top:15%;

	position:fixed;
	z-index: 10;
	animation-name: common_roadRunnerIn;
	animation-duration: 0.4s;

}
.dialogue_content{
	padding: 10px;
	display:inline-block;
    top: 20%;
	border-radius: 4px;
}

#dialogue_admin_login{
	visibility:visible;
}
#dialogue_admin_login_content{
	height:auto;
	width: 350px;
}

#admin_login_logo {
	background-image: url('/admin/images/logo.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	height: 50px;
}
.admin_login_icon{
	display: inline-block;
	font-size: 1.5em;
}
.admin_login_input{
	border-radius: 16px;
	height:40px;
	width:90%;
	margin-top:10px;
	padding: 8px 16px;
	box-sizing: border-box;
}
#secure{
	width:100%;
    height:100%;
	visibility: hidden;
}
/* common*/
#profile_input_row,
#profile_search_list_wrap{
	visibility: hidden;
	display:	none !important;
}
#profile_btn_top{
	visibility: hidden;
}
#user_account{
	visibility: hidden;
	display:	none !important;
}
/*THEME*/
.theme_light {
	--app_theme_main_branding_color1: var(--app_blue1);
	--app_theme_main_branding_color2: var(--app_blue2);
	--app_theme_main_branding_color3: var(--app_white1);
	--app_theme_main_branding_color4: var(--app_black);
	--app_theme_main_branding_color5: var(--app_white2);

	--app_theme_main_shadow_color1: var(--app_black_transparent1);
	--app_theme_main_shadow_color2: var(--app_black_transparent2);
	--app_theme_main_shadow_color3: var(--app_white_transparent);
	--app_theme_main_select_color: var(--app_white2);
	--app_theme_main_select_color2: var(--app_green);
	--app_theme_main_select_color3: var(--app_red);
	--app_theme_main_border_color: var(--app_white2);
	--app_theme_main_border_color2: var(--app_blue2);
	--app_theme_main_border_color3: var(--app_white1);
	--app_theme_main_gradient_color1: var(--app_white3);
	--app_theme_main_gradient_color2: var(--app_white2);
	--app_theme_main_gradient_color3: var(--app_white1);

	--app_theme_text_color: var(--app_theme_main_branding_color4);
	--app_theme_background_color: var(--app_theme_main_branding_color1);
	--app_theme_background_color2: var(--app_theme_main_branding_color5);
	--app_theme_dialogue_background_color: var(--app_theme_main_branding_color3);
	--app_theme_dialogue_boxshadow_color1:var(--app_theme_main_shadow_color1);
	--app_theme_dialogue_boxshadow_color2:var(--app_theme_main_shadow_color2);
	--app_theme_dialogue_boxshadow_active_color:var(--app_theme_main_shadow_color3);
	--app_theme_input_border_color:var(--app_theme_main_branding_color2);
	--app_theme_hover_color: var(--app_theme_main_select_color2);

	--app_theme_spinner_background_color:var(--app_theme_main_branding_color1);
}

body.theme_light{
	color: var(--app_theme_text_color);
	background: var(--app_theme_background_color);
}
.dialogue_content:hover, 
.dialogue_content:active{
	box-shadow: 0 0 35px 4px var(--app_theme_dialogue_boxshadow_active_color);
}  
.dialogue_content{
	background-color: var(--app_theme_dialogue_background_color);
	box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_boxshadow_color1), 0 6px 20px 0 var(--app_theme_dialogue_boxshadow_color2);
}
.admin_login_input{
	border: 1px solid var(--app_theme_input_border_color);
}
.dialogue_button,
.admin_login_icon{
	color: var(--app_theme_text_color) !important;
}
.dialogue_button:hover, 
.dialogue_button:active,
.toolbar_button:hover, 
.toolbar_button:active{
	color:var(--app_theme_hover_color) !important;
}
.toolbar_button{
	color: var(--app_theme_text_color) !important;
}
/*common*/
.common_dialogue_content{
	background-color: var(--app_theme_dialogue_background_color);
	box-shadow: 0 4px 8px 0 var(--app_theme_dialogue_boxshadow_color1), 0 6px 20px 0 var(--app_theme_dialogue_boxshadow_color2);
}
.load-spinner div:after {
	background-color: var(--app_theme_spinner_background_color);
}
