/* common*/
.dialogue{
	width: 100%;
	height: 100%;
	text-align: center;
	top:15%;

	position:fixed;
	z-index: 10;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s;

}
.dialogue_content{
	padding: 10px;
	width: 300px;
	display:inline-block;
    top: 20%;
	height: auto;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
/* add animation effects */
@-webkit-keyframes animatetop {
	from {
		top: -60%;
		opacity: 0
	}
	to {
		top: 15%;
		opacity: 1
	}
}

@keyframes animatetop {
	from {
		top: -60%;
		opacity: 0
	}
	to {
		top: 15%;
		opacity: 1
	}
}

#dialogue_admin_login{
	visibility:visible;
}
#dialogue_admin_login_content{
	height:270px;
}

#admin_login_logo {
	background-image: url('/app0/images/logo.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 50px;
	margin: 0 auto;
}
#admin_login_title{
    margin-top:20px;
}
.admin_login_input{
	border-radius: 16px;
	height:40px;
	width:90%;
	margin-top:10px;
	padding: 8px 16px;
	box-sizing: border-box;
}

.button {
	background: none;
	border: none;
	width: 60px;
	height: 60px;
	padding:0px;
	text-transform: uppercase;
	cursor:pointer;
}

body.theme_light{
	color: #404040;
	background: rgb(81, 171, 255);
}
.theme_light .dialogue_content:hover, 
.theme_light .dialogue_content:active,
.theme_light .common_dialogue_content:hover, 
.theme_light .common_dialogue_content:active{
	box-shadow: 0 0 35px 4px rgb(255,255,255,0.25);
}  
.theme_light .dialogue_content,
.theme_light .common_dialogue_content{
	background-color: #fefefe;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.theme_light .admin_login_input{
	border: 1px solid #ddd;
}
.theme_light .button:hover, .theme_light .button:active{
	color:#6ab344 !important;
}
.theme_light .button {
	font-size: 30px;
}
.theme_light .toolbar_button{
	color: #404040 !important;
}
.theme_light .toolbar_button:hover, .theme_light .toolbar_button:active{
	color:#6ab344 !important;
}

#secure{
	width:100%;
    height:100%;
	visibility: hidden;
}