body{
	font-size: 16px;
	margin: 0;
	height: 100%;
	padding: 0px;
	width: auto;
}
select,input, button {
	font-family: inherit;
	font-size:inherit;
}
.input_lov{
	width: calc(100% - 15px) !important;
}
.common_lov_button{
	display: inline-block;
}
.lov_search_row{
	width:100%;
}
#lov_search_input{
	width: 90%;
	display: inline-block;
	border-radius: 4px;
}
#lov_search_icon{
	width: 15px;
	display: inline-block;
}
.list_lov_row{
	display:inline-block;
}
.list_lov_row_hide{
	display:none !important;
}
a:link{
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
/*checkbox with switch ui*/
.switch-input {
	display: none;
  }
.switch-label {
	display: inline-block !important;
	position:relative;
	width: 48px;
	height: 24px;
	text-indent: -150%;
	clip: rect(0 0 0 0);
	user-select: none;
	vertical-align: middle;
}
.switch-label::before,
.switch-label::after {
	content: "";
	display: block;
	position: absolute;
	cursor: pointer;
}
.switch-label::before {
	width: 48px;
	height: 24px;
	border-radius: 9999em;
	transition: background-color 0.25s ease;
}
.switch-label::after {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	transition: left 0.25s ease;
}
.switch-input:checked + .switch-label::after {
	left: 24px;
}
.dialogue_button {
	background: none;
	border: none;
	font-size: 30px;
	width: 60px;
	height: 60px;
	padding:0px;
	text-transform: uppercase;
	cursor:pointer;
}

.toolbar_button {
	background: none;
	border: none;
	font-size: 30px;
	width: 60px;
	height: 60px;
	padding:0px;
	text-transform: uppercase;
	cursor:pointer;
}
.list_scrollbar{
	overflow-y: auto;
	overflow-x: auto;
	white-space: nowrap;
	height: 100%;
    display: grid;
    grid-auto-rows: max-content;
}
/* Dialogue message*/
#dialogue_message{
	z-index: 60;
}
/* Dialogue Verification code*/
#dialogue_user_verify{
	visibility: hidden;
	z-index: 51;
}
#dialogue_user_verify_content{
	height:280px;
}
#user_verify_email_icon{
	font-size:30px;
	height:30px;
}
#user_verify_email{
    margin-top: 20px;
	height: 30px;
}
#user_verification_type{
	display: none;
}
#user_verify_verification_container{
	margin-top:40px;
	margin-bottom:40px;	
}
.user_verify_verification_wrap{
	width: 30px;
	height: 40px;
	padding: 0;
	display:inline-block;
	margin:5px;
}
.user_verify_input_verification_char{
	border-radius: 4px;
	font-size: 30px;
	text-align: center;
	width:30px;
	height:40px;
	border: 1px solid;
}
#user_new_password_icon{
	font-size: 30px;
    height: 30px;
}
#user_new_password_auth{
	display: none;
}
#user_new_password{
	margin-top: 40px;
}
/*Dialogue login/signup/forgot*/
#dialogue_login,
#dialogue_signup,
#dialogue_forgot{
	visibility: hidden;
}
#dialogue_login_content{
	overflow-y: auto;
	max-height: 90%;
}
#dialogue_login_content,
#dialogue_signup_content,
#dialogue_forgot_content{
	height:auto;
}
#login_form, #signup_form, #forgot_form{
	margin: 0px auto;
	width:300px;
}
#login_logo, #signup_logo, #forgot_logo{
	background-image: url('/common/images/logo.png');
	background-size: contain;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
.login_input, .signup_input, .forgot_input, .new_password_input{
	border-radius: 16px;
	height:40px;
	width:100%;
	margin-top:10px;
	padding: 8px 16px;
	box-sizing: border-box;
}
#login_tab1, #login_tab2, #login_tab3, 
#signup_tab1, #signup_tab2, #signup_tab3,
#forgot_tab1, #forgot_tab2, #forgot_tab3
{
	display:inline-block;
	width: 30%;
}
.login_button, .signup_button, .forgot_button{
	border-radius: 20px;
	width:100%;
	height:40px;
	padding:1px;
	border: 0px solid;
	margin-top:10px;
	cursor:pointer;
}
.login_tab_button, .signup_tab_button, .forgot_tab_button{
	border: 0px;
	margin-top:10px;
	cursor:pointer;
	background:none;
}
.login_provider_id, .login_provider_name{
	display:inline-block;
}
/*Dialogue user edit*/
#dialogue_user_edit{
	visibility: hidden;
}
#dialogue_user_edit_content{
	width: 360px;
	height: auto;
}
#dialogue_user_edit_content input{
	width: 100%;
	border: 0.5px solid;
}
#user_edit_avatar{
	width:48px;
	height:48px;
	position: fixed;
    top: 4px;
}
#user_edit_avatar_img{
	width:48px;
	height:48px;
	border-radius: 50%;
	z-index: -1;
}
#user_edit_input_avatar_img{
	display:none;
}
#user_edit_btn_avatar_img{
	border: none;
    width: 26px;	
    margin-top: 20px;
}
#dialogue_user_edit_content .setting_horizontal_row{
	display: block;
}
#dialogue_user_edit_content #user_edit_common .setting_horizontal_row:first-child{
	height: 65px;
}
#dialogue_user_edit_content #user_edit_common .setting_horizontal_row:first-child .setting_horizontal_col:nth-child(2){
	text-align: center !important;
	vertical-align: top;
}
#dialogue_user_edit_content .setting_horizontal_col:nth-child(1){
	width :5%;
	display: inline-block;
}
#dialogue_user_edit_content .setting_horizontal_col:nth-child(2){
	width :90%;
	text-align: start;
	display: inline-block;
}
#dialogue_user_edit_content #user_edit_provider .setting_horizontal_row:nth-child(5){
	height:0px;
}
#dialogue_user_edit_content #user_edit_provider{
	margin-top: 10px;
    margin-bottom: 10px;
}
#dialogue_user_edit_content #user_edit_buttons .setting_horizontal_col:nth-child(1) {
	width: 0%;
	display: none;
}
#dialogue_user_edit_content #user_edit_buttons .setting_horizontal_col:nth-child(2) {
	width: 100%;
	text-align: center !important;
}
#user_edit_label_data_last_logontime,
#user_edit_label_data_account_created,
#user_edit_label_data_account_modified {
	font-size: 0.6em;
}

/*Dialogue profile*/
#dialogue_profile{
	visibility:hidden;
	top: 0px;
    padding-top: 20px;
	z-index:1;
	width: 100%;
    height: 100%;
	position:fixed;
}
#profile_info{
	display:none;
}
#dialogue_profile_content{
	word-break: unset;
	width:350px;
	height:550px;
}
#profile_home{
	display: inline-block;
	z-index: 1;
}
#profile_close{
	display: block;
    width: 100%;
	bottom:10px;
	position:fixed;
}
/*Dialogue lov*/
#dialogue_lov_content{
	height:auto;
	width: 250px;
}
#lov_list{
	height: 230px;
    border-radius: 4px;
    text-align: start;
}
#lov_list #app_spinner{
	visibility: unset;
}
#lov_search_icon{
	cursor:pointer;	
}
.list_lov_row{
	width:100%;
	display:block;
	cursor:pointer;
}
.list_lov_col:nth-child(1){
	width:50px;
	display:inline-block;
	padding-left: 3px;
	padding-right: 3px;
	margin: 1px;
	border-radius: 4px
}
.list_lov_col:nth-child(2){
	width:150px;
	display:inline-block;
	padding-left: 3px;
	padding-right: 3px;
	margin: 1px;
	border-radius: 4px
}

/*profile search*/
#profile_info_search {
	height:50px;
	text-align:center;
	position: relative;
	z-index:1;
	display: inline-block;
	width: 100%;
}
#profile_search_input{
	border-radius: 16px;
	width:240px;
	margin-top:10px;
	margin-right:10px;
	padding: 8px 16px;
	box-sizing: border-box;
}
#profile_search_icon{
	display: inline-block;
	cursor: pointer;
}
#profile_search_list{
	height:120px;
	width:250px;
	padding: 10px;
	margin:0 auto;
	border-radius: 16px;
	display:none;
}
.profile_search_list_row{
	height:24px;
}
.profile_search_list_col:nth-child(1){
	display: none;
}
.profile_search_list_col:nth-child(2){
	width:24px;
	padding-left:10px;
	padding-right:10px;
	display:table-cell;
}
.profile_search_list_col:nth-child(3),
.profile_search_list_col:nth-child(4){
	display:table-cell;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
}
.profile_search_list_col:nth-child(4){
	width:100%;
	text-align:end;
}
.profile_search_list_avatar{
	height:24px;
	width:24px;
	border-radius: 50%;
}

/*profile main*/
#profile_main {
	width:100%;
	margin-top:10px;
	text-align:center;
}
#profile_main_col1{
	display:inline-block;
	width:200px;
	text-align:start;
}
#profile_main_col2{
	display:inline-block;
	width:99px;
	vertical-align:top;
}
#profile_main_col3{
	display:inline-block;
	vertical-align:top;
	margin: 10px;
}
#profile_main_col3 div{
	padding-bottom:10px;
}
#profile_id{
	display:none;
}
#profile_avatar{
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
#profile_avatar_online_status{
	display:none;
    margin-left: 45px;
    margin-top: -20px;
    position: absolute;
	border-radius: 50%;
	font-size:11px;
}
#profile_avatar_online_status.online{
	display: inline-block;
}
#profile_avatar_online_status.offline{
	display: inline-block;
}
#profile_joined_date_icon{
	display: inline-block;
}
#profile_main_stat_row1{
	display: inline-block;
	margin-top: 10px;
}
#profile_main_stat_row1 div{
	display:inline-block;
	margin-right: 8px;
}
#profile_joined_date{
	margin-top: 10px;
}
#profile_joined_date,
#profile_info_following_count,
#profile_info_followers_count,
#profile_info_likes_count,
#profile_info_view_count
{
	display:inline-block;
	margin-left:10px;
}
#profile_main_btn_following,
#profile_main_btn_followed,
#profile_main_btn_likes,
#profile_main_btn_liked{
	height:20px;
	text-align:start;
}
#profile_main_btn_following,
#profile_main_btn_followed,
#profile_main_btn_likes{
	width:20px;
}
#profile_main_btn_liked{
	width:40px;
}
#profile_qr {
	padding:3px;
	padding-bottom:0px;
	width:96px;
}

#profile_qr canvas{
	height:96px;
	width:96px;
}
#profile_follow_followed,
#profile_like_unlike{
	display:none;
}
#profile_follow:hover,
#profile_follow:active,
#profile_like:hover,
#profile_like:active{
	cursor:pointer;
	transform: scale(1.3);
	transition: transform 0.5s ease, background 0.5s ease, box-shadow 0.5s ease;
}
/*profile private*/
#profile_public{
	width: 350px;
	height:100%;
	margin-top:10px;
	margin:0 auto;
	text-align: center;
}
#profile_private{
	width:100%;
	height:100%;
	text-align: center;
}
#profile_private_title{
	font-size:48px;
	margin: 10px;
	display:inline-block;
}

/*profile detail*/
#profile_detail {
	width: 100%;
	height: 100%;	
	display:inline-block;
}

.profile_detail_list{
	height:144px;
	width:350px;
	border:0.5px solid;
	display: inline-block;
	overflow-y: auto;
}
.profile_detail_list_row{
	height:24px;
	margin-top: 4px;
    text-align: start;
}
.profile_detail_list_col:nth-child(1){
	display: none;
}
.profile_detail_list_col:nth-child(2){
	width:24px;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
	display:inline-block;
}
.profile_detail_list_col:nth-child(3){
	display:inline-block;
	width:200px;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
	text-align:start;
}
.profile_detail_list_col:nth-child(4){
	width:24px;
	vertical-align: middle;
	display: inline-block;
    margin-right: 10px;
}
.profile_detail_list_app_delete{
	cursor:pointer;
}
.profile_detail_list_avatar, .profile_detail_list_app_logo, .profile_detail_list_app_delete{
	height:24px;
	width:24px;
	border-radius: 50%;
}
.profile_detail_list_app_logo, .profile_detail_list_app_name{
	margin-left: 20px;
}

.profile_detail_list_app_url, .profile_detail_list_date_created{
	display: none;
}
/*profie_top*/
#profile_top {
	width: 100%;
	height: 100%;
}

#profile_top_header,
#profile_top_row1{
	text-align: center;
}
#profile_top_row1 a{
	margin-right:10px;
}
#profile_top_list{
	width:100%;
	margin-top: 10px;
}
.profile_top_list_row{
	height:30px;
	width: 300px;
    margin: 0 auto;
}
.profile_top_list_col:nth-child(1){
	display: none;
}
.profile_top_list_col:nth-child(2){
	width:24px;
	padding-left:10px;
	padding-right:10px;
	display:table-cell;
}
.profile_top_list_col:nth-child(3),
.profile_top_list_col:nth-child(4){
	display:table-cell;
	vertical-align: middle;
	padding-left:10px;
	padding-right:10px;
}
.profile_top_list_col:nth-child(4){
	width:100%;
	text-align:end;
}
.profile_top_list_avatar{
	height:24px;
	width:24px;
	border-radius: 50%;
}
/*User */
#user_edit_btn_label_user_update,
#user_edit_btn_label_user_delete_account{
	display:inline-block;
	width:120px;
	text-align: center;
	vertical-align: top;
	text-transform: uppercase;
}
#user_edit_label_provider_image_url,
#user_edit_label_provider_image_url_data{
	display:none !important;
}
/*signup*/
#user_edit_btn_user_delete_account{
	display: none;
}
#user_edit_btn_user_update,
#user_edit_btn_user_delete_account
{
	width:100px;
	height: 30px;
	font-size:30px;
}
/*User account*/
#user_menu{
	top:10px;
	right:10px;
	position:fixed;
	width: 40px;
	height:40px;
	z-index:1;
	border-radius: 50% !important;
	cursor:pointer;
}
#user_menu_avatar_img{
	width:40px;
	height:40px;
	border-radius:50%;
	vertical-align: middle;
}
#user_menu_logged_in, #user_menu_dropdown_logged_in{
	display: none;
}
#user_menu_logged_out{
	display: inline-block;
}
#user_menu_username{
	cursor:pointer;
	padding: 10px;
	display: none;
}
#user_menu_default_avatar{
	font-size: 41px;
	margin-top:-9px;
}

#user_menu_dropdown{
	visibility: hidden;
	top:50px;
	right:10px;
	left:10px;
	position:fixed;
	width:auto;
	text-align: center;
	height:auto;
	border-radius: 4px;
	z-index:1;
	padding-bottom: 10px;
}
#user_menu_dropdown_profile_top{
	font-size: 30px;
	cursor:pointer;
}
#user_menu_dropdown_logged_in{
	display:none;
	width:100%;
	font-size: 30px !important;
}
#user_menu_dropdown_logged_out{
	display: inline-block;
	width:100%;
	font-size: 30px !important;
}
#user_menu_dropdown_logged_in div,
#user_menu_dropdown_logged_out div{
	cursor:pointer;
}
#user_preferences div{
	display: inline-block;
}
#user_preferences .user_preference_col1{
	width: 10%;
}
#user_preferences .user_preference_col2{
	width: 80%;
}
#user_preferences .user_preference_col2 select {
	width: 100%;
}

#app_spinner{
	visibility: visible;
	display: inline-block;
	margin-top:-13px;
	margin-bottom:-13px;
	transform: scale(0.5);
	position: relative;
	z-index:1;
}
.list_scrollbar #app_spinner{
	justify-self: center;
}

/* SPINNER */
.load-spinner {
	visibility: hidden;
	position: absolute;
	width: 64px;
	height: 64px;
	z-index:1;
}
.load-spinner div {
	transform-origin: 32px 32px;
	animation: lds-spinner 1.2s linear infinite;
}
.load-spinner div:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 3px;
	left: 29px;
	width: 5px;
	height: 14px;
	border-radius: 20%;
	background: #28708c;
}
.load-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}
.load-spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}
.load-spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}
.load-spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}
.load-spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}
.load-spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}
.load-spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}
.load-spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}
.load-spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}
.load-spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}
.load-spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}
.load-spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}
@keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}

}
/*WINDOW INFO*/
#common_window_info {
    width:100%;
    height:100%;
	top: 0px;
	position:fixed;
	overflow-y: hidden;
    overflow-x: auto;
	z-index: 11;
	margin-bottom: 100px;
	visibility: hidden;
	text-align:center;
}
#common_window_info_info{
	text-align: center;
	display: inline-block;
}
#common_window_info_info img{
	max-width: 100%;
}
#common_window_info_info #app_spinner{
	margin-top:100px;
	margin-bottom:unset;
	transform: unset;
}
#common_window_info_content{
	margin-bottom:20px;
	width: 100%;
	height: calc(100% - 60px);
	border: 0px;
}
#common_window_info_content.A4{
	width : 210mm;
	height : 297mm;
}
#common_window_info_content.Letter{
	width : 8.5in;
	height : 11in;
}
#common_window_info_toolbar_btn_fullscreen{
	display: none;
}
#common_window_info_toolbar_btn_fullscreen svg{
	vertical-align: middle;
	transform: scale(1.4);
	margin-bottom: 1px;
}

/*RESPONSIVE SETTINGS*/
/*CSS for minimum 768px*/
@media only screen and (min-width: 768px) {
	body{
		font-size: 18px;
	}
	#dialogue_profile_content{
		width:500px;
		height:500px;
	}
	#dialogue_user_edit_content{
		width:500px;
	}
	#profile_public {
		width:400px;
	}
	#profile_main_col1 {
		width: 250px;
	}
	.profile_detail_list{
		height:90px;
	}	
	#user_edit_label_data_last_logontime,
	#user_edit_label_data_account_created,
	#user_edit_label_data_account_modified {
		font-size: 0.7em;
	}
	#profile_main_stat_row1 div{
		margin-right:10px;
	}
	#profile_main_col1{
		width:250px;
	}
}
.common_dialogue_content a:hover, a:active {
	cursor: pointer;
}
.common_dialogue_content .fas.fa-heart,
.common_dialogue_content .fas.fa-heart-broken{
	color:red;
}
/*service map*/
.leaflet-popup-content{
	width:200px !important;
}
/*Map dynamically created popup*/
#map_popup_title,
#map_popup_sub_title,
#map_popup_sub_title_timezone {
	font-weight: bold;
	text-align: center;
}