.common_dialogue{
	background-color: rgba(0,0,0,0.4);
}
.common_dialogue_content{
	font-size: 11px;
	background-color:#f5f5f5 !important;
	color: #404040 !important;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/*DIALOGUE MESSAGE*/
#dialogue_message, #confirm_question, #message_cancel, #message_close{
	visibility: hidden;
}
#message_buttons{
	height: 0;
}
#message_title{
	display:inline-block;
}
@media only screen and (min-width: 768px) {
	.common_dialogue_content{
		font-size:14px;
	}
}