/*Noto Sans font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
/*checkbox with switch ui*/
.switch-input {
	display: none;
  }
  .switch-label {
	display: inline-block !important;
	position:relative;
	width: 48px;
	height: 24px;
	text-indent: -150%;
	clip: rect(0 0 0 0);
	user-select: none;
	vertical-align: middle;
  }
  .switch-label::before,
  .switch-label::after {
	content: "";
	display: block;
	position: absolute;
	cursor: pointer;
  }
  .switch-label::before {
	width: 48px;
	height: 24px;
	border-radius: 9999em;
	-webkit-transition: background-color 0.25s ease;
	transition: background-color 0.25s ease;
  }
  .switch-label::after {
	top: 0px;
	left: 0px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	-webkit-transition: left 0.25s ease;
	transition: left 0.25s ease;
  }
  .switch-input:checked + .switch-label::after {
	left: 24px;
  }

.toolbar_button {
	background: none;
	border: none;
	font-size: 30px;
	width: 60px;
	height: 60px;
	padding:0px;
	text-transform: uppercase;
	cursor:pointer;
}

.common_dialogue{
	visibility:hidden;
	position: fixed;
	z-index: 50;
	padding-top: 10px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.common_dialogue_content{
	font-size:16px;
	text-align:center;
	top: 50%;
    left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
	padding: 10px;
	width: 300px;
	height: auto;
	word-break: break-word;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-webkit-animation-name: common_animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: common_animatetop;
	animation-duration: 0.4s;
}

/* add animation effects */
@-webkit-keyframes common_animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}

}

@keyframes common_animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}

}

/* Dialogue message*/
#confirm_question{
	font-size:16px;
	cursor:default;
	display:inline-block;
	margin-bottom:10px;
}
#message_title{
	cursor:default;
	font-size:16px;
	display:inline-block;
}
#message_cancel{
	cursor:pointer;
}
#message_close{
	outline:none;
	cursor:pointer;
	display:inline-block;
}

/* Dialogue maintenance*/
#dialogue_maintenance{
	visibility: hidden;
	z-index:100;
}
#dialogue_maintenance_content{
	font-family: 'Noto Sans';
	height:250px;
}
#maintenance_logo {
	background-image: url('/app0/images/logo.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 50px;
	margin: 0 auto;
}
#maintenance_message{
	padding-top:20px;
	padding-bottom:20px;
}
#maintenance_countdown{
	font-size: 30px;
	padding-bottom:20px;
}
#maintenance_footer{
	padding-bottom:5px;
}
/* Dialogue Verifcation code*/
#dialogue_user_verify{
	visibility: hidden;
}
#dialogue_user_verify_content{
	height:280px;
}
#user_verify_email i{
	font-size:30px;
}
#user_verify_verification_container{
	margin-top:40px;
	margin-bottom:40px;	
}
.user_verify_verification_wrap{
	width: 30px;
	height: 40px;
	padding: 0;
	display:inline-block;
	margin:5px;
}
.user_verify_input_verification_char{
	border-radius: 4px;
	font-size: 30px;
	text-align: center;
	width:30px;
	height:40px;
	border: 1px solid;
}
/*Dialogue login/signup*/
#dialogue_login,
#dialogue_signup{
	visibility: hidden;
}
.login_button_hidden{
	display:none !important;
}
#dialogue_login_content{
	height:450px;
}
#dialogue_signup_content{
	height:450px;
}
#login_form, #signup_form{
	margin: 0px auto;
	width:268px;
}
#login_logo, #signup_logo{
	background-size: contain;
	width: 40px;
	height: 40px;
	margin: 0 auto;
}
.login_input, .signup_input{
	border-radius: 16px;
	border: 1px solid #ddd;
	height:40px;
	width:100%;
	font-size:16px;
	margin-top:10px;
	padding: 8px 16px;
	box-sizing: border-box;
}
#login_title, #login_signup, #signup_login, #signup_title{
	display:inline-block;
	width: 30%;
}
.login_button, .signup_button{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;	
	width:100%;
	height:40px;
	font-size:16px;
	padding:1px;
	border: 0px solid;
	margin-top:10px;
	cursor:pointer;
}
.login_tab_button, .signup_tab_button{
	border: 0px;
	margin-top:10px;
	cursor:pointer;
	background:none;
}
/*Dialogue login Facebook*/
#login_facebook{
	display:block;
	font-weight:bold;
}
#logo_facebook{
	margin-left:-30px;
	margin-top:-5px;
	width:24px;
	position:absolute;
	text-align: center;
	display:inline-block;
	font-size:24px;
}
#login_btn_facebook{
	display:inline-block;
}
/*Dialogue user edit*/
#dialogue_user_edit{
	visibility: hidden;
}
#dialogue_user_edit_content{
	width: auto;
	height: auto;
}
#dialogue_user_edit_content .setting_horizontal_row{
	display: inline-block;
}
#dialogue_user_edit_content #user_edit_common .setting_horizontal_row:first-child .setting_horizontal_col:nth-child(1){
	text-align: center !important;
}
#dialogue_user_edit_content #user_edit_common .setting_horizontal_row:first-child .setting_horizontal_col:nth-child(2){
	text-align: center !important;
}

#dialogue_user_edit_content .setting_horizontal_col:nth-child(1){
	text-align: left;
	width:230px !important;
	min-width:unset !important;
	float: left;
	margin-right:10px;
}
#dialogue_user_edit_content  .setting_horizontal_col:nth-child(2){
	width:560px !important;
	text-align:left;
}
#dialogue_user_edit_content #user_edit_buttons .setting_horizontal_col:nth-child(1) {
	text-align: center !important;
}
#dialogue_user_edit_content #user_edit_buttons .setting_horizontal_col:nth-child(2) {
	text-align: center !important;
}

/*profile*/
/*profile search*/
#profile_info_search {
	height:50px;
	text-align:center;
	position: relative;
	z-index:1;
}
#profile_search_input{
	border-radius: 16px;
	width:240px;
	margin-top:10px;
	margin-right:10px;
	padding: 8px 16px;
	box-sizing: border-box;
}
#profile_search_list{
	height:120px;
	width:250px;
	padding: 10px;
	margin:0 auto;
	border-radius: 16px;
	display:none;
}
.profile_search_list_row{
	height:24px;
}
.profile_search_list_col:nth-child(1){
	display: none;
}
.profile_search_list_col:nth-child(2){
	width:24px;
	display:table-cell;
}
.profile_search_list_col:nth-child(3),
.profile_search_list_col:nth-child(4){
	display:table-cell;
	vertical-align: middle;
	padding-left:10px;
}
.profile_search_list_col:nth-child(4){
	width:100%;
	text-align:right;
}
.profile_search_list_avatar{
	height:24px;
	width:24px;
	border-radius: 50%;
}

/*profile main*/
#profile_main {
	width:100%;
	margin:10px;
	text-align:center;
}
#profile_main_col1{
	display:inline-block;
	width:200px;
	text-align:left;
}
#profile_main_col2{
	display:inline-block;
	width:128px;
	vertical-align:top;
}
#profile_main_col3{
	display:inline-block;
	vertical-align:top;
}
#profile_main_col3 div{
	padding-bottom:10px;
}
#profile_id{
	display:none;
}
#profile_avatar{
	width: 64px;
	height: 64px;
	border-radius: 50%;
}
#profile_main_stat_row1{
	margin-top: 10px;
	text-align: center;
}
#profile_main_stat_row1 div{
	display:inline-block;
	margin-right: 10px;
}
#profile_joined_date{
	margin-top: 10px;
}
#profile_joined_date,
#profile_info_following_count,
#profile_info_followers_count,
#profile_info_likes_count,
#profile_info_view_count
{
	display:inline-block;
	margin-left:10px;
}
#profile_main_btn_following,
#profile_main_btn_followed,
#profile_main_btn_likes,
#profile_main_btn_liked{
	font-size:16px;
	height:20px;
	text-align:left;
}
#profile_main_btn_following,
#profile_main_btn_followed,
#profile_main_btn_likes{
	width:20px;
}
#profile_main_btn_liked{
	width:40px;
}
#profile_qr {
	padding:3px;
	padding-bottom:0px;
	width:96px;
}

#profile_qr canvas{
	height:96px;
	width:96px;
}
#profile_follow i:nth-child(2),
#profile_like i:nth-child(2){
	display:none;
}
#profile_follow:hover i,
#profile_like:hover i{
	cursor:pointer;
	transform: scale(1.3);
	transition: transform 0.5s ease, background 0.5s ease, box-shadow 0.5s ease;
}
/*profile detail*/
.profile_detail_logged_off{
	display:none;
}
#profile_detail {
	width: 100%;
	height: 100%;
	padding-top:10px;
	display:inline-block;
}

.profile_detail_list{
	height:100px;
	width:350px;
	border:0.5px solid;
	display: inline-block;
	overflow-y: auto;
}
.profile_detail_list_row{
	height:24px;
	margin-top: 4px;
    margin-left: -90px;
}
.profile_detail_list_col:nth-child(1){
	display: none;
}
.profile_detail_list_col:nth-child(2){
	width:24px;
	vertical-align: middle;
	display:inline-block;
}
.profile_detail_list_col:nth-child(3){
	display:inline-block;
	width:200px;
	vertical-align: middle;
	padding-left:10px;
	text-align:left;
}
.profile_detail_list_avatar{
	height:24px;
	width:24px;
	border-radius: 50%;
}
/*profie_top*/
#profile_top {
	width: 100%;
	height: 100%;
	padding-top:10px;
	position:fixed;
}

#profile_top_header,
#profile_top_row1{
	text-align: center;
}
#profile_top_row1 a{
	margin-right:10px;
}
#profile_top_list{
	width:100%;
	margin-top: 30px;
	position:fixed;
}
.profile_top_list_row{
	height:30px;
	width: 300px;
    margin: 0 auto;
}
.profile_top_list_col:nth-child(1){
	display: none;
}
.profile_top_list_col:nth-child(2){
	width:24px;
	display:table-cell;
}
.profile_top_list_col:nth-child(3),
.profile_top_list_col:nth-child(4){
	display:table-cell;
	vertical-align: middle;
	padding-left:10px;
}
.profile_top_list_col:nth-child(4){
	width:100%;
	text-align:right;
}
.profile_top_list_avatar{
	height:24px;
	width:24px;
	border-radius: 50%;
}
/*User */
#setting_btn_label_user_update,
#setting_btn_label_user_delete_account{
	display:inline-block;
	width:120px;
	text-align: center;
	font-size: 11px;
	vertical-align: top;
}
#setting_label_provider_id_edit,
#setting_label_provider_id_edit_data,
#setting_label_provider_image_url_edit,
#setting_label_provider_image_url_edit_data{
	display:none !important;
}
#user_edit_avatar{
	width:64px;
	height:64px;
	position:fixed;
}
#user_edit_avatar_img{
	width:64px;
	height:64px;
	border-radius: 50%;
	position:fixed;
	left:10px;
	z-index: -1;
}
#user_edit_input_avatar_img{
	display:none;
}
#user_edit_btn_avatar_img{
	border: none;
    width: 26px;	
    margin-top: 20px;
    -webkit-appearance: none;
}
#user_edit_common{
	margin-top:50px;
}
/*signup*/
.input_error{
	border:1px solid red !important;
}
#setting_btn_user_update,
#setting_btn_user_delete_account
{
	width:100px;
}
#setting_btn_user_update i,
#setting_btn_user_delete_account i{
	font-size:30px;
}

#button_spinner{
	visibility: visible;
	display: inline-block;
	margin-top:-13px;
	margin-bottom:-13px;
	transform: scale(0.5);
	position: relative;
	z-index:1;
}
/* SPINNER */
.load-spinner {
	visibility: hidden;
	position: absolute;
	width: 64px;
	height: 64px;
	z-index:1;
}
.load-spinner div {
	transform-origin: 32px 32px;
	animation: lds-spinner 1.2s linear infinite;
}
.load-spinner div:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 3px;
	left: 29px;
	width: 5px;
	height: 14px;
	border-radius: 20%;
	background: #28708c;
}
.load-spinner div:nth-child(1) {
	transform: rotate(0deg);
	animation-delay: -1.1s;
}
.load-spinner div:nth-child(2) {
	transform: rotate(30deg);
	animation-delay: -1s;
}
.load-spinner div:nth-child(3) {
	transform: rotate(60deg);
	animation-delay: -0.9s;
}
.load-spinner div:nth-child(4) {
	transform: rotate(90deg);
	animation-delay: -0.8s;
}
.load-spinner div:nth-child(5) {
	transform: rotate(120deg);
	animation-delay: -0.7s;
}
.load-spinner div:nth-child(6) {
	transform: rotate(150deg);
	animation-delay: -0.6s;
}
.load-spinner div:nth-child(7) {
	transform: rotate(180deg);
	animation-delay: -0.5s;
}
.load-spinner div:nth-child(8) {
	transform: rotate(210deg);
	animation-delay: -0.4s;
}
.load-spinner div:nth-child(9) {
	transform: rotate(240deg);
	animation-delay: -0.3s;
}
.load-spinner div:nth-child(10) {
	transform: rotate(270deg);
	animation-delay: -0.2s;
}
.load-spinner div:nth-child(11) {
	transform: rotate(300deg);
	animation-delay: -0.1s;
}
.load-spinner div:nth-child(12) {
	transform: rotate(330deg);
	animation-delay: 0s;
}
@keyframes lds-spinner {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}

}

/* broadcast */
#broadcast_info {
	visibility:hidden;
	width:100%;
	height: 100px;
	bottom: 10px;
	position:fixed;
	z-index:100;
	padding:10px;
	text-align: center;
	margin-left: -10px !important;
	margin:10px;
	font-family: 'Noto Sans';
}
#broadcast_banner {
	width:96%;
	height: 100px;
	padding:5px;
	position:fixed;
	left:10px;
	bottom:10px;
	display:inline-block;
	border-radius:4px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

#broadcast_col1 {
	width: 100px;
	height: 100px;
	position:fixed;
	left:15px;
	z-index:110;
	display:inline-block;
}
#broadcast_info_logo {
	background-image: url('/app0/images/logo_app.png');
	background-size: cover;
	background-repeat: no-repeat;
	width:100px;
	height:100px;
}

#broadcast_col2 {	
	width:100%;
	float:right;
	margin-left:-100px;
	height: 100px;
	display:inline-block;
	background-color: #ffffff;
}
#broadcast_info_message_wrap{
	width: 100%;
	height: 65px;
  	overflow: hidden;
	float: right;
	margin-left: 100px;
  	box-sizing: content-box;
}
#broadcast_info_message {
	width:100%;
	height: 65px;
	white-space: nowrap;
	box-sizing: content-box;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-name: ticker;
	animation-name: ticker;
	-webkit-animation-duration: 10s ;
	animation-duration: 10s;
}
#broadcast_info_message_item{
	font-size:30px;
	display: inline-block;
}
@-webkit-keyframes ticker {
	0% {
	  -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(100%, 0, 0);
	}
	100% {
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	}
  }
  @keyframes ticker {
	0% {
	  -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(100%, 0, 0);
	}
	100% {
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	}
  }
#broadcast_info_title {
	width:100%;
	height: 35px;
	margin-left: 100px;
	float: right;
	background-color:rgb(224, 38, 38);
	color:#ffffff;
	font-size:30px;
	font-weight:bold;	
}
#broadcast_close {
    right: 10px;
    position: absolute;
	cursor:pointer;
}
/*RESPONSIVE SETTINGS*/
/*CSS for minimum 768px*/
@media only screen and (min-width: 768px) {
	#profile_main_col1 {
		width: 250px;
	}
	#setting_label_data_last_logontime_edit,
	#setting_label_data_account_created_edit,
	#setting_label_data_account_modified_edit {
		font-size: 11px;
	}

}