body {
    font-family: 'Noto Sans';
    font-size: 14px;
}

#common_policy_app_name1, 
#common_policy_app_name2, 
#common_disclaimer_app_name1,
#common_disclaimer_app_name2,
#common_disclaimer_app_name3,
#common_terms_app_name {
	padding: 0 !important;
	display: inline-block;
}
