/*css for both forms and reports for maintenance and broadcast*/
/*Noto Sans font*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
/*Noto Sans regional fonts*/
/*Arabic NotoSans*/
@import url('https://fonts.googleapis.com/earlyaccess/notosanskufiarabic.css');
/*Arabic NotoKufi*/
@import url('https://fonts.googleapis.com/earlyaccess/notokufiarabic.css');
/*Arabic NotoNashk*/
@import url('https://fonts.googleapis.com/earlyaccess/notonaskharabic.css');
/*Arabic NotoNastaliq*/
@import url('https://fonts.googleapis.com/earlyaccess/notonastaliqurdu.css');
/*Arabic NotoSansUI*/
@import url('https://fonts.googleapis.com/earlyaccess/notonaskharabicui.css');
/*Japanese*/
/*Noto Sans JP*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');
/*Korean*/
/*Noto Sans KR*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
/*HK*/
/*Noto Sans HK*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@400;700&display=swap');
/*Chinese simplified*/
/*Noto Sans SC*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap');
/*Chinese traditional*/
/*Noto Sans TC*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&display=swap');

/*default font*/
body
{
	font-family: 'Noto Sans', "Noto Kufi Sans Arabic", "Noto Sans JP", "Noto Sans KR", "Noto Sans SC", "Noto Sans TC", "Noto Sans HK";
}
/*Arabic NotoSans, Arabic*/
body.font_arabic_sans_kufi
{
	font-family: 'Noto Sans', "Noto Kufi Sans Arabic", "Noto Sans JP", "Noto Sans KR", "Noto Sans SC", "Noto Sans TC", "Noto Sans HK";
}
/*Arabic NotoKufi*/
body.font_arabic_kufi{
	font-family: 'Noto Sans', "Noto Kufi Arabic", "Noto Sans JP", "Noto Sans KR", "Noto Sans SC", "Noto Sans TC", "Noto Sans HK";
	line-height:1.5;
}
/*Arabic NotoNashk*/
body.font_arabic_nashk{
	font-family: 'Noto Sans', "Noto Naskh Arabic", "Noto Sans JP", "Noto Sans KR", "Noto Sans SC", "Noto Sans TC", "Noto Sans HK";
}
/*Arabic NotoNastaliq*/
body.font_arabic_nastaliq{
	font-family: 'Noto Sans', "Noto Nastaliq Urdu", "Noto Sans JP", "Noto Sans KR", "Noto Sans SC", "Noto Sans TC", "Noto Sans HK";
	line-height:1.7;
}
body.font_arabic_nastaliq button{
	line-height:1.5 !important;
}
body.font_arabic_nastaliq input{
	height:35px;
}
/*Arabic NotoSansUI*/
body.font_arabic_ui{
	font-family: 'Noto Sans', "Noto Naskh Arabic UI", "Noto Sans JP", "Noto Sans KR", "Noto Sans SC", "Noto Sans TC", "Noto Sans HK";
}

/*common*/
.common_dialogue{
	visibility:hidden;
	position: fixed;
	z-index: 50;
	padding-top: 10px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
}
.common_dialogue_content{
	text-align:center;
	top: 50%;
    left: 50%;
	position: fixed;
	transform: translate(-50%, -50%);
	padding: 10px;
	width: auto;
	height: auto;
	word-break: break-word;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}
/*DIALOGUE MAINTENANCE */
#dialogue_maintenance{
	visibility: hidden;
	z-index:100;
}
#dialogue_maintenance_content{
	height:250px;
}
#maintenance_logo {
	background-image: url('/app0/images/logo.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 50px;
	margin: 0 auto;
}
#maintenance_message{
	padding-top:20px;
	padding-bottom:20px;
}
#maintenance_countdown{
	font-size: 30px;
	padding-bottom:20px;
}
#maintenance_footer{
	padding-bottom:5px;
}
/* BROADCAST */
#broadcast_info {
	visibility:hidden;
	width:100%;
	height: 100px;
	bottom: 10px;
	position:fixed;
	z-index:100;
	padding:10px;
	text-align: center;
	margin-left: -10px !important;
	margin:10px;
}
#broadcast_banner {
	width:96%;
	height: 100px;
	padding:5px;
	position:fixed;
	left:10px;
	bottom:10px;
	display:inline-block;
	border-radius:4px;
	background-color: #ffffff;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

#broadcast_col1 {
	width: 100px;
	height: 100px;
	position:fixed;
	left:15px;
	z-index:110;
	display:inline-block;
}
#broadcast_info_logo {
	background-image: url('/app0/images/logo_app.png');
	background-size: cover;
	background-repeat: no-repeat;
	width:100px;
	height:100px;
}
#broadcast_col2 {	
	width:100%;
	float:right;
	margin-left:-100px;
	height: 100px;
	display:inline-block;
	background-color: #ffffff;
}
#broadcast_info_message_wrap{
	width: 100%;
	height: 65px;
  	overflow: hidden;
	float: right;
	margin-left: 100px;
  	box-sizing: content-box;
}
#broadcast_info_message {
	width:100%;
	height: 65px;
	white-space: nowrap;
	box-sizing: content-box;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
	-webkit-animation-name: ticker;
	animation-name: ticker;
	-webkit-animation-duration: 10s ;
	animation-duration: 10s;
}
#broadcast_info_message_item{
	font-size:30px;
	display: inline-block;
}
@-webkit-keyframes ticker {
	0% {
	  -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(100%, 0, 0);
	}
	100% {
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	}
  }
  @keyframes ticker {
	0% {
	  -webkit-transform: translate3d(100%, 0, 0);
	  transform: translate3d(100%, 0, 0);
	}
	100% {
	  -webkit-transform: translate3d(-100%, 0, 0);
	  transform: translate3d(-100%, 0, 0);
	}
  }
#broadcast_info_title {
	width:100%;
	height: 35px;
	margin-left: 100px;
	float: right;
	background-color:rgb(224, 38, 38);
	color:#ffffff;
	font-size:30px;
	font-weight:bold;	
}
#broadcast_close {
    right: 10px;
    position: absolute;
	cursor:pointer;
}