body{
    font-size: 16px;
    margin: 0;
    height: 100%;
    width: -webkit-fit-content;
    -webkit-text-size-adjust:none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    padding: 0px;
    color: #404040;
    background: rgb(81, 171, 255);
}

.common_dialogue_content{
    background-color: #fefefe;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}