<?js
    var data = obj;
    var self = this;
?>

<?js if (data.augments && data.augments.length) { ?>
    <div class='ul'><?js data.augments.forEach(function(a) { ?>
        <div class='li'><?js= self.linkto(a, a) ?></div>
    <?js }) ?></div>
<?js } ?>
