<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Documentation: <?js= title ?></title>
    <base href='/info/doc/'/>
    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
  	<script type="module">
       	const nav= await fetch('/info/doc/nav.html').then(result=>result.text());
       	document.querySelector('#nav_content').innerHTML= nav;
        const linenumber = href =>{
            const source = document.getElementsByClassName('prettyprint source linenums');
            let i = 0;
            let lineNumber = 0;
            let lineId;
            let lines;
            let totalLines;
            let anchorHash;

            if (source && source[0]) {
                anchorHash = href.split('#')[1];
                lines = source[0].getElementsByTagName('li');
                totalLines = lines.length;

                for (; i < totalLines; i++) {
                    lineNumber++;
                    lineId = `line${lineNumber}`;
                    lines[i].id = lineId;
                    if (lineId === anchorHash) {
                        lines[i].className += ' selected';
                    }
                }
            }
        }
        const show = target =>{
            fetch(target.href)
                    .then(result=>result.text())
                    .then(result=>{
                        document.querySelector('#content_title').innerHTML= target.innerHTML;
                        document.querySelector('#content').innerHTML= result;
                        prettyPrint();
                        if (target.href.split('#')[1])
                            linenumber(target.href);
                        });
        }
        document.body.addEventListener('click',event => {
            event.preventDefault();               
            if(event.target.id=='title'){
                document.querySelector('#content_title').innerHTML= '';
                        document.querySelector('#content').innerHTML= '';
            }
            else
                if (event.target.href)
                    show(event.target);
        });
    </script>

    <link media="all" href="/common/css/common.css" rel="stylesheet">
    <link media="all" href="/common/css/common_doc.css" rel="stylesheet">
    <link media="all" href="/common/css/font/font1.css" rel="stylesheet">
    <link media="all" href="/common/css/font/font2.css" rel="stylesheet">
    <link media="all" href="/common/css/font/font3.css" rel="stylesheet">
    <link media="all" href="/common/css/font/font4.css" rel="stylesheet">
    <link media="all" href="/common/css/font/font5.css" rel="stylesheet">
    <link media="all" href="/common/css/font/font6.css" rel="stylesheet">
    <link media="all" href="/common/css/font/font7.css" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">

</head>

<body>

<div id="main">

    <div id='title' class='title_h1'><?js= title ?></div>
    <div id='content_title'></div>    
    <?js= content ?>
</div>

<div id='nav'>
    <div id='nav_content'></div>
    <div class='footer'>
        Documentation generated by https://github.com/jsdoc/jsdoc <?js= env.version.number ?><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?> on <?js= (new Date()) ?><?js } ?>
    </div>
</div>
<div id='content'></div>

</body>
</html>
