<?js
var data = obj;
var self = this;
?>
<div class='title_h4'><?js= data.attribs + name + (data.signature ? data.signature : '') ?></div>

<?js if (data.summary) { ?>
<p class="summary"><?js= summary ?></p>
<?js } ?>

<?js if (data.description) { ?>
<div class="description">
    <?js= data.description ?>
</div>
<?js } ?>

<?js if (data.type && data.type.names) {?>
    <div class='title_h5'>Type:</div>
    <div class='ul'>
        <div class='li'>
            <?js= self.partial('type.tmpl', data.type.names) ?>
        </div>
    </div>
<?js } ?>

<?js= this.partial('details.tmpl', data) ?>

<?js if (data.fires && fires.length) { ?>
    <div class='title_h5'>Fires:</div>
    <div class='ul'><?js fires.forEach(function(f) { ?>
        <div class='li'><?js= self.linkto(f) ?></div>
    <?js }); ?></div>
<?js } ?>

<?js if (data.examples && examples.length) { ?>
    <div class='title_h5'>Example<?js= examples.length > 1? 's':'' ?></div>
    <?js= this.partial('examples.tmpl', examples) ?>
<?js } ?>
