<?js
var data = obj;
var self = this;
?>
<?js if (data.kind !== 'module' && !data.hideconstructor) { ?>
    <?js if (data.kind === 'class' && data.classdesc) { ?>
    <div class='title_h2'>Constructor</div>
    <?js } ?>

    <?js if (data.kind !== 'namespace') { ?>
    <div class='title_h4'><?js= data.attribs + (kind === 'class' ? 'new ' : '') +
    name + (data.signature || '') ?></div>
    <?js } ?>

    <?js if (data.summary) { ?>
    <p class="summary"><?js= summary ?></p>
    <?js } ?>
<?js } ?>

<?js if (data.kind !== 'module' && data.description && !data.hideconstructor) { ?>
<div class="description">
    <?js= data.description ?>
</div>
<?js } ?>

<?js if (data.augments && data.alias && data.alias.indexOf('module:') === 0) { ?>
    <div class='title_h5'>Extends:</div>
    <?js= self.partial('augments.tmpl', data) ?>
<?js } ?>

<?js if (kind === 'event' && data.type && data.type.names) {?>
    <div class='title_h5'>Type:</div>
    <div class='ul'>
        <div class='li'>
            <?js= self.partial('type.tmpl', data.type.names) ?>
        </div>
    </div>
<?js } ?>

<?js if (data['this']) { ?>
    <div class='title_h5'>This:</div>
    <div class='ul'><div class='li'><?js= this.linkto(data['this'], data['this']) ?></div></div>
<?js } ?>

<?js if (data.params && params.length && !data.hideconstructor) { ?>
    <div class='title_h5'>Parameters:</div>
    <?js= this.partial('params.tmpl', params) ?>
<?js } ?>

<?js= this.partial('details.tmpl', data) ?>

<?js if (data.kind !== 'module' && data.requires && data.requires.length) { ?>
<div class='title_h5'>Requires:</div>
<div class='ul'><?js data.requires.forEach(function(r) { ?>
    <div class='li'><?js= self.linkto(r) ?></div>
<?js }); ?></div>
<?js } ?>

<?js if (data.fires && fires.length) { ?>
<div class='title_h5'>Fires:</div>
<div class='ul'><?js fires.forEach(function(f) { ?>
    <div class='li'><?js= self.linkto(f) ?></div>
<?js }); ?></div>
<?js } ?>

<?js if (data.listens && listens.length) { ?>
<div class='title_h5'>Listens to Events:</div>
<div class='ul'><?js listens.forEach(function(f) { ?>
    <div class='li'><?js= self.linkto(f) ?></div>
<?js }); ?></div>
<?js } ?>

<?js if (data.listeners && listeners.length) { ?>
<div class='title_h5'>Listeners of This Event:</div>
<div class='ul'><?js listeners.forEach(function(f) { ?>
    <div class='li'><?js= self.linkto(f) ?></div>
<?js }); ?></div>
<?js } ?>

<?js if (data.modifies && modifies.length) {?>
<div class='title_h5'>Modifies:</div>
<?js if (modifies.length > 1) { ?><div class='ul'><?js
    modifies.forEach(function(m) { ?>
        <div class='li'><?js= self.partial('modifies.tmpl', m) ?></div>
    <?js });
?></div><?js } else {
    modifies.forEach(function(m) { ?>
        <?js= self.partial('modifies.tmpl', m) ?>
    <?js });
} } ?>

<?js if (data.exceptions && exceptions.length) { ?>
<div class='title_h5'>Throws:</div>
<?js if (exceptions.length > 1) { ?><div class='ul'><?js
    exceptions.forEach(function(r) { ?>
        <div class='li'><?js= self.partial('exceptions.tmpl', r) ?></div>
    <?js });
?></div><?js } else {
    exceptions.forEach(function(r) { ?>
        <?js= self.partial('exceptions.tmpl', r) ?>
    <?js });
} } ?>

<?js if (data.returns && returns.length) { ?>
<div class='title_h5'>Returns:</div>
<?js if (returns.length > 1) { ?><div class='ul'><?js
    returns.forEach(function(r) { ?>
        <div class='li'><?js= self.partial('returns.tmpl', r) ?></div>
    <?js });
?></div><?js } else {
    returns.forEach(function(r) { ?>
        <?js= self.partial('returns.tmpl', r) ?>
    <?js });
} } ?>

<?js if (data.yields && yields.length) { ?>
<div class='title_h5'>Yields:</div>
<?js if (yields.length > 1) { ?><div class='ul'><?js
    yields.forEach(function(r) { ?>
        <div class='li'><?js= self.partial('returns.tmpl', r) ?></div>
    <?js });
?></div><?js } else {
    yields.forEach(function(r) { ?>
        <?js= self.partial('returns.tmpl', r) ?>
    <?js });
} } ?>

<?js if (data.examples && examples.length) { ?>
    <div class='title_h5'>Example<?js= examples.length > 1? 's':'' ?></div>
    <?js= this.partial('examples.tmpl', examples) ?>
<?js } ?>
