<?js
    var data = obj;
?>
    <div class='section'>
        <div class='article'>
            <pre class="prettyprint source linenums"><code><?js= data.code ?></code></pre>
        </div>
    </div>