<div class='section'>

<div class='header'>
    <?js if (children.length > 0) { ?>
    <div class='ul'><?js
        var self = this;
        children.forEach(function(t) { ?>
        <div class='li'><?js= self.tutoriallink(t.name) ?></div>
    <?js }); ?></div>
    <?js } ?>

    <div class='title_h2'><?js= header ?></div>
</div>

<div class='article'>
    <?js= content ?>
</div>

</div>