body{
    background: inherit !important;
}
/*APP*/
#app{
    display: block;
    width: calc(380px + 80em);
}
/* MENU*/

#app_menu_title,
#app_menu_content div[data-href]{
	cursor: pointer;
}
#app_menu_title{
    cursor:pointer;
    margin-top: 1em;
    margin-bottom: 1em;
}
#app_menu{
    width: 250px;
    font-size: 13px;
    overflow:auto;
    top:0;
    left:0;
    bottom:0;
    padding:0;
    margin:0;
    height: 100vh;
    position: fixed;
}
#app_menu_content{
    margin: 2em 1em;
}
.app_menu_data,.app_submenu {
    margin: 1em;
}
.app_submenu > div{
    margin: 1em 0;
}
.app_menu{
    cursor: pointer;
    margin: 1em 0;
}
.app_submenu{
    display: none;
}
.app_submenu.active{
    display: block;
}
/*DOCUMENTS */
#app_content_title{
    font-size: 1.5em;
    font-weight: bold;
    display: block;
    margin-bottom: 1em;
}
#app_content{
    display: inline-block;
    font-size: 1em;
    left: 250px;
    transition: left 500ms;
    position:absolute;
    padding:0;
    overflow: auto;
    top: 0;
    margin: 0;
    padding: 0;
    right: 0;
    height: 100%
}
.title_h1{
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
}
.title_h2{
    margin-top: 0.5em;
    font-size: 1.2em;
    font-weight: bold;
}
.title_h3{
    font-size: 1.1em;
    font-weight: bold;
    font-style: italic;
}
.title_h4{
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}
.title_h5{
    font-size: 1em;
    font-weight: bold;
    font-style: italic;
}
/*CODE*/
.common_markdown_code,
.common_code{
    border: 1px solid;
    white-space: preserve;
    border-radius: var(--common_app_css_border_radius);
    padding: 0.5em;
    font-size: 0.9em !important;
}
.common_markdown_line,
.common_code_line{
    width: 4em;
    display:inline-block;
    font-size: 0.7em !important;
    padding-inline-end: 1em;
    text-align: end;
    vertical-align: middle;
}
.common_markdown_text,
.common_code_text{
    font-size: 0.7em !important;
    width: calc(100% - 5em);
    overflow: auto;
    display:inline-block;
    vertical-align: middle;
}
/*RESPONSIVE SECURE*/
@media only screen and (min-width: 768px) {
	body{
		font-size: 1.2em;
	}
	#app_menu{
		display:inline-block !important;
	}
}
/*COMMON*/
#common_app_dialogues_profile_input_row,
#common_app_profile_search_list_wrap{
	visibility: hidden;
}
#common_app_window_info{
	display:grid;
}
#common_app_window_info_info{
	position:absolute;
	margin:20px;
	top: 60px;
  	width: 100%;
  	height: 100%;
}
.common_markdown_table_no_odd_event{
    white-space: initial;
}
.common_markdown_table_no_odd_event .common_markdown_table_content_preserve{
    white-space: pre-wrap;
}
.common_markdown_table_no_odd_event .common_markdown_table_row{
    display: block;
}
/*APP THEME*/
body {
	--common_app_color_spinner:var(--common_app_color_black);
	--common_app_color_background_spinner:var(--common_app_color_blue1);
	color: var(--common_app_color_black);
	background: var(--common_app_color_white);
	caret-color: var(--common_app_color_black);
}
#app .common_loading_spinner::before,
#app_content_title .common_loading_spinner::before{
    background-color: var(--common_app_color_white);
}
#app_menu{
    background-color: var(--common_app_color_blue3);
    color: var(--common_app_color_light);
}
.common_markdown_code,
.common_code{
    background-color: var(--common_app_color_black);
	color: var(--common_app_color_white);
    border-color: var(--common_app_color_light);
}
.common_code_line_selected{
    background-color: var(--common_app_color_blue1) !important;
    color: var(--common_app_color_light);
}
/* APP THEME COMMON*/
.common_document{
    box-shadow: 1px 1px 3px 1px var(--common_app_color_shadow3);
}
#common_app_iam_user_menu_avatar_img, 
#common_app_iam_user_menu_default_avatar{
    background-color: var(--common_app_color_light);
    box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}    
.common_markdown_image {
    border-color: var(--common_app_color_light) !important;
}
.common_document_header{
    border-bottom-color: var(--common_app_color_shadow1) !important;
}
.common_document_footer{
    border-top-color: var(--common_app_color_shadow1) !important;
}
.common_markdown_code_inline{
	background-color:var(--common_app_color_white3);
    border-color: var(--common_app_color_white2) !important;
}
.common_markdown_note{
    background-color: var(--common_app_color_blue2);
    border-inline-start-color: var(--common_app_color_blue1) !important;
}
.common_markdown_note::before{
  	color: var(--common_app_color_light);
    background-color: var(--common_app_color_blue1);
}
.common_markdown_table_no_odd_event .common_markdown_table_row:nth-child(odd),
.common_markdown_table_row_odd{
    color: var(--common_report_color_black);
  	background-color: var(--common_report_color_lightblue3);
}
.common_markdown_table_no_odd_event .common_markdown_table_row:nth-child(even),
.common_markdown_table_row_even{
	color: var(--common_report_color_black);
	background-color:var(--common_report_color_white);
}
.common_markdown_jsdoc_tag{
    color: var(--common_app_color_green);
}

.common_toolbar_selected{
	background-color: var(--common_app_color_blue1) !important;
}
#common_app_toolbar {
    color: var(--common_app_color_black);
    background-color: var(--common_app_color_white1);
    box-shadow: 0px 0px 10px var(--common_app_color_shadow1);
}

.common_link:hover,
.common_link:active{
	color:var(--common_app_color_green);
}
.common_app_dialogues_button:hover,
.common_app_dialogues_button:active,
.common_toolbar_button:hover,
.common_toolbar_button:active{
	color:var(--common_app_color_green) !important;
}
.common_app_dialogues_content:hover, 
.common_app_dialogues_content:active{
	box-shadow: 0 0 35px 4px var(--common_app_color_white_transparent);
}  
.common_app_dialogues_content{
	background-color: var(--common_app_color_white1);
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);	
}
#common_dialouge_user_menu{
	background-color: var(--common_app_color_white);
}
#common_app_window_info_toolbar{
	background: var(--common_app_color_white);
	box-shadow: 0 4px 8px 0 var(--common_app_color_shadow1),0 6px 20px 0 var(--common_app_color_shadow2);
}
#common_app_window_info{
	background: var(--common_app_color_white);
}